[1]-formulários-->-clint-|-[cc][ctc][set-2025]---ficha-certificação-em-ter.-de-casais-bônus-de-lançamento-MUWl7VYy0mAjzhY0.json
{"createdAt":"2025-09-24T12:03:22.242Z","updatedAt":"2025-10-06T18:18:46.100Z","id":"MUWl7VYy0mAjzhY0","name":"[1] Formulários -> Clint | [CC][CTC][SET 2025] - Ficha Certificação em Ter. de Casais bônus de lançamento","active":true,"isArchived":false,"nodes":[{"parameters":{"formId":"a4jpwmVv"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-1136,-64],"id":"14dfef4f-1a55-404c-9d73-50c5668d5364","name":"Typeform","webhookId":"56f2234a-504d-466e-a54e-4da055a38e0e","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"0acd2ffe-997d-4213-b918-1bb166ce05b1","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado1"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,-400],"id":"b06664e0-def3-43ad-94f2-0410bcadc38c","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado1 = Number($json.qualificado1); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado1 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado1,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"05bfccb0-c692-41a8-990d-fab98a68bed3","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2666d47b-a29b-418a-98b9-b8823135e80c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"investimento","value":"Sim"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"tag","value":"Qualificado,CTC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"d94b282c-ae0a-4ad1-99fc-b4c067bb881f","name":"Davi"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,336],"id":"16854618-e5a5-4be5-b888-905660257698","name":"Switch1"},{"parameters":{"operation":"incr","key":"desqualificado1"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,336],"id":"1ee65f38-d4d4-4760-afae-ad24357a6f44","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const desqualificado1 = Number($json.desqualificado1); // pega a string \"counter\" e converte pra número\n\nconst isEven = desqualificado1 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      desqualificado1,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,336],"id":"9d96e99c-94ec-4b70-91b1-64569063ebce","name":"Code1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2666d47b-a29b-418a-98b9-b8823135e80c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"tag","value":"Qualificado,CTC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-320],"id":"d5f95110-7dc7-4210-a213-c109de3602f6","name":"Renata"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2666d47b-a29b-418a-98b9-b8823135e80c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Você respondeu que NÃO tem o investimento necessário no momento… '] }}"},{"name":"tag","value":"Desqualificado,CTC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,256],"id":"d2fe8e91-ce8a-429a-bd4d-c7c78eb081b1","name":"Davi1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"80ba3b33-235b-42e0-9172-fe36a0a72ce6","leftValue":"={{ $json['Sobre o investimento para fazer parte da *Certificação em Terapia de Casais:*'] }}","rightValue":"=true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,-64],"id":"f72a7252-8335-4bd0-af1b-5f765e263c5c","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb522852-d01b-481f-a909-52227406b067","leftValue":"={{ $json['Você respondeu que NÃO tem o investimento necessário no momento… '] }}","rightValue":"Gostaria de conhecer outras formas de pagamento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,144],"id":"2da79114-d4cc-4706-ae55-ea4a63fcf114","name":"If1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"07891692-6f6a-44f1-bb3b-127c07fbe7b9","name":"Switch2"},{"parameters":{"operation":"incr","key":"qualificadoparcial1"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,-32],"id":"475ffe37-b11f-4ade-9238-094815656e73","name":"Redis2","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificadoparcial1 = Number($json.qualificadoparcial1); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificadoparcial1 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificadoparcial1,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"d2aad0e2-8d4a-419a-8522-089c7d7c6206","name":"Code2"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2666d47b-a29b-418a-98b9-b8823135e80c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Você respondeu que NÃO tem o investimento necessário no momento… '] }}"},{"name":"opcoes","value":"={{ $('Typeform').item.json['Qual dessas opções abaixo faria mais sentido pra você?'] }}"},{"name":"tag","value":"Qualificado parcial,CTC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"76a52eae-81d7-43b1-8ebb-6b30e9f1bed6","name":"Davi2"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2666d47b-a29b-418a-98b9-b8823135e80c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Você respondeu que NÃO tem o investimento necessário no momento… '] }}"},{"name":"tag","value":"Desqualificado,CTC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,416],"id":"7d1b77fb-634e-451e-848d-46b92d319eb3","name":"Renata1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2666d47b-a29b-418a-98b9-b8823135e80c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Você respondeu que NÃO tem o investimento necessário no momento… '] }}"},{"name":"opcoes","value":"={{ $('Typeform').item.json['Qual dessas opções abaixo faria mais sentido pra você?'] }}"},{"name":"tag","value":"Qualificado parcial,CTC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,64],"id":"985f879b-5272-4787-bb14-2a868aced91b","name":"Renata2"}],"connections":{"Typeform":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi1","type":"main","index":0}],[{"node":"Renata1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Davi2","type":"main","index":0}],[{"node":"Renata2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-zev5r5wcpz"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"99ad2f82-d75d-4077-80df-4e4c43de6dce","triggerCount":1,"shared":[{"createdAt":"2025-09-24T12:03:22.242Z","updatedAt":"2025-09-24T12:03:22.242Z","role":"workflow:owner","workflowId":"MUWl7VYy0mAjzhY0","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}