[3]-formulários-->-clint-|-[cc]-fc-|-c6-|-formulário-de-dúvidas-para-abordagem-comercial-NU8idZtJJGfu8NqS.json
{"createdAt":"2025-10-16T22:19:55.307Z","updatedAt":"2025-10-16T22:37:29.812Z","id":"NU8idZtJJGfu8NqS","name":"[3] Formulários -> Clint | [CC] FC | C6 | Formulário de Dúvidas para abordagem comercial","active":true,"isArchived":false,"nodes":[{"parameters":{"formId":"P00lBWUl"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-1040,-64],"id":"e539f9b7-1b2b-4f51-80ca-52ab349c2914","name":"Typeform","webhookId":"c9a0d052-8dfd-447e-b0e5-2c25aff2a24f","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,-400],"id":"6a8d9e2d-28c8-4b89-bf7b-712789030fb1","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado3"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,-400],"id":"bc90c4c8-d93e-4f35-8813-34d9e3c2039f","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado3 = Number($json.qualificado3); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado3 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado3,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-400],"id":"16d01121-e1b5-4147-ae94-b8cf98406727","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,336],"id":"aa5d0bd8-509e-4785-8274-181cadfa21fe","name":"Switch1"},{"parameters":{"operation":"incr","key":"desqualificado3"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,336],"id":"ec9ce641-1e73-4730-b0ab-125f0dd73f5c","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const desqualificado3 = Number($json.desqualificado3); // pega a string \"counter\" e converte pra número\n\nconst isEven = desqualificado3 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      desqualificado3,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,336],"id":"0e8ff643-6985-4fa6-90e6-8d0c4477f121","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"80ba3b33-235b-42e0-9172-fe36a0a72ce6","leftValue":"={{ $json['Você tem o investimento necessário para fazer sua inscrição e *aproveitar todos os bônus exclusivos de lançamento?*'] }}","rightValue":"=Sim, quero investir na salvação da minha família.","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,-64],"id":"036a0dad-ae3d-4925-99de-c7fe36c84ca8","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb522852-d01b-481f-a909-52227406b067","leftValue":"={{ $json['*Você marcou que NÃO tem o investimento.*'] }}","rightValue":"Não tenho condições de nenhuma forma.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,144],"id":"76f3b7af-08b2-4d87-b99b-624d54757591","name":"If1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,-32],"id":"eb4f1fcb-e15b-4c85-a834-949cedae9871","name":"Switch2"},{"parameters":{"operation":"incr","key":"qualificadoparcial3"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,-32],"id":"a010f3a3-032a-439d-8073-49c8224405a5","name":"Redis2","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificadoparcial3 = Number($json.qualificadoparcial3); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificadoparcial3 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificadoparcial3,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-32],"id":"36a70ea8-8e46-4fa6-b07d-e3a9724ab858","name":"Code2"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/62041ca2-a243-46d7-aaab-f91a2797648c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Desqualificado,FC"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual é a sua principal dúvida em relação ao Formação para Casais?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,272],"id":"22178f62-bdae-4aee-9c60-66a830622aa7","name":"Davi3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/62041ca2-a243-46d7-aaab-f91a2797648c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Desqualificado,FC"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual é a sua principal dúvida em relação ao Formação para Casais?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,432],"id":"0261a2e8-6082-4744-917e-4e5ea9513f4c","name":"Renata3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/62041ca2-a243-46d7-aaab-f91a2797648c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado parcial,FC"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual é a sua principal dúvida em relação ao Formação para Casais?'] }}"},{"name":"forma de pagamento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.*'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-96],"id":"f2986223-03bd-4871-84ee-ee0bc6a513b4","name":"Davi4"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/62041ca2-a243-46d7-aaab-f91a2797648c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado parcial,FC"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual é a sua principal dúvida em relação ao Formação para Casais?'] }}"},{"name":"forma de pagamento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.*'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,64],"id":"83e2a163-c16f-4d7b-a34e-bb44574cd79c","name":"Renata4"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/62041ca2-a243-46d7-aaab-f91a2797648c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado,FC"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual é a sua principal dúvida em relação ao Formação para Casais?'] }}"},{"name":"forma de pagamento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.*'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-480],"id":"65c71829-32c6-4b3a-9969-32b48c34b5da","name":"Davi"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/62041ca2-a243-46d7-aaab-f91a2797648c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado,FC"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual é a sua principal dúvida em relação ao Formação para Casais?'] }}"},{"name":"forma de pagamento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.*'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-320],"id":"4f8ef422-f92b-4812-b39c-81ed590a4c4f","name":"Renata"}],"connections":{"Typeform":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi3","type":"main","index":0}],[{"node":"Renata3","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Davi4","type":"main","index":0}],[{"node":"Renata4","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-qvrv0etqbq"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18a5f17f-a42a-4e89-87b0-d3e2b43e170f","triggerCount":1,"shared":[{"createdAt":"2025-10-16T22:19:55.307Z","updatedAt":"2025-10-16T22:19:55.307Z","role":"workflow:owner","workflowId":"NU8idZtJJGfu8NqS","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}