[4]-c6-|-fc-|-popup-|-full-funnels-->-clint-6k8AOFEf13VkiciS.json
{"createdAt":"2025-10-16T22:54:19.304Z","updatedAt":"2025-10-16T23:11:50.986Z","id":"6k8AOFEf13VkiciS","name":"[4] C6 | FC | POPUP | Full Funnels -> Clint","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"c6-fc-popup-clint","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,240],"id":"a302330d-ec31-4bc8-be02-5981dd350dea","name":"Webhook","webhookId":"150665f1-9e31-4bb4-87a2-d30cad81783c"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/fe69ebce-1bbd-48e4-8ed9-a792acda6a58","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Webhook').item.json.body.full_name }}"},{"name":"email","value":"={{ $('Webhook').item.json.body.email }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"LISTBOSS,FC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,160],"id":"62f89b3c-c55c-463d-bfa1-f791a5680b83","name":"Davi"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/fe69ebce-1bbd-48e4-8ed9-a792acda6a58","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Webhook').item.json.body.full_name }}"},{"name":"email","value":"={{ $('Webhook').item.json.body.email }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"LISTBOSS,FC"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,320],"id":"4509e3a4-9a64-4559-9102-540a9ad89bd6","name":"Renata"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[368,240],"id":"372eb1fe-8452-437b-8147-b70a9fb47aa3","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado4"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[32,240],"id":"38f8ef92-faec-467f-a7b5-e5bee9ec6a23","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado4 = Number($json.qualificado4); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado4 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado4,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,240],"id":"0f61bf82-1644-409c-8ee3-d39bf0f7bf0d","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"axios/1.7.7","content-length":"1177","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","traceparent":"00-2f20b9f651fbcdcd73d0a21a8f47895a-f9cdd9ef39eb9841-00","x-forwarded-for":"34.56.93.194","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9b272bc18a34","x-real-ip":"34.56.93.194"},"params":{},"query":{},"body":{"C6 | FC | Lançamento | utm_campaign":"c6-fc-10-25","C6 | FC | Lançamento | utm_source":"organico","C6 | FC | Lançamento | utm_content":"bio-ig","C6 | FC | Lançamento | utm_medium":"bio-ig","C6 | FC | Lançamento | utm_term":"bio-ig","C6 | FC | Lançamento | Data":"2025-10-07","C6 | FC | Vendas | utm_campaign":"c6-fc-10-25","C6 | FC | Vendas | utm_content":"EST_RMKT_001","C6 | FC | Vendas | utm_source":"traf-quente","C6 | FC | Vendas | utm_medium":"03+-+AUTO+IG+Envolvimento+-+4x3x2x1","C6 | FC | Vendas | utm_term":"Facebook_Right_Column","C6 | FC | Vendas | Data":"","contact_id":"YgCLBqBOyTvhQn3Mushj","first_name":"Daniel","last_name":"Augusto Silva Lopes","full_name":"Daniel Augusto Silva Lopes","email":"contato.odaniellopes@gmail.com","phone":"+5543998259603","tags":"c6 | fc | lançamento | popup","country":"BR","date_created":"2025-10-03T19:51:26.809Z","full_address":"","contact_type":"lead","location":{"name":"Dr. Jorge Rodrigues","address":" ","city":"","state":"","country":"BR","fullAddress":" , ","id":"Mfxgp84AvHVNzkvf4EzF"},"workflow":{"id":"9aacc37a-3bc2-495f-b30e-914a37e57bb3","name":"C6 | FC | VENDAS | POPUP"},"triggerData":{},"customData":{}},"webhookUrl":"https://api.infradevcloud.com/webhook/c6-fc-popup-clint","executionMode":"production"}}]},"versionId":"7444f9b8-2fd4-4316-9a99-7962577c79ae","triggerCount":1,"shared":[{"createdAt":"2025-10-16T22:54:19.304Z","updatedAt":"2025-10-16T22:54:19.304Z","role":"workflow:owner","workflowId":"6k8AOFEf13VkiciS","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}