[4]-formulários-->-clint-|-[cc][mjr]-formulário-de-aplicação-2.0-|-perpetuo-|-2025-c3Y7wHES5RSEdrMH.json
{"createdAt":"2025-10-20T19:06:17.802Z","updatedAt":"2025-10-20T19:52:50.122Z","id":"c3Y7wHES5RSEdrMH","name":"[4] Formulários -> Clint | [CC][MJR] Formulário de aplicação 2.0 | Perpetuo | 2025","active":true,"isArchived":false,"nodes":[{"parameters":{"formId":"hF3wBtYO"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-672,-80],"id":"6034119e-cb5c-4248-8552-1cd7164d7c34","name":"Typeform","webhookId":"15aff5c5-e578-4ca4-8f1c-61bea4b836c3","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-256],"id":"4520edc5-c850-46ad-b715-25da5b6bff6f","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado4"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-256],"id":"a651d899-7997-4954-b2fe-78bfcfbb6292","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado4 = Number($json.qualificado4); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado4 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado4,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-256],"id":"a523fab2-859b-4a20-825b-e9483e830dac","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,96],"id":"b63e2efb-faaf-4dde-bee1-4903e8092aff","name":"Switch1"},{"parameters":{"operation":"incr","key":"desqualificado4"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,96],"id":"61794b9a-1d5a-48fb-a3c8-afcee71b87bc","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const desqualificado4 = Number($json.desqualificado4); // pega a string \"counter\" e converte pra número\n\nconst isEven = desqualificado4 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      desqualificado4,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,96],"id":"8bc76792-f1f9-4d0f-9dcd-9bc619d36d33","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Sobre o investimento para fazer parte da mentoria em grupo:'] }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"762a687c-7479-4aec-9215-064305b59d87"}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74f41b47-a26b-496b-bf93-0386e04d6ca8","leftValue":"={{ $json['Sobre o investimento para fazer parte da mentoria em grupo:'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desqualificado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-496,-80],"id":"0a514d39-996e-47a8-a116-45f484227a83","name":"Switch3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/a8ad99af-df1b-4029-8d6b-ec3bf02f8b09","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json['Qual o seu e-mail principal?'] }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Desqualificado,MJR"},{"name":"profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"sinceridade","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora, descreva suas dificuldades. Qual é o seu maior desafio para atingir este objetivo?'] }}"},{"name":"por que eu deveria abrir","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. Por que eu deveria abrir uma vaga exclusiva para você compor o nosso seleto grupo?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,0],"id":"d225385c-3428-483c-83b5-f96dc00fdfe9","name":"Davi3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/a8ad99af-df1b-4029-8d6b-ec3bf02f8b09","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json['Qual o seu e-mail principal?'] }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Desqualificado,MJR"},{"name":"profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"sinceridade","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora, descreva suas dificuldades. Qual é o seu maior desafio para atingir este objetivo?'] }}"},{"name":"por que eu deveria abrir","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. Por que eu deveria abrir uma vaga exclusiva para você compor o nosso seleto grupo?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,176],"id":"e70cdab7-3cca-4e26-9409-5f0523277eb0","name":"Renata1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/a8ad99af-df1b-4029-8d6b-ec3bf02f8b09","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json['Qual o seu e-mail principal?'] }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"sinceridade","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora, descreva suas dificuldades. Qual é o seu maior desafio para atingir este objetivo?'] }}"},{"name":"por que eu deveria abrir","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. Por que eu deveria abrir uma vaga exclusiva para você compor o nosso seleto grupo?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-352],"id":"e569ccdb-5da7-4337-840c-b89cb44bbb70","name":"Davi"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/a8ad99af-df1b-4029-8d6b-ec3bf02f8b09","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json['Qual o seu e-mail principal?'] }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"sinceridade","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora, descreva suas dificuldades. Qual é o seu maior desafio para atingir este objetivo?'] }}"},{"name":"por que eu deveria abrir","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. Por que eu deveria abrir uma vaga exclusiva para você compor o nosso seleto grupo?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-176],"id":"751d3c6f-36ee-4b4a-a8d0-27593ebcac10","name":"Renata"}],"connections":{"Typeform":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi3","type":"main","index":0}],[{"node":"Renata1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-sixghydsro"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5aa198fc-2c88-441b-910e-e90c0c6971fe","triggerCount":1,"shared":[{"createdAt":"2025-10-20T19:06:17.802Z","updatedAt":"2025-10-20T19:06:17.802Z","role":"workflow:owner","workflowId":"c3Y7wHES5RSEdrMH","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}