[5]-formulários-->-clint-|-[cc]-fc-|-questionário-de-não-inscrição-|-ficha-de-interesse-8PeoPOFSFy1QKFw3.json
{"createdAt":"2025-10-20T19:35:58.864Z","updatedAt":"2025-10-20T19:43:47.891Z","id":"8PeoPOFSFy1QKFw3","name":"[5] Formulários -> Clint | [CC] FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse","active":true,"isArchived":false,"nodes":[{"parameters":{"formId":"Eq4GmTss"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-816,-48],"id":"6ea7df30-35b6-43d5-8cdd-62c47c9ff22c","name":"Typeform","webhookId":"dc222cc3-9ef1-4aff-8db7-a5f2a91dfcc7","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"db7b0d0e-79c8-4b43-81f7-b5c6bd6ecf6b","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado5"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-400],"id":"2e90abbd-2e8d-4c53-a3a8-e68f2323eb27","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado5 = Number($json.qualificado5); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado5 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado5,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"fe43cc87-fcfe-4228-83cd-f7c94ead7647","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,320],"id":"dd393a49-a7a2-4dda-bc7c-f326e414dc2a","name":"Switch1"},{"parameters":{"operation":"incr","key":"desqualificado5"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,320],"id":"5398e645-9cf5-471e-a713-acf42ac0f07f","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const desqualificado5 = Number($json.desqualificado5); // pega a string \"counter\" e converte pra número\n\nconst isEven = desqualificado5 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      desqualificado5,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,320],"id":"8f3561ef-63c1-46ef-a54f-04eaec5f36eb","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"c01752e2-13c6-48c4-b5e6-0e4a65afdc32","name":"Switch2"},{"parameters":{"operation":"incr","key":"qualificadoparcial5"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-32],"id":"28bacfe2-16a7-4af8-bb89-0122b43ecf8c","name":"Redis2","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificadoparcial5 = Number($json.qualificadoparcial5); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificadoparcial5 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificadoparcial5,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"5f663e9f-2a28-4223-a11d-355464a6d8ac","name":"Code2"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/6e09fcb6-80b7-4308-95c9-5f3ef505960c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado parcial,FC"},{"name":"por que nao entrou na ultima turma","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual seria sua dúvida?'] }}"},{"name":"por que deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,48],"id":"0d66aa50-7c1d-419a-8e9c-d57d90ec4363","name":"Renata2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Se eu liberar sua vaga, você tem condições de fazer o investimento necessário e aproveitar todos os bônus da última turma? '] }}","rightValue":"Sim, quero fazer minha inscrição.","operator":{"type":"string","operation":"equals"},"id":"762a687c-7479-4aec-9215-064305b59d87"}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8d3fc17-9d40-46a1-9252-a822215d1768","leftValue":"={{ $json['Se eu te desse uma segunda chance,'] }}","rightValue":"Ainda tenho dúvidas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificado parcial"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"607e2469-f90c-47bc-8704-0ef2983447ed","leftValue":"={{ $json['Se eu liberar sua vaga, você tem condições de fazer o investimento necessário e aproveitar todos os bônus da última turma? '] }}","rightValue":"Não tenho condições no momento.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desqualificado 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac1d43e6-7c42-4d93-8e4a-3e5f054c6baa","leftValue":"={{ $json['Se eu te desse uma segunda chance,'] }}","rightValue":"Não entraria no FC, no momento, por questões financeiras.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desqualificado 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d3f19af0-0df6-4353-a97b-06bce7cd3cc1","leftValue":"={{ $json['Se eu te desse uma segunda chance,'] }}","rightValue":"Não entraria no FC porque acho que não é para mim.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desqualificado 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-608,-96],"id":"4606d082-f762-41eb-9dc1-c830d3335647","name":"Switch3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/6e09fcb6-80b7-4308-95c9-5f3ef505960c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado parcial,FC"},{"name":"por que nao entrou na ultima turma","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual seria sua dúvida?'] }}"},{"name":"por que deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"2d62713e-7df7-48f5-8b22-7299bcb443cf","name":"Davi2"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/6e09fcb6-80b7-4308-95c9-5f3ef505960c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado,FC"},{"name":"por que nao entrou na ultima turma","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual seria sua dúvida?'] }}"},{"name":"por que deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-320],"id":"1cea0632-b520-42c9-9ae0-1f9b9b5e12ae","name":"Renata"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/6e09fcb6-80b7-4308-95c9-5f3ef505960c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado,FC"},{"name":"por que nao entrou na ultima turma","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual seria sua dúvida?'] }}"},{"name":"por que deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"b7d505e3-8344-4d96-83b7-523f9f8debbd","name":"Davi"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/6e09fcb6-80b7-4308-95c9-5f3ef505960c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Desqualificado,FC"},{"name":"por que nao entrou na ultima turma","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual seria sua dúvida?'] }}"},{"name":"por que deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,416],"id":"0bea98d1-cbe8-4285-8d0a-ea52124a14d1","name":"Renata3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/6e09fcb6-80b7-4308-95c9-5f3ef505960c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Desqualificado,FC"},{"name":"por que nao entrou na ultima turma","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"duvida","value":"={{ $('Typeform').item.json['Qual seria sua dúvida?'] }}"},{"name":"por que deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,256],"id":"b01afd61-4fb7-4ba2-be78-6635d1e49b7b","name":"Davi3"}],"connections":{"Typeform":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi3","type":"main","index":0}],[{"node":"Renata3","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Davi2","type":"main","index":0}],[{"node":"Renata2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis2","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-ndzule1lru"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfc2c09d-d684-44c7-bd73-3f99465cf7c6","triggerCount":1,"shared":[{"createdAt":"2025-10-20T19:35:58.864Z","updatedAt":"2025-10-20T19:35:58.864Z","role":"workflow:owner","workflowId":"8PeoPOFSFy1QKFw3","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}