[6]-formulários-->-clint-|-[cc][mjr]-bf2-|-nov25---campanha-para-base-mjr-aB0QGgHqmGnPokGf.json
{"createdAt":"2025-11-13T22:22:13.378Z","updatedAt":"2025-11-18T16:00:16.946Z","id":"aB0QGgHqmGnPokGf","name":"[6] Formulários -> Clint | [CC][MJR] BF2 | NOV25 - Campanha Para Base MJR","active":true,"isArchived":false,"nodes":[{"parameters":{"formId":"TJtBOzup"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-816,-80],"id":"451d247e-514a-40c2-b4e9-d3eb23f73173","name":"Typeform","webhookId":"122f1184-2e92-49ca-a23c-0fd87dcc21ae","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"8e41f7da-b083-43bc-a67e-7618027e424c","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado6"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-400],"id":"91dcdc2e-1910-4bf4-9965-b645746446ee","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado6 = Number($json.qualificado6); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado6 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado6,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"d7bc6046-122a-47e0-b8e5-5b7fe9fbcfb9","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,320],"id":"7dd12e18-1765-445a-8028-f7388229c06c","name":"Switch1"},{"parameters":{"operation":"incr","key":"desqualificado6"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,320],"id":"76152fc6-2f59-451f-a67b-08bcacae309d","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const desqualificado6 = Number($json.desqualificado6); // pega a string \"counter\" e converte pra número\n\nconst isEven = desqualificado6 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      desqualificado6,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,320],"id":"fee98df6-3966-4b26-a596-39990cd23328","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"6e5bc630-9b66-449f-8eb2-83484cce64f4","name":"Switch2"},{"parameters":{"operation":"incr","key":"qualificadoparcial6"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-32],"id":"8fa9997d-2f8f-4384-b0a7-b716fc84a1b2","name":"Redis2","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificadoparcial6 = Number($json.qualificadoparcial6); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificadoparcial6 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificadoparcial6,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"9e2fc907-5844-492c-89f2-d6c2cb31f39a","name":"Code2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Como você já sabe, o valor do investimento na Mentoria Jorge Rodrigues com todos os bônus é de R$16.387,00.'] }}","rightValue":"Sim, quero fazer minha inscrição.","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"762a687c-7479-4aec-9215-064305b59d87"}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8d3fc17-9d40-46a1-9252-a822215d1768","leftValue":"={{ $json['*Você marcou que NÃO tem o investimento.* '] }}","rightValue":"Não tenho condições de nenhuma forma.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificado parcial"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"607e2469-f90c-47bc-8704-0ef2983447ed","leftValue":"={{ $json['*Você marcou que NÃO tem o investimento.* '] }}","rightValue":"Não tenho condições de nenhuma forma.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desqualificado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-608,-96],"id":"838439a5-a2ce-43d1-8d63-a3eeb7cd5f74","name":"Switch3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/200acc77-3403-4611-866c-04531f858538","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Desqualificado,MJR"},{"name":"conhece mentoria","value":"={{ $('Typeform').item.json['Você já conhece a mentoria? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da mentoria, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Mentoria?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,256],"id":"00347ff5-cce7-456d-8d1d-d3d6f67aa44d","name":"Davi3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/200acc77-3403-4611-866c-04531f858538","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Desqualificado,MJR"},{"name":"conhece mentoria","value":"={{ $('Typeform').item.json['Você já conhece a mentoria? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da mentoria, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Mentoria?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,432],"id":"1f6b076e-dbcb-4983-9cb0-5a2b4acd0481","name":"Renata1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/200acc77-3403-4611-866c-04531f858538","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado parcial,MJR"},{"name":"conhece mentoria","value":"={{ $('Typeform').item.json['Você já conhece a mentoria? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da mentoria, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Mentoria?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"19904efb-9950-45cd-b06d-fa9b880aaa2b","name":"Davi4"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/200acc77-3403-4611-866c-04531f858538","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado parcial,MJR"},{"name":"conhece mentoria","value":"={{ $('Typeform').item.json['Você já conhece a mentoria? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da mentoria, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Mentoria?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,64],"id":"e1601a87-139a-4276-925c-11862f25378e","name":"Renata3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/200acc77-3403-4611-866c-04531f858538","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"conhece mentoria","value":"={{ $('Typeform').item.json['Você já conhece a mentoria? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da mentoria, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Mentoria?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-512],"id":"6b5249c6-b0d0-43b6-a508-89659ebbd5aa","name":"Davi"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/200acc77-3403-4611-866c-04531f858538","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"conhece mentoria","value":"={{ $('Typeform').item.json['Você já conhece a mentoria? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da mentoria, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Mentoria?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-336],"id":"991da31a-d8d0-4340-9e97-53a3c16fce87","name":"Renata"},{"parameters":{"email":"={{ $('Typeform').item.json.Email }}","phone":"={{ $('Typeform').item.json['Phone number'] }}","additionalFields":{"name":"={{ $('Typeform').item.json['First name'] }}","tags":"Qualificado parcial,CB MJR Aplicação"},"requestOptions":{}},"id":"538f4665-b29a-4aee-a0b8-b69525b06af6","name":"Create or update a contact","type":"n8n-nodes-base.highLevel","typeVersion":1,"position":[480,-16],"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"highLevelApi":{"id":"T078q9O2V2PJTo3K","name":"Jorge Rodrigues"}}},{"parameters":{"email":"={{ $('Typeform').item.json.Email }}","phone":"={{ $('Typeform').item.json['Phone number'] }}","additionalFields":{"name":"={{ $('Typeform').item.json['First name'] }}","tags":"Qualificado,CB MJR Aplicação"},"requestOptions":{}},"id":"4e432b1a-b32a-48e6-bc8f-88d1d6c6e95b","name":"Create or update a contact1","type":"n8n-nodes-base.highLevel","typeVersion":1,"position":[464,-400],"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"highLevelApi":{"id":"T078q9O2V2PJTo3K","name":"Jorge Rodrigues"}}},{"parameters":{"email":"={{ $('Typeform').item.json.Email }}","phone":"={{ $('Typeform').item.json['Phone number'] }}","additionalFields":{"name":"={{ $('Typeform').item.json['First name'] }}","tags":"Desqualificado,CB MJR Aplicação"},"requestOptions":{}},"id":"ebd20824-464e-443a-9f4e-ef26d5e7d447","name":"Create or update a contact2","type":"n8n-nodes-base.highLevel","typeVersion":1,"position":[480,336],"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"highLevelApi":{"id":"T078q9O2V2PJTo3K","name":"Jorge Rodrigues"}}}],"connections":{"Typeform":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi3","type":"main","index":0}],[{"node":"Renata1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Davi4","type":"main","index":0}],[{"node":"Renata3","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis2","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Davi":{"main":[[{"node":"Create or update a contact1","type":"main","index":0}]]},"Renata":{"main":[[{"node":"Create or update a contact1","type":"main","index":0}]]},"Renata3":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]},"Davi4":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]},"Davi3":{"main":[[{"node":"Create or update a contact2","type":"main","index":0}]]},"Renata1":{"main":[[{"node":"Create or update a contact2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-v2nah75vyt"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Typeform":[{"json":{"First name":"Bruno","Phone number":"+5511994463473","Email":"contatobrunocfff@gmail.com","Você já conhece a mentoria? ":"Já conheço bem e quero entrar para mentoria.","Qual *objetivo você deseja alcançar*, ao final da mentoria, que te fará se sentir realizado(a)?":"Quero me tornar um(a) terapeuta de Casais e fazer transição de carreira.","Agora descreva qual sua maior dificuldade para atingir esse objetivo ":"Sinto que ainda não tenho o conhecimento necessário para atender casais.","Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Mentoria?":"Sim, quero conhecer os detalhes!!","Como você já sabe, o valor do investimento na Mentoria Jorge Rodrigues com todos os bônus é de R$16.387,00.":false,"*Você marcou que NÃO tem o investimento.* ":"Dois cartões de crédito ou mais."}}]},"versionId":"e0f20b26-878f-4922-bafe-05fd5c8ff1f7","triggerCount":1,"shared":[{"createdAt":"2025-11-13T22:22:13.378Z","updatedAt":"2025-11-13T22:22:13.378Z","role":"workflow:owner","workflowId":"aB0QGgHqmGnPokGf","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}