[6]-formulários-->-clint-|-[leads]-mjr-|-c3-|-pesquisa-com-leads---imersão-em-terapia-de-casais-nLTDJYNCiQ5G1lkI.json
{"createdAt":"2025-10-20T20:07:57.468Z","updatedAt":"2025-10-20T21:22:52.444Z","id":"nLTDJYNCiQ5G1lkI","name":"[6] Formulários -> Clint | [LEADS] MJR | C3 | Pesquisa com Leads - Imersão em Terapia de Casais","active":false,"isArchived":true,"nodes":[{"parameters":{"formId":"risFhzQg"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-464,-256],"id":"3abd297b-8c5f-40cc-9645-97e55e7ebb90","name":"Typeform","webhookId":"cbe4041d-08ce-47b1-962b-f8272d759663","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-256],"id":"fbd12fd8-e343-4773-a6a9-8f83818d9624","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado4"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-256],"id":"cd2e0859-e7b6-464f-8642-5368e475fb50","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado4 = Number($json.qualificado4); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado4 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado4,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-256],"id":"c9a324d2-251d-4ab6-bce1-147f6ab00df4","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/fd1d0dec-8791-4bb7-a733-8fcf1508e7f2","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json['Qual o seu e-mail principal?'] }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"sinceridade","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora, descreva suas dificuldades. Qual é o seu maior desafio para atingir este objetivo?'] }}"},{"name":"por que eu deveria abrir","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. Por que eu deveria abrir uma vaga exclusiva para você compor o nosso seleto grupo?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-352],"id":"314d4038-849c-4b22-a2e8-f0bed5d10837","name":"Davi"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/fd1d0dec-8791-4bb7-a733-8fcf1508e7f2","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json['Qual o seu e-mail principal?'] }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"sinceridade","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora, descreva suas dificuldades. Qual é o seu maior desafio para atingir este objetivo?'] }}"},{"name":"por que eu deveria abrir","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. Por que eu deveria abrir uma vaga exclusiva para você compor o nosso seleto grupo?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-176],"id":"c5dce32a-dae6-4f62-8b9e-e2c10240080c","name":"Renata"}],"connections":{"Typeform":{"main":[[]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2eeca5a9-0772-4908-9ca6-99bdd5545299","triggerCount":1,"shared":[{"createdAt":"2025-10-20T20:07:57.468Z","updatedAt":"2025-10-20T20:07:57.468Z","role":"workflow:owner","workflowId":"nLTDJYNCiQ5G1lkI","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}