[7]-formulários-->-clint-|-[cc][ctc]-bf2-|-nov25---campanha-para-base-ctc-hR8CmC11snvA5wUD.json
{"createdAt":"2025-11-18T15:54:51.370Z","updatedAt":"2025-11-18T16:16:27.333Z","id":"hR8CmC11snvA5wUD","name":"[7] Formulários -> Clint | [CC][CTC] BF2 | NOV25 - Campanha Para Base CTC","active":true,"isArchived":false,"nodes":[{"parameters":{"formId":"hVqt9Iwj"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-816,-80],"id":"d79359eb-d280-4769-a849-45ce4a228a97","name":"Typeform","webhookId":"a1b4d71a-b76f-467d-9a1f-7c93277bbdba","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"62077a49-ebb4-4d19-9ba2-5f6a4a3e50f1","name":"Switch"},{"parameters":{"operation":"incr","key":"qualificado7"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-400],"id":"acd6f86e-7993-4bc2-9681-4012c7e749b1","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificado7 = Number($json.qualificado7); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificado7 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificado7,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"763ee815-3ad8-4b9f-b56e-5d8e38f10d9e","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,320],"id":"c53ffbfa-2770-4e51-9cc5-3a3f6912ac2e","name":"Switch1"},{"parameters":{"operation":"incr","key":"desqualificado7"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,320],"id":"68e3ada5-6cde-4d99-858b-1dfc9e6b9b66","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const desqualificado7 = Number($json.desqualificado7); // pega a string \"counter\" e converte pra número\n\nconst isEven = desqualificado7 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      desqualificado7,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,320],"id":"ca1035c3-02b8-4f0a-9509-f3d3aae156de","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"af44c378-021e-4af5-b60d-cdf87589da15","name":"Switch2"},{"parameters":{"operation":"incr","key":"qualificadoparcial7"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,-32],"id":"88c24e57-c1f5-4cb0-8c50-85166c84f1d8","name":"Redis2","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const qualificadoparcial7 = Number($json.qualificadoparcial7); // pega a string \"counter\" e converte pra número\n\nconst isEven = qualificadoparcial7 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      qualificadoparcial7,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"12f646fc-6c47-4220-86af-bb8d36e7abe3","name":"Code2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Como você já sabe, o valor do investimento na Certificação em Terapia de Casais com todos os bônus é de *R$ 9.387,00.*'] }}","rightValue":"Sim, quero fazer minha inscrição.","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"762a687c-7479-4aec-9215-064305b59d87"}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8d3fc17-9d40-46a1-9252-a822215d1768","leftValue":"={{ $json['*Você marcou que NÃO tem o investimento.* '] }}","rightValue":"Não tenho condições de nenhuma forma.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificado parcial"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"607e2469-f90c-47bc-8704-0ef2983447ed","leftValue":"={{ $json['*Você marcou que NÃO tem o investimento.* '] }}","rightValue":"Não tenho condições de nenhuma forma.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desqualificado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-608,-96],"id":"a61e6e6d-9b44-41a6-9986-74fa16a2dbfc","name":"Switch3"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/7c8540ce-cd88-43f9-b7e4-20e9b4b82f62","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Desqualificado,MJR"},{"name":"conhece certiicacao","value":"={{ $('Typeform').item.json['Você já conhece a Certificação em Terapia de Casais? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da Certificação, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Certificação em Terapia de Casais?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,256],"id":"b4213562-0bc0-4267-bd02-467af4bd7374","name":"Davi3"},{"parameters":{"email":"={{ $('Typeform').item.json.Email }}","phone":"={{ $('Typeform').item.json['Phone number'] }}","additionalFields":{"name":"={{ $('Typeform').item.json['First name'] }}","tags":"Desqualificado,CB CTC Aplicação"},"requestOptions":{}},"id":"97eb50fb-e5ed-4dda-9ace-2531dca4ed6f","name":"Create or update a contact2","type":"n8n-nodes-base.highLevel","typeVersion":1,"position":[480,320],"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"highLevelApi":{"id":"T078q9O2V2PJTo3K","name":"Jorge Rodrigues"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/7c8540ce-cd88-43f9-b7e4-20e9b4b82f62","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Desqualificado,MJR"},{"name":"conhece certiicacao","value":"={{ $('Typeform').item.json['Você já conhece a Certificação em Terapia de Casais? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da Certificação, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Certificação em Terapia de Casais?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,448],"id":"87afffd9-23d2-41c7-b836-05a597630a7d","name":"Renata1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/7c8540ce-cd88-43f9-b7e4-20e9b4b82f62","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado parcial,MJR"},{"name":"conhece certiicacao","value":"={{ $('Typeform').item.json['Você já conhece a Certificação em Terapia de Casais? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da Certificação, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Certificação em Terapia de Casais?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"c2153d1c-a516-4e5f-95bb-f6142fc03ed1","name":"Davi4"},{"parameters":{"email":"={{ $('Typeform').item.json.Email }}","phone":"={{ $('Typeform').item.json['Phone number'] }}","additionalFields":{"name":"={{ $('Typeform').item.json['First name'] }}","tags":"Qualificado parcial,CB CTC Aplicação"},"requestOptions":{}},"id":"4a76b7f2-27e4-4079-a621-f9a6b99e6a7c","name":"Create or update a contact","type":"n8n-nodes-base.highLevel","typeVersion":1,"position":[480,-48],"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"highLevelApi":{"id":"T078q9O2V2PJTo3K","name":"Jorge Rodrigues"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/7c8540ce-cd88-43f9-b7e4-20e9b4b82f62","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado parcial,MJR"},{"name":"conhece certiicacao","value":"={{ $('Typeform').item.json['Você já conhece a Certificação em Terapia de Casais? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da Certificação, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Certificação em Terapia de Casais?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,80],"id":"38c2eed6-2aa4-42f3-beb7-aeb3de7353db","name":"Renata2"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/7c8540ce-cd88-43f9-b7e4-20e9b4b82f62","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"conhece certiicacao","value":"={{ $('Typeform').item.json['Você já conhece a Certificação em Terapia de Casais? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da Certificação, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Certificação em Terapia de Casais?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-496],"id":"76846a49-0998-48d5-b5f1-cfd6d068000d","name":"Davi"},{"parameters":{"email":"={{ $('Typeform').item.json.Email }}","phone":"={{ $('Typeform').item.json['Phone number'] }}","additionalFields":{"name":"={{ $('Typeform').item.json['First name'] }}","tags":"Qualificado,CB CTC Aplicação"},"requestOptions":{}},"id":"fe6c6a13-eb5e-4b39-ab15-dc55c6de65a6","name":"Create or update a contact1","type":"n8n-nodes-base.highLevel","typeVersion":1,"position":[480,-432],"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"highLevelApi":{"id":"T078q9O2V2PJTo3K","name":"Jorge Rodrigues"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/7c8540ce-cd88-43f9-b7e4-20e9b4b82f62","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"tag","value":"Qualificado,MJR"},{"name":"conhece certiicacao","value":"={{ $('Typeform').item.json['Você já conhece a Certificação em Terapia de Casais? '] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da Certificação, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"interesse","value":"={{ $('Typeform').item.json['Você tem interesse *real* em *descobrir todos os detalhes da condição inédita *que preparamos exclusivamente para _selecionados_ para Certificação em Terapia de Casais?'] }}"},{"name":"nao tem o investimento","value":"={{ $('Typeform').item.json['*Você marcou que NÃO tem o investimento.* '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-304],"id":"f2ee59af-2142-4eec-9f63-4feecad40882","name":"Renata"}],"connections":{"Typeform":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi3","type":"main","index":0}],[{"node":"Renata1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Davi4","type":"main","index":0}],[{"node":"Renata2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis2","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Davi3":{"main":[[{"node":"Create or update a contact2","type":"main","index":0}]]},"Renata1":{"main":[[{"node":"Create or update a contact2","type":"main","index":0}]]},"Davi4":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]},"Renata2":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]},"Davi":{"main":[[{"node":"Create or update a contact1","type":"main","index":0}]]},"Renata":{"main":[[{"node":"Create or update a contact1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-odgg33acfw"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f6f1c0f8-3b6b-4d76-9652-79aeb3618d8a","triggerCount":1,"shared":[{"createdAt":"2025-11-18T15:54:51.370Z","updatedAt":"2025-11-18T15:54:51.370Z","role":"workflow:owner","workflowId":"hR8CmC11snvA5wUD","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}