[ana-teresa-muri]-[compra-aprovada]-protocolo-da-fertilidade-s5OqfhpGH9EFRcqz.json
{"createdAt":"2025-06-18T14:13:24.107Z","updatedAt":"2025-06-18T16:48:15.432Z","id":"s5OqfhpGH9EFRcqz","name":"[Ana Teresa Muri] [Compra aprovada] Protocolo da Fertilidade","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Protocolo_da_Fertilidade","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,0],"id":"c3f9696f-7916-496a-8b37-16675a83ff68","name":"Webhook","webhookId":"b2418d0d-0582-4470-9dae-00df33cd781b"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1V1VlIXnpSK1cRScMKYk06CkOFmgTOx_1n4N1Me3c0ts","mode":"id"},"sheetName":{"__rl":true,"value":1615984510,"mode":"list","cachedResultName":"Compra aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V1VlIXnpSK1cRScMKYk06CkOFmgTOx_1n4N1Me3c0ts/edit#gid=1615984510"},"columns":{"mappingMode":"defineBelow","value":{"Data Compra":"={{(() => {\n  // Pega e limpa a data recebida\n  const raw = $json[\"Data cadastro\"] || \"\";\n  const dataStr = raw.trim();\n  let data;\n  // Se não existe data válida, usa a data/hora atual\n  if (!dataStr) {\n    data = new Date();\n  } else {\n    data = new Date(dataStr);\n    if (isNaN(data.getTime())) data = new Date();\n  }\n  // Formata para DD/MM/YYYY\n  const dia = data.getDate().toString().padStart(2, '0');\n  const mes = (data.getMonth()+1).toString().padStart(2, '0');\n  const ano = data.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n})()}}\n","Nome":"={{ $('Webhook').item.json.body.event.userName }}","Email":"={{ $('Webhook').item.json.body.event.userEmail }}","Telefone":"={{\n  (\n    $('Webhook').item.json.body.event.userPhone\n      .replace(/\\D/g, '')\n      .startsWith('55')\n      ? $('Webhook').item.json.body.event.userPhone.replace(/\\D/g, '')\n      : '55' + $('Webhook').item.json.body.event.userPhone.replace(/\\D/g, '')\n  )\n}}\n"},"matchingColumns":[],"schema":[{"id":"Data Compra","displayName":"Data Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[320,0],"id":"7f5f711d-24fc-41c5-974a-35fcb3f4127c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"content":"[Ana Teresa Muri] [Compra aprovada] Protocolo da Fertilidade","height":380,"width":1000},"type":"n8n-nodes-base.stickyNote","position":[-200,-120],"typeVersion":1,"id":"16245231-15fc-4546-affc-ede669a1aadd","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[520,0],"id":"869602e4-632d-4f5a-9a0c-76ee6c7af462","name":"No Operation, do nothing"}],"connections":{"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9296e5f3-dfa0-4514-90fb-e68f2177a993","triggerCount":1,"shared":[{"createdAt":"2025-06-18T14:13:24.107Z","updatedAt":"2025-06-18T14:13:24.107Z","role":"workflow:owner","workflowId":"s5OqfhpGH9EFRcqz","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}