[clint-<>-type][dr.-jorge]---controle-de-recebimento-de-mensagens-automáticas-1Mn2vVqijqYdzjcl.json
{"createdAt":"2025-09-10T02:37:19.618Z","updatedAt":"2025-09-10T02:49:58.386Z","id":"1Mn2vVqijqYdzjcl","name":"[Clint <> Type][Dr. Jorge] - Controle de recebimento de mensagens automáticas","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"controle-clint","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-352,-48],"id":"f4163056-f21f-4871-8efb-82c3b86cae09","name":"Webhook","webhookId":"3a6cf7f4-2a6b-4106-9ca4-1bc54eba9388"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7a0dbc0-6ed3-4c48-a3d9-9bae57122732","leftValue":"={{ $json.body.deal_user }}","rightValue":"renatadrjorgerodrigues@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,-48],"id":"6db7d573-1e7f-4e8f-be1b-f53c1fa0b8ff","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1GxlyoORmjetRtPabkpOOnGIbpzaftnH8efvXDq8KqBA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GxlyoORmjetRtPabkpOOnGIbpzaftnH8efvXDq8KqBA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.body.contact_email }}","Data":"={{ $json.body.deal_created_at }}","WhatsApp":"={{ \"https://wa.me/\" + $json.body.contact_phone.replace(/\\D/g, \"\") }}","Nome":"={{ $json.body.contact_name }}","Dono do negócio":"Renata","Tags":"={{ $json.body.contact_tag[0] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Dono do negócio","displayName":"Dono do negócio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,-144],"id":"d0cdfd0f-ef57-4e96-8345-90c7d5105050","name":"Renata","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1GxlyoORmjetRtPabkpOOnGIbpzaftnH8efvXDq8KqBA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Geral","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GxlyoORmjetRtPabkpOOnGIbpzaftnH8efvXDq8KqBA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.body.contact_email }}","Data":"={{ $json.body.deal_created_at }}","WhatsApp":"={{ \"https://wa.me/\" + $json.body.contact_phone.replace(/\\D/g, \"\") }}","Nome":"={{ $json.body.contact_name }}","Dono do negócio":"Renata","Tags":"={{ $json.body.contact_tag[0] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Dono do negócio","displayName":"Dono do negócio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,0],"id":"9da30e8f-819d-4cc2-a885-ae31c737b450","name":"Davi","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Renata","type":"main","index":0}],[{"node":"Davi","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea9e1415-d1f9-4383-824d-3c46ebc2915e","triggerCount":1,"shared":[{"createdAt":"2025-09-10T02:37:19.618Z","updatedAt":"2025-09-10T02:37:19.618Z","role":"workflow:owner","workflowId":"1Mn2vVqijqYdzjcl","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}