[dama-do-gesso]-recebe-eventos-gthEq409kLW7lo7D.json
{"createdAt":"2025-11-06T19:10:24.996Z","updatedAt":"2025-11-06T20:15:04.397Z","id":"gthEq409kLW7lo7D","name":"[DAMA DO GESSO] RECEBE EVENTOS","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"instagram-damadogesso","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2144,176],"id":"d8892355-4d9e-4998-baa8-39de07376b95","name":"Webhook","webhookId":"3f79f6cb-db7c-41a2-bb0f-75620239f843"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"157a0d71-17f3-477f-b7e6-5582a0cdb2e0","leftValue":"={{ $json.sender_ID }}","rightValue":"={{ $json.Meu_ID }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[48,176],"id":"ee76aba8-4de3-4a4f-ac80-9f0158743642","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4077eb52-2231-43d4-9d13-9f4e080427fb","leftValue":"={{ $json.read_ID }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-240,176],"id":"7eba3288-8f59-4106-a07f-223bfa9d1a9b","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60c185d8-242b-4722-b7ac-90a7343df8ff","leftValue":"={{ $json.field }}","rightValue":"comments","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,144],"id":"ebc86b59-b364-4f8f-adcc-b5b7011fe3cd","name":"If"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v21.0/{{ $('Echo Message Filter1').item.json.id_comment }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer IGAALrXM2BLqZABZAFROYmxROHkzMkZAQWjNPNmVFa1Q1bVZASQndLX0FLZAE5CVWNKNWNjMjFucWlXWmh2bGtTTFVuZAno2aUctZA3REbEJxVkprNjNQS0FXWFVxdVROY2E2bHJQZAnBQQWhmOW9ZAUExSdTJ4MVhnR1pZANmJuLW90aVhlUQZDZD"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,-96],"id":"5c4dd590-1eea-42c2-a506-f2b5172515e9","name":"Reply Comments1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9358a34-8dfc-43c8-a591-7b7f210b5918","leftValue":"={{ $json.from_id }}","rightValue":"={{ $json.Meu_ID }}","operator":{"type":"string","operation":"notEquals"}},{"id":"dac26075-d049-411c-b45e-84cf7fc20ad4","leftValue":"={{ $json.field }}","rightValue":"comments","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-224,-96],"id":"9e193c55-c172-4e2b-80d4-849728324041","name":"Echo Message Filter1"},{"parameters":{"url":"=https://graph.instagram.com/{{ $json.media_id }}/comments?fields=id,text,timestamp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer IGAALrXM2BLqZABZAFROYmxROHkzMkZAQWjNPNmVFa1Q1bVZASQndLX0FLZAE5CVWNKNWNjMjFucWlXWmh2bGtTTFVuZAno2aUctZA3REbEJxVkprNjNQS0FXWFVxdVROY2E2bHJQZAnBQQWhmOW9ZAUExSdTJ4MVhnR1pZANmJuLW90aVhlUQZDZD"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-96],"id":"af95c9c2-7d43-4310-bff3-133fddbbc956","name":"HTTP Request"},{"parameters":{"jsCode":"const commentsData = $json[\"data\"]; // Pegando os dados diretamente do input\nconst idToCheck = $('Coletar Dados').first().json.id_comment;\n\nconsole.log(\"ID para checar:\", idToCheck);\n\nconst now = new Date();\nconst tenSecondsAgo = new Date(now.getTime() - 10 * 1000); // Definindo o limite para 10 segundos\n\nconst recentComments = commentsData.filter(comment => {\n  const commentTime = new Date(comment.timestamp);\n  console.log(\"Comentário:\", comment.id, comment.timestamp, \"Convertido:\", commentTime, \"Limite:\", tenSecondsAgo);\n\n  return comment.id === idToCheck && commentTime >= tenSecondsAgo;\n});\n\n// Se houver comentários dentro de 10 segundos, retorna \"Tem que responder\"\nif (recentComments.length > 0) {\n  return [{ json: { message: \"Tem que responder\" } }];\n} else {\n  // Se nenhum comentário atender ao critério, retorna \"Já respondido\"\n  return [{ json: { message: \"Já respondido\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-96],"id":"4035087c-5ef2-4ddb-a832-21ab68d21522","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c03c4f3-1540-4ebd-bc65-13f3303ffe9f","leftValue":"={{ $json.message }}","rightValue":"Já respondido","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[560,-96],"id":"cdb96166-34f1-4755-a6c1-e83113ab610f","name":"Filter2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,-96],"id":"68cdd8e5-2891-4c6c-b463-7fc689e7a265","name":"Wait2","webhookId":"5cca45c0-e4a3-437f-93e6-098e0ff908e3"},{"parameters":{"jsCode":"// Captura o text do nó HTTP Request\nlet text = $node[\"HTTP Request\"].json.data[0].text || \"\";\n\n// Remove quebras de linha (\\n)\ntext = text.replace(/\\n/g, \" \");\n\n// Retorna o texto modificado\nreturn [{ text }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-96],"id":"6d7af895-5a96-439a-bb4d-52543060d3a0","name":"Code1"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"Ds6oXVCkIGnaazemDS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text_comentario":"={{ $json.text }}","Meu_id":"={{ $('Echo Message Filter1').item.json.Meu_ID }}","sender_ID":"={{ $('Echo Message Filter1').item.json.sender_ID }}","recipiente_ID":"={{ $('Echo Message Filter1').item.json.recipiente_ID }}","mensagem_ID":"={{ $('Echo Message Filter1').item.json.mensagem_ID }}","Message_Text":"={{ $('Echo Message Filter1').item.json.Menssage_Text }}","read_ID":"={{ $('Echo Message Filter1').item.json.read_ID }}","url_audio":"={{ $('Echo Message Filter1').item.json.url_audio }}","type":"={{ $('Echo Message Filter1').item.json.type }}","title_video":"={{ $('Echo Message Filter1').item.json.title_video }}","field":"={{ $('Echo Message Filter1').item.json.field }}","url_post":"={{ $('Echo Message Filter1').item.json.url_post }}","user_name":"={{ $('Echo Message Filter1').item.json.user_name }}","id_comment":"={{ $('Echo Message Filter1').item.json.id_comment }}","from_id":"={{ $('Echo Message Filter1').item.json.from_id }}","api":"={{ $('Echo Message Filter1').item.json.api }}","media_id":"={{ $('Echo Message Filter1').item.json.media_id }}","sessionID":"={{ $('Supabase').item.json.sessionid }}"},"matchingColumns":[],"schema":[{"id":"Meu_id","displayName":"Meu_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sender_ID","displayName":"sender_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"recipiente_ID","displayName":"recipiente_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem_ID","displayName":"mensagem_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Message_Text","displayName":"Message_Text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"read_ID","displayName":"read_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"title_video","displayName":"title_video","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_post","displayName":"url_post","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"field","displayName":"field","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text_comentario","displayName":"text_comentario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_comment","displayName":"id_comment","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_id","displayName":"from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"api","displayName":"api","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"media_id","displayName":"media_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionID","displayName":"sessionID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1024,-96],"id":"2977a4ca-f0df-4dfc-a3b7-75d319b2b1d4","name":"enviar para a ia de comentarios"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"Insta-ID","keyValue":"={{(() => {\n  const entry = $json.body?.entry?.[0];\n\n  const fromReaction = entry?.changes?.[0]?.value?.from?.id;\n  const fromMessage = entry?.messaging?.[0]?.sender?.id;\n\n  return fromReaction || fromMessage || 'ID não encontrado';\n})()}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1600,176],"id":"ac215dcf-e6b5-4e45-a25f-13f6ba39bf22","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qHJFtevZvPB5hFpR","name":"Supabase account"}}},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1280,288],"id":"f5755b20-9f4d-4ef0-ac26-261d50ae075f","name":"Gerar sessionID"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"Insta-ID","fieldValue":"={{(() => {\n  const data = $('filtrar se é uma reação').item.json.body.entry[0];\n  \n  // Tenta acessar ID de quem fez a reação\n  const reactionId = data?.changes?.[0]?.value?.from?.id;\n\n  // Se não for uma reação, tenta pegar o ID do sender da mensagem\n  const messageSenderId = data?.messaging?.[0]?.sender?.id;\n\n  return reactionId || messageSenderId || 'ID não encontrado';\n})()}}"},{"fieldId":"Insta_Name","fieldValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.from.username || \"\" }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1056,288],"id":"68c56665-7e32-4494-9276-20ab74c80b7c","name":"Supabase1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json[\"Insta-ID\"]?.toString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1440,176],"id":"929b39dc-0504-4555-8e0a-d824c53a015b","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb5e7bc-724b-4b96-bd2b-7b3e9b9ed4b7","leftValue":"={{ $json.body.entry[0].messaging[0].reaction.reaction }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1808,176],"id":"b38c0259-88e8-4d29-84d5-3434ee13c326","name":"filtrar se é uma reação"},{"parameters":{"assignments":{"assignments":[{"id":"6cdf4b40-aa25-4e64-a954-86765dea5775","name":"Meu_ID","value":"={{ $('Webhook').item.json.body.entry[0].id }}","type":"string"},{"id":"1693dde5-cd7b-4bd1-9379-57a0ebd6999f","name":"=sender_ID","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"aca26c31-49ad-47b3-8323-af9727886a34","name":"recipiente_ID","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}","type":"string"},{"id":"a7fb834e-ae91-4fac-b981-8ff30dc29a48","name":"mensagem_ID","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.mid }}","type":"string"},{"id":"135af382-9417-45e5-90e1-0266a1d26da0","name":"Menssage_Text","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"56d8d4c9-86dd-41b1-914b-a600aec19490","name":"read_ID","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].read }}","type":"string"},{"id":"ec44671f-f6a3-469f-88de-377bd10dcfc7","name":"url_audio","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.url }}","type":"string"},{"id":"62fb9c51-67d1-4d9f-8c0c-b4ea37fc9e23","name":"type","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].type }}","type":"string"},{"id":"9c05f988-d2d4-49b6-bdbd-6be19b6904ba","name":"id_video","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.reel_video_id }}","type":"string"},{"id":"e5a50cfb-5402-4836-b091-9a14c125615a","name":"title_video","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.title }}","type":"string"},{"id":"cf75895f-aba6-4b7d-9322-f7b2f7410a0d","name":"url_post","value":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.url }}","type":"string"},{"id":"2c77cdfe-b529-4dab-85d6-9d9ee917338a","name":"field","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].field }}","type":"string"},{"id":"03b3c00d-ef03-436b-aed7-ac0c400b04f1","name":"text_comentario","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"83243d6c-4924-444c-8aae-574c62781417","name":"user_name","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"43bd0761-a6f1-4d6c-ae1b-7f00bab2eeef","name":"id_comment","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"1a6f7e55-8302-4a8b-b05a-b4dcf27963fd","name":"from_id","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"971ee357-57f7-4990-857f-2a8d2319ecc0","name":"api","value":"IGAANSU5tYCcRBZAE9XWDFxNWZAFWXd0dGRoWEFVbmpKMjZASUUtzZAVREMWE3N2pLTVIzdmNGMFZAYNWVrMU1HV1pZAOExwSDRnUU40OUZArQ2R0NXd6ZAW5UY2QzbmkwTDQ2Qmlod1p2VlFQbGpWOXVBMGJqQk13VWZAGeHBuRmRzX0I3SQZDZD","type":"string"},{"id":"8544762b-9e1f-40ca-814a-6325026df5cd","name":"media_id","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.media.id }}","type":"string"},{"id":"8b033730-48b2-437c-9b3b-7f574a948027","name":"sessionID","value":"={{ $json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,144],"id":"9d813a45-c21c-4a70-88e5-17972b17a913","name":"Coletar Dados"},{"parameters":{"workflowId":{"__rl":true,"value":"a","mode":"id","cachedResultUrl":"/workflow/a"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Meu_id":"={{ $json.Meu_ID }}","sender_ID":"={{ $json.sender_ID }}","recipiente_ID":"={{ $json.recipiente_ID }}","mensagem_ID":"={{ $json.mensagem_ID }}","Message_Text":"={{ $json.Menssage_Text }}","read_ID":"={{ $json.read_ID }}","url_audio":"={{ $json.url_audio }}","type":"={{ $json.type }}","title_video":"={{ $json.title_video }}","url_post":"={{ $json.url_post }}","field":"={{ $json.field }}","text_comentario":"={{ $json.text_comentario }}","user_name":"={{ $json.user_name }}","id_comment":"={{ $json.id_comment }}","from_id":"={{ $json.from_id }}","api":"={{ $json.api }}","media_id":"={{ $json.media_id }}","sessionID":"={{ $json.sessionID }}"},"matchingColumns":[],"schema":[{"id":"Meu_id","displayName":"Meu_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sender_ID","displayName":"sender_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"recipiente_ID","displayName":"recipiente_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"mensagem_ID","displayName":"mensagem_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Message_Text","displayName":"Message_Text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"read_ID","displayName":"read_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"title_video","displayName":"title_video","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_post","displayName":"url_post","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"field","displayName":"field","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"text_comentario","displayName":"text_comentario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_comment","displayName":"id_comment","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"from_id","displayName":"from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"api","displayName":"api","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"media_id","displayName":"media_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sessionID","displayName":"sessionID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[304,176],"id":"9b4ee741-ded0-45fe-8f04-b81280ecd5de","name":"Execute Workflow"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1632,-128],"id":"9cd59ff3-0480-4c66-af46-84cf4505907d","name":"Respond to Webhook"},{"parameters":{"content":"IGAALrXM2BLqZABZAFROYmxROHkzMkZAQWjNPNmVFa1Q1bVZASQndLX0FLZAE5CVWNKNWNjMjFucWlXWmh2bGtTTFVuZAno2aUctZA3REbEJxVkprNjNQS0FXWFVxdVROY2E2bHJQZAnBQQWhmOW9ZAUExSdTJ4MVhnR1pZANmJuLW90aVhlUQZDZD","height":320,"width":944},"type":"n8n-nodes-base.stickyNote","position":[-1808,-640],"typeVersion":1,"id":"3e0141fc-791d-408a-adb6-0583e031a059","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"Ds6oXVCkIGnaazemDS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text_comentario":"={{ $json.text }}","Meu_id":"={{ $('Echo Message Filter1').item.json.Meu_ID }}","sender_ID":"={{ $('Echo Message Filter1').item.json.sender_ID }}","recipiente_ID":"={{ $('Echo Message Filter1').item.json.recipiente_ID }}","mensagem_ID":"={{ $('Echo Message Filter1').item.json.mensagem_ID }}","Message_Text":"={{ $('Echo Message Filter1').item.json.Menssage_Text }}","read_ID":"={{ $('Echo Message Filter1').item.json.read_ID }}","url_audio":"={{ $('Echo Message Filter1').item.json.url_audio }}","type":"={{ $('Echo Message Filter1').item.json.type }}","title_video":"={{ $('Echo Message Filter1').item.json.title_video }}","field":"={{ $('Echo Message Filter1').item.json.field }}","url_post":"={{ $('Echo Message Filter1').item.json.url_post }}","user_name":"={{ $('Echo Message Filter1').item.json.user_name }}","id_comment":"={{ $('Echo Message Filter1').item.json.id_comment }}","from_id":"={{ $('Echo Message Filter1').item.json.from_id }}","api":"={{ $('Echo Message Filter1').item.json.api }}","media_id":"={{ $('Echo Message Filter1').item.json.media_id }}","sessionID":"={{ $('Supabase').item.json.sessionid }}"},"matchingColumns":[],"schema":[{"id":"Meu_id","displayName":"Meu_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sender_ID","displayName":"sender_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"recipiente_ID","displayName":"recipiente_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem_ID","displayName":"mensagem_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Message_Text","displayName":"Message_Text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"read_ID","displayName":"read_ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"title_video","displayName":"title_video","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_post","displayName":"url_post","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"field","displayName":"field","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text_comentario","displayName":"text_comentario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_comment","displayName":"id_comment","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"from_id","displayName":"from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"api","displayName":"api","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"media_id","displayName":"media_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionID","displayName":"sessionID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1120,16],"id":"66c1c8ac-7507-4b52-842d-8ba017c3f28f","name":"enviar para a ia de comentarios1"}],"connections":{"Webhook":{"main":[[{"node":"filtrar se é uma reação","type":"main","index":0}]]},"Filter":{"main":[[]]},"Filter1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"If":{"main":[[{"node":"Echo Message Filter1","type":"main","index":0}],[{"node":"Filter1","type":"main","index":0}]]},"Echo Message Filter1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Reply Comments1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"enviar para a ia de comentarios","type":"main","index":0}]]},"enviar para a ia de comentarios":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If2","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Coletar Dados","type":"main","index":0}]]},"If2":{"main":[[{"node":"Coletar Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"filtrar se é uma reação":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Coletar Dados":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Respond to Webhook":[{"json":{"headers":{"host":"n8n-sgo8ksokg404ocg8sgc4sooc.vemprajogo.com","user-agent":"facebookplatform/1.0 (+http://developers.facebook.com)","accept":"*/*","accept-encoding":"deflate, gzip","x-forwarded-for":"69.171.231.116","x-forwarded-host":"n8n-sgo8ksokg404ocg8sgc4sooc.vemprajogo.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8373d118071f","x-real-ip":"69.171.231.116"},"params":{},"query":{"hub.mode":"subscribe","hub.challenge":"46304458","hub.verify_token":"a"},"body":{},"webhookUrl":"https://n8n-sgo8ksokg404ocg8sgc4sooc.vemprajogo.com/webhook-test/instagram-Jastelo","executionMode":"test"}}]},"versionId":"feaf2006-b318-4a15-a844-b746155f0ec4","triggerCount":1,"shared":[{"createdAt":"2025-11-06T19:10:24.996Z","updatedAt":"2025-11-06T19:10:24.996Z","role":"workflow:owner","workflowId":"gthEq409kLW7lo7D","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}