[dama-do-gesso]-verificar-tipo-mensagem-a5mKNUl8QTUNj1r3.json
{"createdAt":"2025-11-19T19:52:29.921Z","updatedAt":"2025-11-19T19:52:55.630Z","id":"a5mKNUl8QTUNj1r3","name":"[DAMA DO GESSO] VERIFICAR TIPO MENSAGEM","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# VERIFICAR O TIPO DA MENSAGEM","height":540,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1552,272],"typeVersion":1,"id":"07b79f39-df4c-45f1-834f-c6e4b4a3e29a","name":"Sticky Note20"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1440,512],"id":"5a77bbcd-af1b-4b54-b9a8-9f7a971af88a","name":"RECEBE DADOS"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $json.type_message }}","rightValue":"chat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.type_message }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $json.type_message }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ed941dd1-0543-4bc4-a1d1-ed3e9b1e712b","leftValue":"={{ $json.type_message }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"952acf3b-2cef-4ab3-b215-bd2703bc663e","leftValue":"={{ $json.type_message }}","rightValue":"private","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"private"}]},"options":{}},"id":"45295f12-56bf-4e61-9ff7-3ff1a89a9b3e","name":"verificar o caminho","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1184,464]},{"parameters":{"workflowId":{"__rl":true,"value":"PoQ27Adg7nE6GhJv","mode":"list","cachedResultUrl":"/workflow/PoQ27Adg7nE6GhJv","cachedResultName":"[HELENA WHATSAPP] TRATAR MENSAGENS PICADAS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2928,448],"id":"c42b14c8-4978-470d-a060-ec28b91141d6","name":"TRATAR MENSAGENS PICADAS"},{"parameters":{"content":"# TRATAR MENSAGEM PICADA","height":680,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2320,128],"typeVersion":1,"id":"66c19fb9-48f6-41e3-8a2e-33eca2c50d69","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"bff91a9c-3ba4-4fac-8b8a-6a1ed13bb4b9","name":"message_content","value":"={{\n  $json.mensagem\n    ? \"[MENSAGEM DE TEXTO ENVIADA]: (\" + $json.mensagem + \")\"\n    : $json.content\n      ? \"[IMAGEM ENVIADA]: (\" + $json.content + \" [DESCRIÇÃO DA IMAGEM ENVIADA]: \" + $('RECEBE DADOS').item.json.descricao + \")\"\n      : $json.message_content\n        ? \"(\" + $json.message_content + \")\"\n        : $json.Video\n          ? \"[VÍDEO ENVIADO]: (\" + $json.Video + \")\"\n          : $json.AUDIO\n            ? \"[AUDIO ENVIADO]: (\" + $json.AUDIO + \")\"\n            : \"\"\n}}","type":"string"},{"id":"14ddd8dd-3b71-452a-bf47-509711010f4d","name":"telefone","value":"={{ $('RECEBE DADOS').item.json.telefone }}","type":"string"},{"id":"17c0d63c-7617-4f33-9acd-eada1617feba","name":"sessionid","value":"={{ $('RECEBE DADOS').item.json.sessionid }}","type":"string"},{"id":"3f9f80b1-e7ea-4341-9737-fc8fce6be122","name":"id_message","value":"={{ $('RECEBE DADOS').item.json.id_message }}","type":"string"},{"id":"4b2bb9f8-e471-415c-b3e3-2ae6533601e9","name":"type_message","value":"={{ $('RECEBE DADOS').item.json.type_message }}","type":"string"},{"id":"c4b82897-029f-4f06-9a61-e16c87c23e61","name":"url_media","value":"={{ $('RECEBE DADOS').item.json.url_media }}","type":"string"},{"id":"e4dbbd20-eaa4-4113-9f35-8d59182f2d46","name":"base64_media","value":"={{ $('RECEBE DADOS').item.json.base64_media }}","type":"string"},{"id":"4627f29d-b3fa-4b91-acb1-7e87ad320432","name":"pushName","value":"={{ $('RECEBE DADOS').item.json.pushName }}","type":"string"}]},"options":{}},"id":"b4e38144-c044-46a3-8a93-f43e6225007b","name":"Pegar a mensagem1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,448]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"886145dd-340a-4fea-9d80-3268988fb3e3","name":"transcrever o audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[928,144],"credentials":{"openAiApi":{"id":"CTMpiiF2zxl00KmT","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva todo o conteudo da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"18b02561-ab46-460e-a0d3-b0c5996dabcd","name":"COLETAR O CONTEUDO DA IMAGEM","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1040,784],"credentials":{"openAiApi":{"id":"CTMpiiF2zxl00KmT","name":"OpenAi account"}}},{"parameters":{"content":"# IMAGEM","height":620,"width":1900},"type":"n8n-nodes-base.stickyNote","position":[-144,656],"typeVersion":1,"id":"a260fc84-77ba-481a-ac60-ecc31547210b","name":"Sticky Note"},{"parameters":{"content":"# AUDIO","height":620,"width":1900},"type":"n8n-nodes-base.stickyNote","position":[-144,-48],"typeVersion":1,"id":"a00c67ae-2485-41a8-9dff-538da4f9135e","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"e3f9df7c-178d-4e50-b47b-1be4e5afc5a7","name":"AUDIO","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,144],"id":"a2c7d651-f943-4d41-9594-4a9fa1daae63","name":"FORMART RESPONSE AUDIO"},{"parameters":{"url":"={{ $json.url_media }}","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,144],"id":"b6cda34f-8065-4a5e-9748-dbab2476388d","name":"Baixar audio","credentials":{"wahaApi":{"id":"7N6Qnba8NbZLvCTo","name":"WAHA - MEDMASTERS"}}},{"parameters":{"url":"={{ $json.url_media }}","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,784],"id":"b595f4f8-c8ec-4ba1-97db-8a94ccf80e3e","name":"Baixar audio1","credentials":{"wahaApi":{"id":"7N6Qnba8NbZLvCTo","name":"WAHA - MEDMASTERS"}}}],"connections":{"RECEBE DADOS":{"main":[[{"node":"verificar o caminho","type":"main","index":0}]]},"verificar o caminho":{"main":[[{"node":"Pegar a mensagem1","type":"main","index":0}],[{"node":"Baixar audio","type":"main","index":0}],[{"node":"Baixar audio1","type":"main","index":0}]]},"Pegar a mensagem1":{"main":[[{"node":"TRATAR MENSAGENS PICADAS","type":"main","index":0}]]},"transcrever o audio":{"main":[[{"node":"FORMART RESPONSE AUDIO","type":"main","index":0}]]},"COLETAR O CONTEUDO DA IMAGEM":{"main":[[{"node":"Pegar a mensagem1","type":"main","index":0}]]},"FORMART RESPONSE AUDIO":{"main":[[{"node":"Pegar a mensagem1","type":"main","index":0}]]},"Baixar audio":{"main":[[{"node":"transcrever o audio","type":"main","index":0}]]},"Baixar audio1":{"main":[[{"node":"COLETAR O CONTEUDO DA IMAGEM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RECEBE DADOS":[{"json":{"mensagem":"","sessionid":"ce22c160-fbc0-4d95-bd64-0093f822ee39","id_message":"3FD50C7D74FA6C6DEC2D","type_message":"audio","url_media":"https://mmg.whatsapp.net/v/t62.7117-24/553937776_780343424736958_1012919997583617958_n.enc?ccb=11-4&oh=01_Q5Aa2gEBwgrymydw94pOxabm9ZacFVSgZU8gCmrtyWXL0bOD1A&oe=68FB6A7C&_nc_sid=5e03e0&mms3=true","base64_media":null,"telefone":"559984858134","pushName":"Guilherme Barros","descricao":null}}]},"versionId":"3148298d-575f-42bb-85c0-cf6b0f7e34d2","triggerCount":0,"shared":[{"createdAt":"2025-11-19T19:52:29.921Z","updatedAt":"2025-11-19T19:52:29.921Z","role":"workflow:owner","workflowId":"a5mKNUl8QTUNj1r3","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}