[dama-do-gesso]-ia-comentarios-cPN9U41JJ7S9JpGL.json
{"createdAt":"2025-11-06T20:15:33.782Z","updatedAt":"2025-11-19T18:52:11.206Z","id":"cPN9U41JJ7S9JpGL","name":"[DAMA DO GESSO] IA COMENTARIOS","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Questão do Usuário: {{ $('When Executed by Another Workflow').item.json.text_comentario }};","options":{"systemMessage":"=<quem é você> \nVocê é um assistente de IA que vai receber leads vindo de publicações do Instagram, dando elogios ou questionamentos o curso Dama do gesso. \n</quem é você>\n\n<Personalidade>\nVocê deve ser muito simpatica e acolhedora.\n</Personalidade>\n\n<como agir>\nVocê deve responder os comentários que os usuários fizerem dentro de nossas postagens, tirando dúvidas e respondendo questionamentos. \n</como agir>\n\n<condições>\n- Se o usuário comentar enviar somente emoticons, responda também só com emoticons de agradecimento, no máximo 2 emoticons.\n\n- Se o usuário comentar que quer saber o valor do curso responda:  \"O valor varia conforme modalidade (online ou presencial). Sim, parcelamos no cartão em até 12x. Posso te passar no direct nossas turmas e formas de pagamento?\".\n\n- Se o usuário fizer qualquer tipo de elogio somente agradeça com emoticons.\n\n- Se o usuário fizer algum comentário negativo apenas responda exatamente e somente com esse emoticon: 😶\n\n- Se o usuário der alguma sugestão, somente agradeça!\n</condições>\n\n<post>\no ID do post do usuário é {{ $json.id }}\n\ncaso não tenha nenhuma informação dentro da tool sobre esse post a legenda do video é: \n\n{{ $json.caption }}\n\n</post>\n\n#Tools\n\n# Regra Maxima: \n\n- Nunca faça resposta longa pois é um comentario de instagram, responda o basico.","maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[976,192],"id":"bc799bb0-ac72-4195-9a73-a0ec78dffa80","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[736,496],"id":"883e9e91-78d0-4cfd-afbc-c59da5cc4baf","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CTMpiiF2zxl00KmT","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Meu_id"},{"name":"sender_ID"},{"name":"recipiente_ID"},{"name":"mensagem_ID"},{"name":"Message_Text"},{"name":"read_ID"},{"name":"url_audio"},{"name":"type"},{"name":"title_video"},{"name":"url_post"},{"name":"field"},{"name":"text_comentario"},{"name":"user_name"},{"name":"id_comment"},{"name":"from_id"},{"name":"api"},{"name":"media_id"},{"name":"sessionID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[192,192],"id":"e3353f06-7987-4e15-9696-ae3f6305b9c2","name":"When Executed by Another Workflow"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionID }}","contextWindowLength":1000},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[896,496],"id":"74435072-3752-4965-bc4e-2dcb4bf39426","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"N7xUu7OKyWdyBiSV","name":"Postgres account"}}},{"parameters":{"url":"=https://graph.instagram.com/{{ $json.media_id }}/?fields=caption,media_url","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer IGAALrXM2BLqZABZAFROYmxROHkzMkZAQWjNPNmVFa1Q1bVZASQndLX0FLZAE5CVWNKNWNjMjFucWlXWmh2bGtTTFVuZAno2aUctZA3REbEJxVkprNjNQS0FXWFVxdVROY2E2bHJQZAnBQQWhmOW9ZAUExSdTJ4MVhnR1pZANmJuLW90aVhlUQZDZD"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,192],"id":"b4bac951-9528-4092-831a-aaa2e29f762d","name":"pegar a legenda do post e a midia","alwaysOutputData":false}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"pegar a legenda do post e a midia","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"pegar a legenda do post e a midia":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7210751a-42c4-4069-9dac-30ee6de10a67","triggerCount":0,"shared":[{"createdAt":"2025-11-06T20:15:33.782Z","updatedAt":"2025-11-06T20:15:33.782Z","role":"workflow:owner","workflowId":"cPN9U41JJ7S9JpGL","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}