[dama-de-gesso-whatsapp]-recebe-mensagem-mxgrpTifsh1VZlVC.json
{"createdAt":"2025-11-19T19:54:50.212Z","updatedAt":"2025-11-25T22:17:31.551Z","id":"mxgrpTifsh1VZlVC","name":"[DAMA DE GESSO WHATSAPP] RECEBE MENSAGEM","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"helena-teste","options":{}},"id":"34f4b0e2-ceb4-4e8c-b4b7-27e72a6fe59c","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,688],"webhookId":"0084a2f2-db35-4cee-afd6-151b6edd0cf9"},{"parameters":{"content":"","height":560,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[192,480],"typeVersion":1,"id":"3edc8203-77a1-4835-afd3-c23fa17d0aa3","name":"Sticky Note42"},{"parameters":{"content":"# Dados","height":80,"width":150,"color":5},"id":"61aa7ba1-c694-4931-92d4-a544ffcbce68","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,512]},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE dados_cliente (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  telefone TEXT, \n  sessionid TEXT,\n  email TEXT,\n  cpf_cnpj TEXT,\n  asaas_customer_id TEXT,\n  nome TEXT,\n  payments JSONB\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-560,288],"id":"aec9edb9-ece0-44d6-a4e2-d35fca2b2d01","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"xfu8d5Swurnb9Y4c","name":"[SUPABASE] IA MODELO"}}},{"parameters":{"content":"","height":216,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-112,240],"typeVersion":1,"id":"07c17c42-98ed-4134-9230-55aa30dbb8e3","name":"Sticky Note49"},{"parameters":{"content":"","height":216,"width":230,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-368,240],"typeVersion":1,"id":"df169bd5-1b33-4894-bee7-482a81657205","name":"Sticky Note50"},{"parameters":{"content":"","height":216,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-624,240],"typeVersion":1,"id":"af0bb42f-b0a1-459a-92b8-68c56b43d3d7","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text, \n  app text,\n  conversation_id text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-304,288],"id":"c01dcf33-12b7-45fa-ab23-90db5d2e57a1","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"xfu8d5Swurnb9Y4c","name":"[SUPABASE] IA MODELO"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  conversation_id TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  data TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-48,288],"id":"47292d51-492f-41eb-bc88-89a6dd991af8","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"xfu8d5Swurnb9Y4c","name":"[SUPABASE] IA MODELO"}}},{"parameters":{"content":"","height":560,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1680,480],"typeVersion":1,"id":"eb583840-1c4e-4e53-87f8-795eec08eb8d","name":"Sticky Note32"},{"parameters":{"content":"# Webhook","height":80,"width":196,"color":5},"id":"ee89fe3b-812b-4756-a3e0-b9a509970c37","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,496]},{"parameters":{"content":"","height":200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-368,16],"typeVersion":1,"id":"669c53af-4d99-4132-8dc5-81d09e117461","name":"Sticky Note34"},{"parameters":{"content":"","height":560,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-704,480],"typeVersion":1,"id":"d36d95fb-7644-427e-b64b-8a046f61f762","name":"Sticky Note29"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Desativada"}]},"options":{}},"id":"8e212cd3-31ac-425e-8370-e18051cdfa57","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1520,816]},{"parameters":{"content":"# Pausa para Atendimento Humano por tempo","height":80,"width":816,"color":5},"id":"8f79efc7-b6f1-4dd5-9fed-570981faed31","name":"Sticky Note51","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-688,496]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.telefone }}_block","options":{}},"id":"6b63e075-d2b4-4048-aded-a4050fc73f92","name":"Verifica Atendimento Humano1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1264,816],"credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories;\ndelete from chats;\ndelete from dados_cliente;\ndelete from chat_messages;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-288,48],"id":"370bf93e-60bf-4726-8d38-fb50c652ba99","name":"Deleta dados","credentials":{"postgres":{"id":"xfu8d5Swurnb9Y4c","name":"[SUPABASE] IA MODELO"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json['Eu?'] }}","rightValue":"DESATIVADA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA DESATIVADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json['Eu?'] }}","rightValue":"ATIVA","operator":{"type":"string","operation":"equals"},"id":"329bbc9a-d6b6-4400-a9c2-f7745979a4ae"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Ativa"}]},"options":{}},"id":"3b5d7d43-560f-4098-afe7-8ec372f6cdcc","name":"verificar se o humano mandou mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1056,704]},{"parameters":{"operation":"set","key":"={{ $json.telefone }}_block","value":"true","keyType":"string","expire":true,"ttl":864000},"id":"d9aa5dca-69c9-4352-a295-c2d83c1032e1","name":"PARAR a IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1264,592],"alwaysOutputData":true,"credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"content":"# Gravar mensagem EU","height":280,"width":640},"type":"n8n-nodes-base.stickyNote","position":[192,144],"typeVersion":1,"id":"a1318d4a-eb30-43fb-93d2-9eb362d9bf80","name":"Sticky Note1"},{"parameters":{"workflowId":{"__rl":true,"value":"YIemOa55t2ts72NL","mode":"list","cachedResultUrl":"/workflow/YIemOa55t2ts72NL","cachedResultName":"[WILLIAM IGI] GRAVAR HISTORICO ATENDENTE IA PAUSADA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.telefone }}","messageType":"={{ $json.Type_menssage }}","id_message":"={{ $json.id_mensagem }}","message":"={{ $json.Conteudo_Mensagem }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageType","displayName":"messageType","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"base64","displayName":"base64","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_message","displayName":"id_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1600,240],"id":"6e5a83ed-fa09-4432-a33d-0b8748d7f4e3","name":"SALVAR MENSAGENS MINHAS"},{"parameters":{"content":"# Gravar mensagem USER","height":280,"width":640},"type":"n8n-nodes-base.stickyNote","position":[192,1072],"typeVersion":1,"id":"b92a8fef-bcd6-41d0-a777-4d626f59b891","name":"Sticky Note5"},{"parameters":{"workflowId":{"__rl":true,"value":"ZgPn2pucFxNU19Ym","mode":"list","cachedResultUrl":"/workflow/ZgPn2pucFxNU19Ym","cachedResultName":"[WILLIAM IGI] GRAVAR HISTORICO PACIENTE IA PAUSADA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('mapeamento de dados33').item.json.telefone }}","messageType":"={{ $('mapeamento de dados33').item.json.Type_menssage }}","id_message":"={{ $('mapeamento de dados33').item.json.id_mensagem }}","message":"={{ $('mapeamento de dados33').item.json.Conteudo_Mensagem }}","base64":"="},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageType","displayName":"messageType","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"base64","displayName":"base64","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_message","displayName":"id_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1600,1184],"id":"1453c401-3b0c-465e-a75c-212f401cf14d","name":"SALVAR MENSAGENS USER"},{"parameters":{"workflowId":{"__rl":true,"value":"vSwdFCKyWTXOCZTE","mode":"list","cachedResultUrl":"/workflow/vSwdFCKyWTXOCZTE","cachedResultName":"[Idervaldson Nardacchione] CADASTAR/CONSULTAR"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_message":"={{ $('mapeamento de dados33').item.json.id_mensagem }}","message":"={{ $('mapeamento de dados33').item.json.Conteudo_Mensagem }}","type_message":"={{ $('mapeamento de dados33').item.json.Type_menssage }}","telefone":"={{ $('mapeamento de dados33').item.json.telefone }}","url_media":"={{ $('mapeamento de dados33').item.json.ConteudoURL }}","pushName":"={{ $('mapeamento de dados33').item.json.pushName }}","descricao":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}"},"matchingColumns":[],"schema":[{"id":"id_message","displayName":"id_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type_message","displayName":"type_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_media","displayName":"url_media","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"base64_media","displayName":"base64_media","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1968,992],"id":"20a4ae8f-672a-4542-8595-e05e3ab95a52","name":"CRIAR OU PEGAR SESSION_ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9db97d3f-cf5b-49ab-956b-efbfa55c7e2a","leftValue":"={{ $json.body.payload.from }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,688],"id":"9cd53801-9a1f-4792-82ef-f6995b665f1a","name":"verificar se é grupo"},{"parameters":{"operation":"delete","key":"=559984858134_block"},"id":"370f2439-8dbd-4c4d-8aeb-6175a314e4b9","name":"PARAR a IA1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1248,320],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c41bcaf-df61-4d9d-99c8-49226a5c3378","leftValue":"={{ $json.body.payload.from }}","rightValue":"@lid","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,704],"id":"17e9087e-ceeb-4b31-b5f4-845e838d5a0d","name":"If"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories;\ndelete from chats;\ndelete from dados_cliente;\ndelete from chat_messages;\ndelete from chats;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"id":"5dafcd98-4b6d-432a-9958-9b41263f06f3","name":"Deleta dados1"},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"telefone","value":"={{ $item(\"0\").$node[\"Webhook EVO\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].split('@')[0] || '' }}","type":"string"},{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"id_mensagem","value":"={{ $item(\"0\").$node[\"Webhook EVO\"].json[\"body\"][\"data\"][\"key\"][\"id\"] || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"Type_menssage","value":"={{\n  $('Webhook EVO').first().json.body.data.message.extendedTextMessage \n    ? 'text' \n    : $('Webhook EVO').first().json.body.data.message.conversation \n      ? 'text' \n      : $('Webhook EVO').first().json.body.data.message.audioMessage \n        ? 'audio' \n        : $('Webhook EVO').first().json.body.data.message.imageMessage \n          ? 'image' \n          : $('Webhook EVO').first().json.body.data.message.videoMessage \n            ? 'video' \n            : ''\n}}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"Conteudo_Mensagem","value":"={{ $('Webhook EVO').first().json.body.data.message.extendedTextMessage || $('Webhook EVO').first().json.body.data.message.imageMessage || $('Webhook EVO').first().json.body.data.message.conversation || $('Webhook EVO').first().json.body.data.message.videoMessage || '' }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"ConteudoURL","value":"={{ $('Webhook EVO').first().json.body.data.message.audioMessage?.url ||  $('Webhook EVO').item.json.body.data.message.imageMessage?.url || $('Webhook EVO').item.json.body.data.message.videoMessage?.url || ''}}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"Eu?","value":"={{ $item(0).$node[\"Webhook EVO\"].json[\"body\"][\"data\"][\"key\"][\"fromMe\"] ? 'DESATIVADA' : 'ATIVA' }}","type":"string"},{"id":"a4b5445f-62f6-48ea-a732-3dbd023982ac","name":"pushName","value":"={{ $item(\"0\").$node[\"Webhook EVO\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"}]},"options":{}},"id":"ad9d0a47-f90e-48ab-8dd9-61286cbe34ba","name":"mapeamento de dados33","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,1200]},{"parameters":{"workflowId":{"__rl":true,"value":"JqrsK8bg5KlkR1Lj","mode":"list","cachedResultUrl":"/workflow/JqrsK8bg5KlkR1Lj","cachedResultName":"[DAMA DO GESSO] CADASTRAR/VERIFICAR"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_message":"={{ $('mapeamento de dados').item.json.id_mensagem }}","message":"={{ $('mapeamento de dados').item.json.Conteudo_Mensagem }}","type_message":"={{ $('mapeamento de dados').item.json.Type_menssage }}","telefone":"={{ $('mapeamento de dados').item.json.telefone }}","url_media":"={{ $('mapeamento de dados').item.json.ConteudoURL }}","pushName":"={{ $('mapeamento de dados').item.json.pushName }}","descricao":"={{ $('Webhook EVO').first().json.body.data.message.imageMessage.caption }}","base64_media":"={{ $('Webhook EVO').first().json.body.payload._data.body }}"},"matchingColumns":[],"schema":[{"id":"id_message","displayName":"id_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type_message","displayName":"type_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_media","displayName":"url_media","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"base64_media","displayName":"base64_media","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1856,800],"id":"654bf2d9-c55a-4af8-aec1-a3c1b7eef28e","name":"CRIAR OU PEGAR SESSION_ID1"},{"parameters":{"url":"=https://hoc80k04g0cgg4ksc0g0c8o0.medmasters.ai/api/teste_Helena/lids/{{ $json.body.payload.from }}","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,592],"id":"4c911a06-78d0-413e-b340-47426b200360","name":"HTTP Request","credentials":{"wahaApi":{"id":"7N6Qnba8NbZLvCTo","name":"WAHA - MEDMASTERS"}}},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"telefone","value":"={{\n  $('Webhook EVO').first().json.body.payload.from.includes('@lid')\n    ? $('HTTP Request').first().json.pn\n    : $('Webhook EVO').first().json.body.payload.from.split('@')[0]\n}}","type":"string"},{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"id_mensagem","value":"={{ $('Webhook EVO').first().json.body.payload.id }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"Type_menssage","value":"={{ $('Webhook EVO').first().json.body.payload._data.type }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"Conteudo_Mensagem","value":"={{ $json.body.payload.body }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"ConteudoURL","value":"={{ $('Webhook EVO').first().json.body.payload.media.url }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"Eu?","value":"={{ $('Webhook EVO').first().json.body.payload.fromMe ? 'DESATIVADA' : 'ATIVA' }}","type":"string"},{"id":"a4b5445f-62f6-48ea-a732-3dbd023982ac","name":"pushName","value":"={{ $('Webhook EVO').first().json.body.payload._data.notifyName }}","type":"string"}]},"options":{}},"id":"384a0dd5-2c10-465d-8bee-04b62e21f951","name":"mapeamento de dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,688]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e4f2bcc-e588-41a8-b407-2568ff9f9fe9","leftValue":"={{ $json.body.payload.from }}","rightValue":"status@broadcast","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,704],"id":"55df40e7-6e94-4b78-96c5-83b104e9119e","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"552d2472-1d3c-4b40-9e23-bfcdc600b025","leftValue":"={{ $json.body.payload.source }}","rightValue":"api","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,688],"id":"349d89b6-5d6d-4b1f-8232-a7f897c20fd0","name":"If2"}],"connections":{"Webhook EVO":{"main":[[{"node":"If2","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"CRIAR OU PEGAR SESSION_ID1","type":"main","index":0}]]},"Verifica Atendimento Humano1":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"verificar se o humano mandou mensagem":{"main":[[{"node":"PARAR a IA","type":"main","index":0}],[{"node":"Verifica Atendimento Humano1","type":"main","index":0}]]},"verificar se é grupo":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"mapeamento de dados","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"mapeamento de dados","type":"main","index":0}]]},"mapeamento de dados":{"main":[[{"node":"verificar se o humano mandou mensagem","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"verificar se é grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook EVO":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"WAHA/2025.11.1","content-length":"4417","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"77.237.235.159","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cac4f4f44af1","x-real-ip":"77.237.235.159","x-webhook-request-id":"01KAYGEVK0JH9FX2G0VFW0Z1WY","x-webhook-timestamp":"1764107972192"},"params":{},"query":{},"body":{"id":"evt_01kaygevk0bndhfxdh8b2p8va6","timestamp":1764107972192,"event":"message.any","session":"teste_Helena","metadata":{},"me":{"id":"5511913987233@c.us","pushName":"INFRADEV"},"payload":{"id":"false_555197519127@c.us_3EB0EEC5293DB1847D33A8","timestamp":1764107971,"from":"555197519127@c.us","fromMe":false,"source":"app","to":"5511913987233@c.us","body":"","hasMedia":true,"media":{"url":"https://hoc80k04g0cgg4ksc0g0c8o0.medmasters.ai/api/files/teste_Helena/false_555197519127@c.us_3EB0EEC5293DB1847D33A8.oga","filename":null,"mimetype":"audio/ogg; codecs=opus"},"ack":1,"ackName":"SERVER","vCards":[],"_data":{"id":{"fromMe":false,"remote":"555197519127@c.us","id":"3EB0EEC5293DB1847D33A8","_serialized":"false_555197519127@c.us_3EB0EEC5293DB1847D33A8"},"viewed":false,"type":"ptt","t":1764107971,"clientReceivedTsMillis":1764107970625,"notifyName":"Willian Macedo ","from":"555197519127@c.us","to":"5511913987233@c.us","ack":1,"invis":false,"isNewMsg":true,"star":false,"kicNotified":false,"recvFresh":true,"deprecatedMms3Url":"https://mmg.whatsapp.net/v/t62.7117-24/590103087_2049396329138639_5193670230770758694_n.enc?ccb=11-4&oh=01_Q5Aa3AF_eESMz6b8cvnMzPZxu7FNUc-LdApMUyJWv2Ad9H-7ww&oe=694D90B6&_nc_sid=5e03e0&mms3=true","directPath":"/v/t62.7117-24/590103087_2049396329138639_5193670230770758694_n.enc?ccb=11-4&oh=01_Q5Aa3AF_eESMz6b8cvnMzPZxu7FNUc-LdApMUyJWv2Ad9H-7ww&oe=694D90B6&_nc_sid=5e03e0","mimetype":"audio/ogg; codecs=opus","duration":"8","filehash":"a3HgO2CNhlmi8sSrh+/FPI/SdfSNzH8ZabgSCZDCftU=","encFilehash":"yWcDASyVCt2JwHA9OebFGDfpzLWYjdNwQouZUWfLR9g=","size":15070,"mediaKey":"Jc7gB+pBSuEuq8bzJbrvZ4ty7cpxRRMcDiv/34rsSiA=","mediaKeyTimestamp":1764107969,"isViewOnce":false,"waveform":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":27,"6":0,"7":0,"8":88,"9":77,"10":66,"11":44,"12":40,"13":67,"14":75,"15":75,"16":58,"17":56,"18":63,"19":66,"20":60,"21":62,"22":63,"23":64,"24":72,"25":54,"26":74,"27":70,"28":72,"29":52,"30":60,"31":73,"32":55,"33":52,"34":83,"35":77,"36":39,"37":0,"38":0,"39":0,"40":0,"41":0,"42":41,"43":61,"44":77,"45":70,"46":46,"47":42,"48":52,"49":52,"50":89,"51":65,"52":81,"53":74,"54":67,"55":60,"56":45,"57":52,"58":67,"59":54,"60":0,"61":0,"62":0,"63":0},"isFromTemplate":false,"isAdsMedia":false,"pollInvalidated":false,"isSentCagPollCreation":false,"latestEditMsgKey":null,"latestEditSenderTimestampMs":null,"mentionedJidList":[],"groupMentions":[],"isEventCanceled":false,"eventInvalidated":false,"isVcardOverMmsDocument":false,"questionReplyQuotedMessage":null,"questionResponsesCount":0,"readQuestionResponsesCount":0,"labels":[],"hasReaction":false,"disappearingModeInitiator":"chat","disappearingModeTrigger":"chat_settings","viewMode":"VISIBLE","messageSecret":{"0":225,"1":185,"2":193,"3":122,"4":143,"5":217,"6":19,"7":230,"8":156,"9":67,"10":169,"11":135,"12":129,"13":151,"14":86,"15":108,"16":73,"17":220,"18":110,"19":109,"20":151,"21":32,"22":105,"23":224,"24":7,"25":162,"26":205,"27":8,"28":164,"29":3,"30":97,"31":75},"productHeaderImageRejected":false,"lastPlaybackProgress":0,"isDynamicReplyButtonsMsg":false,"isCarouselCard":false,"parentMsgId":null,"callSilenceReason":null,"isVideoCall":false,"callDuration":null,"callCreator":null,"callParticipants":null,"isCallLink":null,"callLinkToken":null,"isMdHistoryMsg":false,"stickerSentTs":0,"isAvatar":false,"lastUpdateFromServerTs":0,"invokedBotWid":null,"bizBotType":null,"botResponseTargetId":null,"botPluginType":null,"botPluginReferenceIndex":null,"botPluginSearchProvider":null,"botPluginSearchUrl":null,"botPluginSearchQuery":null,"botPluginMaybeParent":false,"botReelPluginThumbnailCdnUrl":null,"botMessageDisclaimerText":null,"botMsgBodyType":null,"reportingTokenInfo":{"reportingToken":{"0":187,"1":11,"2":83,"3":13,"4":137,"5":222,"6":251,"7":191,"8":201,"9":190,"10":97,"11":77,"12":233,"13":108,"14":248,"15":44},"version":2,"reportingTag":{"0":1,"1":13,"2":201,"3":209,"4":165,"5":80,"6":92,"7":213,"8":169,"9":17,"10":236,"11":93,"12":167,"13":239,"14":199,"15":150,"16":211,"17":185,"18":142,"19":231}},"requiresDirectConnection":null,"bizContentPlaceholderType":null,"hostedBizEncStateMismatch":false,"senderOrRecipientAccountTypeHosted":false,"placeholderCreatedWhenAccountIsHosted":false,"groupHistoryBundleMessageKey":null,"groupHistoryBundleMetadata":null,"links":[]}},"engine":"WEBJS","environment":{"version":"2025.11.1","engine":"WEBJS","tier":"PLUS","browser":"/usr/bin/chromium"}},"webhookUrl":"https://api.infradevcloud.com/webhook/helena-teste","executionMode":"production"}}]},"versionId":"7a6ba2b4-21b1-4bb3-a2b7-42fc9bbb4454","triggerCount":1,"shared":[{"createdAt":"2025-11-19T19:54:50.212Z","updatedAt":"2025-11-19T19:54:50.212Z","role":"workflow:owner","workflowId":"mxgrpTifsh1VZlVC","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}