[ia-para-medicos]-tratar-mensagens-picadas-CaLRRyEDQ9rLY7jj.json
{"createdAt":"2025-10-02T02:40:09.023Z","updatedAt":"2025-10-02T14:52:14.731Z","id":"CaLRRyEDQ9rLY7jj","name":"[IA PARA MEDICOS] TRATAR MENSAGENS PICADAS","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"push","list":"={{ $json.telefone }}","messageData":"={{ $json.message_content }}","tail":true},"id":"e241fa03-c8c9-43f4-86e4-90c11ecf640c","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[320,480],"credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"amount":10},"id":"768969aa-3f90-461e-9ed6-0e43ec4eabeb","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,480],"webhookId":"28a47839-e889-4198-9267-5da6eadf021e"},{"parameters":{"operation":"get","key":"={{ $json.telefone }}","options":{}},"id":"bdfb1ff5-b682-44fc-86ff-5c0cfb295a3e","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[736,480],"credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21fd20d7-f940-4a66-91d5-5ea4c031bb50","leftValue":"={{ $json.propertyName.last() }}","rightValue":"={{ $('RECEBE DADOS').item.json.message_content }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"34c14d67-9d8d-4e96-9770-e3af732f6dff","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,480]},{"parameters":{},"id":"8906446e-4386-4925-9034-46edbd80598c","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,560]},{"parameters":{"assignments":{"assignments":[{"id":"37f63b88-4a52-4421-aa95-db9114e521bc","name":"listaMensagens","value":"={{ \n  $json.propertyName.map((msg, i) => i === 0 ? msg : msg.replace(/\\[MENSAGEM DE TEXTO ENVIADA\\]:\\s*/g, '')).join(', ') \n}}\n","type":"string"}]},"options":{}},"id":"381ff8a4-ad04-4aea-9c46-6767a2d6d215","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,336]},{"parameters":{"operation":"delete","key":"={{ $('RECEBE DADOS').item.json.telefone }}"},"id":"b3eae625-b663-4105-8157-9726d4aff6bf","name":"Redis2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1440,336],"credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"content":"# TRATAS AS MENSAGENS PICADAS","height":940,"width":1700,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"5570554a-feb8-414e-b6e9-f07623219a32","name":"Sticky Note17"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[80,480],"id":"8e80c709-6d5e-4c31-8e66-584e13e607ad","name":"RECEBE DADOS"},{"parameters":{"assignments":{"assignments":[{"id":"69918e5c-6cbf-44a1-a0a8-e6bdd9646860","name":"text","value":"={{ $json.listaMensagens }}","type":"string"},{"id":"d5f56632-01ff-492a-98f1-c4f4dd7cc601","name":"session_id","value":"={{ $('RECEBE DADOS').item.json.sessionid }}","type":"string"},{"id":"364282a1-77af-4add-b5be-040cbcc4d4ee","name":"telefone","value":"={{ $('RECEBE DADOS').item.json.telefone }}","type":"string"},{"id":"e4e8b549-769f-4ce9-84e2-395f2398bde2","name":"type_message","value":"={{ $('RECEBE DADOS').item.json.type_message }}","type":"string"},{"id":"fb1556f2-f264-4b21-bd21-7165ad9eff4e","name":"pushName","value":"={{ $('RECEBE DADOS').item.json.pushName }}","type":"string"},{"id":"290c8665-be23-47cf-8ccb-90c2a2c887f0","name":"id_message","value":"={{ $('RECEBE DADOS').item.json.id_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,336],"id":"20f8f09a-1363-407c-94f1-dde0b7ea2763","name":"Config"},{"parameters":{"content":"# MAPEAR OS DADOS E ENVIAR PARA A IA","height":940,"width":1140},"type":"n8n-nodes-base.stickyNote","position":[1760,0],"typeVersion":1,"id":"b105e25b-b2ec-4211-8760-ba4367ea8964","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"D6wHKIaAyIEBpEXu","mode":"list","cachedResultName":"[IA PARA MEDICOS] FIRST IA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2400,336],"id":"df513dcf-df32-4264-a149-586415287b40","name":"ENVIAR PARA A IA"}],"connections":{"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Config","type":"main","index":0}]]},"RECEBE DADOS":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Config":{"main":[[{"node":"ENVIAR PARA A IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RECEBE DADOS":[{"json":{"message_content":"[MENSAGEM DE TEXTO ENVIADA]: (Teste\n)","telefone":"957672361","sessionid":"41a2474c-6a18-4a1c-8113-3ecd37ea9e7d","id_message":"39","type_message":"private","url_media":null,"base64_media":null}}]},"versionId":"7f59825c-3961-4c58-b6fd-2bf23b329d2c","triggerCount":0,"shared":[{"createdAt":"2025-10-02T02:40:09.023Z","updatedAt":"2025-10-02T02:40:09.023Z","role":"workflow:owner","workflowId":"CaLRRyEDQ9rLY7jj","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}