[ia-para-medicos]-verificar-tipo-mensagem-frWblQhv0IifmU0o.json
{"createdAt":"2025-10-02T02:39:21.725Z","updatedAt":"2025-10-15T20:45:30.630Z","id":"frWblQhv0IifmU0o","name":"[IA PARA MEDICOS] VERIFICAR TIPO MENSAGEM","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# VERIFICAR O TIPO DA MENSAGEM","height":540,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1392,752],"typeVersion":1,"id":"cea3b56f-f4be-4ec5-96de-bc6a7603596b","name":"Sticky Note20"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1280,992],"id":"3ee6d7ed-90e4-48a6-9e06-231e6292ee08","name":"RECEBE DADOS"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $json.type_message }}","rightValue":"chat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.type_message }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $json.type_message }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ed941dd1-0543-4bc4-a1d1-ed3e9b1e712b","leftValue":"={{ $json.type_message }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"952acf3b-2cef-4ab3-b215-bd2703bc663e","leftValue":"={{ $json.type_message }}","rightValue":"private","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"private"}]},"options":{}},"id":"ca3006a8-0f84-4836-b1f2-82c1478f97da","name":"verificar o caminho","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1024,944]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"9f0f0f80-0ab3-4bab-8bea-aea22d29fcc3","name":"CONVERTER EM ARQUIVO","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,192],"onError":"continueErrorOutput"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"testeagente","messageId":"={{ $('RECEBE DADOS').item.json.id_message }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,384],"id":"f691f7ef-f7f9-4902-8b82-2cce3483bb2c","name":"PEGAR A BASE64 CASO NÃO VENHA","credentials":{"evolutionApi":{"id":"rVCPNltywu7cWAFR","name":"Evolution account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"6fa51b12-09a3-46c7-af4a-dce2a68b0733","name":"data","value":"={{ $json.data.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,240],"id":"717a530b-13d0-47e1-baf1-27527cc5ab74","name":"PEGAR A BASE"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"ddcb7a9d-cbeb-4080-84ee-d16fbd012445","name":"Converte o arquivo","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,240],"onError":"continueErrorOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"82033017-5a4c-4058-8519-bbcbd3e0d22d","name":"transcrever o audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1408,160],"credentials":{"openAiApi":{"id":"ScqsAD8O3SwQfUGc","name":"INFRADEV"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $json.base64_media }}","type":"string"}]},"options":{}},"id":"dc0d5e3b-2468-4ed8-b112-b2c92860acc7","name":"PEGAR A BASE64 DO AUDIO","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,192]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $json.base64_media }}","type":"string"}]},"options":{}},"id":"0b06655b-f4d8-4629-8707-de6b1636cc6b","name":"PEGAR BASE64 DA IMAGEM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,832]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"bc1dad2a-cc35-4836-90c1-182f60f91d25","name":"CONVERTER PARA ARQUIVO","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[464,832],"onError":"continueErrorOutput"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva todo o conteudo da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"5b91fac7-2d28-4d21-a5cd-e18fc4b4dd84","name":"COLETAR O CONTEUDO DA IMAGEM","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1504,800],"credentials":{"openAiApi":{"id":"CTMpiiF2zxl00KmT","name":"OpenAi account"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"testeagente","messageId":"={{ $('RECEBE DADOS').item.json.id_message }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[672,1072],"id":"551176ce-6305-4212-a345-ea59ff0304d2","name":"PEGAR A BASE64 CASO NÃO VENHA1","credentials":{"evolutionApi":{"id":"rVCPNltywu7cWAFR","name":"Evolution account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $json.data.base64 }}","type":"string"}]},"options":{}},"id":"db4f8182-ccb9-418d-b139-6d869ccd4df4","name":"PEGAR BASE64 DA IMAGEM1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,912]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"f4675e3a-46b5-4a0d-8bac-2d7a07de75dc","name":"CONVERTER PARA ARQUIVO1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,912],"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"CaLRRyEDQ9rLY7jj","mode":"list","cachedResultName":"[IA PARA MEDICOS] TRATAR MENSAGENS PICADAS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3088,928],"id":"273460c3-ea14-4dae-bd51-6b2a43aaf7f6","name":"TRATAR MENSAGENS PICADAS"},{"parameters":{"content":"# IMAGEM","height":620,"width":1900},"type":"n8n-nodes-base.stickyNote","position":[0,704],"typeVersion":1,"id":"b495848c-8c33-481c-b216-42cbfe7ea360","name":"Sticky Note"},{"parameters":{"content":"# AUDIO","height":620,"width":1900},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"507010e8-f156-43c4-9b07-fdaf946d6cf8","name":"Sticky Note2"},{"parameters":{"content":"# TRATAR MENSAGEM PICADA","height":680,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2480,608],"typeVersion":1,"id":"8b98bef0-7e57-4a85-a7fd-5394265106e8","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"bff91a9c-3ba4-4fac-8b8a-6a1ed13bb4b9","name":"message_content","value":"={{\n  $json.mensagem\n    ? \"[MENSAGEM DE TEXTO ENVIADA]: (\" + $json.mensagem + \")\"\n    : $json.content\n      ? \"[IMAGEM ENVIADA]: (\" + $json.content + \" [DESCRIÇÃO DA IMAGEM ENVIADA]: \" + $('RECEBE DADOS').item.json.descricao + \")\"\n      : $json.message_content\n        ? \"(\" + $json.message_content + \")\"\n        : $json.Video\n          ? \"[VÍDEO ENVIADO]: (\" + $json.Video + \")\"\n          : $json.AUDIO\n            ? \"[AUDIO ENVIADO]: (\" + $json.AUDIO + \")\"\n            : \"\"\n}}","type":"string"},{"id":"14ddd8dd-3b71-452a-bf47-509711010f4d","name":"telefone","value":"={{ $('RECEBE DADOS').item.json.telefone }}","type":"string"},{"id":"17c0d63c-7617-4f33-9acd-eada1617feba","name":"sessionid","value":"={{ $('RECEBE DADOS').item.json.sessionid }}","type":"string"},{"id":"3f9f80b1-e7ea-4341-9737-fc8fce6be122","name":"id_message","value":"={{ $('RECEBE DADOS').item.json.id_message }}","type":"string"},{"id":"4b2bb9f8-e471-415c-b3e3-2ae6533601e9","name":"type_message","value":"={{ $('RECEBE DADOS').item.json.type_message }}","type":"string"},{"id":"c4b82897-029f-4f06-9a61-e16c87c23e61","name":"url_media","value":"={{ $('RECEBE DADOS').item.json.url_media }}","type":"string"},{"id":"e4dbbd20-eaa4-4113-9f35-8d59182f2d46","name":"base64_media","value":"={{ $('RECEBE DADOS').item.json.base64_media }}","type":"string"},{"id":"4627f29d-b3fa-4b91-acb1-7e87ad320432","name":"pushName","value":"={{ $('RECEBE DADOS').item.json.pushName }}","type":"string"}]},"options":{}},"id":"d1653059-8c27-4c8d-aa6c-b86da9c05233","name":"Pegar a mensagem1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,928]},{"parameters":{"assignments":{"assignments":[{"id":"e3f9df7c-178d-4e50-b47b-1be4e5afc5a7","name":"AUDIO","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,160],"id":"75e38f38-df7b-44a6-ab7c-f405a50c688b","name":"FORMART RESPONSE AUDIO"}],"connections":{"RECEBE DADOS":{"main":[[{"node":"verificar o caminho","type":"main","index":0}]]},"verificar o caminho":{"main":[[{"node":"Pegar a mensagem1","type":"main","index":0}],[{"node":"PEGAR A BASE64 DO AUDIO","type":"main","index":0}],[{"node":"PEGAR BASE64 DA IMAGEM","type":"main","index":0}],[],[{"node":"Pegar a mensagem1","type":"main","index":0}]]},"CONVERTER EM ARQUIVO":{"main":[[{"node":"transcrever o audio","type":"main","index":0}],[{"node":"PEGAR A BASE64 CASO NÃO VENHA","type":"main","index":0}]]},"PEGAR A BASE64 CASO NÃO VENHA":{"main":[[{"node":"PEGAR A BASE","type":"main","index":0}]]},"PEGAR A BASE":{"main":[[{"node":"Converte o arquivo","type":"main","index":0}]]},"Converte o arquivo":{"main":[[{"node":"transcrever o audio","type":"main","index":0}]]},"transcrever o audio":{"main":[[{"node":"FORMART RESPONSE AUDIO","type":"main","index":0}]]},"PEGAR A BASE64 DO AUDIO":{"main":[[{"node":"CONVERTER EM ARQUIVO","type":"main","index":0}]]},"PEGAR BASE64 DA IMAGEM":{"main":[[{"node":"CONVERTER PARA ARQUIVO","type":"main","index":0}]]},"CONVERTER PARA ARQUIVO":{"main":[[{"node":"COLETAR O CONTEUDO DA IMAGEM","type":"main","index":0}],[{"node":"PEGAR A BASE64 CASO NÃO VENHA1","type":"main","index":0}]]},"COLETAR O CONTEUDO DA IMAGEM":{"main":[[{"node":"Pegar a mensagem1","type":"main","index":0}]]},"PEGAR A BASE64 CASO NÃO VENHA1":{"main":[[{"node":"PEGAR BASE64 DA IMAGEM1","type":"main","index":0}]]},"PEGAR BASE64 DA IMAGEM1":{"main":[[{"node":"CONVERTER PARA ARQUIVO1","type":"main","index":0}]]},"CONVERTER PARA ARQUIVO1":{"main":[[{"node":"COLETAR O CONTEUDO DA IMAGEM","type":"main","index":0}]]},"Pegar a mensagem1":{"main":[[{"node":"TRATAR MENSAGENS PICADAS","type":"main","index":0}]]},"FORMART RESPONSE AUDIO":{"main":[[{"node":"Pegar a mensagem1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RECEBE DADOS":[{"json":{"mensagem":"oie","sessionid":"e73d5a7e-f9f7-46de-9d29-2aa829756a62","id_message":"3B8A3CECDC259D74C5F0","type_message":"chat","url_media":null,"base64_media":"oie","telefone":"5519981941604","pushName":"Guilherme Barros","descricao":null}}]},"versionId":"82f08e78-79d9-4850-a293-0b6226a5261b","triggerCount":0,"shared":[{"createdAt":"2025-10-02T02:39:21.725Z","updatedAt":"2025-10-02T02:39:21.725Z","role":"workflow:owner","workflowId":"frWblQhv0IifmU0o","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}