[jhonata-teixeira]-[tmap]-negócio-digital-lucrativo-A60ZeDYEolaAQtMH.json
{"createdAt":"2025-11-25T21:32:26.014Z","updatedAt":"2025-11-26T01:22:50.868Z","id":"A60ZeDYEolaAQtMH","name":"[Jhonata Teixeira] [TMAP] Negócio Digital Lucrativo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"captura-jhonata-teixeira","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"2f1d6a0a-7f70-4382-9bdc-b7f010eb7edc","name":"Webhook","webhookId":"036aa187-54e0-46c2-ae55-2ef58009d3db"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1lNMsQcdLw8tuVrwvh4vVcYBisGxtJgTr9hjfEgSkSuw/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"POPUP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lNMsQcdLw8tuVrwvh4vVcYBisGxtJgTr9hjfEgSkSuw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Nome":"={{ $json.body['fields[name][value]'] }}","Telefone":"={{\n  (function() {\n    let num = $json.body['fields[phone][value]'] + '';\n\n    // remove tudo que não for número\n    num = num.replace(/[^0-9]/g, '');\n\n    // remove 55 se já veio no início\n    if (num.startsWith('55')) {\n      num = num.slice(2);\n    }\n\n    // remove zero extra antes do DDD (ex: 011 -> 11)\n    if (num.length >= 11 && num[0] === '0') {\n      num = num.slice(1);\n    }\n\n    return '55' + num;\n  })()\n}}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"917f97e9-04e6-4646-a6fd-9c567361fa3f","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/359631c7-49ea-492a-a31b-f276bccb58dc","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('Webhook').item.json.body['fields[name][value]'] }}"},{"name":"telefone","value":"={{ $('Webhook').item.json.body['fields[phone][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"44a907dc-79bc-4726-aca6-e32fd9d9c8b0","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e75afc28-c693-4e90-a76f-126a0f9480c8","triggerCount":1,"shared":[{"createdAt":"2025-11-25T21:32:26.014Z","updatedAt":"2025-11-25T21:32:26.014Z","role":"workflow:owner","workflowId":"A60ZeDYEolaAQtMH","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}