[karine]envio-manual-|-capt_2---fluxo-de-boas-vindas-(manychat-+-api)-gnJRsFf0kRi0McgI.json
{"createdAt":"2025-06-03T12:53:59.984Z","updatedAt":"2025-06-03T12:54:07.848Z","id":"gnJRsFf0kRi0McgI","name":"[KARINE]ENVIO MANUAL | CAPT_2 - Fluxo de Boas Vindas (Manychat + API)","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"[L110525] - APA - Leads","options":{"arguments":{"argument":[{"key":"x-queue-typjh","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":3}},"id":"ede52a77-472a-41b1-89cd-359d96d2be98","name":"chega_da_fila","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-40,460]},{"parameters":{"assignments":{"assignments":[{"id":"01ae3ba3-8aab-4f9e-aeed-2a1977183633","name":"email","value":"={{ $node[\"chega_da_fila\"].json[\"email\"] }}","type":"string"},{"id":"2a63556c-f48a-4596-8e0d-bf7321e5ea09","name":"whatsapp","value":"={{ \n  $node[\"chega_da_fila\"].json[\"whatsapp\"]\n    .replace(/\\D/g, \"\")                      // Remove tudo que não for número\n    .replace(/^55/, \"\")                      // Se já começa com 55, tira\n    .replace(/^/, \"55\")                      // Adiciona 55 no início\n}}","type":"string"}]},"options":{}},"id":"fc401e4f-a9f8-4f83-a627-6d1a53e1ef96","name":"ajusta_dados","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[320,460]},{"parameters":{"content":"","height":357.03627147095585,"width":738.4548534235487,"color":4},"id":"93ef37a9-5fbc-4c2f-a4c2-36a0f118bbc6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"amount":0.5},"id":"de5eb404-04cb-492d-9316-faf750e660f7","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[140,460],"webhookId":"44b71a81-1f48-4173-9872-18427e2b1e7d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"edb18fed-dc69-448a-ab79-c762d7f08ec8","leftValue":"={{ $json.messageType }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"b6fae4fe-20a3-4ed7-8ba2-3b82e7139b9e","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"d76105de-a52c-4959-8077-301f564292fb","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2720,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"edb18fed-dc69-448a-ab79-c762d7f08ec8","leftValue":"={{ $json.messageType }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"849d13fd-f30d-4da9-ad0f-f42900c06733","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[3220,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"edb18fed-dc69-448a-ab79-c762d7f08ec8","leftValue":"={{ $json.messageType }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c50386c7-cad7-476f-a861-9c2481dd7af0","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[3220,500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"edb18fed-dc69-448a-ab79-c762d7f08ec8","leftValue":"={{ $json.messageType }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"43201f2c-13d7-41f2-ba0e-3c5e719e4bad","name":"If4","type":"n8n-nodes-base.if","typeVersion":2,"position":[3240,680]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"edb18fed-dc69-448a-ab79-c762d7f08ec8","leftValue":"={{ $json.messageType }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"877c6a15-64cb-44cd-88e3-eb53c5f97480","name":"If5","type":"n8n-nodes-base.if","typeVersion":2,"position":[3240,860]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250223112510_729185"},{"name":"subscriber_id","value":"={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"}]},"options":{}},"id":"a9440a90-8e8c-4dc2-8735-b348ac96b595","name":"envia_fluxo_boas_vindas6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3620,1100],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return [{\n  messageType: Math.floor(Math.random() *6) + 1\n}];\n"},"id":"fb068f05-2966-44de-b952-e2cb25cd103f","name":"Número aleatório 1--6","type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,480]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"has_opt_in_sms","value":"true"},{"name":"has_opt_in_email","value":"true"},{"name":"consent_phrase","value":"Olá, aqui é a Karine Waldrich. Posso ter seu contato?"},{"name":"phone","value":"={{ $node[\"ajusta_dados\"].json[\"whatsapp\"] }}"},{"name":"email","value":"={{ $node[\"ajusta_dados\"].json[\"email\"] }}"},{"name":"whatsapp_phone","value":"={{ $node[\"ajusta_dados\"].json[\"whatsapp\"] }}"}]},"options":{}},"id":"64fb70f9-5e8c-42f1-ab1f-bcbff88eb22d","name":"cria_contato_manychat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1920,120],"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findBySystemField","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $node[\"chega_da_fila\"].json[\"email\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"93d11756-2d38-436d-9b76-bf353358122f","name":"procura_id_manychat_pelo_email","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1160,400]},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12535146"},{"name":"field_value","value":"={{ $node[\"ajusta_dados\"].json[\"whatsapp\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"b2857144-37c5-4573-b265-1453bf5975fb","name":"procura_id_manychat_pelo_telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,520]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"06d45599-6400-4116-8c97-62bf7a65d4ef","name":"nao_encontrou_telefone","type":"n8n-nodes-base.if","typeVersion":1,"position":[1180,880]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_email\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"20c8b3d0-eac9-4cc0-ac62-492321826b0e","name":"nao_encontrou_email","type":"n8n-nodes-base.if","typeVersion":1,"position":[1320,620]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250223132832_24184"},{"name":"subscriber_id","value":"={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"}]},"options":{}},"id":"07d076ed-dac0-4008-a044-7d66aef9ba33","name":"GP1030_NN0_envia_fluxo_boas_vindas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3180,120],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250223184117_057396"},{"name":"subscriber_id","value":"={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"}]},"options":{}},"id":"9a3a1956-a222-4896-bd86-f164d8a34d0d","name":"GP1038_NN1_envia_fluxo_boas_vindas1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3640,280],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250214122542_238148"},{"name":"subscriber_id","value":"={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"}]},"options":{}},"id":"72d73414-8075-48be-a5be-1e22423580e5","name":"GP1041_NN2_envia_fluxo_boas_vindas3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3620,480],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250223184337_682651"},{"name":"subscriber_id","value":"={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"}]},"options":{}},"id":"4b6e28d2-7025-4245-ac75-6bd03a01f3e7","name":"GP1023_NN5_envia_fluxo_boas_vindas4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3620,680],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250223132029_571606"},{"name":"subscriber_id","value":"={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"}]},"options":{}},"id":"9ae4f48f-0732-42e2-949f-671608f1bd79","name":"GP1033_NN6_envia_fluxo_boas_vindas5","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3620,860],"onError":"continueErrorOutput"}],"connections":{"chega_da_fila":{"main":[[{"node":"Wait","type":"main","index":0}]]},"ajusta_dados":{"main":[[{"node":"procura_id_manychat_pelo_telefone","type":"main","index":0}]]},"Wait":{"main":[[{"node":"ajusta_dados","type":"main","index":0}]]},"If1":{"main":[[{"node":"GP1030_NN0_envia_fluxo_boas_vindas","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"GP1038_NN1_envia_fluxo_boas_vindas1","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"GP1041_NN2_envia_fluxo_boas_vindas3","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"GP1023_NN5_envia_fluxo_boas_vindas4","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"If5":{"main":[[{"node":"GP1033_NN6_envia_fluxo_boas_vindas5","type":"main","index":0}],[{"node":"envia_fluxo_boas_vindas6","type":"main","index":0}]]},"Número aleatório 1--6":{"main":[[{"node":"If1","type":"main","index":0}]]},"cria_contato_manychat":{"main":[[{"node":"Número aleatório 1--6","type":"main","index":0}]]},"procura_id_manychat_pelo_email":{"main":[[{"node":"nao_encontrou_email","type":"main","index":0}]]},"procura_id_manychat_pelo_telefone":{"main":[[{"node":"nao_encontrou_telefone","type":"main","index":0}]]},"nao_encontrou_telefone":{"main":[[{"node":"procura_id_manychat_pelo_email","type":"main","index":0}],[{"node":"Número aleatório 1--6","type":"main","index":0}]]},"nao_encontrou_email":{"main":[[{"node":"cria_contato_manychat","type":"main","index":0}],[{"node":"Número aleatório 1--6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"chega_da_fila":[{"json":{"email":"edneijustino@hotmail.com","whatsapp":"(83) 98709-4829"}}]},"versionId":"ef897eb1-f85e-4f8c-ba33-412c9a9a0a15","triggerCount":0,"shared":[{"createdAt":"2025-06-03T12:53:59.984Z","updatedAt":"2025-06-03T12:53:59.984Z","role":"workflow:owner","workflowId":"gnJRsFf0kRi0McgI","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}