[karine][pp]-adição-ao-pipedrive-(consome-fila)-e5rIDqM704jwJCsB.json
{"createdAt":"2025-06-02T20:34:44.968Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"e5rIDqM704jwJCsB","name":"[KARINE][PP] Adição ao Pipedrive (consome fila)","active":false,"isArchived":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1gWjo6PQaBh2nDrRhBBauOu9L-VnfBk-e2YIYtlqZmdA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gWjo6PQaBh2nDrRhBBauOu9L-VnfBk-e2YIYtlqZmdA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"email\"] || 'sem email' }}"}]},"options":{}},"id":"57e9d9ee-bb2b-47bb-993b-6cb26be534f0","name":"pesquisa_no_sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[420,400],"alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b66e3516-3d21-4653-99af-dffff1bbb7b8","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0c5fa001-5281-47bf-b412-42c994032bb1","name":"tem_email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1100,380]},{"parameters":{"resource":"person","operation":"search","term":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"email\"] }}","additionalFields":{"fields":"email"}},"id":"6fd457b2-5ab2-4383-9f26-3229b5cfae9b","name":"procura_pessoa_pelo_email","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-760,80],"alwaysOutputData":true},{"parameters":{"resource":"person","operation":"search","term":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"telefone\"] }}","additionalFields":{"fields":"email"}},"id":"79a23e70-e370-4366-b468-0d413d99291c","name":"procura_pessoa_pelo_telefone","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-760,560],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"48b5c5a0-1703-48e2-b071-7222598e1c08","name":"pessoa_existe?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-520,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_email\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"52d3fbd7-2c08-4e34-a15a-857336599e2e","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-520,80]},{"parameters":{"resource":"person","name":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}","additionalFields":{"email":["={{ $item(\"0\").$node[\"Normaliza\"].json[\"email\"] }}"],"phone":["={{ $item(\"0\").$node[\"Normaliza\"].json[\"telefone\"] }}"]}},"id":"64db8676-66da-410c-8ca8-8fd04bf13c49","name":"cria_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,0]},{"parameters":{"resource":"person","name":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}","additionalFields":{"email":[],"phone":["={{ $item(\"0\").$node[\"Normaliza\"].json[\"telefone\"] }}"]}},"id":"9fdaaf54-7ae7-42fe-90fe-2e7e666eeb40","name":"cria_pessoa1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-40,660]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"793d5083-f531-4652-87db-57a3a9f73005","leftValue":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Lead Pipedrive\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6dffe3a9-8d44-443b-9c8e-debc70d00417","name":"lead_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[840,400]},{"parameters":{"resource":"lead","operation":"update","leadId":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Lead Pipedrive\"] }}","updateFields":{}},"id":"52efe4c6-d884-40d3-810b-25540f286611","name":"atualiza_lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1060,240]},{"parameters":{"resource":"lead","title":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}","associateWith":"person","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","additionalFields":{}},"id":"9b0b5e34-88bf-4f54-892b-9bc9833044de","name":"cria_lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1060,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"793d5083-f531-4652-87db-57a3a9f73005","leftValue":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"].toString() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f1d2809a-0e5c-4cbf-9fc4-fce454057413","name":"deal_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1440,400]},{"parameters":{"operation":"update","dealId":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"] }}","updateFields":{"currency":"BRL","user_id":"={{ $node[\"Definir Atendente Comercial\"].json[\"id_atendente\"] }}","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","stage_id":72,"title":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}"}},"id":"22083f26-1a1b-473a-a4ba-6b7d5895fcb9","name":"atualiza_deal_qualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1760,220]},{"parameters":{"title":"=[PP] {{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}","associateWith":"person","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","additionalFields":{"currency":"BRL","stage_id":72,"status":"open","user_id":"={{ $node[\"Definir Atendente Comercial\"].json[\"id_atendente\"] }}"}},"id":"ddeec8a1-1e86-4f4d-9912-0e54e2da417a","name":"cria_deal_qualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1760,500]},{"parameters":{"jsCode":"let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"},"id":"127a780f-62b7-41aa-bdd9-4bc2b428e1fb","name":"insere_id","type":"n8n-nodes-base.code","typeVersion":2,"position":[180,400]},{"parameters":{"assignments":{"assignments":[{"id":"7f87ad29-a4bd-4a36-a98d-f559d5bdbcc0","name":"id_atendente","value":"={{ Math.random() < 0.5 ? 21330817 : 21963603 }}","type":"number"}]},"options":{}},"id":"783239d8-534c-4628-93a8-bd28ee360e78","name":"Definir Atendente Comercial","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,400]},{"parameters":{"assignments":{"assignments":[{"id":"989f008c-1952-419c-9684-963fe46c9024","name":"nome","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"contact\"][\"name\"] }}","type":"string"},{"id":"e375eee0-83c8-4b3b-9915-b3663fd2be38","name":"email","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"contact\"][\"email\"] }}","type":"string"},{"id":"edcdb3a2-5073-411f-a025-3c9abbf3106f","name":"telefone","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"contact\"][\"phone_number\"] }}","type":"string"}]},"options":{}},"id":"457fcdf2-4a29-44aa-8310-b4767b3a426a","name":"Normaliza","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1340,380]},{"parameters":{"queue":"[PP] Adiciona ao pipedrive","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"onlyContent":true,"parallelMessages":1}},"id":"4951a402-a643-4613-8819-42cd2dbba0bb","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1520,380]},{"parameters":{"assignments":{"assignments":[{"id":"caf552e6-0cb3-4a12-be82-0096f45d2fb5","name":"id_lead_pipedrive","value":"={{ $json[\"id\"] }}","type":"string"}]},"options":{}},"id":"2741095a-a269-4d25-874a-b3972e5f34d9","name":"Id Lead Pipedrive","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,400]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1gWjo6PQaBh2nDrRhBBauOu9L-VnfBk-e2YIYtlqZmdA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gWjo6PQaBh2nDrRhBBauOu9L-VnfBk-e2YIYtlqZmdA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"email\"] }}","Nome":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}","Telefone":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"telefone\"] }}","ID Lead Pipedrive":"={{ $item(\"0\").$node[\"Id Lead Pipedrive\"].json[\"id_lead_pipedrive\"] }}","ID Deal Pipedrive":"={{ $json[\"id\"] }}"},"matchingColumns":["Email"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Source","displayName":"UTM Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Medium","displayName":"UTM Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Campaign","displayName":"UTM Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Term","displayName":"UTM Term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Content","displayName":"UTM Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Lead Pipedrive","displayName":"ID Lead Pipedrive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Deal Pipedrive","displayName":"ID Deal Pipedrive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"8f6e9fc3-c9fe-47ff-b936-ca7cb7b1e6bc","name":"upsert_no_sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[2060,380],"alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dcfd7462-5f38-4a61-941c-62c7dce7981b","leftValue":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"cae58d22-8835-4d43-930e-2fd50acbc3e4","leftValue":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"35453923-64b8-4d10-83f0-adb2d447aed4","leftValue":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"telefone\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"15885422-de14-462e-b0b4-66a652d440fa","name":"Nome, email e telefone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,20]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dcfd7462-5f38-4a61-941c-62c7dce7981b","leftValue":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"nome\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"cae58d22-8835-4d43-930e-2fd50acbc3e4","leftValue":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"35453923-64b8-4d10-83f0-adb2d447aed4","leftValue":"={{ $item(\"0\").$node[\"Normaliza\"].json[\"telefone\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4d3794a8-7707-44a4-8918-3d65c417db89","name":"Nome, email e telefone?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-300,760]}],"connections":{"pesquisa_no_sheets":{"main":[[{"node":"Definir Atendente Comercial","type":"main","index":0}]]},"tem_email?":{"main":[[{"node":"procura_pessoa_pelo_email","type":"main","index":0}],[{"node":"procura_pessoa_pelo_telefone","type":"main","index":0}]]},"procura_pessoa_pelo_email":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"procura_pessoa_pelo_telefone":{"main":[[{"node":"pessoa_existe?1","type":"main","index":0}]]},"pessoa_existe?1":{"main":[[{"node":"insere_id","type":"main","index":0}],[{"node":"Nome, email e telefone?1","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"insere_id","type":"main","index":0}],[{"node":"Nome, email e telefone?","type":"main","index":0}]]},"cria_pessoa":{"main":[[{"node":"insere_id","type":"main","index":0}]]},"cria_pessoa1":{"main":[[{"node":"insere_id","type":"main","index":0}]]},"lead_existe?":{"main":[[{"node":"atualiza_lead","type":"main","index":0}],[{"node":"cria_lead","type":"main","index":0}]]},"atualiza_lead":{"main":[[{"node":"Id Lead Pipedrive","type":"main","index":0}]]},"cria_lead":{"main":[[{"node":"Id Lead Pipedrive","type":"main","index":0}]]},"deal_existe?":{"main":[[{"node":"atualiza_deal_qualificado","type":"main","index":0}],[{"node":"cria_deal_qualificado","type":"main","index":0}]]},"atualiza_deal_qualificado":{"main":[[{"node":"upsert_no_sheets","type":"main","index":0}]]},"cria_deal_qualificado":{"main":[[{"node":"upsert_no_sheets","type":"main","index":0}]]},"insere_id":{"main":[[{"node":"pesquisa_no_sheets","type":"main","index":0}]]},"Definir Atendente Comercial":{"main":[[{"node":"lead_existe?","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"tem_email?","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Id Lead Pipedrive":{"main":[[{"node":"deal_existe?","type":"main","index":0}]]},"Nome, email e telefone?":{"main":[[{"node":"cria_pessoa","type":"main","index":0}]]},"Nome, email e telefone?1":{"main":[[{"node":"cria_pessoa1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"RabbitMQ Trigger":[{"json":{"headers":{"host":"n8nwebhook.karinewaldrich.com.br","user-agent":"digitalmanager.guru (dev@digitalmanager.guru)","content-length":"3945","content-type":"application/json","x-forwarded-for":"34.138.155.88","x-forwarded-host":"n8nwebhook.karinewaldrich.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cadf6fe75461","x-real-ip":"34.138.155.88","x-request-id":"9d192d72-4be5-4824-92ef-4228514e9c27","accept-encoding":"gzip"},"params":{},"query":{},"body":{"affiliations":[],"api_token":"mZE0DQ7Z07Wgb679D5cvUctdbJnfbKv8aHEjP4SE","checkout_url":"https://seguro.karinewaldrich.com.br/pay/oferta-especial-pack","contact":{"id":"9d192c2d-510d-4156-a37e-cbabc0715b3b","name":"Camila Costa","company_name":"","email":"camila.carese@gmail.com","doc":"35043790814","phone_number":"11932065390","phone_local_code":"55","address":"","address_number":"","address_comp":"","address_district":"","address_city":"","address_state":"","address_state_full_name":"","address_country":"BR","address_zip_code":"","lead":[]},"contracts":[],"dates":{"canceled_at":null,"confirmed_at":"2024-09-26T01:36:19Z","created_at":"2024-09-26T01:33:29Z","expires_at":null,"ordered_at":"2024-09-26T01:32:39Z","unavailable_until":"2024-10-26T01:36:19Z","updated_at":"2024-09-26T01:37:01Z","warranty_until":"2024-10-26T01:36:19Z"},"ecommerces":[],"id":"9d192be1-a87d-4dd1-8f84-6e5682e8791a","infrastructure":{"ip":"2804:14c:f420:8e4e:2135:c170:527f:aec2","city":"itatiba","host":"seguro.karinewaldrich.com.br","region":"sp","country":"BR","user_agent":"Mozilla/5.0 (Linux; Android 13; SM-M325FV Build/TP1A.220624.014; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/128.0.6613.146 Mobile Safari/537.36 Instagram 349.3.0.42.104 Android (33/13; 480dpi; 1080x2178; samsung; SM-M325FV; m32; mt6769t; pt_BR; 643237781)","city_lat_long":"-23.011634,-46.837590"},"invoice":[],"items":[{"id":"1725901455","image_url":"https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cf846e6-de51-4166-9a88-a1d857f670b3.png","internal_id":"9cf84682-48ca-45c3-a323-5703f36838d3","marketplace_id":"1725901455","marketplace_name":"pagarme2","name":"Pack de Provas - Área Fiscal","offer":{"id":"9cf8473e-b1a7-449a-bd1d-4afa78b8e94d","name":"Oferta Especial"},"producer":{"contact_email":null,"marketplace_id":"1723502287","name":"Cdw Treinamentos"},"qty":1,"total_value":29.9,"type":"product","unit_value":29.9}],"last_transaction":[],"payment":{"affiliate_value":0,"acquirer":{"code":"0000","message":"Transação aprovada com sucesso","name":"pagarme","nsu":"3303297450","tid":"3303297450"},"can_try_again":1,"coupon":null,"currency":"BRL","discount_value":0,"gross":29.9,"installments":{"value":29.9,"qty":1,"interest":0},"marketplace_id":"ch_nXKApNU6yi9ql8a5","marketplace_name":"pagarme2","marketplace_value":0.43,"method":"credit_card","net":29.47,"processing_times":{"started_at":"2024-09-26T01:36:16.369Z","finished_at":"2024-09-26T01:36:19.774Z","delay_in_seconds":3},"refund_reason":"","refuse_reason":"Transação aprovada com sucesso (0000)","tax":{"value":0,"rate":0},"total":29.9,"credit_card":{"brand":"mastercard","expiration_month":"07","expiration_year":"2029","first_digits":"530599","id":"card_W7aVYnyuzzfrlLvP","last_digits":"4469"}},"product":{"id":"1725901455","image_url":"https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cf846e6-de51-4166-9a88-a1d857f670b3.png","internal_id":"9cf84682-48ca-45c3-a323-5703f36838d3","marketplace_id":"1725901455","marketplace_name":"pagarme2","name":"Pack de Provas - Área Fiscal","offer":{"id":"9cf8473e-b1a7-449a-bd1d-4afa78b8e94d","name":"Oferta Especial"},"producer":{"marketplace_id":"1723502287","name":"Cdw Treinamentos","contact_email":""},"qty":1,"total_value":29.9,"type":"product","unit_value":29.9},"shipment":{"carrier":"","service":"","tracking":"","value":0,"status":"","delivery_time":""},"shipping":{"name":"Standard","value":0},"source":{"source":"fbads-quente","checkout_source":null,"utm_source":"quente","utm_campaign":"[PERPETUO] [VENDAS] [PP] [QUENTE] — Cópia","utm_medium":"00 - [STORIES/REELS] - Captura + Obrigado + Página de vendas","utm_content":"001 - VID - Alô alô","utm_term":"Instagram_Reels","pptc":[]},"status":"approved","subscription":[],"type":"producer"},"webhookUrl":"https://n8nwebhook.karinewaldrich.com.br/webhook/pack-prova-guru","executionMode":"production"}}]},"versionId":"4a73908d-316c-4080-85df-c623bfe9a77c","triggerCount":0,"shared":[{"createdAt":"2025-06-02T20:34:44.968Z","updatedAt":"2025-06-02T20:34:44.968Z","role":"workflow:owner","workflowId":"e5rIDqM704jwJCsB","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}