[karine][teste]-duplicando-campanhas-do-ac-em-massa-gchbhPwpvt6HzgY2.json
{"createdAt":"2025-06-03T13:30:46.353Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"gchbhPwpvt6HzgY2","name":"[KARINE][TESTE] Duplicando campanhas do AC em massa","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"e715dc09-908f-40a2-89f6-338101d7d84d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-580,20]},{"parameters":{"functionCode":"return [\n  { json: { campaign_id: 706 } },\n  { json: { campaign_id: 707 } },\n  { json: { campaign_id: 708 } },\n  { json: { campaign_id: 709 } },\n  { json: { campaign_id: 710 } },\n  { json: { campaign_id: 711 } },\n  { json: { campaign_id: 712 } },\n  { json: { campaign_id: 713 } },\n  { json: { campaign_id: 714 } },\n  { json: { campaign_id: 715 } },\n  { json: { campaign_id: 716 } },\n  { json: { campaign_id: 717 } },\n  { json: { campaign_id: 718 } },\n  { json: { campaign_id: 719 } },\n  { json: { campaign_id: 720 } },\n  { json: { campaign_id: 722 } },\n  { json: { campaign_id: 723 } },\n  { json: { campaign_id: 724 } },\n  { json: { campaign_id: 725 } },\n  { json: { campaign_id: 726 } },\n  { json: { campaign_id: 727 } },\n  { json: { campaign_id: 728 } },\n  { json: { campaign_id: 729 } },\n  { json: { campaign_id: 730 } },\n  { json: { campaign_id: 731 } },\n  { json: { campaign_id: 732 } },\n  { json: { campaign_id: 733 } },\n  { json: { campaign_id: 734 } },\n  { json: { campaign_id: 735 } },\n  { json: { campaign_id: 736 } },\n  { json: { campaign_id: 737 } },\n  { json: { campaign_id: 738 } },\n  { json: { campaign_id: 739 } },\n  { json: { campaign_id: 740 } },\n  { json: { campaign_id: 741 } },\n  { json: { campaign_id: 742 } },\n  { json: { campaign_id: 743 } },\n  { json: { campaign_id: 744 } },\n  { json: { campaign_id: 745 } },\n  { json: { campaign_id: 746 } },\n  { json: { campaign_id: 747 } },\n  { json: { campaign_id: 748 } },\n  { json: { campaign_id: 749 } },\n  { json: { campaign_id: 750 } },\n  { json: { campaign_id: 751 } },\n  { json: { campaign_id: 752 } },\n  { json: { campaign_id: 753 } },\n  { json: { campaign_id: 754 } },\n  { json: { campaign_id: 755 } },\n  { json: { campaign_id: 756 } },\n  { json: { campaign_id: 757 } },\n  { json: { campaign_id: 758 } },\n  { json: { campaign_id: 759 } },\n  { json: { campaign_id: 760 } },\n  { json: { campaign_id: 761 } },\n  { json: { campaign_id: 762 } },\n  { json: { campaign_id: 763 } },\n  { json: { campaign_id: 764 } },\n  { json: { campaign_id: 765 } },\n  { json: { campaign_id: 766 } },\n  { json: { campaign_id: 767 } },\n  { json: { campaign_id: 768 } },\n  { json: { campaign_id: 769 } },\n  { json: { campaign_id: 770 } },\n  { json: { campaign_id: 771 } },\n  { json: { campaign_id: 772 } },\n  { json: { campaign_id: 773 } },\n  { json: { campaign_id: 774 } },\n  { json: { campaign_id: 775 } },\n  { json: { campaign_id: 776 } },\n  { json: { campaign_id: 783 } },\n  { json: { campaign_id: 777 } }\n];"},"name":"Set Campaign IDs","type":"n8n-nodes-base.function","typeVersion":1,"position":[-380,20],"id":"55582366-0d60-4e65-bf0c-e0ba3fe03251"},{"parameters":{"functionCode":"if (!$json || !$json[\"campaign\"]) {\n  return null; // Retorna nulo se os dados da campanha não existirem\n}\n\nconst campaign = $json[\"campaign\"]; // Extrai os dados da campanha\n\n// Garante que todos os campos necessários estão definidos\nreturn {\n  json: {\n    name: campaign[\"name\"] ? campaign[\"name\"].replace('[L081024]', '[L091224]') : \"Sem Nome\",\n    type: campaign[\"type\"] || \"single\",\n    subject: campaign[\"subject\"] || \"Sem Assunto\",\n    html_content: campaign[\"html_content\"] || \"Sem Conteúdo\",\n    from_name: campaign[\"from_name\"] || \"Sem Nome Remetente\",\n    from_email: campaign[\"from_email\"] || \"no-reply@example.com\",\n    reply_to: campaign[\"reply_to\"] || \"no-reply@example.com\",\n    list_ids: campaign[\"list_ids\"] || [],\n    status: 0 // Define como rascunho\n  }\n};\n\n\n\n\n\n\n\n\n"},"name":"Modify Campaign Name","type":"n8n-nodes-base.function","typeVersion":1,"position":[160,0],"id":"24de9a00-0631-4a36-9e0e-47e9021ea814"},{"parameters":{"url":"=https://karinewaldrich.api-us1.com/api/3/campaigns/706","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"3b017e05e9651b8ba39ad201bd7dcdc523b178da96e38837a3883db5989121ccd88a4857"}]},"options":{}},"id":"d20987af-81c9-441b-a5f4-ae8203f975bc","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"method":"POST","url":"https://karinewaldrich.api-us1.com/api/3/campaigns","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"3b017e05e9651b8ba39ad201bd7dcdc523b178da96e38837a3883db5989121ccd88a4857"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"campaign\": {\n    \"name\": \"{{$json[\\\"name\\\"]}}\",\n    \"type\": \"single\",\n    \"subject\": \"{{$json[\\\"subject\\\"]}}\",\n    \"html_content\": \"{{$json[\\\"html_content\\\"]}}\",\n    \"from_name\": \"{{$json[\\\"from_name\\\"]}}\",\n    \"from_email\": \"{{$json[\\\"from_email\\\"]}}\",\n    \"reply_to\": \"{{$json[\\\"reply_to\\\"]}}\",\n    \"list_ids\": {{$json[\"list_ids\"]}},\n    \"status\": 0\n  }\n}\n","options":{}},"id":"725e43fc-d66a-4eb1-b3b0-dbb379c4ec5f","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,0]},{"parameters":{"batchSize":1,"options":{}},"id":"5a6d33a5-c83a-402a-a6ae-a2956f6d04f7","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-200,20],"retryOnFail":false},{"parameters":{},"id":"e6cec4a7-2646-407b-a902-a8c9a53b0d1b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,0],"webhookId":"89f47443-871f-4843-96f8-42da32906ad5"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Set Campaign IDs","type":"main","index":0}]]},"Set Campaign IDs":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Modify Campaign Name":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Modify Campaign Name","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8ce42f7f-2398-4314-9cf0-76e0ba165a7d","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:30:46.353Z","updatedAt":"2025-06-03T13:30:46.353Z","role":"workflow:owner","workflowId":"gchbhPwpvt6HzgY2","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}