[karine]capt_4---rmkt-pesquisa-5zGby1dNBYYZSrUy.json
{"createdAt":"2025-05-31T15:21:34.359Z","updatedAt":"2025-05-31T15:42:54.245Z","id":"5zGby1dNBYYZSrUy","name":"[KARINE]CAPT_4 - RMKT Pesquisa","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"701931fa-b3d6-4cf3-b4ec-ff86aecdff56","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1440,800],"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1AUL5zzWGsMc8Y67pnWZk8KGf6ZS6b_01KOzBp-L-Py4","mode":"list","cachedResultName":"L110525 - Leads - Active","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AUL5zzWGsMc8Y67pnWZk8KGf6ZS6b_01KOzBp-L-Py4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads inscritos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AUL5zzWGsMc8Y67pnWZk8KGf6ZS6b_01KOzBp-L-Py4/edit#gid=0"},"options":{}},"id":"80f33c6d-bf95-495a-9ea3-3afdc19353b1","name":"Respondeu_Pesquisa","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-1120,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a378fed9-ff1b-4e48-b36e-8d283235458e","leftValue":"={{ $json['Pesquisa'] }}","rightValue":"Sim","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8255f00c-763b-4a55-bfa0-3d0eebe1fc90","name":"Sim/não","type":"n8n-nodes-base.if","typeVersion":2,"position":[-640,820]},{"parameters":{"assignments":{"assignments":[{"id":"4f9ef4d4-a0f9-4321-a430-9269ed4ae4b1","name":"DataFormatada","value":"={{ $json[\"Data de cadastro no lançamento\"].split(\" \")[0].split(\"/\").reverse().join(\"-\") }}","type":"string"},{"id":"e29cb569-817f-4e9a-b3a7-2a67d75ed764","name":"Telefone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json.Telefone.toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}\n","type":"string"}]},"options":{}},"id":"2cbe9cba-07fb-4ead-9e84-915dda16aa3c","name":"Correção_data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-500,380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"093ad29b-830e-4da6-ada0-9683c40416c3","leftValue":"={{ $json.DataFormatada }}","rightValue":"=2025-04-17","operator":{"type":"dateTime","operation":"equals"}},{"id":"29cee2aa-edf7-41b4-8b17-98635993920d","leftValue":"={{ $json.DataFormatada }}","rightValue":"=2025-04-18","operator":{"type":"dateTime","operation":"equals"}},{"id":"666059d4-6705-442c-b418-47a5f867d7b6","leftValue":"={{ $json.DataFormatada }}","rightValue":"=2025-04-19","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"792bc097-1178-49fe-8d8a-8bfedd729065","name":"Data_Antes_de_hoje","type":"n8n-nodes-base.if","typeVersion":2,"position":[-320,840]},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12535146"},{"name":"field_value","value":"={{ $('Correção_data').item.json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"85eaf2f1-e99c-4c06-a00b-a768dde17c4f","name":"procura_id_manychat_pelo_telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-40,360]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250223185418_587763"},{"name":"subscriber_id","value":"={{ $json.data[0].id }}"}]},"options":{}},"id":"846584b9-e1b8-4fd5-bb3a-796f40b34b44","name":"envia_fluxo_pesquisa","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[920,520],"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"cf90299f-2872-4a83-a323-d509123e3a80","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-820,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9d24036f-ba66-49a0-824d-1d89ecec5413","leftValue":"={{ $json.data[0]?.tags?.some(tag => tag.name === \"RMKT-PESQUISA\") || false }}","rightValue":"RMKT-PESQUISA","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"ce8d60bf-0f40-4c9b-b0ea-65c832d59cf3","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"13df47a8-9370-4d73-a116-4a1127e7351b","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[0,0]},{"parameters":{"amount":2},"id":"66b052b1-899c-4ea0-8b98-dfbca301cdf3","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1140,520],"webhookId":"0fc5bea9-6678-4cdb-9fa0-1f4631f0761d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9d24036f-ba66-49a0-824d-1d89ecec5413","leftValue":"={{ $json.data[0]?.tags?.some(tag => tag.name === \"MINICURSO-ENVIADO\") || false }}","rightValue":"RMKT-PESQUISA","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2811c7ed-2c05-4657-9d12-e9f49fffceec","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[440,100]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o","mode":"list","cachedResultName":"Leads - Elementor - L110525","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Respondeu_Pesquisa').item.json.Telefone }}","Recebeu RMKT":"Sim"},"matchingColumns":["Telefone"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_id","displayName":"utm_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preencheu pesquisa","displayName":"Preencheu pesquisa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu RMKT","displayName":"Recebeu RMKT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu Minicurso","displayName":"Recebeu Minicurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"3ac442cc-adaa-4cd7-91a3-12180a15538d","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[900,340]},{"parameters":{},"id":"6f24ba11-535b-44ca-8f77-87b6a0b4efc9","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1360,300]}],"connections":{"Respondeu_Pesquisa":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Sim/não":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Correção_data","type":"main","index":0}]]},"Correção_data":{"main":[[{"node":"Data_Antes_de_hoje","type":"main","index":0}]]},"Data_Antes_de_hoje":{"main":[[{"node":"procura_id_manychat_pelo_telefone","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"procura_id_manychat_pelo_telefone":{"main":[[{"node":"If","type":"main","index":0}]]},"envia_fluxo_pesquisa":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Sim/não","type":"main","index":0}]]},"If":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"envia_fluxo_pesquisa","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Respondeu_Pesquisa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-02-17T18:24:28.954-03:00","Readable date":"February 17th 2025, 6:24:28 pm","Readable time":"6:24:28 pm","Day of week":"Monday","Year":"2025","Month":"February","Day of month":"16","Hour":"18","Minute":"24","Second":"28","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"97544691-f055-49e6-b7c1-01a467b05172","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:21:34.359Z","updatedAt":"2025-05-31T15:21:34.359Z","role":"workflow:owner","workflowId":"5zGby1dNBYYZSrUy","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}