[karine][vf]-[apa]---compra-aprovada---parte-2-nF47PH7UDeZDXrDw.json
{"createdAt":"2025-06-03T13:12:46.026Z","updatedAt":"2025-06-03T13:12:53.111Z","id":"nF47PH7UDeZDXrDw","name":"[KARINE][VF] [APA] - Compra aprovada - Parte 2","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"PUT","url":"=https://api.pipedrive.com/v1/persons/{{ $json[\"item\"][\"id\"] }}?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe\n","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"label_ids\": [91]\n}","options":{}},"id":"561e00d3-03f7-40f5-9f2a-76c3192700c0","name":"adicionar_tag_APA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1580,220]},{"parameters":{},"id":"a8336484-df56-4454-8063-3e5427230ba1","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2440,420],"webhookId":"b68ea374-38f8-41d0-b665-6e42947ccd64"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3ed818a7-58bd-4d1e-9b0e-2364585d1334","leftValue":"={{ $json.item.id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4eecbc8b-0a3a-4719-bb56-1cd05bac1e5f","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1680,440]},{"parameters":{"resource":"person","operation":"search","returnAll":true,"term":"={{ $json.email }}","additionalFields":{"fields":"email"}},"id":"21ddb557-9faf-412a-a35e-3cd9ae45cdbe","name":"buscapessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1900,440],"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c9edd94-0276-45fe-85a4-2c894c274089","leftValue":"={{ $json.data[0].stage_id }}","rightValue":39,"operator":{"type":"number","operation":"equals"}},{"id":"02505a4d-525c-45da-902a-795860fdc462","leftValue":"={{ $json.data[0].stage_id }}","rightValue":153,"operator":{"type":"number","operation":"equals"}},{"id":"0af4dbc8-69f4-4530-ba56-2893a9256b70","leftValue":"={{ $json.data[0].stage_id }}","rightValue":154,"operator":{"type":"number","operation":"equals"}},{"id":"719aab9c-2d2f-404e-944f-031a620167c2","leftValue":"={{ $json.data[0].stage_id }}","rightValue":49,"operator":{"type":"number","operation":"equals"}},{"id":"a15100cc-6808-4255-931c-d3e3bab48772","leftValue":"={{ $json.data[0].stage_id }}","rightValue":50,"operator":{"type":"number","operation":"equals"}},{"id":"6e1e0ff9-080a-4850-9d53-de56a0f1068a","leftValue":"={{ $json.data[0].stage_id }}","rightValue":51,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"dcc3700f-ea90-4182-9708-ae75ceba4569","name":"Fez call?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-560,200]},{"parameters":{"operation":"update","dealId":"={{ $json.data[0].id }}","updateFields":{"currency":"BRL","label":90,"status":"won"}},"id":"3223b742-b3ff-4deb-b420-023dcce5df94","name":"Fecha_comissão_Raiane","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"67828437-914d-4776-80e8-7aef52b93f63","leftValue":"={{ $json.data.id }}","rightValue":0,"operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0c791223-4291-4ba3-855d-3825fb81ccd4","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1200,220]},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $json.data.id }}?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe","options":{}},"id":"1ebba667-d295-4fb0-9a4c-3f30ada00305","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1380,220]},{"parameters":{"operation":"search","term":"={{ $json.data.id }}","returnAll":true,"additionalFields":{"personId":"={{ $json.data.id }}"}},"id":"ef3c6066-649f-466f-ba49-2e344bf36b29","name":"Pipedrive","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-980,200],"alwaysOutputData":true},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $('If').item.json.data.id }}/deals?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe\n\n","options":{}},"id":"528c1449-39f7-43dd-b0b7-fea29aa33c54","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-780,200]},{"parameters":{"options":{}},"id":"548a041b-fd46-4573-b8f7-a240a900d1ac","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2200,400]},{"parameters":{"queue":"[APA] - Compra aprovada","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"durable":true}},"id":"f98b4d96-570e-4708-8e76-d64a73b92751","name":"chega_da_fila","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-2680,360]},{"parameters":{"assignments":{"assignments":[{"id":"1018099c-70c4-43ad-9276-9b2de01bc2f1","name":"name","value":"={{$json[\"content\"] ? JSON.parse($json[\"content\"])[\"name\"] : $json[\"name\"]}}","type":"string"},{"id":"e9a85442-d886-4319-9dd9-602ffeffb34b","name":"email","value":"={{$json[\"content\"] ? JSON.parse($json[\"content\"])[\"email\"] : $json[\"email\"]}}","type":"string"},{"id":"5c71bc9b-15c8-40f9-a27e-a3072dbac44f","name":"phone","value":"={{$json[\"content\"] ? JSON.parse($json[\"content\"])[\"phone\"] : $json[\"phone\"]}}","type":"string"},{"id":"e772e919-be80-43e7-baa1-14ceaed3f3db","name":"produto","value":"={{$json[\"content\"] ? JSON.parse($json[\"content\"])[\"produto\"] : $json[\"produto\"]}}","type":"string"}]},"options":{}},"id":"8bd7f145-c45e-474f-8ea1-0d5f1bcc891f","name":"dados_da_compra","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1980,720]},{"parameters":{"operation":"update","dealId":"={{ $json.data[0].id }}","updateFields":{"status":"won"}},"id":"7ba9da97-0bc5-40ad-81d7-cbb95b075059","name":"Fecha_sem_comissão1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-120,740]}],"connections":{"adicionar_tag_APA":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"adicionar_tag_APA","type":"main","index":0}]]},"buscapessoa":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"Fez call?":{"main":[[{"node":"Fecha_comissão_Raiane","type":"main","index":0}],[{"node":"Fecha_sem_comissão1","type":"main","index":0}]]},"If":{"main":[[{"node":"Pipedrive","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Pipedrive":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Fez call?","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"dados_da_compra","type":"main","index":0}]]},"chega_da_fila":{"main":[[{"node":"Wait","type":"main","index":0}]]},"dados_da_compra":{"main":[[{"node":"buscapessoa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"chega_da_fila":[{"json":{"fields":{"consumerTag":"amq.ctag-UA_wBJ81cj_F2pX0MoefjQ","deliveryTag":3,"redelivered":false,"exchange":"","routingKey":"[APA] - Compra aprovada"},"properties":{"headers":{}},"content":"{\"name\":\"Daiane Muller\",\"email\":\"claudiagpsaude@gmail.com\",\"phone\":\"17981058707\",\"produto\":\"Ação Para Aprovação\"}"}}]},"versionId":"67891a4f-fbb7-4717-9bfa-1d61db98e4b6","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:12:46.026Z","updatedAt":"2025-06-03T13:12:46.026Z","role":"workflow:owner","workflowId":"nF47PH7UDeZDXrDw","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}