[karine][coachingday]-adição-ao-pipedrive---parte-2-N258nsOEUNGqWJbO.json
{"createdAt":"2025-06-02T20:37:48.041Z","updatedAt":"2025-06-02T20:37:54.614Z","id":"N258nsOEUNGqWJbO","name":"[KARINE][COACHINGDAY] Adição ao Pipedrive - Parte 2","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"[COACHINGDAY] Adiciona ao Pipedrive","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":3}},"id":"ea7773b0-5132-41f6-b038-3f18b47a17d7","name":"chega_da_fila","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1020,-40]},{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}","additionalFields":{"fields":"email"}},"id":"54c9badb-5d06-46cf-b2de-918bcb4ee850","name":"procura_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-660,-40],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"febaa5ca-7068-4cff-89cc-89bbff216867","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,-40]},{"parameters":{"resource":"person","name":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}","additionalFields":{"email":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"],"phone":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"]}},"id":"83286477-fba9-4aa2-b3be-d4840e61fbd2","name":"cria_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-240,120]},{"parameters":{"title":"=[COACHDAY] {{ $json.data[0].person_id.name }}","associateWith":"person","person_id":"={{ $('Code').item.json.id }}","additionalFields":{"customProperties":{"property":[{"name":"ade40a5ba4f78ba19ac8c895d07497c3e1143fca","value":"={{ $node[\"chega_da_fila\"].json.content[\"Link da Reunião\"] }}"},{"name":"8361adaca6003d06b3d6dae26a3161fd3b9f22cd","value":"={{ $node[\"chega_da_fila\"].json.content[\"Data de Início\"].split(' ')[1] }}"},{"name":"143cd0cd8411259a0e333e81ef3249941086322c","value":"={{ $node[\"chega_da_fila\"].json.content[\"Data de Início\"].split(' ')[0].split('/').reverse().join('-') }}\n"}]},"stage_id":63,"user_id":21330817}},"id":"50ca8ace-210d-4ab2-9d51-2075bbd9d470","name":"cria_lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[300,-40]},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $json.id }}/deals?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe ","options":{}},"id":"09d53198-8aaf-42cf-bb40-c731fa77b372","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-40]},{"parameters":{"jsCode":"let leadData = {};\n\n// Se o lead já existir, pegue os dados antigos do nó \"pessoa_existe?\"\ntry {\n    if ($node[\"pessoa_existe?\"].json) {\n        const leadAntigo = $node[\"pessoa_existe?\"].json; // Dados do lead existente\n        leadData = { ...leadAntigo }; // Clone as informações antigas\n    }\n} catch (e) {\n    console.log(\"Erro ao pegar dados do lead existente:\", e);\n}\n\n// Obter o \"Nome do Cliente\" do nó \"chega_da_fila\" para o título\nlet clienteNome = \"\";\ntry {\n    if ($node[\"chega_da_fila\"].json.content[\"Nome do Cliente\"]) {\n        clienteNome = $node[\"chega_da_fila\"].json.content[\"Nome do Cliente\"];\n    }\n} catch (e) {\n    console.log(\"Erro ao obter o Nome do Cliente:\", e);\n}\n\n// Obter todas as demais informações do nó \"chega_da_fila\"\nlet outrasInformacoes = {};\ntry {\n    if ($node[\"chega_da_fila\"].json.content) {\n        outrasInformacoes = $node[\"chega_da_fila\"].json.content;\n    }\n} catch (e) {\n    console.log(\"Erro ao obter as demais informações:\", e);\n}\n\n// Dados novos que você quer adicionar ou sobrescrever\nconst dadosNovos = {\n    title: clienteNome || \"Título Padrão\", // Usa o Nome do Cliente ou um título padrão se estiver vazio\n    ...outrasInformacoes // Inclui todas as informações adicionais\n};\n\n// Mesclar dados antigos com os novos\nleadData = {\n    ...leadData,     // Informações antigas\n    ...dadosNovos    // Sobrescreve com as novas\n};\n\n// Retornar os dados para criação do lead\nreturn {\n    json: leadData\n};\n"},"id":"96584c6b-10e9-436e-bc18-bcceaea9301f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,-60]}],"connections":{"chega_da_fila":{"main":[[{"node":"procura_pessoa","type":"main","index":0}]]},"procura_pessoa":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"cria_pessoa","type":"main","index":0}]]},"cria_pessoa":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"cria_lead","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"chega_da_fila":[{"json":{"fields":{"consumerTag":"amq.ctag-wF6Uea_ODvyXcg2UEzXiiA","deliveryTag":13,"redelivered":true,"exchange":"","routingKey":"[COACH] - Calendly - Agendamento"},"properties":{"headers":{"x-delivery-count":447775}},"content":{"Nome do Cliente":"LIDIANE DE CAIRES","E-mail do Cliente":"lidianedecaires@gmail.com","Telefone do Cliente - Formato BC":"+5511919459581","Telefone do Cliente - Formato Z-API":"5511919459581","Tipo de Evento":"Jéssica - Especialista Time da Waldrich","ID do Evento":"4b015e2e-e943-420a-a02c-e7f3b05f47df","Responsável pelo Evento":"Jéssica - Especialista Time da Waldrich","E-mail do Responsável":"apoiowaldrich3@gmail.com","Data de Início":"26/06/2024 13:00","Data em que foi feito o Agendamento":"25/06/2024 16:18","Data de Término":"26/06/2024 13:30","Dia da Semana de Início do Evento":"Quarta-feira","Link da Reunião":"https://calendly.com/events/4b015e2e-e943-420a-a02c-e7f3b05f47df/google_meet","utm_source":null,"utm_campaign":null,"utm_term":null,"utm_medium":null,"utm_content":null,"ID do Cliente":"d640f49c-d487-45d1-9bb6-cc1b2a4c533d","id_do_campo_id_do_agendamento_bot_conversa":"1776702","fluxo_de_confirmacao_de_agendamento":"3162427","API-KEY":"46dacadf-10d0-47db-a81d-69263aca1959","id_do_campo_link_da_reuniao_bot_conversa":"1721239","id_do_campo_dia_da_semana_do_agendamento_bot_conversa":"1776712","id_do_campo_data_do_agendamento_bot_conversa":"1772557","id_do_campo_horario_agendado_bot_conversa":"1779832","id_do_campo_id_banco_de_dados_bot_conversa":"1776703","id_do_campo_idleadac_bot_conversa":"1776713","id_do_campo_iddealac_bot_conversa":"1776714","id_campo_id_banco_de_dados_ac":"","valor_produto_principal_em_centavos":"","id_stage_agendou_reuniao_ac":"","funil":"sessao_estrategica","variacao_do_funil":"v1","id_pipeline_se_ac":"","id_sdr":"","url_api_activecampaign":"","id_campo_link_de_cancelamento_ac":"","id_campo_link_de_reagendamento_ac":"","id_campo_id_do_cliente_ac":"","id_campo_dia_semana_agendamento_ac":"","id_campo_data_de_inicio_ac":"","id_campo_data_e_hora_de_inicio_ac":"","id_campo_data_e_hora_de_termino_ac":"","id_campo_data_de_termino_ac":"","id_campo_email_do_responsavel_ac":"","id_campo_data_do_agendamento_ac":"","id_campo_link_da_reuniao_ac":"","id_campo_tipo_de_evento_ac":"","id_campo_id_do_evento_ac":"","id_campo_utm_source_ac":"","id_campo_utm_campaign_ac":"","id_campo_utm_term_ac":"","id_campo_utm_medium_ac":"","id_campo_utm_content_ac":"","id_campo_utm_fun_ac":"","id_campo_utm_var_ac":"","id_do_campo_id_do_cliente_bot_conversa":"1776706","id_task_reuniao_ac":"","id_campo_tipo_de_evento_bot_conversa":"1776718","id_campo_closer_responsavel_bot_conversa":"1776720","id_status_preencheu_aplicacao_crm":"","id_campo_email_crm":"43a14a28-119a-4e43-a0a1-58bc64e739a2","id_campo_telefone_crm":"4f5b17cc-999f-4779-8a66-155632cf59b4","id_campo_utm_source_crm":"94fb2c13-bbd0-48a1-89f5-85ef2f537c11","id_campo_utm_campaign_crm":"e545d10b-616e-450d-aef6-d8e65b0944a3","id_campo_utm_term_crm":"21c541c6-2224-4d82-91da-825808a1edea","id_campo_utm_medium_crm":"d65c4dd8-d243-4416-8349-2d7f341b3bcf","id_campo_utm_content_crm":"1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2","id_campo_utm_fun_crm":"2e435a89-b633-4100-a0b5-6810746db2c4","id_campo_utm_var_crm":"58dc2672-4c26-4b0b-ad81-8dcc82de45e0","id_campo_data_inicio_milesegundos_crm":"2375d3f7-5a46-4f88-ba30-572e129b0a3f","id_campo_id_evento_calendly_crm":"50a20169-76c5-43fc-9f3c-9a5bd5affd73","id_campo_id_cliente_calendly_crm":"58364ec1-0104-4bf7-a9e5-9e529a345d29","id_campo_nome_completo_crm":"1c438058-b654-4a19-9ea3-438bc2f5a078","id_campo_modelo_da_call_sessao_estrategica_crm":"36a55391-29e3-4168-9caf-67ac756b79f8","id_campo_modelo_da_call_aplicacao_direta_crm":"5883faf4-ebef-4b10-976a-0f88f4c25331","id_campo_funil_sessao_estrategica_crm":"5661918f-e847-4e0e-b9fc-ca7f62ed0a67","id_campo_funil_aplicacao_direta_crm":"1be63c76-92ea-4be1-a028-5301b1c9fa4e","id_campo_modelo_da_call_crm":"1ecc802b-e2b3-4769-bc7a-9e1517c2278f","id_campo_status_do_lead_crm":"20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec","id_campo_id_botconversa_crm":"f19516e0-1a4a-4b3d-b68e-68c2ae4acc59","id_campo_id_banco_de_dados_crm":"d23569b0-b471-45e0-a1e9-840a6711d052","id_campo_status_sessao_ou_aplicacao_crm":"947abb00-968d-4e1b-a6b9-c0887cbfd4b9","id_campo_status_agendamento_realizado_crm":"f1f22e0a-1e16-4b49-bbba-5331c7187906","id_campo_link_reuniao_crm":"e6f4eccc-7ee5-4caa-b444-648db658faca"}}}]},"versionId":"eab3467b-294e-4d88-9a3c-e7c922db4260","triggerCount":0,"shared":[{"createdAt":"2025-06-02T20:37:48.041Z","updatedAt":"2025-06-02T20:37:48.041Z","role":"workflow:owner","workflowId":"N258nsOEUNGqWJbO","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}