[karine][apa]---compra-cancelada---parte-2-oayYz3utULcomZ38.json
{"createdAt":"2025-06-03T13:09:43.027Z","updatedAt":"2025-06-03T13:09:50.177Z","id":"oayYz3utULcomZ38","name":"[KARINE][APA] - Compra cancelada - Parte 2","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"[APA] - Compra cancelada","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":1}},"id":"2368f3db-4c97-43fa-8c81-7ffbb0ca0595","name":"chega_da_fila","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1940,420]},{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}\n","additionalFields":{"fields":"email"}},"id":"52bdc64f-cfee-4957-bd5a-4d5bc7f2619c","name":"procura_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1100,360],"alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"label_ids\": [99]\n}","options":{}},"id":"168096b9-3dac-4eca-8894-ec7031a8fd8a","name":"adicionar_tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"options":{}},"id":"32a7eaca-fee8-4ec7-9fa7-ef5037f42208","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1500,420]},{"parameters":{},"id":"f39edc6d-accf-47c0-8797-dcf46fed65de","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1300,620],"webhookId":"aadb14d1-521d-477f-ba4d-c0d197efe10f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3ed818a7-58bd-4d1e-9b0e-2364585d1334","leftValue":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ed8f5b5d-febc-4229-b2ae-5d557edb3eae","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-840,360]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"parameters\": {\n    \"assignments\": {\n      \"assignments\": [\n        {\n          \"id\": \"log_message\",\n          \"name\": \"log\",\n          \"value\": \"Tentando criar uma nova pessoa no Pipedrive\",\n          \"type\": \"string\"\n        }\n      ]\n    },\n    \"options\": {}\n  },\n  \"id\": \"log_novo_contato\",\n  \"name\": \"Log Nova Pessoa\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 1,\n  \"position\": [\n    2300,\n    340\n  ]\n}\n","options":{}},"id":"11165cba-f447-4cff-a7bd-a659782d12de","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-780,660]},{"parameters":{"resource":"person","name":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}","additionalFields":{"email":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"].trim() }}"],"phone":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"phone\"] }}"]}},"id":"264589ea-baaf-4cd8-8da0-3236e4359c2c","name":"criar_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-300,560]},{"parameters":{"title":"={{ \"[L081024] Recuperação - \" + $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}\n","associateWith":"person","person_id":"={{ $node[\"criar_pessoa\"].json[\"data\"][\"id\"] }}\n","additionalFields":{"stage_id":37,"user_id":"={{ [21330817, 21963603][Math.floor(Math.random() * 2)] }}"}},"id":"8a9542f4-695e-45d1-bb1f-46047c365ac8","name":"criar_negócio","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[100,600]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"150BbueJO3GXUvAZR7jdaRtdCvSen0ERku9EJz5ifFWU","mode":"list","cachedResultName":"[N8N] [APA] - Compra cancelada - Parte 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150BbueJO3GXUvAZR7jdaRtdCvSen0ERku9EJz5ifFWU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150BbueJO3GXUvAZR7jdaRtdCvSen0ERku9EJz5ifFWU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.content.name }}","E-mail":"={{ $json.content.email }}","Telefone":"={{ $json.content.phone }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"126e6658-3fac-452f-93df-8344da9798c6","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-1760,560]},{"parameters":{"operation":"search","term":"[L090125]","additionalFields":{"personId":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","status":"open"}},"id":"70117b77-7837-4157-895c-2293cc081cd7","name":"procura_deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-680,220],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c7444d7-3cfd-4fe9-8f6b-4d21fbafcb07","leftValue":"={{ $node[\"procura_deal\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bf06813a-3a0b-41d4-9b91-2f6d424f56c4","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-400,180]},{"parameters":{"title":"={{ \"[L090125] Recuperação - \" + $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}\n","associateWith":"person","person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","additionalFields":{"currency":"BRL","stage_id":37,"status":"open","user_id":"={{ [21330817, 21963603][Math.floor(Math.random() * 2)] }}"}},"id":"4c363b37-bc6c-4cd5-a50c-b8e03ef0c2bc","name":"cria_deal1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-180,120]}],"connections":{"chega_da_fila":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"procura_pessoa":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"procura_pessoa","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"procura_deal","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar_pessoa","type":"main","index":0}]]},"criar_pessoa":{"main":[[{"node":"criar_negócio","type":"main","index":0}]]},"criar_negócio":{"main":[[{"node":"adicionar_tags","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"procura_deal":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"adicionar_tags","type":"main","index":0}],[{"node":"cria_deal1","type":"main","index":0}]]},"cria_deal1":{"main":[[{"node":"adicionar_tags","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"chega_da_fila":[{"json":{"fields":{"consumerTag":"amq.ctag-JZgJocJqYu-mhsJnQQ7NSg","deliveryTag":1,"redelivered":false,"exchange":"","routingKey":"[APA] - Compra cancelada"},"properties":{"headers":{}},"content":{"name":"Daia Freymuth","email":"daia.freymuth@gmail.com","phone":"55981058707","produto":"Ação Para Aprovação"}}}]},"versionId":"03817fca-1da9-43b2-92e9-816564bf29ef","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:09:43.027Z","updatedAt":"2025-06-03T13:09:43.027Z","role":"workflow:owner","workflowId":"oayYz3utULcomZ38","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}