[karine]capt_7---envio-minicurso-copy-2-97aX7tiWiSoEP1Ya.json
{"createdAt":"2025-05-31T15:24:13.529Z","updatedAt":"2025-05-31T15:42:54.245Z","id":"97aX7tiWiSoEP1Ya","name":"[KARINE]CAPT_7 - Envio Minicurso copy 2","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12535146"},{"name":"field_value","value":"={{ $json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"8711fc60-0f8e-4462-8c80-f3117f18ef6b","name":"procura_id_manychat_pelo_telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1140,360]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250305181329_632901"},{"name":"subscriber_id","value":"={{ $json.data[0].id }}"}]},"options":{}},"id":"f43a9c26-2054-473d-9a40-64e9a15e6a18","name":"envia_fluxo_minicurso","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[100,320],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e29cb569-817f-4e9a-b3a7-2a67d75ed764","name":"Telefone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json.Telefone.toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}\n","type":"string"}]},"options":{}},"id":"eeefaf3a-5930-4e7c-b5c6-e6b26e71bed1","name":"Correção_telefone","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1340,360]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"a0460189-3e9d-4a22-8a3d-cfc2418a817d","name":"nao_encontrou_telefone","type":"n8n-nodes-base.if","typeVersion":1,"position":[-900,340]},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findBySystemField","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $('Respondeu_Pesquisa').item.json['Email'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"512aab90-db89-4cfd-ad6a-5b865764c94a","name":"procura_id_manychat_pelo_email","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-680,180]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_email\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"f2e2f93e-9984-494d-8158-a47b189682c3","name":"nao_encontrou_email","type":"n8n-nodes-base.if","typeVersion":1,"position":[-540,20]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"has_opt_in_sms","value":"true"},{"name":"has_opt_in_email","value":"true"},{"name":"consent_phrase","value":"Olá, aqui é a Karine Waldrich. Posso ter seu contato?"},{"name":"phone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json.Telefone.toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}\n"},{"name":"email","value":"={{ $('Respondeu_Pesquisa').item.json['Email'] }}"},{"name":"whatsapp_phone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json.Telefone.toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}\n"}]},"options":{}},"id":"448fdbfe-4afc-4d0a-a0a3-5d95c23a7426","name":"cria_contato_manychat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-340,-20],"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"dbe14be5-d16f-48b4-b4bf-205544ee1fb0","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1660,360]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"15VOvyU4xXimMhxMYY1h9Enez1TLbF74ZAguDR_oUjI4","mode":"list","cachedResultName":"Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15VOvyU4xXimMhxMYY1h9Enez1TLbF74ZAguDR_oUjI4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2125230599,"mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15VOvyU4xXimMhxMYY1h9Enez1TLbF74ZAguDR_oUjI4/edit#gid=2125230599"},"options":{}},"id":"f7fff3e4-d90b-4a98-bcd5-9438790aa031","name":"Respondeu_Pesquisa","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1920,360]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"15VOvyU4xXimMhxMYY1h9Enez1TLbF74ZAguDR_oUjI4","mode":"list","cachedResultName":"Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15VOvyU4xXimMhxMYY1h9Enez1TLbF74ZAguDR_oUjI4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2125230599,"mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15VOvyU4xXimMhxMYY1h9Enez1TLbF74ZAguDR_oUjI4/edit#gid=2125230599"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Respondeu_Pesquisa').item.json['Telefone'] }}","Recebeu Minicurso":"Simm"},"matchingColumns":["Telefone"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_id","displayName":"utm_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preencheu pesquisa","displayName":"Preencheu pesquisa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu RMKT","displayName":"Recebeu RMKT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu Minicurso","displayName":"Recebeu Minicurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"7e647db6-cf8e-46b8-93ba-54e064c053b3","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[320,320]}],"connections":{"procura_id_manychat_pelo_telefone":{"main":[[{"node":"nao_encontrou_telefone","type":"main","index":0}]]},"envia_fluxo_minicurso":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Correção_telefone":{"main":[[{"node":"procura_id_manychat_pelo_telefone","type":"main","index":0}]]},"nao_encontrou_telefone":{"main":[[{"node":"procura_id_manychat_pelo_email","type":"main","index":0}],[{"node":"envia_fluxo_minicurso","type":"main","index":0}]]},"procura_id_manychat_pelo_email":{"main":[[{"node":"nao_encontrou_email","type":"main","index":0}]]},"nao_encontrou_email":{"main":[[{"node":"cria_contato_manychat","type":"main","index":0}]]},"cria_contato_manychat":{"main":[[{"node":"envia_fluxo_minicurso","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Correção_telefone","type":"main","index":0}]]},"Respondeu_Pesquisa":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Respondeu_Pesquisa":[{"json":{"row_number":2,"change_type":"updated","Email":"anacarmelia97@gmail.com","Telefone":"(76) 98311-4000","utm_source":"yt-frio","utm_campaign":"Youtube_TVFA_Capt_APA_T21_J85P_Frio_Palavras_Chaves_","utm_content":"720_Como_auditora_fiscal","utm_term":"youtube","utm_medium":"Palavras_chaves_geral","utm_id":"APA","Data":45765.65262700232,"Preencheu pesquisa":"Sim","Recebeu RMKT":"","Recebeu Minicurso":""}}]},"versionId":"e26709cb-1554-4bf3-8eab-da0aab435eb1","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:24:13.529Z","updatedAt":"2025-05-31T15:24:13.529Z","role":"workflow:owner","workflowId":"97aX7tiWiSoEP1Ya","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}