[karine]verificar-pessoa---pipedrive-GNgmPOgRIniaDS3T.json
{"createdAt":"2025-06-03T13:32:18.826Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"GNgmPOgRIniaDS3T","name":"[KARINE]Verificar pessoa - Pipedrive","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"6f02438c-2b22-4c5e-b59d-de04040e1d99","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1900,180]},{"parameters":{"options":{}},"id":"720bcdae-36b1-4c5e-9061-a290719b4b17","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1720,180]},{"parameters":{},"id":"1ddb279d-8d0f-409d-a223-4ae59151b05d","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1520,180]},{"parameters":{"operation":"getAll","limit":50,"filters":{"stage_id":92}},"id":"1413dddd-4cdf-444e-868b-11fc5517f9ef","name":"Buscar Negócios no Funil de Coaching","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1320,180]},{"parameters":{"resource":"person","operation":"search","term":"={{ $json[\"email\"] }}","additionalFields":{}},"id":"5317a7e0-5556-4159-943a-67396e465925","name":"Buscar Pessoa Pelo E-mail","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1100,180]},{"parameters":{"operation":"getAll","filters":{}},"id":"254fa6de-5f59-4d3c-b195-2947f9bd6dfc","name":"Buscar Negócios da Pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-880,180]},{"parameters":{"conditions":{"number":[{"value1":"={{$json[\"pipeline_id\"]}}","operation":"notEqual","value2":92}]}},"id":"33c83e11-f412-4d30-8b59-c5f5cfe465c8","name":"Negócio Fora do Funil de Coaching?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-660,180]},{"parameters":{"operation":"update","updateFields":{"person_id":"={{ $json[\"original_person_id\"] }}"}},"id":"84441eb0-6a9f-4a36-91cd-b25e8164f54a","name":"Atualizar Negócio com Pessoa Correta","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"dateTime":[{"value1":"={{$json[\"add_time\"]}}","value2":"2024-11-25T00:13:00"}]}},"id":"05775533-0c9a-4d37-a580-ba0402522f75","name":"Pessoa Criada Recentemente?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-400,20]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Buscar Negócios no Funil de Coaching","type":"main","index":0}]]},"Buscar Negócios no Funil de Coaching":{"main":[[{"node":"Buscar Pessoa Pelo E-mail","type":"main","index":0}]]},"Buscar Pessoa Pelo E-mail":{"main":[[{"node":"Buscar Negócios da Pessoa","type":"main","index":0}]]},"Buscar Negócios da Pessoa":{"main":[[{"node":"Negócio Fora do Funil de Coaching?","type":"main","index":0}]]},"Negócio Fora do Funil de Coaching?":{"main":[[{"node":"Pessoa Criada Recentemente?","type":"main","index":0}],[{"node":"Pessoa Criada Recentemente?","type":"main","index":0}]]},"Pessoa Criada Recentemente?":{"main":[[{"node":"Atualizar Negócio com Pessoa Correta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"24c12d12-4a8d-4811-8b5e-7b292f4e4a09","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:32:18.826Z","updatedAt":"2025-06-03T13:32:18.826Z","role":"workflow:owner","workflowId":"GNgmPOgRIniaDS3T","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}