[karine][apa]-métricas-e-mail---parte-2-(manual)---automações-8hY9dTUJ8Bgnn1or.json
{"createdAt":"2025-06-03T13:38:32.753Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"8hY9dTUJ8Bgnn1or","name":"[KARINE][APA] Métricas E-mail - Parte 2 (Manual) - Automações","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"e5c2ce9f-9eb4-4470-a051-cc26e1cf4d3d","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-20,180]},{"parameters":{"batchSize":1,"options":{}},"id":"0b07061a-139f-488f-bdd7-bc9390b8f25e","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[480,220],"retryOnFail":false},{"parameters":{"operation":"formatDate","date":"={{ $json.campaign.sdate }}","format":"custom","customFormat":"dd/MM/yyyy","outputFieldName":"Data Envio","options":{"timezone":true}},"id":"590513fc-110a-4394-809c-f96f3333cdcb","name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[960,200]},{"parameters":{"amount":5,"unit":"seconds"},"id":"30eb58ee-3f10-4ed9-8a8b-f9112c8c3a53","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1660,200],"webhookId":"041ab662-c368-4d18-990c-20e47a17540e"},{"parameters":{"rule":{"interval":[{}]}},"id":"12ca0fb9-ee82-4728-adf6-9245d5be6e7d","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16fhxHvGhdZFDIcMVNdHI8xTkBi8QPz4lfAK4hgQrVEw","mode":"list","cachedResultName":"[N8N] Métricas E-mails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16fhxHvGhdZFDIcMVNdHI8xTkBi8QPz4lfAK4hgQrVEw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":836214696,"mode":"list","cachedResultName":"Dados Campanhas Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16fhxHvGhdZFDIcMVNdHI8xTkBi8QPz4lfAK4hgQrVEw/edit#gid=836214696"},"columns":{"mappingMode":"autoMapInputData","value":{"ID":"={{ $json.ID }}","Data Envio":"={{ $json['Data Envio'] }}","Nome da Campanha":"={{ $json['Nome da Campanha'] }}","Envios":"={{ $json.Envios }}","Abertura":"={{ $json.Abertura }}","Cliques":"={{ $json.Cliques }}","Resposta":"={{ $json.Resposta }}","Bounce":"={{ $json.Bounce }}","Descadastrados":"={{ $json.Descadastrados }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data Envio","displayName":"Data Envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome da Campanha","displayName":"Nome da Campanha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Envios","displayName":"Envios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Abertura","displayName":"Abertura","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cliques","displayName":"Cliques","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bounce","displayName":"Bounce","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descadastrados","displayName":"Descadastrados","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}]},"options":{"cellFormat":"USER_ENTERED"}},"id":"4cf5ad06-7037-4a7e-ac3a-c2a975faa632","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1440,200]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Nome da Campanha","value":"={{ $('HTTP Request1').item.json.campaign.name }}"},{"name":"Data Envio","value":"={{ $json[\"Data Envio\"] }}"},{"name":"Envios","value":"={{ $('HTTP Request1').item.json.campaign.send_amt }}"},{"name":"Abertura","value":"={{ $('HTTP Request1').item.json.campaign.uniqueopens }}"},{"name":"Cliques","value":"={{ $('HTTP Request1').item.json.campaign.uniquelinkclicks }}"},{"name":"Resposta","value":"={{ $('HTTP Request1').item.json.campaign.replies }}"},{"name":"Descadastrados","value":"={{ $('HTTP Request1').item.json.campaign.unsubscribes }}"},{"name":"Bounce","value":"={{ $('HTTP Request1').item.json.campaign.hardbounces }}"},{"name":"ID","value":"={{ $('HTTP Request1').item.json.campaign.id }}"}]},"options":{}},"id":"31cc8c7d-2512-459f-9baf-94c5579681ff","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1180,200]},{"parameters":{"url":"=https://karinewaldrich.api-us1.com/api/3/campaigns/{{ $json[\"ID.A\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Api-Token","value":"3b017e05e9651b8ba39ad201bd7dcdc523b178da96e38837a3883db5989121ccd88a4857"}]},"options":{}},"id":"974b3efe-9414-4677-b3ee-9a04e9205e87","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[740,200],"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"16fhxHvGhdZFDIcMVNdHI8xTkBi8QPz4lfAK4hgQrVEw","mode":"list","cachedResultName":"[N8N] Métricas E-mails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16fhxHvGhdZFDIcMVNdHI8xTkBi8QPz4lfAK4hgQrVEw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":650432303,"mode":"list","cachedResultName":"IDs automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16fhxHvGhdZFDIcMVNdHI8xTkBi8QPz4lfAK4hgQrVEw/edit#gid=650432303"},"options":{}},"id":"26926e5d-ee09-4822-a5b2-f2dc9a6479ca","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[260,100]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"75412a3e-c212-46ae-a5f5-ea6b5eaa5c54","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:38:32.753Z","updatedAt":"2025-06-03T13:38:32.753Z","role":"workflow:owner","workflowId":"8hY9dTUJ8Bgnn1or","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}