[karine][apa-espera]-respondeu-formulário->-adição-ao-pipedrive-iIszkshY0XhJTQ6u.json
{"createdAt":"2025-06-02T20:35:06.829Z","updatedAt":"2025-06-02T20:35:13.702Z","id":"iIszkshY0XhJTQ6u","name":"[KARINE][APA-Espera] Respondeu formulário > Adição ao Pipedrive","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"153xeMPMRbdqxNO4qgQ0PRBCAZgFKA_OqM7Keq-EiVO4","mode":"id"},"sheetName":{"__rl":true,"value":486045242,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/153xeMPMRbdqxNO4qgQ0PRBCAZgFKA_OqM7Keq-EiVO4/edit#gid=486045242"},"event":"rowAdded","options":{}},"id":"015a9ed3-a8b4-4e34-bd31-a183dc8938f6","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1980,20]},{"parameters":{"resource":"person","operation":"search","term":"={{ $json.telefone }}","additionalFields":{"fields":"phone"}},"id":"3cf9eeda-83ef-43f8-86bf-55b356eb9199","name":"procura_pessoa_pelo_telefone","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1300,20],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"13ed9c16-1323-4070-9bb5-a54b8167e409","name":"pessoa_existe?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1100,20]},{"parameters":{"jsCode":"let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"},"id":"991d1db9-e52f-4f22-9d39-07bdd33a08ba","name":"insere_id","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,20]},{"parameters":{"assignments":{"assignments":[{"id":"7f87ad29-a4bd-4a36-a98d-f559d5bdbcc0","name":"id_atendente","value":"=21963603","type":"number"}]},"options":{}},"id":"39118bf1-a1e6-4fe4-9632-059ef092eebb","name":"Definir Atendente Comercial","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,20]},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $('insere_id').item.json.clientId }}/deals?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe ","options":{}},"id":"437ef10d-8260-4404-be5e-87aa4e33232c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-180,0]},{"parameters":{"title":"=[APA-Espera] {{ $('Edit Fields').item.json.telefone }}","associateWith":"person","person_id":"={{ $('insere_id').item.json.clientId }}","additionalFields":{"stage_id":"135"}},"id":"e710b30a-01d8-41e4-bd7d-ab6b4a3d0473","name":"cria_lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[20,0]},{"parameters":{"assignments":{"assignments":[{"id":"ef3804f0-62e8-4b01-ab25-747274cd0228","name":"telefone","value":"={{ $json['DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) '] }}","type":"string"}]},"options":{}},"id":"84bcd90d-4033-4682-9078-366be00dbb82","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1480,20]},{"parameters":{"resource":"person","name":"=[APA-Espera] {{ $('Edit Fields').item.json.telefone }}","additionalFields":{"phone":["={{ $('Edit Fields').item.json.telefone }}"]}},"id":"a2f23c67-c7ba-4dd2-82a5-004ff1df3c99","name":"cria_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-860,20]},{"parameters":{"options":{}},"id":"44abc6a3-5461-431b-9325-9c8cf5fd087c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1740,20]}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"procura_pessoa_pelo_telefone":{"main":[[{"node":"pessoa_existe?1","type":"main","index":0}]]},"pessoa_existe?1":{"main":[[],[{"node":"cria_pessoa","type":"main","index":0}]]},"insere_id":{"main":[[{"node":"Definir Atendente Comercial","type":"main","index":0}]]},"Definir Atendente Comercial":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"cria_lead","type":"main","index":0}]]},"cria_lead":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"procura_pessoa_pelo_telefone","type":"main","index":0}]]},"cria_pessoa":{"main":[[{"node":"insere_id","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e64ef137-0a21-4158-a684-44e241f36ba1","triggerCount":0,"shared":[{"createdAt":"2025-06-02T20:35:06.829Z","updatedAt":"2025-06-02T20:35:06.829Z","role":"workflow:owner","workflowId":"iIszkshY0XhJTQ6u","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}