[karine]my-workflow-2-frY9yDRDXHURhPDK.json
{"createdAt":"2025-06-03T13:41:49.049Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"frY9yDRDXHURhPDK","name":"[KARINE]My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"68fa9599-4df7-457c-8587-8bf0f9e9c695","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"filter_id":98}},"id":"97a09a22-4cde-4b69-ba82-4d5fd6f3c8db","name":"Pipedrive2","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[280,260]},{"parameters":{"jsCode":"const negocios = items.map(item => item.json);\nconst emailNegocios = {};\nconst duplicatas = [];\n\n// Loop para organizar negócios por e-mail e identificar duplicatas\nnegocios.forEach(negocio => {\n    const emailPessoa = negocio.person_id && negocio.person_id.email ? negocio.person_id.email[0].value : null;\n\n    if (emailPessoa) {\n        // Se já existe um negócio com o mesmo e-mail, ele é uma duplicata\n        if (emailNegocios[emailPessoa]) {\n            duplicatas.push(negocio);  // Adiciona o negócio como duplicata\n        } else {\n            emailNegocios[emailPessoa] = negocio; // Adiciona o primeiro negócio encontrado para esse e-mail\n        }\n    }\n});\n\nreturn duplicatas.map(duplicado => ({ json: duplicado }));\n"},"id":"c714bea5-59b9-4084-acef-a8822ecc5c99","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,260]},{"parameters":{"operation":"delete","dealId":"={{$json.id}}"},"id":"8ac8b677-8bf3-4bdd-82a9-1365ce66e325","name":"Pipedrive3","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[720,260]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pipedrive2","type":"main","index":0}]]},"Pipedrive2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Pipedrive3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"89d24fe5-c4eb-44c8-8de5-bb218e1c86fb","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:41:49.049Z","updatedAt":"2025-06-03T13:41:49.049Z","role":"workflow:owner","workflowId":"frY9yDRDXHURhPDK","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}