[karine][imersao]---compra-aprovada-+-boas-vindas-235VfPIvVdeNurhS.json
{"createdAt":"2025-06-03T13:05:52.051Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"235VfPIvVdeNurhS","name":"[KARINE][IMERSAO] - Compra aprovada + Boas vindas","active":false,"isArchived":true,"nodes":[{"parameters":{"email":"={{ $json.body.contact.email }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $json.body.contact.name.split(' ')[0] }}","lastName":"={{ $json.body.contact.name.split(' ').slice(1).join(' ') }}","phone":"={{ $json.body.contact.phone_number }}"}},"id":"6cc290e7-cd67-49c6-8567-aac5029cb79a","name":"cria_atualiza_contato2","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[260,0]},{"parameters":{"resource":"contactTag","tagId":"395","contactId":"={{ $node[\"cria_atualiza_contato2\"].json[\"id\"] }}"},"id":"38fcf39c-9e85-4e5c-87d6-8aa67f807049","name":"add_tag_pix_gerado","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[460,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a7943443-35a5-4364-b6ab-2c5254ad6865","leftValue":"={{ $json.body.payment.method }}","rightValue":"pix","operator":{"type":"string","operation":"equals"}},{"id":"a3a00d73-7554-421c-8d67-ecbe147e5b53","leftValue":"={{ $json.body.status }}","rightValue":"waiting_payment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"c82a1d36-6ab9-4e42-b437-e4e45fd098fe","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[40,-20]},{"parameters":{"httpMethod":"POST","path":"fbd2e48b-6cea-4ebe-a791-3e6fdba82002","options":{}},"id":"7d9ad1bf-453b-4ebb-8bd8-5d22c21214be","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-180,-20],"webhookId":"fbd2e48b-6cea-4ebe-a791-3e6fdba82002"}],"connections":{"cria_atualiza_contato2":{"main":[[{"node":"add_tag_pix_gerado","type":"main","index":0}]]},"If":{"main":[[{"node":"cria_atualiza_contato2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8nwebhook.karinewaldrich.com.br","user-agent":"digitalmanager.guru (dev@digitalmanager.guru)","content-length":"3759","content-type":"application/json","x-forwarded-for":"104.196.46.135","x-forwarded-host":"n8nwebhook.karinewaldrich.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cadf6fe75461","x-real-ip":"104.196.46.135","x-request-id":"9daf64b1-8683-4a7a-86e6-061802fffde8","accept-encoding":"gzip"},"params":{},"query":{},"body":{"affiliations":[],"api_token":"mZE0DQ7Z07Wgb679D5cvUctdbJnfbKv8aHEjP4SE","checkout_url":"https://seguro.karinewaldrich.com.br/pay/descontoposjornada","contact":{"id":"9d679b6b-f3a8-4ddd-9548-2a27bec948e7","name":"Teste Da","company_name":"","email":"daianemuller000@gmail.com","doc":"12154769900","phone_number":"11991111111","phone_local_code":"55","address":"","address_number":"","address_comp":"","address_district":"","address_city":"","address_state":"","address_state_full_name":"","address_country":"BR","address_zip_code":"","lead":[]},"contracts":[],"dates":{"canceled_at":null,"confirmed_at":null,"created_at":"2024-12-09T17:45:33Z","expires_at":"2024-12-10T03:00:00Z","ordered_at":"2024-12-09T17:44:38Z","unavailable_until":null,"updated_at":"2024-12-09T17:45:39Z","warranty_until":null},"ecommerces":[],"extras":[],"id":"9daf6450-fd68-41a3-8828-011b0a856782","infrastructure":{"user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36","ip":"2804:431:cfeb:81ae:8d0d:9f8f:4770:7587","country":"BR","region":"sp","city":"jundiai","city_lat_long":"-23.185653,-46.889222","host":"seguro.karinewaldrich.com.br"},"invoice":[],"items":[{"id":"1723595666","image_url":"https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cc2970a-ed22-4940-86ea-360b0f376843.png","internal_id":"9cc296e2-c4cd-4a79-a43f-ce07f4fe5b36","marketplace_id":"1723595666","marketplace_name":"pagarme2","name":"Ação Para Aprovação","offer":{"id":"9cc299dc-f715-461f-93f1-35a968988cf4","name":"Desconto Pós-Jornada"},"producer":{"contact_email":null,"marketplace_id":"1723502287","name":"Cdw Treinamentos"},"qty":1,"total_value":1198.8,"type":"product","unit_value":1198.8}],"last_transaction":[],"payment":{"affiliate_value":0,"acquirer":{"code":"0","message":"","name":"none","nsu":"0","tid":"0"},"can_try_again":1,"coupon":null,"currency":"BRL","discount_value":0,"gross":1198.8,"installments":{"value":1198.8,"qty":1,"interest":0},"marketplace_id":"ch_2v5p8ovCRCP4Z07V","marketplace_name":"pagarme2","marketplace_value":0,"method":"pix","net":1198.8,"processing_times":{"started_at":"2024-12-09T17:45:34.495Z","finished_at":"2024-12-09T17:45:35.563Z","delay_in_seconds":1},"refund_reason":"","refuse_reason":" (0)","tax":{"value":0,"rate":0},"total":1198.8,"pix":{"qrcode":{"signature":"00020101021226820014br.gov.bcb.pix2560pix.stone.com.br/pix/v2/579d1951-c261-4f7a-8f99-dc8537c5533c52040000530398654071198.805802BR5914CDW C E T LTDA6014RIO DE JANEIRO6229052527b76f95447462de1a54c90216304CE87","url":"https://seguro.karinewaldrich.com.br/api/checkout/invoices/9daf6450-fd68-41a3-8828-011b0a856782/qrcodes/pix"},"expiration_date":"2024-12-10"}},"product":{"id":"1723595666","image_url":"https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cc2970a-ed22-4940-86ea-360b0f376843.png","internal_id":"9cc296e2-c4cd-4a79-a43f-ce07f4fe5b36","marketplace_id":"1723595666","marketplace_name":"pagarme2","name":"Ação Para Aprovação","offer":{"id":"9cc299dc-f715-461f-93f1-35a968988cf4","name":"Desconto Pós-Jornada"},"producer":{"marketplace_id":"1723502287","name":"Cdw Treinamentos","contact_email":""},"qty":1,"total_value":1198.8,"type":"product","unit_value":1198.8},"shipment":{"carrier":"","service":"","tracking":"","value":0,"status":"","delivery_time":""},"shipping":{"name":"Standard","value":0},"source":{"source":null,"checkout_source":null,"utm_source":null,"utm_campaign":null,"utm_medium":null,"utm_content":null,"utm_term":null,"pptc":[]},"status":"waiting_payment","subscription":[],"type":"producer"},"webhookUrl":"https://n8nwebhook.karinewaldrich.com.br/webhook/186cb702-d928-4795-887a-e7d5ece0ffad","executionMode":"production"}}]},"versionId":"f76a04dc-45cf-4044-a9a1-d15fc8a5fc9c","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:05:52.051Z","updatedAt":"2025-06-03T13:05:52.051Z","role":"workflow:owner","workflowId":"235VfPIvVdeNurhS","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}