[karine][apa]---aguardando-o-pagamento---parte-2---sheets-daZNZ7X6OI2Mxz7j.json
{"createdAt":"2025-06-03T13:11:34.823Z","updatedAt":"2025-06-03T13:11:42.371Z","id":"daZNZ7X6OI2Mxz7j","name":"[KARINE][APA] - Aguardando o pagamento - parte 2 - SHEETS","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}\n","additionalFields":{}},"id":"54babfa4-d011-42b4-a008-8242d1abb28a","name":"procura_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1040,360],"alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"label_ids\": [100]\n}","options":{}},"id":"71f95266-0923-48d5-8755-083344037309","name":"adicionar_tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,320]},{"parameters":{"options":{}},"id":"5c4538fc-fabf-4415-ad13-4a86038826d4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,420]},{"parameters":{},"id":"cfe7e4f8-54bf-4faf-ab87-fb9e214f57d9","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[340,580],"webhookId":"84de1787-cf52-42ef-be1f-13796dc79838"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3ed818a7-58bd-4d1e-9b0e-2364585d1334","leftValue":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"aabf0573-a01b-45de-8c1c-060fd046bb4d","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1300,360]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"parameters\": {\n    \"assignments\": {\n      \"assignments\": [\n        {\n          \"id\": \"log_message\",\n          \"name\": \"log\",\n          \"value\": \"Tentando criar uma nova pessoa no Pipedrive\",\n          \"type\": \"string\"\n        }\n      ]\n    },\n    \"options\": {}\n  },\n  \"id\": \"log_novo_contato\",\n  \"name\": \"Log Nova Pessoa\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 1,\n  \"position\": [\n    2300,\n    340\n  ]\n}\n","options":{}},"id":"1b50c63a-9ab8-4d51-bded-080857dfd67d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,660]},{"parameters":{"resource":"person","name":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}","additionalFields":{"email":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"].trim() }}"],"phone":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"phone\"] }}"]}},"id":"7c4c30ab-e19c-48a6-a144-afee467b05ac","name":"criar_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1840,560]},{"parameters":{"title":"={{ \"[L090125] Recuperação - \" + $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}\n","associateWith":"person","person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","additionalFields":{"stage_id":37}},"id":"d56b6b80-2eb3-4803-ad61-cc6ecd6e91d4","name":"criar_negócio","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2240,600]},{"parameters":{"operation":"search","term":"[L090125]","additionalFields":{"personId":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","status":"open"}},"id":"9d49d3a9-6813-473b-b8ff-b615e3c792c3","name":"procura_deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1780,0],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c7444d7-3cfd-4fe9-8f6b-4d21fbafcb07","leftValue":"={{ $node[\"procura_deal\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"97acd085-f63e-410f-9af8-e37ccfe1cb27","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2040,0]},{"parameters":{"title":"={{ \"[L090125] Recuperação - \" + $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}\n","associateWith":"person","person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","additionalFields":{"currency":"BRL","stage_id":37,"status":"open","user_id":"={{ [21330817, 21963603][Math.floor(Math.random() * 2)] }}"}},"id":"a8726b6a-30f4-466b-91bc-e9008bc60248","name":"cria_deal1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2360,20]},{"parameters":{"documentId":{"__rl":true,"value":"1LG0Epa4IqRnFhRFCE5_ZOFjWhf6dpC_urOqDqoXWooE","mode":"list","cachedResultName":"RECUPERACAO - L090125","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LG0Epa4IqRnFhRFCE5_ZOFjWhf6dpC_urOqDqoXWooE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LG0Epa4IqRnFhRFCE5_ZOFjWhf6dpC_urOqDqoXWooE/edit#gid=0"},"options":{}},"id":"6485219d-be6c-4b0e-925a-fa90ff3afdd4","name":"chega_da_fila","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[140,380]},{"parameters":{},"id":"00a9b9f0-9144-4f30-85ec-9dd1490125a2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]}],"connections":{"procura_pessoa":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"procura_pessoa","type":"main","index":0}],[{"node":"procura_pessoa","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"procura_deal","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar_pessoa","type":"main","index":0}]]},"criar_pessoa":{"main":[[{"node":"criar_negócio","type":"main","index":0}]]},"criar_negócio":{"main":[[{"node":"adicionar_tags","type":"main","index":0}]]},"procura_deal":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"adicionar_tags","type":"main","index":0}],[{"node":"cria_deal1","type":"main","index":0}]]},"cria_deal1":{"main":[[{"node":"adicionar_tags","type":"main","index":0}]]},"chega_da_fila":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"chega_da_fila","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"44e8cef1-c941-43a8-b216-5636dc6e193b","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:11:34.823Z","updatedAt":"2025-06-03T13:11:34.823Z","role":"workflow:owner","workflowId":"daZNZ7X6OI2Mxz7j","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}