[karine][vf]-[captacao]-[apa]---opt-in---parte-3.4---entra-no-pipedrive-6UFYthAYbvzQ2FQP.json
{"createdAt":"2025-06-03T13:25:13.546Z","updatedAt":"2025-06-03T13:25:19.211Z","id":"6UFYthAYbvzQ2FQP","name":"[KARINE][VF] [CAPTACAO] [APA] - Opt-in - Parte 3.4 - Entra no Pipedrive","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"[L070824] - CRM: preencheu pesquisa","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":1}},"id":"a474fbe8-2a3d-489e-939d-76e28ce1a05e","name":"chega_da_fila","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-2080,440]},{"parameters":{"operation":"search","term":"[L081024]","additionalFields":{"personId":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","status":"open"}},"id":"0ad2169a-1302-4a40-b7cc-5e18ceef25d6","name":"procura_deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-660,280],"alwaysOutputData":true},{"parameters":{"resource":"person","operation":"update","personId":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","updateFields":{"label":96}},"id":"f1b5f710-fe29-43fa-baef-1dae6300f937","name":"insere_etiqueta","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[300,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cff60264-1e02-4d4b-b930-aa5b6b2d3b41","leftValue":"={{ $node[\"procura_pessoa\"].json[\"id\"].toString() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2f0ddc07-2f7a-4051-a865-e45e68f0f8bb","name":"achou_pessoa?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-920,420]},{"parameters":{"options":{}},"id":"8e917e99-73a0-4c31-a2fd-855d41dd5e96","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1860,440]},{"parameters":{},"id":"921a0745-4f9e-4640-a26a-56a257abd781","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1420,540]},{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"].trim() }}","additionalFields":{"exactMatch":true,"fields":"email"}},"id":"dcc120c3-4489-431c-9a71-44fe4a9bbfdb","name":"procura_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1140,420],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{},"id":"ec9bdcbd-ad7a-4ab6-85e7-024a9deb632a","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1640,540],"webhookId":"71a0156c-6ad2-4e87-b14c-828f6eb06300"},{"parameters":{"content":"# FLUXOS DE CRM & PESQUISA\n\n## 1 - CRIA O CONTATO E NEGOCIO NO CRM\n## https://n8neditor.karinewaldrich.com.br/workflow/ZJXqFRZBZvO6TyI4\n\n## 2 - APÓS LEAD RESPONDER PESQUISA, ELE É ATUALIZADO NO ACTIVE CAMPAIGN \n## https://n8neditor.karinewaldrich.com.br/workflow/XvwoxQrm6sQ0x9on\n\n## 3 - NEGOCIO É ATUALIZADO NO PIPEDRIVE SE ELE FOR QUALIFICADO OU NÃO\n## https://n8neditor.karinewaldrich.com.br/workflow/3aepY8StsqgqM545","height":561.3116583318762,"width":1173.9761246632913,"color":5},"id":"0940fa38-d3a2-411a-8c79-b44c039a3745","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,660]},{"parameters":{"operation":"update","dealId":"={{ $node[\"procura_deal\"].json[\"id\"] }}","updateFields":{"currency":"BRL","customProperties":{"property":[{"name":"63a4f92359249fc0b67c0124ec0fe81140701282","value":"Sim"},{"name":"3f361ee7834539a20bb8c87176a5a06fe2997875","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"},{"name":"c317b5b3bd3049400ecba9109afc3a3c4f450cd7","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"renda\"] }}"}]},"person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","stage_id":36}},"id":"5b3c8c9a-e9e5-4818-9d8f-5021b320b3c9","name":"atualiza_deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[40,440],"onError":"continueErrorOutput"},{"parameters":{"operation":"update","dealId":"={{ $node[\"procura_deal\"].json[\"id\"] }}","updateFields":{"currency":"BRL","customProperties":{"property":[{"name":"63a4f92359249fc0b67c0124ec0fe81140701282","value":"Sim"},{"name":"3f361ee7834539a20bb8c87176a5a06fe2997875","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"},{"name":"c317b5b3bd3049400ecba9109afc3a3c4f450cd7","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"renda\"] }}"}]},"person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","stage_id":37}},"id":"caffae83-a908-491c-aa93-647fcfe44271","name":"atualiza_deal_qualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,0],"onError":"continueErrorOutput"},{"parameters":{"title":"=[L081024] - {{ $item(\"0\").$node[\"procura_pessoa\"].json[\"name\"] }}","associateWith":"person","person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","additionalFields":{"currency":"BRL","customProperties":{"property":[{"name":"5cf1b899e9d464334165aa47e162465d550f3ebd","value":"={{ $now.format(\"yyyy-MM-dd HH-mm-ss\") }}"}]},"stage_id":35,"status":"open","user_id":"={{ [21330817, 21963603][Math.floor(Math.random() * 2)] }}"}},"id":"91b96da2-1eff-416a-95b0-fe15e0ec64dc","name":"cria_deal1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-260,420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"5cbd3e28-a10b-46ce-b2b4-1b81f5cb9aae","leftValue":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"renda\"] }}","rightValue":"Entre 5001 e 10000 reais por mês","operator":{"type":"string","operation":"contains"}},{"id":"cc0ecbd2-7691-4a2d-9384-cb7d4d9204ac","leftValue":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"renda\"] }}","rightValue":"Acima de 10001 reais por mês","operator":{"type":"string","operation":"contains"}},{"id":"601d8cc2-373a-45cf-a1ce-9bba9851f48a","leftValue":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"renda\"] }}","rightValue":"De 3001 a 5000 reais por mês","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"looseTypeValidation":true}},"id":"63ddbf47-5578-415d-bc0e-d60c4641ec9a","name":"lead_qualificado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-300,140],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c7444d7-3cfd-4fe9-8f6b-4d21fbafcb07","leftValue":"={{ $node[\"procura_deal\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"aedeeef5-46f8-4d27-9e22-1a191e587c38","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,280]}],"connections":{"chega_da_fila":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"procura_deal":{"main":[[{"node":"If","type":"main","index":0}]]},"achou_pessoa?":{"main":[[{"node":"procura_deal","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"procura_pessoa","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"procura_pessoa":{"main":[[{"node":"achou_pessoa?","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"atualiza_deal":{"main":[[{"node":"insere_etiqueta","type":"main","index":0}]]},"atualiza_deal_qualificado":{"main":[[{"node":"insere_etiqueta","type":"main","index":0}]]},"cria_deal1":{"main":[[{"node":"procura_deal","type":"main","index":0}]]},"lead_qualificado?":{"main":[[{"node":"atualiza_deal_qualificado","type":"main","index":0}],[{"node":"atualiza_deal","type":"main","index":0}],[{"node":"atualiza_deal","type":"main","index":0}]]},"If":{"main":[[{"node":"lead_qualificado?","type":"main","index":0}],[{"node":"cria_deal1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"chega_da_fila":[{"json":{"fields":{"consumerTag":"amq.ctag-mwDV9ReKtIv2Fcf1-Ypb9Q","deliveryTag":3,"redelivered":false,"exchange":"","routingKey":"[L070824] - CRM: preencheu pesquisa"},"properties":{"headers":{}},"content":{"contact":"68983","tag":"370","cdate":"2024-10-10T20:51:10-05:00","links":{"tag":"https://karinewaldrich.api-us1.com/api/3/contactTags/517341/tag","contact":"https://karinewaldrich.api-us1.com/api/3/contactTags/517341/contact"},"id":"517341","email":"lindenberg33@gmail.com","carreira":"Fiscal","renda":"De 3001 a 5000 reais por mês."}}}]},"versionId":"ca6b681c-e162-4fc8-9077-96e6206a3271","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:25:13.546Z","updatedAt":"2025-06-03T13:25:13.546Z","role":"workflow:owner","workflowId":"6UFYthAYbvzQ2FQP","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}