[karine][coachday]-adiciona-ao-pipedrive-(add-fila)-formulário-e2A6wAX7waSY9jZX.json
{"createdAt":"2025-06-03T13:07:42.277Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"e2A6wAX7waSY9jZX","name":"[KARINE][COACHDAY] Adiciona ao pipedrive (add fila) Formulário","active":false,"isArchived":true,"nodes":[{"parameters":{"queue":"[COACHINGDAY] Adiciona ao pipedrive","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"durable":true}},"id":"9b25f127-2fff-45c2-bc82-3e4d2e4a3736","name":"RabbitMQ","type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[820,300]},{"parameters":{"authentication":"basicAuth","path":"coachingday-pipedrive-form","formTitle":"[COACHINGDAY] Adiciona ao pipedrive","formDescription":"[COACHINGDAY] Adiciona ao pipedrive","formFields":{"values":[{"fieldLabel":"Google Sheets URL","placeholder":"URL da Planilha","requiredField":true},{"fieldLabel":"Planilha","placeholder":"Nome da Planilha"}]},"options":{"appendAttribution":false}},"id":"47dbcf84-0e81-4d70-accf-5748223ab3c4","name":"n8n Form Trigger","type":"n8n-nodes-base.formTrigger","typeVersion":2.1,"position":[20,200],"webhookId":"d8b65866-067f-4b2d-a56e-7fb5283811f6"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"n8n Form Trigger\"].json[\"Google Sheets URL\"] }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $item(\"0\").$node[\"n8n Form Trigger\"].json[\"Planilha\"] }}","mode":"name"},"options":{}},"id":"08701179-7b31-43d6-b6be-ee2e9353d861","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[200,200]},{"parameters":{"options":{}},"id":"43730a1c-b14d-4989-8a42-625f83b95d6c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,200]},{"parameters":{"assignments":{"assignments":[{"id":"e44d3c84-e8b3-43f7-9e3a-c0869af61a5a","name":"nome","value":"","type":"string"},{"id":"54f4a18f-60d8-4329-a11f-26af8f51b9a4","name":"email","value":"","type":"string"},{"id":"b0f15293-2682-42e1-bfa7-724c0a4a8666","name":"telefone","value":"={{ $json[\"Número\"] }}","type":"string"}]},"options":{}},"id":"1664d930-d7d9-428b-8e3c-82641a820b38","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,300]},{"parameters":{"content":"## Upload via Form \n**URL:** https://n8nwebhook.karinewaldrich.com.br/form/coachingday-pipedrive-\nform\n**Email:** apoiowaldrich7@gmail.com\n**Senha:** apoiowaldrich7\n\nURL da Planilha no Sheets e Nome da planilha ","width":573},"id":"97fd0d2c-7bf6-4431-be1d-febec554fe14","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]}],"connections":{"RabbitMQ":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n Form Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"n8n Form Trigger":[{"json":{"Google Sheets URL":"https://docs.google.com/spreadsheets/d/1L_biNi6d4IjTJhd7_7ld8kWZb0pUaIf3lhNSVDvvVsw/edit?gid=86368679#gid=86368679","Planilha":"SendFlow - Leads da Campanha","submittedAt":"2024-09-25T15:28:47.950-03:00","formMode":"production"}}]},"versionId":"e5f07c28-3b82-4101-ae98-073bd22d3d85","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:07:42.277Z","updatedAt":"2025-06-03T13:07:42.277Z","role":"workflow:owner","workflowId":"e2A6wAX7waSY9jZX","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}