[karine][coaching]---crm-jéssica:-qualificação---parte-2-9KqSF293tdSOvP1K.json
{"createdAt":"2025-06-03T13:33:04.444Z","updatedAt":"2025-06-03T13:33:14.743Z","id":"9KqSF293tdSOvP1K","name":"[KARINE][COACHING] - CRM JÉSSICA: Qualificação - Parte 2","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"[COACHING] - Aguardando agendamento da SE - Jéssica","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":3}},"id":"d09862b1-83a5-4f17-8e29-c7beec17ba47","name":"chega_da_fila","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-2880,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}","rightValue":"qualificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"41310c59-b2ba-4aeb-aca7-f8a4777af4bd","name":"lead qualificado?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}","rightValue":"=qualificado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"18169064-38be-450f-a6b3-dccac4300be0","name":"lead qualificado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-220,640]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE","mode":"list","cachedResultName":"Karine - High Ticket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}","Nome":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"] }}","Telefone":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}","ID Lead Pipedrive":"={{   $node[\"cria_lead\"].runIndex >= 0        ? $node[\"cria_lead\"].json[\"id\"] : $node[\"atualiza_lead\"].runIndex >= 0      ? $node[\"atualiza_lead\"].json[\"id\"]     : null }}","ID Deal Pipedrive":"={{   $node[\"cria_deal_qualificado\"].runIndex >= 0        ? $node[\"cria_deal_qualificado\"].json[\"id\"] : $node[\"atualiza_deal_qualificado\"].runIndex >= 0      ? $node[\"atualiza_deal_qualificado\"].json[\"id\"]     : null }}"},"matchingColumns":["Email"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Source","displayName":"UTM Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Medium","displayName":"UTM Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Campaign","displayName":"UTM Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Term","displayName":"UTM Term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Content","displayName":"UTM Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID Lead Pipedrive","displayName":"ID Lead Pipedrive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Deal Pipedrive","displayName":"ID Deal Pipedrive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"f28d2949-22d6-461f-b200-2fd22c087cd7","name":"insere_no_sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[420,240],"alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || 'sem email' }}"}]},"options":{}},"id":"48bc6489-4302-44f3-ad74-d8a36ec1d438","name":"pesquisa_no_sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-1380,480],"alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE","mode":"list","cachedResultName":"Karine - High Ticket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}","Nome":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"] }}","Telefone":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}","ID Lead Pipedrive":"={{   $node[\"cria_lead\"].runIndex >= 0        ? $node[\"cria_lead\"].json[\"id\"] : $node[\"atualiza_lead\"].runIndex >= 0      ? $node[\"atualiza_lead\"].json[\"id\"]     : null }}","ID Deal Pipedrive":"={{   $node[\"cria_deal_desqualificado\"].runIndex >= 0        ? $node[\"cria_deal_desqualificado\"].json[\"id\"] : $node[\"atualiza_deal_desqualificado\"].runIndex >= 0      ? $node[\"atualiza_deal_desqualificado\"].json[\"id\"]     : null }}"},"matchingColumns":["Email"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Source","displayName":"UTM Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Medium","displayName":"UTM Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Campaign","displayName":"UTM Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Term","displayName":"UTM Term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM Content","displayName":"UTM Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID Lead Pipedrive","displayName":"ID Lead Pipedrive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Deal Pipedrive","displayName":"ID Deal Pipedrive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"9ae03ad0-4ae0-4dea-85a5-bfb31d554cb0","name":"insere_no_sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[420,620],"alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b66e3516-3d21-4653-99af-dffff1bbb7b8","leftValue":"={{ $json.content.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0aa3253c-7bc5-45b6-b462-c75814030f34","name":"tem_email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2660,460]},{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}","additionalFields":{"fields":"email"}},"id":"e50e5034-08d7-4333-b5c3-627df4a2df80","name":"procura_pessoa_pelo_email","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-2320,160],"alwaysOutputData":true},{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}","additionalFields":{"fields":"email"}},"id":"ed8385a7-6c83-4f16-864f-b00be12e2ced","name":"procura_pessoa_pelo_telefone","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-2320,640],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b2f5f3a8-6944-40eb-b390-d431881e1549","name":"pessoa_existe?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2080,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_email\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"82e59389-95ff-4eb4-b56e-237c32ff814a","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2080,160]},{"parameters":{"resource":"person","name":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}","additionalFields":{"email":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"],"phone":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}"]}},"id":"fb99c273-493d-4c05-acc1-fb1095649ea8","name":"cria_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1780,140]},{"parameters":{"resource":"person","name":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}","additionalFields":{"email":[],"phone":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}"]}},"id":"5b88a504-b078-44a3-801e-4180126ee7f8","name":"cria_pessoa1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1800,820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"793d5083-f531-4652-87db-57a3a9f73005","leftValue":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Lead Pipedrive\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e39aab06-eaee-4132-bd1f-2e410b240ea9","name":"lead_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-940,480]},{"parameters":{"resource":"lead","operation":"update","leadId":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Lead Pipedrive\"] }}","updateFields":{}},"id":"8a22f099-4c82-42ab-9ce8-7dab2246bc9b","name":"atualiza_lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-720,320]},{"parameters":{"resource":"lead","title":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","additionalFields":{}},"id":"8420df46-1542-46f3-bc1a-ee4635bb9e6b","name":"cria_lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-720,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"793d5083-f531-4652-87db-57a3a9f73005","leftValue":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"].toString() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"87f3aab5-cdc8-49d4-b54a-141c546b71a9","name":"deal_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-460,480]},{"parameters":{"operation":"update","dealId":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"] }}","updateFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"}]},"user_id":"={{ $node[\"Definir Atendente Comercial\"].json[\"id_atendente\"] }}","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","stage_id":8,"title":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}"}},"id":"20f8e1dd-a085-48ce-b3cd-99a08bf8f737","name":"atualiza_deal_qualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"update","dealId":"={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"] }}","updateFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"}]},"user_id":"={{ $node[\"Definir Atendente Comercial\"].json[\"id_atendente\"] }}","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","stage_id":7,"title":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}"}},"id":"4ea4f8d1-c78e-46cb-9b25-268b27425cda","name":"atualiza_deal_desqualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,260]},{"parameters":{"title":"=[HT] - {{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","additionalFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"}]},"stage_id":8,"status":"open","user_id":"={{ $node[\"Definir Atendente Comercial\"].json[\"id_atendente\"] }}"}},"id":"1bcd5c69-dd8f-4faa-b082-6899d428d97f","name":"cria_deal_qualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,500]},{"parameters":{"title":"=[HT] - {{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","additionalFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"}]},"stage_id":7,"status":"open","user_id":"={{ $node[\"Definir Atendente Comercial\"].json[\"id_atendente\"] }}"}},"id":"3899cac0-4950-4b25-b3e0-785074f1be67","name":"cria_deal_desqualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,800]},{"parameters":{"jsCode":"let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"},"id":"f67ba345-b509-4100-9822-7b8df63a7014","name":"insere_id","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,480]},{"parameters":{"assignments":{"assignments":[{"id":"7f87ad29-a4bd-4a36-a98d-f559d5bdbcc0","name":"id_atendente","value":"={{ $item(\"0\").$node[\"chega_da_fila\"].json[\"content\"][\"atendente\"] }}","type":"number"}]},"options":{}},"id":"73a2fb8f-f76f-4d42-9b55-aa9a60d9405f","name":"Definir Atendente Comercial","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,480]}],"connections":{"chega_da_fila":{"main":[[{"node":"tem_email?","type":"main","index":0}]]},"lead qualificado?1":{"main":[[{"node":"atualiza_deal_qualificado","type":"main","index":0}],[{"node":"atualiza_deal_desqualificado","type":"main","index":0}]]},"lead qualificado?":{"main":[[{"node":"cria_deal_qualificado","type":"main","index":0}],[{"node":"cria_deal_desqualificado","type":"main","index":0}]]},"pesquisa_no_sheets":{"main":[[{"node":"Definir Atendente Comercial","type":"main","index":0}]]},"tem_email?":{"main":[[{"node":"procura_pessoa_pelo_email","type":"main","index":0}],[{"node":"procura_pessoa_pelo_telefone","type":"main","index":0}]]},"procura_pessoa_pelo_email":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"procura_pessoa_pelo_telefone":{"main":[[{"node":"pessoa_existe?1","type":"main","index":0}]]},"pessoa_existe?1":{"main":[[{"node":"insere_id","type":"main","index":0}],[{"node":"cria_pessoa1","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"insere_id","type":"main","index":0}],[{"node":"cria_pessoa","type":"main","index":0}]]},"cria_pessoa":{"main":[[{"node":"insere_id","type":"main","index":0}]]},"cria_pessoa1":{"main":[[{"node":"insere_id","type":"main","index":0}]]},"lead_existe?":{"main":[[{"node":"atualiza_lead","type":"main","index":0}],[{"node":"cria_lead","type":"main","index":0}]]},"atualiza_lead":{"main":[[{"node":"deal_existe?","type":"main","index":0}]]},"cria_lead":{"main":[[{"node":"deal_existe?","type":"main","index":0}]]},"deal_existe?":{"main":[[{"node":"lead qualificado?1","type":"main","index":0}],[{"node":"lead qualificado?","type":"main","index":0}]]},"atualiza_deal_qualificado":{"main":[[{"node":"insere_no_sheets","type":"main","index":0}]]},"atualiza_deal_desqualificado":{"main":[[{"node":"insere_no_sheets1","type":"main","index":0}]]},"cria_deal_qualificado":{"main":[[{"node":"insere_no_sheets","type":"main","index":0}]]},"cria_deal_desqualificado":{"main":[[{"node":"insere_no_sheets1","type":"main","index":0}]]},"insere_id":{"main":[[{"node":"pesquisa_no_sheets","type":"main","index":0}]]},"Definir Atendente Comercial":{"main":[[{"node":"lead_existe?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"chega_da_fila":[{"json":{"fields":{"consumerTag":"amq.ctag-Lrlp5ADKe2hawf3NYjN8gg","deliveryTag":3,"redelivered":false,"exchange":"","routingKey":"[COACHING] - Aguardando agendamento da SE - Jéssica"},"properties":{"headers":{}},"content":{"fname":"Victor","lname":"- Teste","fullname":"Victor - Teste","email":"automacao.joaoport@gmail.com","whatsapp":"558694110121","carreira":"Administrativa (Ex. PF Administrativo ou INSS)","tempo":"Começando do zero","qualificacao":"qualificado","atendente":21963603}}}]},"versionId":"a5138bee-81b0-4b09-aec4-802fec93976c","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:33:04.444Z","updatedAt":"2025-06-03T13:33:04.444Z","role":"workflow:owner","workflowId":"9KqSF293tdSOvP1K","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}