[karine][coaching]---funil-completo-dai-5LiSWrkjDNhbhKZs.json
{"createdAt":"2025-06-02T20:37:23.779Z","updatedAt":"2025-06-02T20:37:32.535Z","id":"5LiSWrkjDNhbhKZs","name":"[KARINE][COACHING] - Funil Completo DAI","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const fullNameAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"nome\"] || \"\";\nconst emailAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"email\"] || \"\";\nconst telefoneClienteOriginal = $node[\"preencheu_typebot\"].json[\"body\"][\"telefone\"] || '';\nconst carreira = $node[\"preencheu_typebot\"].json[\"body\"][\"carreira\"] || '';\nconst tempo = $node[\"preencheu_typebot\"].json[\"body\"][\"tempo\"] || '';\nconst qualificacao = $node[\"preencheu_typebot\"].json[\"body\"][\"qualificacao\"] || '';\nconst atendenteOriginal = $node[\"preencheu_typebot\"].json[\"body\"][\"atendente\"] || '';\n\n// Função para formatar o número do atendente\nfunction formatAtendente(atendente) {\n    if (!atendente) {\n        // Caso nenhum atendente esteja configurado, retorne um padrão (ex.: o primeiro atendente)\n        return 21330817; // ID da Juliana como exemplo\n    }\n    return parseInt(atendente); // Garante que o número seja um inteiro\n}\n\nconst atendenteFormatado = formatAtendente(atendenteOriginal);\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\nconst telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\nconst DDI = '55';\nconst DDD = telefoneLimpo.slice(0, 2); // Correção: Extrair os primeiros dois dígitos para obter o DDD\n\n// Determinar o número de telefone final\nlet telefoneFinal;\nif (parseInt(DDD) > 28) {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-8)}`;\n} else {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n}\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado\n    carreira: carreira,\n    tempo: tempo,\n    qualificacao: qualificacao,\n    atendente: atendenteFormatado // Atendente formatado\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"},"id":"181a9d23-5dea-4198-a920-a3c9896247c0","name":"formata_dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2820,840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b66e3516-3d21-4653-99af-dffff1bbb7b8","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"48ba4919-78f9-4f9e-8fca-9377f6ccc980","name":"tem_email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2620,840]},{"parameters":{"resource":"person","operation":"search","limit":1,"term":"={{ $json.email }}","additionalFields":{}},"id":"06eae2b8-98a3-4fba-adc6-637f7c088462","name":"procura_pessoa_pelo_email","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-2280,540],"alwaysOutputData":true},{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}","additionalFields":{"fields":"email"}},"id":"5883cd94-cb09-404e-af4c-5eaef82708a3","name":"procura_pessoa_pelo_telefone","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-2280,1060],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"89ee8421-fd77-49e5-bcbf-663601ee5596","name":"pessoa_existe?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2040,1060]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_email\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5a10c43c-c886-43a4-a937-17a5ef75e324","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2040,540]},{"parameters":{"resource":"person","name":"={{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","additionalFields":{"email":["={{ $node[\"formata_dados\"].json[\"email\"] }}\n"],"phone":["={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}\n"]}},"id":"c8daa1d2-c2ff-45dc-a1dc-4da2d50e9627","name":"cria_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1780,360]},{"parameters":{"resource":"person","name":"={{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","additionalFields":{"email":["={{ $node[\"formata_dados\"].json[\"email\"] }}\n"],"phone":["={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}"]}},"id":"290e9128-0d40-41ee-9a08-428768722266","name":"cria_pessoa1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1760,1180]},{"parameters":{"jsCode":"let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"},"id":"8aafdd72-c3d7-48a6-9dc4-32a4cdeb25cd","name":"insere_id","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,1320]},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $json.clientId }}/deals?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe ","options":{}},"id":"5498194c-4b30-44cf-b4b9-2bbf36ee39c7","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-700,1320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"793d5083-f531-4652-87db-57a3a9f73005","leftValue":"={{ $json.data[0].id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"53cf5823-69cb-411c-9382-9f05fb1685a2","name":"lead_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-540,1320]},{"parameters":{"resource":"lead","title":"={{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","additionalFields":{}},"id":"37d5a197-0530-4077-b52f-d9e245b9281e","name":"cria_lead","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-260,1500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $node[\"formata_dados\"].json[\"qualificacao\"].trim() }}","rightValue":"=qualificado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a5eb40ce-b287-446b-85d8-0c246cab1fae","name":"lead qualificado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[20,1500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $('formata_dados').item.json.qualificacao }}","rightValue":"qualificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"5d7d816c-7dcf-43f4-9c43-87582649522e","name":"lead qualificado?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-280,1220]},{"parameters":{"operation":"update","dealId":"={{ $json.data[0].id }}","updateFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $('tem_email?').item.json.carreira }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $('tem_email?').item.json.tempo }}"}]},"user_id":21963603,"person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","stage_id":8,"title":"={{ $('formata_dados').item.json.fullname }}"}},"id":"43672fe0-d71e-445d-a516-2af5ac6737ac","name":"atualiza_deal_qualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-20,1200]},{"parameters":{"title":"=[HT] - {{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id\"].json[\"clientId\"] }}","additionalFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $node[\"formata_dados\"].json[\"carreira\"] }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $node[\"formata_dados\"].json[\"tempo\"] }}"}]},"stage_id":8,"status":"open","user_id":21330817}},"id":"07bc5c5f-e65d-40d2-b871-d2ed5f95af19","name":"cria_deal_qualificado","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[360,1460]},{"parameters":{"jsCode":"let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"},"id":"303db511-875f-4665-9e3c-c6aecbdf0dea","name":"insere_id1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-900,680]},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $json.clientId }}/deals?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe ","options":{}},"id":"8525a304-eef0-4cc3-9d4a-f3682a8e3733","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,680]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"793d5083-f531-4652-87db-57a3a9f73005","leftValue":"={{ $json.data[0].id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"477c319c-7617-4efc-95bd-9d46926171d5","name":"lead_existe?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-560,680]},{"parameters":{"resource":"lead","title":"={{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id1\"].json[\"clientId\"] }}","additionalFields":{}},"id":"7a1d884b-116a-4198-bf86-0ec426020368","name":"cria_lead1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-280,860]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $node[\"formata_dados\"].json[\"qualificacao\"].trim() }}","rightValue":"=qualificado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c671a393-455b-46ac-9913-76912c79059d","name":"lead qualificado?2","type":"n8n-nodes-base.if","typeVersion":2,"position":[0,860]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $('formata_dados').item.json.qualificacao }}","rightValue":"qualificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"62bbf29b-af10-408a-b879-3d818416ce77","name":"lead qualificado?3","type":"n8n-nodes-base.if","typeVersion":2,"position":[-300,580]},{"parameters":{"operation":"update","dealId":"={{ $json.data[0].id }}","updateFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $('tem_email?').item.json.carreira }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $('tem_email?').item.json.tempo }}"}]},"user_id":21330817,"person_id":"={{ $node[\"insere_id1\"].json[\"clientId\"] }}","stage_id":8,"title":"={{ $('formata_dados').item.json.fullname }}"}},"id":"94a2a683-c070-4082-b95e-7be7452f12a6","name":"atualiza_deal_qualificado1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-40,560]},{"parameters":{"title":"=[HT] - {{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id1\"].json[\"clientId\"] }}","additionalFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $node[\"formata_dados\"].json[\"carreira\"] }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $node[\"formata_dados\"].json[\"tempo\"] }}"}]},"stage_id":8,"status":"open","user_id":21330817}},"id":"c3481a08-1b4a-44fc-a1d6-ec19d85c41a5","name":"cria_deal_qualificado1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[340,820]},{"parameters":{"jsCode":"let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"},"id":"928a71c7-3139-432c-8db2-be924fb3bd52","name":"insere_id2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-860,120]},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $json.clientId }}/deals?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe ","options":{}},"id":"df61c865-d1b5-4f58-8341-4ceb3c41e2b8","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"793d5083-f531-4652-87db-57a3a9f73005","leftValue":"={{ $json.data[0].id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"82458893-acf9-48ed-aa56-2ae7b5fb2716","name":"lead_existe?2","type":"n8n-nodes-base.if","typeVersion":2,"position":[-520,120]},{"parameters":{"resource":"lead","title":"={{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id2\"].json[\"clientId\"] }}","additionalFields":{}},"id":"a27ba03a-d628-41dc-9a8d-65e9bf0ea140","name":"cria_lead2","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-240,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $node[\"formata_dados\"].json[\"qualificacao\"].trim() }}","rightValue":"=qualificado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"25005110-02a8-4644-a448-ec88292cdd24","name":"lead qualificado?4","type":"n8n-nodes-base.if","typeVersion":2,"position":[40,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a","leftValue":"={{ $('formata_dados').item.json.qualificacao }}","rightValue":"qualificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"1039a5bc-7421-4092-b56b-271266e11758","name":"lead qualificado?5","type":"n8n-nodes-base.if","typeVersion":2,"position":[-260,20]},{"parameters":{"operation":"update","dealId":"={{ $json.data[0].id }}","updateFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $('tem_email?').item.json.carreira }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $('tem_email?').item.json.tempo }}"}]},"user_id":22786612,"person_id":"={{ $node[\"insere_id2\"].json[\"clientId\"] }}","stage_id":8,"title":"={{ $('formata_dados').item.json.fullname }}"}},"id":"2bfd7fe1-4e35-4d66-936d-ad3d65f37eb6","name":"atualiza_deal_qualificado2","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,0]},{"parameters":{"title":"=[HT] - {{ $node[\"formata_dados\"].json[\"fullname\"].trim() }}","associateWith":"person","person_id":"={{ $node[\"insere_id2\"].json[\"clientId\"] }}","additionalFields":{"currency":"BRL","customProperties":{"property":[{"name":"72177281bc92f4917e68c142219825d35f35f1d4","value":"={{ $node[\"formata_dados\"].json[\"carreira\"] }}"},{"name":"069d3029e6033eca5dde1bb12a76fdca9c9b34f0","value":"={{ $node[\"formata_dados\"].json[\"tempo\"] }}"}]},"stage_id":8,"status":"open","user_id":21330817}},"id":"f4cded55-da72-4908-afa5-0b06fb29bbca","name":"cria_deal_qualificado2","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[380,260]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"19ee21fc-4954-45d1-9e9a-536167e81fc3","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-740,1060]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d732864a-b8e7-40c3-8aef-ec5969e55461","leftValue":"={{$node[\"formata_dados\"].json[\"atendente\"]}}","rightValue":21963603,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$node[\"formata_dados\"].json[\"atendente\"]}}","rightValue":21330817,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2d74286b-6a16-41aa-aacb-c9fa7ea21c7c","leftValue":"={{$node[\"formata_dados\"].json[\"atendente\"]}}","rightValue":22786612,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"af93be09-61ed-4b56-b483-ec1b88030b99","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1320,780]},{"parameters":{"httpMethod":"POST","path":"3feaa887-1912-499a-9e15-84783df33db9","options":{}},"id":"70b0293c-acd6-47aa-b174-4009afbd7934","name":"preencheu_typebot","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3020,840],"webhookId":"3feaa887-1912-499a-9e15-84783df33db9"}],"connections":{"formata_dados":{"main":[[{"node":"tem_email?","type":"main","index":0}]]},"tem_email?":{"main":[[{"node":"procura_pessoa_pelo_email","type":"main","index":0}],[{"node":"procura_pessoa_pelo_telefone","type":"main","index":0}]]},"procura_pessoa_pelo_email":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"procura_pessoa_pelo_telefone":{"main":[[{"node":"pessoa_existe?1","type":"main","index":0}]]},"pessoa_existe?1":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"cria_pessoa1","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"cria_pessoa","type":"main","index":0}]]},"cria_pessoa":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"cria_pessoa1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"insere_id":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"lead_existe?","type":"main","index":0}]]},"lead_existe?":{"main":[[{"node":"lead qualificado?1","type":"main","index":0}],[{"node":"cria_lead","type":"main","index":0}]]},"cria_lead":{"main":[[{"node":"lead qualificado?","type":"main","index":0}]]},"lead qualificado?":{"main":[[{"node":"cria_deal_qualificado","type":"main","index":0}]]},"lead qualificado?1":{"main":[[{"node":"atualiza_deal_qualificado","type":"main","index":0}]]},"atualiza_deal_qualificado":{"main":[[{"node":"cria_deal_qualificado","type":"main","index":0}]]},"insere_id1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"lead_existe?1","type":"main","index":0}]]},"lead_existe?1":{"main":[[{"node":"lead qualificado?3","type":"main","index":0}],[{"node":"cria_lead1","type":"main","index":0}]]},"cria_lead1":{"main":[[{"node":"lead qualificado?2","type":"main","index":0}]]},"lead qualificado?2":{"main":[[{"node":"cria_deal_qualificado1","type":"main","index":0}]]},"lead qualificado?3":{"main":[[{"node":"atualiza_deal_qualificado1","type":"main","index":0}]]},"atualiza_deal_qualificado1":{"main":[[{"node":"cria_deal_qualificado1","type":"main","index":0}]]},"insere_id2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"lead_existe?2","type":"main","index":0}]]},"lead_existe?2":{"main":[[{"node":"lead qualificado?5","type":"main","index":0}],[{"node":"cria_lead2","type":"main","index":0}]]},"cria_lead2":{"main":[[{"node":"lead qualificado?4","type":"main","index":0}]]},"lead qualificado?4":{"main":[[{"node":"cria_deal_qualificado2","type":"main","index":0}]]},"lead qualificado?5":{"main":[[{"node":"atualiza_deal_qualificado2","type":"main","index":0}]]},"atualiza_deal_qualificado2":{"main":[[{"node":"cria_deal_qualificado2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"insere_id","type":"main","index":0}],[{"node":"insere_id1","type":"main","index":0}],[{"node":"insere_id2","type":"main","index":0}]]},"preencheu_typebot":{"main":[[{"node":"formata_dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"preencheu_typebot":[{"json":{"headers":{"host":"n8nwebhook.karinewaldrich.com.br","user-agent":"node","content-length":"168","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","baggage":"sentry-environment=vercel-production,sentry-release=5546d112b35cf094b8817ba68de56e4aa208e6a3-viewer,sentry-public_key=94aaae78880c4b659d57b76b5aa2e3f5,sentry-trace_id=945389ad6a3d4be194aa65a9c6fd2e44","content-type":"application/json","sec-fetch-mode":"cors","sentry-trace":"945389ad6a3d4be194aa65a9c6fd2e44-ae23cb2af564be9f","x-forwarded-for":"18.171.245.94","x-forwarded-host":"n8nwebhook.karinewaldrich.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cadf6fe75461","x-real-ip":"18.171.245.94","x-vercel-id":"gru1::dcxff-1731343007867-55336c6a1017"},"params":{},"query":{},"body":{"nome":"luana","email":"luana123456789@gmail.com","telefone":"11985056464","carreira":"Controle","tempo":"Começando do zero","qualificacao":"qualificado","atendente":22786612},"webhookUrl":"https://n8nwebhook.karinewaldrich.com.br/webhook/3feaa887-1912-499a-9e15-84783df33db9","executionMode":"production"}}]},"versionId":"3ef9281e-4899-4552-8f12-2a4fc8e0b84f","triggerCount":0,"shared":[{"createdAt":"2025-06-02T20:37:23.779Z","updatedAt":"2025-06-02T20:37:23.779Z","role":"workflow:owner","workflowId":"5LiSWrkjDNhbhKZs","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}