[karine]capt_5--verificação-leads-manychat-bhLxXW5rYt22Vrj0.json
{"createdAt":"2025-06-03T13:04:13.896Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"bhLxXW5rYt22Vrj0","name":"[KARINE]CAPT_5- Verificação Leads Manychat","active":false,"isArchived":true,"nodes":[{"parameters":{"email":"={{ $json.data[0].email }}","updateIfExists":true,"additionalFields":{"phone":"={{ $node[\"Sheets\"].json[\"Telefone\"] }}"}},"id":"31e85cd4-8336-4d5d-93b3-0f313b173e65","name":"cria_ou_atualiza_contato","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[240,20]},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=9711069"},{"name":"field_value","value":"={{ $node[\"Sheets\"].json[\"Telefone\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 1746222495610114:98411c837cea31efbec616a060b6ed72"}]},"options":{}},"id":"894b2a9d-68e0-4f1a-8a07-3f01ab6bc87b","name":"procura_id_manychat_pelo_telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1A2SUOUa9O8cbY8HfpxJr3m4nr-AuOYh-VjqyFFSxLk8","mode":"list","cachedResultName":"[L100325] - Leads - Active","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A2SUOUa9O8cbY8HfpxJr3m4nr-AuOYh-VjqyFFSxLk8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":542413321,"mode":"list","cachedResultName":"Leads Manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A2SUOUa9O8cbY8HfpxJr3m4nr-AuOYh-VjqyFFSxLk8/edit#gid=542413321"},"options":{"columnsToWatch":["E-mail","Telefone"]}},"id":"0b043b4b-6020-4615-b7d3-8fc1a258ae3b","name":"Sheets","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-580,40]},{"parameters":{"options":{}},"id":"28209f4c-c218-4d0f-a128-65106800b857","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-320,20]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1A2SUOUa9O8cbY8HfpxJr3m4nr-AuOYh-VjqyFFSxLk8","mode":"list","cachedResultName":"[L100325] - Leads - Active","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A2SUOUa9O8cbY8HfpxJr3m4nr-AuOYh-VjqyFFSxLk8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1032951088,"mode":"list","cachedResultName":"Leads Inscritos ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A2SUOUa9O8cbY8HfpxJr3m4nr-AuOYh-VjqyFFSxLk8/edit#gid=1032951088"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $node[\"Sheets\"].json[\"Telefone\"] }}","Email":"{{ $node[\"Sheets\"].json[\"E-mail\"] }}"},"matchingColumns":["Email"],"schema":[{"id":"Contact ID","displayName":"Contact ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome completo","displayName":"Nome completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de cadastro no lançamento","displayName":"Data de cadastro no lançamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Source","displayName":"UTM Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Medium","displayName":"UTM Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Campaign","displayName":"UTM Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Term","displayName":"UTM Term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM Content","displayName":"UTM Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Baixou Ebook Revisões? (S/N)","displayName":"Baixou Ebook Revisões? (S/N)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data que baixou o ebook","displayName":"Data que baixou o ebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Entrou no GC? (S/N)","displayName":"Entrou no GC? (S/N)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data que entrou no GC","displayName":"Data que entrou no GC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"694f8e2c-8416-4b43-9e68-3ed1d2efdb0c","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[480,20]}],"connections":{"cria_ou_atualiza_contato":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"procura_id_manychat_pelo_telefone":{"main":[[{"node":"cria_ou_atualiza_contato","type":"main","index":0}]]},"Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"procura_id_manychat_pelo_telefone","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Sheets":[{"json":{"row_number":1,"change_type":"added","Nome":"","Telefone":"75998582299","E-mail":"flavioalves2528@gmail.com","Data":"2025-02-24"}}]},"versionId":"c45fa274-962c-4bf4-bba3-8147933951c5","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:04:13.896Z","updatedAt":"2025-06-03T13:04:13.896Z","role":"workflow:owner","workflowId":"bhLxXW5rYt22Vrj0","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}