[karine][apa]-todas-as-compras-auNpqYnudkdRmDI0.json
{"createdAt":"2025-06-03T13:41:04.991Z","updatedAt":"2025-06-03T13:41:09.996Z","id":"auNpqYnudkdRmDI0","name":"[KARINE][APA] Todas as compras","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"976e6516-3802-4134-a4ef-26acc832c4f9","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"documentId":{"__rl":true,"value":"1KlZX4pvI_nHbRqQhxREko1xmosw-4oXEkO6fF-NSroY","mode":"list","cachedResultName":"[L081024] - APA - Compradores & Leads p/ recuperação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KlZX4pvI_nHbRqQhxREko1xmosw-4oXEkO6fF-NSroY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Compradores_APA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KlZX4pvI_nHbRqQhxREko1xmosw-4oXEkO6fF-NSroY/edit#gid=0"},"options":{}},"id":"119d94fc-9827-484d-8ed6-8a5667fa319f","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[220,0]},{"parameters":{"resource":"person","operation":"search","term":"={{ $json[\"email contato\"] }}","additionalFields":{}},"id":"839d4634-d94c-419b-8c1c-93f13f148e0c","name":"Busca E-mail","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[440,0],"alwaysOutputData":true},{"parameters":{"resource":"person","operation":"update","personId":"={{ $node[\"Busca E-mail\"].json[\"id\"] }}\n","updateFields":{"label":91}},"id":"c16e9397-59eb-42d9-b9fa-5441a09684eb","name":"Adiciona tag comprou","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[660,0]},{"parameters":{"batchSize":5,"options":{}},"id":"42974f8c-3e06-41b5-983f-920652378590","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[180,240]},{"parameters":{},"id":"792e553f-604f-40c5-a2b4-989e178980bd","name":"Replace Me1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[420,260]},{"parameters":{},"id":"1dda7571-e09c-4546-9320-6e8f10b3306a","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,0],"webhookId":"fa3b38e2-f086-4175-a3ab-e0f8424cf17c"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Busca E-mail","type":"main","index":0}]]},"Busca E-mail":{"main":[[{"node":"Adiciona tag comprou","type":"main","index":0}]]},"Adiciona tag comprou":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f7411ac8-2f54-4194-a9c9-4831dcf2a5af","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:41:04.991Z","updatedAt":"2025-06-03T13:41:04.991Z","role":"workflow:owner","workflowId":"auNpqYnudkdRmDI0","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}