[karine]capt_8-envio_msg_lista_espera_apa-mjKbBTEEY0msWWWC.json
{"createdAt":"2025-06-02T20:38:47.005Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"mjKbBTEEY0msWWWC","name":"[KARINE]CAPT_8-ENVIO_MSG_LISTA_ESPERA_APA","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12535146"},{"name":"field_value","value":"={{ $json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"af133aca-988d-4b4e-a366-17667cfaad43","name":"procura_id_manychat_pelo_telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[140,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9d24036f-ba66-49a0-824d-1d89ecec5413","leftValue":"={{ $json.data[0]?.tags?.some(tag => tag.name === \"LISTA-DE-ESPERA\") || false }}","rightValue":"RMKT-PESQUISA","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"57202ccb-800c-4f28-a1b6-56d0f9480e58","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,700]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250424003153_506517"},{"name":"subscriber_id","value":"={{ $json.data[0].id }}"}]},"options":{}},"id":"c5f1ca2b-313e-4b55-92af-cda49c14eb29","name":"envia_fluxo_minicurso","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1380,360],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e29cb569-817f-4e9a-b3a7-2a67d75ed764","name":"Telefone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json[\"DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) \"].toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}","type":"string"}]},"options":{}},"id":"39b9d73b-c8de-4d9a-8ae8-e8b89d802ccb","name":"Correção_telefone","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,400]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/153xeMPMRbdqxNO4qgQ0PRBCAZgFKA_OqM7Keq-EiVO4/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":486045242,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/153xeMPMRbdqxNO4qgQ0PRBCAZgFKA_OqM7Keq-EiVO4/edit#gid=486045242"},"event":"rowAdded","options":{}},"id":"d3ced907-53f1-4c97-af1e-6e8b55b37aa6","name":"Respondeu_Pesquisa","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-520,400]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o","mode":"list","cachedResultName":"Leads - Elementor - L110525","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Respondeu_Pesquisa').item.json['Telefone'] }}","Recebeu Minicurso":"Sim"},"matchingColumns":["Telefone"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_id","displayName":"utm_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preencheu pesquisa","displayName":"Preencheu pesquisa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu RMKT","displayName":"Recebeu RMKT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu Minicurso","displayName":"Recebeu Minicurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"eb1112be-2267-4f34-9f16-219bf8b321e6","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1600,360],"disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"8abbb275-e099-4343-ba6b-8917b8fde6f2","name":"nao_encontrou_telefone","type":"n8n-nodes-base.if","typeVersion":1,"position":[380,380]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o","mode":"list","cachedResultName":"Leads - Elementor - L110525","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Respondeu_Pesquisa').item.json['Telefone'] }}","Recebeu Minicurso":"Sim"},"matchingColumns":["Telefone"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_id","displayName":"utm_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preencheu pesquisa","displayName":"Preencheu pesquisa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu RMKT","displayName":"Recebeu RMKT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu Minicurso","displayName":"Recebeu Minicurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"4cc5dd25-8e0e-4ed2-8c16-e227c5c096c4","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1380,160],"disabled":true},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"has_opt_in_sms","value":"true"},{"name":"has_opt_in_email","value":"true"},{"name":"consent_phrase","value":"Olá, aqui é a Karine Waldrich. Posso ter seu contato?"},{"name":"phone","value":"={{ $('Correção_telefone').item.json.Telefone }}"},{"name":"whatsapp_phone","value":"={{ $('Correção_telefone').item.json.Telefone }}"}]},"options":{}},"id":"f878a7ab-687b-48d1-880a-9cd39e26d2fe","name":"cria_contato_manychat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[820,300],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_email\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"81f7d22a-d5fa-4910-9c99-1b6727280227","name":"nao_encontrou_email","type":"n8n-nodes-base.if","typeVersion":1,"position":[220,40],"disabled":true},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findBySystemField","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $('Respondeu_Pesquisa').item.json['Email'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"62156086-43c9-4ce6-bc0b-2b37272eb586","name":"procura_id_manychat_pelo_email","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"disabled":true}],"connections":{"procura_id_manychat_pelo_telefone":{"main":[[{"node":"nao_encontrou_telefone","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"envia_fluxo_minicurso","type":"main","index":0}]]},"envia_fluxo_minicurso":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Correção_telefone":{"main":[[{"node":"procura_id_manychat_pelo_telefone","type":"main","index":0}]]},"Respondeu_Pesquisa":{"main":[[{"node":"Correção_telefone","type":"main","index":0}]]},"nao_encontrou_telefone":{"main":[[{"node":"cria_contato_manychat","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"cria_contato_manychat":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Respondeu_Pesquisa":[{"json":{"Carimbo de data/hora":"23/04/2025 21:55:39","DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) ":17981058707}}]},"versionId":"b561fe60-0811-47eb-be58-a74e087cd8c4","triggerCount":0,"shared":[{"createdAt":"2025-06-02T20:38:47.005Z","updatedAt":"2025-06-02T20:38:47.005Z","role":"workflow:owner","workflowId":"mjKbBTEEY0msWWWC","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}