[karine][sendflow]-importação-manual-aHRBxyMUqgdCuC9W.json
{"createdAt":"2025-06-03T13:06:46.866Z","updatedAt":"2025-06-03T13:06:56.670Z","id":"aHRBxyMUqgdCuC9W","name":"[KARINE][SENDFLOW] Importação Manual","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"bd86ae6e-5104-418d-872f-3c69474385a4","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,220]},{"parameters":{"assignments":{"assignments":[{"id":"a5984120-30b5-4728-a08a-9896c41036af","name":"Número de telefone","value":"={{ $json.Numero }}","type":"number"}]},"options":{}},"id":"342e0e1c-943c-4df8-8db6-fc5d1f5306a9","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,260]},{"parameters":{"resource":"person","operation":"search","term":"={{ $json['Número de telefone'] }}","additionalFields":{}},"id":"c11d41b3-8166-402c-beec-dd6442fddc36","name":"procura_pessoa_pelo_telefone","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[660,560],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8af697ad-d947-412c-b0f7-19fa896d6d6b","leftValue":"={{ $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"14a4f4af-911f-4cfb-a294-249e619bf32a","name":"pessoa_existe?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,580]},{"parameters":{"resource":"person","name":"={{ $node[\"Split In Batches\"].json[\"Número de telefone\"] }}","additionalFields":{"email":[],"phone":["={{ $node[\"Split In Batches\"].json[\"Número de telefone\"] }}"]}},"id":"4364fedb-3f9f-46fc-85d4-5477dc201574","name":"cria_pessoa1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2100,340]},{"parameters":{"jsCode":"let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"},"id":"5b48d77c-1316-40ea-991b-ed3fe028e7b6","name":"insere_id1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2340,140]},{"parameters":{"url":"=https://api.pipedrive.com/v1/persons/{{ $json.clientId }}/deals?api_token=54d00076f1b5acc5734428fa52bcc4280abd1abe ","options":{}},"id":"3e36ba22-8bde-4647-a4fd-4a66abd0ecfd","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,120]},{"parameters":{"resource":"lead","title":"=[COACHDAY] {{ $('pessoa_existe?1').item.json.name }}","associateWith":"person","person_id":"={{ $node[\"insere_id1\"].json[\"clientId\"] }}","additionalFields":{"owner_id":"={{ $('Edit Fields').item.json.id_atendente }}"}},"id":"47982612-e27c-4add-ae65-411132d10c43","name":"cria_lead1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2740,120]},{"parameters":{"title":"=[COACHDAY] ","associateWith":"person","person_id":"={{ $node[\"insere_id1\"].json[\"clientId\"] }}","additionalFields":{"currency":"BRL","stage_id":62,"status":"open","user_id":21963603}},"id":"fbc33ad6-b876-40f3-905e-3fb12491c589","name":"cria_deal_qualificado1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[3340,160]},{"parameters":{"documentId":{"__rl":true,"value":"1f4ZGNV2xZLAl6pc7u7lIcZ5UlmM7WET_YAroDeiRys4","mode":"list","cachedResultName":"Sendflow - Coaching Day - Manual","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f4ZGNV2xZLAl6pc7u7lIcZ5UlmM7WET_YAroDeiRys4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":472020534,"mode":"list","cachedResultName":"SendFlow - Histórico de ativid","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f4ZGNV2xZLAl6pc7u7lIcZ5UlmM7WET_YAroDeiRys4/edit#gid=472020534"},"options":{}},"id":"f453fb96-0ace-45f2-9ca9-95afab796a7f","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[0,0]},{"parameters":{"batchSize":1,"options":{}},"id":"555e1891-fbc0-451b-b490-371973c319ba","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[360,540],"retryOnFail":false}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"procura_pessoa_pelo_telefone":{"main":[[{"node":"pessoa_existe?1","type":"main","index":0}]]},"pessoa_existe?1":{"main":[[],[{"node":"cria_pessoa1","type":"main","index":0}]]},"cria_pessoa1":{"main":[[{"node":"insere_id1","type":"main","index":0}]]},"insere_id1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"cria_lead1","type":"main","index":0}]]},"cria_lead1":{"main":[[{"node":"cria_deal_qualificado1","type":"main","index":0}]]},"cria_deal_qualificado1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"procura_pessoa_pelo_telefone","type":"main","index":0}],[{"node":"procura_pessoa_pelo_telefone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9adab19f-8895-47eb-b0cf-1ea1739c111c","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:06:46.866Z","updatedAt":"2025-06-03T13:06:46.866Z","role":"workflow:owner","workflowId":"aHRBxyMUqgdCuC9W","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}