[karine][apa]-[vf]---carrinho-abandonado---parte-2-9AIsbFUqKbjvGqE1.json
{"createdAt":"2025-06-03T13:11:05.273Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"9AIsbFUqKbjvGqE1","name":"[KARINE][APA] [VF] - Carrinho abandonado - Parte 2","active":false,"isArchived":true,"nodes":[{"parameters":{"queue":"[APA] - Carrinho abandonado","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":1}},"id":"a8eea9ae-4336-4775-900a-41a2310ff0d4","name":"chega_da_fila","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1720,420]},{"parameters":{"resource":"person","operation":"search","term":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}\n","additionalFields":{"fields":"email"}},"id":"609650f4-0756-416d-b34e-1456d0fbd0bd","name":"procura_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1100,360],"alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"label_ids\": [97]\n}","options":{}},"id":"7064559f-c9d5-4101-b26e-96f235350cd2","name":"adicionar_tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"options":{}},"id":"17209f0d-65cc-4dd0-83aa-8fc45160a66e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1500,420]},{"parameters":{},"id":"eb3921b8-6002-4708-ab39-041a7ccfcf34","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1300,620],"webhookId":"64a86c94-bc86-4285-8cc4-a15334b4485d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3ed818a7-58bd-4d1e-9b0e-2364585d1334","leftValue":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"08f6422a-5fb3-4437-a015-8e79c4276a46","name":"pessoa_existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-840,360]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"parameters\": {\n    \"assignments\": {\n      \"assignments\": [\n        {\n          \"id\": \"log_message\",\n          \"name\": \"log\",\n          \"value\": \"Tentando criar uma nova pessoa no Pipedrive\",\n          \"type\": \"string\"\n        }\n      ]\n    },\n    \"options\": {}\n  },\n  \"id\": \"log_novo_contato\",\n  \"name\": \"Log Nova Pessoa\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 1,\n  \"position\": [\n    2300,\n    340\n  ]\n}\n","options":{}},"id":"f272a8ad-c3af-4792-90c9-0bed505141d2","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-780,660]},{"parameters":{"resource":"person","name":"={{ $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}","additionalFields":{"email":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"].trim() }}"],"phone":["={{ $node[\"chega_da_fila\"].json[\"content\"][\"phone\"] }}"]}},"id":"e5648487-2603-4ad6-ad1a-b717680d406b","name":"criar_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-300,560]},{"parameters":{"title":"={{ \"[L090125] Recuperação - \" + $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}\n","associateWith":"person","person_id":"={{ $node[\"criar_pessoa\"].json[\"data\"][\"id\"] }}\n","additionalFields":{"stage_id":37,"user_id":"={{ [21330817, 21963603][Math.floor(Math.random() * 2)] }}"}},"id":"c6c6406a-996e-4a9e-a702-c8e9c88b54c9","name":"criar_negócio","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[100,600]},{"parameters":{"operation":"search","term":"[L090125]","additionalFields":{"personId":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","status":"open"}},"id":"62a31e9f-9d58-4646-b7b3-917db7ef4f5e","name":"procura_deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-1260,100],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c7444d7-3cfd-4fe9-8f6b-4d21fbafcb07","leftValue":"={{ $node[\"procura_deal\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3a73b2bd-d37e-4422-96a2-17be42e4deb4","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-840,20]},{"parameters":{"title":"={{ \"[L090125] Recuperação - \" + $node[\"chega_da_fila\"].json[\"content\"][\"name\"].trim() }}\n","associateWith":"person","person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","additionalFields":{"currency":"BRL","stage_id":37,"status":"open","user_id":"={{ [21330817, 21963603][Math.floor(Math.random() * 2)] }}"}},"id":"dabc3727-ed72-4b8d-b822-8baaf19f7788","name":"cria_deal1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-680,120]}],"connections":{"chega_da_fila":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"procura_pessoa":{"main":[[{"node":"pessoa_existe?","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"procura_pessoa","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"pessoa_existe?":{"main":[[{"node":"procura_deal","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar_pessoa","type":"main","index":0}]]},"criar_pessoa":{"main":[[{"node":"criar_negócio","type":"main","index":0}]]},"criar_negócio":{"main":[[{"node":"adicionar_tags","type":"main","index":0}]]},"procura_deal":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"adicionar_tags","type":"main","index":0}],[{"node":"cria_deal1","type":"main","index":0}]]},"cria_deal1":{"main":[[{"node":"adicionar_tags","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"28a95d61-cfbd-413c-ae80-efe6e596d896","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:11:05.273Z","updatedAt":"2025-06-03T13:11:05.273Z","role":"workflow:owner","workflowId":"9AIsbFUqKbjvGqE1","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}