[karine]⌚[geral---tlg-dai]---aviso-de-workflow-com-erro-vf-4DnCDo6m18427vv3.json
{"createdAt":"2025-06-03T13:24:48.551Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"4DnCDo6m18427vv3","name":"[KARINE]⌚[GERAL - TLG DAI] - Aviso de Workflow com Erro VF","active":false,"isArchived":true,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"execution.id","value":"={{ $node[\"error_trigger\"].json[\"execution\"][\"id\"] }}"}],"string":[{"name":"error.message","value":"={{ $node[\"error_trigger\"].json[\"execution\"][\"error\"][\"message\"] }}"},{"name":"error.stack","value":"={{ $node[\"error_trigger\"].json[\"execution\"][\"error\"][\"stack\"] }}"},{"name":"workflow.id","value":"={{ $node[\"error_trigger\"].json[\"workflow\"][\"id\"] }}"},{"name":"workflow.name","value":"={{ $node[\"error_trigger\"].json[\"workflow\"][\"name\"] }}"},{"name":"execution.link","value":"={{ $node[\"error_trigger\"].json[\"execution\"][\"url\"] }}"}]},"options":{}},"id":"69c2b782-fa1e-4dc4-ba70-f9149902e8a4","name":"ajusta_dados","type":"n8n-nodes-base.set","position":[100,-80],"typeVersion":1},{"parameters":{},"id":"c9d1b6fb-3b2d-49d9-97bf-64241e14910f","name":"error_trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-100,-80]},{"parameters":{"chatId":"1191284206","text":"=🚨 *Workflow com erro no N8N da Karine Waldrich*  O Workflow {{ $('error_trigger').item.json.workflow.name }}, do ID {{ $('error_trigger').item.json.workflow.id }}, acabou de apresentar um erro.  Assim que puder, dê uma conferida e ajuste o erro apresentado.","additionalFields":{}},"id":"d5990a67-4f5d-474c-b5ee-6bdbee138e5a","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[280,-80],"webhookId":"3e6b3bd1-32d7-4a09-906e-9ccd3283e169"}],"connections":{"ajusta_dados":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"error_trigger":{"main":[[{"node":"ajusta_dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"error_trigger":[{"json":{"execution":{"id":"7193628","url":"https://n8nwebhook.karinewaldrich.com.br/workflow/VdcUf4aQhu1D8u8l/executions/7193628","error":{"level":"warning","tags":{},"context":{},"functionality":"regular","name":"NodeApiError","timestamp":1734373652320,"node":{"parameters":{"authentication":"apiToken","resource":"deal","operation":"update","dealId":"={{ $json.data[0].id }}","updateFields":{"currency":"BRL","label":"null","status":"won"},"encodeProperties":false},"id":"1bd53dda-ec75-426c-b665-c03d309476fa","name":"Fecha_sem_comissão","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2420,280],"credentials":{"pipedriveApi":{"id":"39J8KZF1iPy2gjSt","name":"[PIPEDRIVE] - KarineWaldrich"}}},"messages":["404 - {\"status\":false,\"error\":\"Unknown method .\"}"],"httpCode":"404","description":"Unknown method .","message":"The resource you are requesting could not be found","stack":"NodeApiError: The resource you are requesting could not be found\n    at Object.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/NodeExecuteFunctions.js:1296:19)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at Object.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/NodeExecuteFunctions.js:2087:20)\n    at Object.pipedriveApiRequest (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/Pipedrive/GenericFunctions.js:37:30)\n    at Object.execute (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/Pipedrive/Pipedrive.node.js:4141:36)\n    at Workflow.runNode (/usr/local/lib/node_modules/n8n/node_modules/n8n-workflow/dist/Workflow.js:728:19)\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:673:51\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:1104:20"},"lastNodeExecuted":"Fecha_sem_comissão","mode":"trigger"},"workflow":{"id":"VdcUf4aQhu1D8u8l","name":"[ABC] [APA] - Compra aprovada - Parte 2"}}}]},"versionId":"b45b4210-918f-482a-91e3-abc9b1daa146","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:24:48.551Z","updatedAt":"2025-06-03T13:24:48.551Z","role":"workflow:owner","workflowId":"4DnCDo6m18427vv3","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}