[karine][cpls]-[apa]---lista-de-chamada-aula-3-klzd99eV0nHH8eVe.json
{"createdAt":"2025-06-03T13:14:48.608Z","updatedAt":"2025-06-03T13:15:09.367Z","id":"klzd99eV0nHH8eVe","name":"[KARINE][CPLs] [APA] - Lista de chamada Aula 3","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"87badc61-8ac4-4666-90de-046e5b59929b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2140,360]},{"parameters":{"assignments":{"assignments":[{"id":"7d69bf69-7a08-419a-87d2-19a86bbaeb3d","name":"email","value":"={{ $('sheets1').item.json['Endereço de e-mail'] }}","type":"string"},{"id":"d4b99172-51a7-4a4c-a4ae-2da57bbbcea6","name":"nome","value":"={{ $('sheets1').item.json['Nome\\n\\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)'] }}","type":"string"},{"id":"cc246b4e-b6f4-4da3-886d-30c0c4b6ded4","name":"telefone","value":"={{ $('sheets1').item.json['DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) \\n\\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"b964919e-7c4d-41de-adcc-f2621eb34bbd","name":"dados","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1700,340]},{"parameters":{"resource":"person","operation":"search","term":"={{ $('sheets1').item.json['Endereço de e-mail'] }}","additionalFields":{"exactMatch":true,"fields":"email"}},"id":"79578c76-f2f5-4f62-98b1-4aa59967e975","name":"procura_pessoa","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-740,220],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cff60264-1e02-4d4b-b930-aa5b6b2d3b41","leftValue":"={{ $node[\"procura_pessoa\"].json[\"id\"].toString() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f2e18d82-f788-4932-a12b-bb9b0f0883b3","name":"achou_pessoa?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-540,240]},{"parameters":{"operation":"search","term":"[L090125]","additionalFields":{"personId":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","status":"open"}},"id":"f6aafa8c-5d2d-4901-810f-daed96ce363c","name":"procura_deal","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-100,40],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c7444d7-3cfd-4fe9-8f6b-4d21fbafcb07","leftValue":"={{ $node[\"procura_deal\"].json[\"id\"] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c171b5a5-dd6e-4364-b8bc-ab31dd63e8eb","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[160,40]},{"parameters":{"documentId":{"__rl":true,"value":"1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Closer","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Id","lookupValue":"={{ $json['Closer da vez'] }}"}]},"options":{}},"id":"4fcd1474-2a00-4978-a03b-a48954624f4f","name":"procura_closer_da_vez","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-1500,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c6e0e089-d500-4226-b65e-ed2bb2a50096","leftValue":"={{ $node[\"procura_closer_da_vez\"].json[\"Id\"] }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e0da15cb-8e4e-4489-9d5c-07cf05d1bf6c","name":"verifica_closer","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1300,300]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w","mode":"id"},"sheetName":{"__rl":true,"value":1972376342,"mode":"list","cachedResultName":"Closer da vez","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w/edit#gid=1972376342"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"2","Closer da vez":"=2"},"matchingColumns":["row_number"],"schema":[{"id":"Closer da vez","displayName":"Closer da vez","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"e8a5720a-5caf-4af0-95fa-bb352ff3d51b","name":"atualiza_closer","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-1020,140]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w","mode":"id"},"sheetName":{"__rl":true,"value":1972376342,"mode":"list","cachedResultName":"Closer da vez","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w/edit#gid=1972376342"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"2","Closer da vez":"=1"},"matchingColumns":["row_number"],"schema":[{"id":"Closer da vez","displayName":"Closer da vez","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"183981c7-3a15-40fd-9b49-b8c39d4201bb","name":"atualiza_closer1","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-1040,340]},{"parameters":{"documentId":{"__rl":true,"value":"1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w","mode":"id"},"sheetName":{"__rl":true,"value":1972376342,"mode":"list","cachedResultName":"Closer da vez","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LqhM6lSC_J9Bp4YfK24JLaWsL0lwCE9yfNRGOKLRy9w/edit#gid=1972376342"},"options":{}},"id":"44f454e0-8667-43c3-9640-f761a3110778","name":"procura_closer_da_vez1","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-1900,340],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"operation":"update","dealId":"={{ $json.id }}","updateFields":{"currency":"BRL","person_id":"={{ $node[\"procura_pessoa\"].json[\"id\"] }}","stage_id":49}},"id":"3418c177-de3b-4f29-8c89-b0549afa879c","name":"atualiza_deal1","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[580,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ce9a9713-1471-477d-823d-aefaf416a76f","leftValue":"={{ $json.Data }}","rightValue":"={{ new Date().toLocaleDateString('en-CA') }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d247680c-4aa5-4496-877a-a3153574baa1","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2400,360]},{"parameters":{"amount":10},"id":"dc0b04cf-1b5c-414f-84ab-b70a81fab0d1","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1020,280],"webhookId":"8bf5c307-0f1e-49e0-af9b-6667be7f42b4"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":6,"unit":"minutes"}]},"documentId":{"__rl":true,"value":"1A8CLZPZgCnxjvCHhufGfDOzkVOvnsg7I_1iAf2Glmw0","mode":"id"},"sheetName":{"__rl":true,"value":1237987769,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A8CLZPZgCnxjvCHhufGfDOzkVOvnsg7I_1iAf2Glmw0/edit#gid=1237987769"},"event":"rowAdded","options":{}},"id":"26bd6a52-248d-4e63-be4d-d3724d282101","name":"sheets1","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-2840,360]},{"parameters":{"assignments":{"assignments":[{"id":"2e744434-76f7-4abd-ac4a-7fb4b8673c0c","name":"Data","value":"={{ $json[\"Carimbo de data/hora\"].split(\" \")[0].split(\"/\").reverse().join(\"-\") }}","type":"string"}]},"options":{}},"id":"c9735c9e-036c-4ef7-9037-79c800d0ea02","name":"simplifica_dados1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2600,360]},{"parameters":{"resource":"person","operation":"update","personId":"={{ $node[\"procura_pessoa\"].json[\"id\"].toString() }}","updateFields":{"email":["={{ $('sheets1').item.json['Endereço de e-mail'] }}"],"name":"={{ $node[\"sheets1\"].json[\"Nome\\n\\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)\"] }}","phone":["={{ $('sheets1').item.json['DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) \\n\\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)'] }}"]}},"id":"734288f9-1569-4dfc-b231-b29ae649591b","name":"Pipedrive","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-320,0]}],"connections":{"Loop Over Items":{"main":[[],[{"node":"procura_closer_da_vez1","type":"main","index":0}]]},"dados":{"main":[[{"node":"procura_closer_da_vez","type":"main","index":0}]]},"procura_pessoa":{"main":[[{"node":"achou_pessoa?","type":"main","index":0}]]},"achou_pessoa?":{"main":[[{"node":"Pipedrive","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"procura_deal":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"atualiza_deal1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"procura_closer_da_vez":{"main":[[{"node":"verifica_closer","type":"main","index":0}]]},"verifica_closer":{"main":[[{"node":"atualiza_closer","type":"main","index":0}],[{"node":"atualiza_closer1","type":"main","index":0}]]},"atualiza_closer":{"main":[[{"node":"procura_pessoa","type":"main","index":0}]]},"atualiza_closer1":{"main":[[{"node":"procura_pessoa","type":"main","index":0}]]},"procura_closer_da_vez1":{"main":[[{"node":"dados","type":"main","index":0}]]},"atualiza_deal1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"sheets1":{"main":[[{"node":"simplifica_dados1","type":"main","index":0}]]},"simplifica_dados1":{"main":[[{"node":"If","type":"main","index":0}]]},"Pipedrive":{"main":[[{"node":"procura_deal","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"sheets1":[{"json":{"Carimbo de data/hora":"12/01/2025 21:00:00","Endereço de e-mail":"daianeimuller@gmail.com","Nome\n\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)":"teste lista chamada 2","DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) \n\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)":11987070707}},{"json":{"Carimbo de data/hora":"12/01/2025 21:05:00","Endereço de e-mail":"testechamada2345@gmail.com","Nome\n\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)":"teste lista chamada 3","DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) \n\nPS: para concorrer ao sorteio é IMPRESCINDÍVEL preencher este campo)":11912345678}}]},"versionId":"9e6acc59-a34e-45c5-a2f8-f6b581215f46","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:14:48.608Z","updatedAt":"2025-06-03T13:14:48.608Z","role":"workflow:owner","workflowId":"klzd99eV0nHH8eVe","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}