[karine]capt_7---envio-minicurso-5KWywehAE6RWeF3T.json
{"createdAt":"2025-06-02T20:36:13.167Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"5KWywehAE6RWeF3T","name":"[KARINE]CAPT_7 - Envio Minicurso","active":false,"isArchived":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a378fed9-ff1b-4e48-b36e-8d283235458e","leftValue":"={{ $json['Preencheu pesquisa'] }}","rightValue":"Sim","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"cc15f127-7daf-4e20-809b-ec8136f0aa1e","name":"Sim/não","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1240,380]},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12535146"},{"name":"field_value","value":"={{ $json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"9d444b16-5aa5-422a-b6ca-2eab75f993e5","name":"procura_id_manychat_pelo_telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-800,380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9d24036f-ba66-49a0-824d-1d89ecec5413","leftValue":"={{ $json.data[0]?.tags?.some(tag => tag.name === \"MINICURSO-ENVIADO\") || false }}","rightValue":"RMKT-PESQUISA","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"162f4f7a-16f7-41f0-b4b0-6e25adc28c4f","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[140,680]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250305181329_632901"},{"name":"subscriber_id","value":"={{ $json.data[0].id }}"}]},"options":{}},"id":"ea706739-99cd-4a60-8da1-5ec841034f55","name":"envia_fluxo_minicurso","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[440,340],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e29cb569-817f-4e9a-b3a7-2a67d75ed764","name":"Telefone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json.Telefone.toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}\n","type":"string"}]},"options":{}},"id":"941208f3-6b77-419e-bb14-b29cb1f05b90","name":"Correção_telefone","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,380]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o","mode":"list","cachedResultName":"Leads - Elementor - L110525","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit#gid=0"},"options":{}},"id":"a0aedee9-7e44-4c05-a29b-dfa3075e82cb","name":"Respondeu_Pesquisa","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1460,380]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o","mode":"list","cachedResultName":"Leads - Elementor - L110525","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Respondeu_Pesquisa').item.json['Telefone'] }}","Recebeu Minicurso":"Sim"},"matchingColumns":["Telefone"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_id","displayName":"utm_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preencheu pesquisa","displayName":"Preencheu pesquisa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu RMKT","displayName":"Recebeu RMKT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu Minicurso","displayName":"Recebeu Minicurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"b364bfac-7439-42e4-bdb3-3b588dd97b94","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[660,340]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"5bef4e6a-dee6-459f-b4db-80dcbe89a52b","name":"nao_encontrou_telefone","type":"n8n-nodes-base.if","typeVersion":1,"position":[-560,360]},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findBySystemField","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $('Respondeu_Pesquisa').item.json['Email'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"6e01ae13-c5cc-4e1f-b8d9-b918851607ce","name":"procura_id_manychat_pelo_email","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-340,200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_email\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"2d47edab-2ddd-430b-b351-24dd0972a757","name":"nao_encontrou_email","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,40]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"has_opt_in_sms","value":"true"},{"name":"has_opt_in_email","value":"true"},{"name":"consent_phrase","value":"Olá, aqui é a Karine Waldrich. Posso ter seu contato?"},{"name":"phone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json.Telefone.toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}\n"},{"name":"email","value":"={{ $('Respondeu_Pesquisa').item.json['Email'] }}"},{"name":"whatsapp_phone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json.Telefone.toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}\n"}]},"options":{}},"id":"161c3621-ea1d-43f7-b3b7-e9a5299a5dde","name":"cria_contato_manychat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o","mode":"list","cachedResultName":"Leads - Elementor - L110525","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CnX6k52zcOryIqx3CxNa7_ery-yE33TH2RtJU0Ykg8o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Respondeu_Pesquisa').item.json['Telefone'] }}","Recebeu Minicurso":"Sim"},"matchingColumns":["Telefone"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_id","displayName":"utm_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preencheu pesquisa","displayName":"Preencheu pesquisa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu RMKT","displayName":"Recebeu RMKT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recebeu Minicurso","displayName":"Recebeu Minicurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"b57c97c5-0bd0-4568-8fa2-05aee16e4023","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[440,140]},{"parameters":{"options":{}},"id":"26cfddf7-3ab4-416e-985e-1beb5247d842","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1080,680]}],"connections":{"Sim/não":{"main":[[{"node":"Correção_telefone","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"procura_id_manychat_pelo_telefone":{"main":[[{"node":"nao_encontrou_telefone","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"envia_fluxo_minicurso","type":"main","index":0}]]},"envia_fluxo_minicurso":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Correção_telefone":{"main":[[{"node":"procura_id_manychat_pelo_telefone","type":"main","index":0}]]},"Respondeu_Pesquisa":{"main":[[{"node":"Sim/não","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"nao_encontrou_telefone":{"main":[[{"node":"procura_id_manychat_pelo_email","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"procura_id_manychat_pelo_email":{"main":[[{"node":"nao_encontrou_email","type":"main","index":0}]]},"nao_encontrou_email":{"main":[[{"node":"cria_contato_manychat","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"cria_contato_manychat":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Correção_telefone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Respondeu_Pesquisa":[{"json":{"row_number":13696,"change_type":"added","Email":"flavia.afmelo@gmail.com","Telefone":"(77)991028874","Preencheu pesquisa":"Sim","RMKT?":""}}]},"versionId":"f2473250-d06a-4419-a4e0-c4ab53bd6a31","triggerCount":0,"shared":[{"createdAt":"2025-06-02T20:36:13.167Z","updatedAt":"2025-06-02T20:36:13.167Z","role":"workflow:owner","workflowId":"5KWywehAE6RWeF3T","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}