[karine][apa]-comissão-raiane-IVjNiZDvBcGS99Xt.json
{"createdAt":"2025-06-03T13:13:35.018Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"IVjNiZDvBcGS99Xt","name":"[KARINE][APA] Comissão Raiane","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"update","dealId":"={{ $json.id }}","updateFields":{"currency":"BRL","label":90,"status":"won"}},"id":"4fd9723b-3393-48d5-8586-a7902bc5c389","name":"Fecha_comissão_Raiane","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"update","dealId":"={{ $json.id }}","updateFields":{"currency":"BRL","label":"null","status":"won"}},"id":"d7723707-797f-46df-8bae-bbe146e67c53","name":"Fecha_sem_comissão","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[40,240]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"5c2cbb1a-dd26-4f1e-a0e2-d589eb98710e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1000,180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0c9edd94-0276-45fe-85a4-2c894c274089","leftValue":"={{ $json.id }}","rightValue":39,"operator":{"type":"number","operation":"equals"}},{"id":"02505a4d-525c-45da-902a-795860fdc462","leftValue":"={{ $json.id }}","rightValue":153,"operator":{"type":"number","operation":"equals"}},{"id":"0af4dbc8-69f4-4530-ba56-2893a9256b70","leftValue":"={{ $json.id }}","rightValue":154,"operator":{"type":"number","operation":"equals"}},{"id":"719aab9c-2d2f-404e-944f-031a620167c2","leftValue":"={{ $json.id }}","rightValue":49,"operator":{"type":"number","operation":"equals"}},{"id":"a15100cc-6808-4255-931c-d3e3bab48772","leftValue":"={{ $json.id }}","rightValue":50,"operator":{"type":"number","operation":"equals"}},{"id":"6e1e0ff9-080a-4850-9d53-de56a0f1068a","leftValue":"={{ $json.id }}","rightValue":51,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"bf936add-9af2-4953-bc28-a50111b4014a","name":"Fez call?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-460,180]},{"parameters":{"operation":"getAll","filters":{"filter_id":96}},"id":"97d517c7-2c72-452c-9592-3ed91d72f081","name":"Pipedrive","type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-700,260]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Pipedrive","type":"main","index":0}]]},"Fez call?":{"main":[[{"node":"Fecha_comissão_Raiane","type":"main","index":0}],[{"node":"Fecha_sem_comissão","type":"main","index":0}]]},"Pipedrive":{"main":[[{"node":"Fez call?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cda33640-b75e-4991-a0e4-537fdbbce963","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:13:35.018Z","updatedAt":"2025-06-03T13:13:35.018Z","role":"workflow:owner","workflowId":"IVjNiZDvBcGS99Xt","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}