[karine]capt_8-envio_msg_lista_espera_apa_manual-mBOa2Xg5d1AqnylC.json
{"createdAt":"2025-06-02T20:38:23.744Z","updatedAt":"2025-11-25T17:13:39.063Z","id":"mBOa2Xg5d1AqnylC","name":"[KARINE]CAPT_8-ENVIO_MSG_LISTA_ESPERA_APA_manual","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12535146"},{"name":"field_value","value":"={{ $json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"options":{}},"id":"1dab9d3a-d90c-4bc2-8efd-5bff7a71fa5e","name":"procura_id_manychat_pelo_telefone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[160,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9d24036f-ba66-49a0-824d-1d89ecec5413","leftValue":"={{ $json.data[0]?.tags?.some(tag => tag.name === \"LISTA-DE-ESPERA\") || false }}","rightValue":"RMKT-PESQUISA","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"16f78d96-bbae-48dc-b600-fae33c297c90","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[940,580]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendFlow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"flow_ns","value":"=content20250424003153_506517"},{"name":"subscriber_id","value":"={{ $json.data[0].id }}"}]},"options":{}},"id":"a8e756c9-920b-4d68-aa6f-73ff4610addb","name":"envia_fluxo_minicurso","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1240,240],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e29cb569-817f-4e9a-b3a7-2a67d75ed764","name":"Telefone","value":"={{ (() => {\n  const tel = $('Respondeu_Pesquisa').item.json[\"DDD + Telefone (coloque apenas números, como no exemplo: 11912341234) \"].toString().replace(/\\D/g, '');\n  return tel.startsWith('55') ? tel : '55' + tel;\n})() }}","type":"string"}]},"options":{}},"id":"6b8f015c-5843-455a-b9bb-d97b60636690","name":"Correção_telefone","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}","operation":"isEmpty"}]}},"id":"8f570bc1-d3d3-44b9-9de7-2e3cb5dc29e9","name":"nao_encontrou_telefone","type":"n8n-nodes-base.if","typeVersion":1,"position":[240,260]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer 2193079:35f7079b41ed43347bc41c8f5ed86176"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"has_opt_in_sms","value":"true"},{"name":"has_opt_in_email","value":"true"},{"name":"consent_phrase","value":"Olá, aqui é a Karine Waldrich. Posso ter seu contato?"},{"name":"phone","value":"={{ $('Correção_telefone').item.json.Telefone }}"},{"name":"whatsapp_phone","value":"={{ $('Correção_telefone').item.json.Telefone }}"}]},"options":{}},"id":"c60ae037-b09d-4d42-8b86-97bb68b00575","name":"cria_contato_manychat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,180],"onError":"continueRegularOutput"},{"parameters":{},"id":"5e0d42bd-1869-4846-a195-24406e771f32","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,240]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/153xeMPMRbdqxNO4qgQ0PRBCAZgFKA_OqM7Keq-EiVO4/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":486045242,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/153xeMPMRbdqxNO4qgQ0PRBCAZgFKA_OqM7Keq-EiVO4/edit#gid=486045242"},"options":{}},"id":"87983f23-21b4-400c-86cd-cf2e971a42e6","name":"Respondeu_Pesquisa","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-400,260]},{"parameters":{"options":{}},"id":"ba0e2f95-30d3-42e3-b19d-da4321fd5f1c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,660]}],"connections":{"procura_id_manychat_pelo_telefone":{"main":[[{"node":"nao_encontrou_telefone","type":"main","index":0}]]},"If":{"main":[[],[{"node":"envia_fluxo_minicurso","type":"main","index":0}]]},"envia_fluxo_minicurso":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Correção_telefone":{"main":[[{"node":"procura_id_manychat_pelo_telefone","type":"main","index":0}]]},"nao_encontrou_telefone":{"main":[[{"node":"cria_contato_manychat","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"cria_contato_manychat":{"main":[[{"node":"If","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Respondeu_Pesquisa","type":"main","index":0}]]},"Respondeu_Pesquisa":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Correção_telefone","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"114fcca5-9708-431c-8772-300bb623b30b","triggerCount":0,"shared":[{"createdAt":"2025-06-02T20:38:23.744Z","updatedAt":"2025-06-02T20:38:23.744Z","role":"workflow:owner","workflowId":"mBOa2Xg5d1AqnylC","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}