[karine]crm-pesquisa-ajuste-qualificado-IfncbxKuCcjAHkNr.json
{"createdAt":"2025-06-03T13:43:14.962Z","updatedAt":"2025-06-03T13:43:21.121Z","id":"IfncbxKuCcjAHkNr","name":"[KARINE]CRM Pesquisa Ajuste Qualificado","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a5792990-3121-4c07-be64-305897f43c48","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[180,-60]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/13Hj6TmnliZiV8WOvNQEzrul2iW9qIFQpxa2ojEbTV7Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Hj6TmnliZiV8WOvNQEzrul2iW9qIFQpxa2ojEbTV7Q/edit#gid=0"},"options":{}},"id":"dd08ea31-eb96-4ea3-bff3-cc7b3d9760b4","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[400,-60]},{"parameters":{"options":{}},"id":"e4326355-2de0-423f-afd5-7d4d2a42f849","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,-60]},{"parameters":{"mode":"raw","jsonOutput":"={\n      \"contact\": \"000\",\n      \"tag\": \"370\",\n      \"cdate\": \"2024-10-10T20:51:10-05:00\",\n      \"links\": {\n        \"tag\": \"https://karinewaldrich.api-us1.com/api/3/contactTags/000/tag\",\n        \"contact\": \"https://karinewaldrich.api-us1.com/api/3/contactTags/000/contact\"\n      },\n      \"id\": \"000\",\n      \"email\": \"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Endereço de e-mail\"] }}\",\n      \"carreira\": \"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Qual carreira você deseja seguir?\"] }}\",\n      \"renda\": \"{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Qual a sua faixa de remuneração?\"].replaceAll(\"\\\"\", \"'\") }}\"\n    }\n","options":{}},"id":"5aa07283-d0c5-409b-9ac9-2aaf67da9c2b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3aa25fda-0b3e-451a-af3f-088d7137865d","leftValue":"={{ $json[\"Qual a sua faixa de remuneração?\"] }}","rightValue":"Entre 5001 e 10000 reais por mês.","operator":{"type":"string","operation":"notEquals"}},{"id":"d73643e3-73c7-44ca-ac9d-50cc181973c3","leftValue":"={{ $json[\"Qual a sua faixa de remuneração?\"] }}","rightValue":"De 3001 a 5000 reais por mês.","operator":{"type":"string","operation":"notEquals"}},{"id":"9827e725-aedf-4fc2-ba32-597a1e722124","leftValue":"={{ $json[\"Qual a sua faixa de remuneração?\"] }}","rightValue":"Acima de 10001 reais por mês.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"f8b9698a-db7d-46f9-8ccb-cf61ae5bc998","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[620,-60]},{"parameters":{"queue":"=[L070824] - CRM: preencheu pesquisa","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"durable":true}},"id":"986f6b3e-a09e-4abe-896a-64e27bd81947","name":"entra_na_fila","type":"n8n-nodes-base.rabbitmq","typeVersion":1,"position":[1400,40]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"entra_na_fila","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"entra_na_fila":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b5fd0611-7cca-464f-8d4f-783c7a15412f","triggerCount":0,"shared":[{"createdAt":"2025-06-03T13:43:14.962Z","updatedAt":"2025-06-03T13:43:14.962Z","role":"workflow:owner","workflowId":"IfncbxKuCcjAHkNr","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}