[karine]presença-jornada-8SDA8jlu9xCLqEjF.json
{"createdAt":"2025-05-31T15:19:50.773Z","updatedAt":"2025-05-31T15:42:54.245Z","id":"8SDA8jlu9xCLqEjF","name":"[KARINE]Presença-jornada","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"id":"80e70297-05c5-4f3f-bc36-f65516254b62","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-300,-120]},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"value":"","mode":"id","cachedResultName":"","cachedResultUrl":""}},"id":"d678f64a-4fd2-45d7-8476-ba32d5a2c795","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-120,-120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e07a74b2-8ba4-49bd-835d-0dfccf55ae60","leftValue":"=new Date($json[\"Carimbo de data/hora\"]).setHours(0,0,0,0) >= new Date().setHours(0,0,0,0)","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"looseTypeValidation":false}},"id":"d774d2f0-9ffa-4643-836a-57376f6ff220","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[60,-120]},{"parameters":{"resource":"contactTag","tagId":"449","contactId":0},"id":"0e04a64b-0b24-4f7d-994a-05140c2d739f","name":"ActiveCampaign","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[720,-120]},{"parameters":{"resource":"contactTag","tagId":"450","contactId":0},"id":"fb1faa95-df1b-45f6-a7d0-edd60ae5c5a2","name":"ActiveCampaign1","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[920,-120]},{"parameters":{"operation":"get"},"id":"5e25f94d-dad6-4b3c-adfb-fc9a84fb8e9e","name":"ActiveCampaign2","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[360,-120]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"ActiveCampaign":{"main":[[{"node":"ActiveCampaign1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"80052411-47c8-4869-bc94-c38468244716","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:19:50.773Z","updatedAt":"2025-05-31T15:19:50.773Z","role":"workflow:owner","workflowId":"8SDA8jlu9xCLqEjF","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}