[ramon][sql]-baixou-isca-para-clint-moeWv4KOxWFNmpnq.json
{"createdAt":"2025-05-31T15:02:46.129Z","updatedAt":"2025-05-31T15:43:08.259Z","id":"moeWv4KOxWFNmpnq","name":"[RAMON][SQL] Baixou isca para Clint","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"return [{ \n  route: Math.random() <= 0.8 ? \"vendedor1\" : \"vendedor2\"\n}];\n"},"id":"f64becfd-17b1-4c32-a84f-02d4ddd96b17","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d6304fd-4c80-4333-a96c-4fcaf6d4bb9e","leftValue":"={{ $json.route }}","rightValue":"vendedor1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"49b1a62c-556a-4ca2-a183-e3f6c9354f2a","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,160]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/EQGQ8ziEcxqZHPAYyJLt","sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"apiKey\": \"a2009a9b-17f0-4cc8-adbb-0cbb58ab79cd\",\n  \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}\n","options":{}},"id":"1d1cf71e-914f-49cb-ae06-29a9594c974d","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,260]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/29d7b74f-fabd-4f71-af3c-16c297af6611","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n\"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n\"email\": \"{{ $('Edit Fields2').item.json.email}}\",\n\"dono\": \"comercial2@titotal.com\"\n}","options":{}},"id":"aacb0b7c-713c-43e5-9d20-41b062f56483","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,260]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/QvTBRFPhlol3HllDrqOj","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"50909584-20d1-4e00-8c8b-fc8df1cf217c\",\n  \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}\n","options":{}},"id":"a0330002-075a-4c25-af42-eaf7ce25cc89","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,80]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/29d7b74f-fabd-4f71-af3c-16c297af6611","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n\"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n\"email\": \"{{ $('Edit Fields2').item.json.email}}\",\n\"dono\": \"comercial@titotal.com\"\n}","options":{}},"id":"5e5f6ec1-e8d6-4931-a88e-2bc99d61cbf2","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,80]},{"parameters":{"amount":1,"unit":"minutes"},"id":"61eeabe9-acf6-420c-8fb3-0dead37fa1de","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1060,160],"webhookId":"c312935d-0154-440c-8c09-870759b21d4c"},{"parameters":{"content":"Closer 1"},"id":"35e31727-e4a8-4683-8eb6-af17dcd3f393","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-100]},{"parameters":{"content":"Closer 2"},"id":"8da9f5d9-e160-44dc-bd73-7f4c820f6be2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,420]},{"parameters":{"resource":"contactTag","tagId":"83","contactId":"={{ $('ActiveCampaign1').item.json.id }}"},"id":"dfea56f8-8dd3-4fdd-ad92-fa528c06d943","name":"ActiveCampaign2","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-180,860]},{"parameters":{"operation":"getAll","additionalFields":{"email":"={{ $('Edit Fields2').item.json.email }}"}},"id":"4f8093b2-d22f-4c90-9c3a-53231ba489c6","name":"ActiveCampaign4","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[140,40]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign4\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"7b565e32-0bf4-4715-9d3f-b381a0f1c1e2","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d6965973-c784-4056-bb0a-75851f64055f","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1020,40]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"6842228e-505f-4397-a57d-bdf4a1e06d30","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[580,40]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/EiDggC7e5nDxKkSliLRT","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"5d77b7db2-a05c-4ab1-8a59-9f789f411220\",\n  \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}\n","options":{}},"id":"95b49641-2118-4b09-a023-9e6f0713f79c","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,20]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign5\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"c50e91bf-2039-418c-bc52-ce0b98e28cf3","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,320]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"3e669af4-a2fb-4512-aed6-9e9130e784b2","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[580,320]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/3YMCNglMXDN0lHQh7PtW","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"a3927198-38f9-4c67-a6a8-9624dcc4f05e\",\n   \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}\n","options":{}},"id":"8ea099ea-d01b-4b27-b711-95af9f044027","name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300]},{"parameters":{"operation":"getAll","additionalFields":{"email":"={{ $('Edit Fields2').item.json.email }}"}},"id":"28261d9f-0cec-4d70-9628-e3650e47af99","name":"ActiveCampaign5","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[140,320]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"b3482c29-f386-43dc-b120-2b762fc05d60","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,320]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"3b1c273d-e7d0-4d80-b493-563d856f2db6","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f5e51548-df7e-4c21-b8d6-a7842a6feb9d","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320]},{"parameters":{"resource":"contactTag","tagId":"88","contactId":"={{ $('ActiveCampaign1').item.json.id }}"},"id":"858a9796-e895-4f5c-8f9d-ebc1118d033f","name":"ActiveCampaign","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-420,840]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{ $json.id }}/contactTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"3c4f3fdb-689e-492e-9945-fcc94cdd50f6","name":"HTTP Request9","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-780,800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6361f14b-a226-48fd-95ca-25662e3c5749","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"88\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"id":"fad4ce28-5bf4-4e29-b424-4ed9d9928b32","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-620,820]},{"parameters":{"email":"={{ $json.body['E-mail'] }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"8","value":"={{ $json.body.utm_source }}"},{"field":"7","value":"={{ $json.body.utm_campaign }}"},{"field":"12","value":"={{ $json.body.utm_term }}"},{"field":"10","value":"={{ $json.body.utm_content }}"},{"field":"9","value":"={{ $json.body.utm_medium }}"}]},"firstName":"={{ $json.body.Nome }}","phone":"={{ $json.body.Telefone }}"}},"id":"75e5dc21-0bc8-4440-b623-bded0f5225b6","name":"ActiveCampaign1","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-980,820]},{"parameters":{"assignments":{"assignments":[{"id":"cd3d77a7-0dc2-44dd-acb9-3eb6897395ef","name":"=nome","value":"={{ $json.body['contact[first_name]'] }}","type":"string"},{"id":"46d0edcd-15cc-4162-b102-94fa689b2edc","name":"email","value":"={{ $json.body['contact[email]'] }}","type":"string"},{"id":"48a1321a-5b8e-42ec-9995-e64e6e84fabb","name":"telefone","value":"={{ $json.body['contact[phone]'] }}","type":"string"}]},"options":{}},"id":"c1e7af9a-cb2e-472d-b4a2-4230b7aafd53","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,160]},{"parameters":{"httpMethod":"POST","path":"2bd80df9-efdc-4770-a8af-890f7356ec9b","options":{}},"id":"d81f9d49-b347-43d9-b0df-786b73d3d27b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1480,160],"webhookId":"2bd80df9-efdc-4770-a8af-890f7356ec9b"}],"connections":{"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"ActiveCampaign5","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"ActiveCampaign4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0}]]},"ActiveCampaign4":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ActiveCampaign5":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If4","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"ActiveCampaign":{"main":[[{"node":"ActiveCampaign2","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"ActiveCampaign","type":"main","index":0}]]},"ActiveCampaign1":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"GuzzleHttp/6.5.5 curl/8.3.0 PHP/8.1.31","content-length":"302","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"54.225.1.90","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8a0e23f91b43","x-real-ip":"54.225.1.90","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"51246","contact[email]":"infratotaltsts@gmail.com","contact[first_name]":"infratotaltsts","contact[last_name]":"","contact[phone]":"(11) 91111-1111","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"isca-folha-codigos-sql","contact[ip4]":"0.0.0.0","seriesid":"73"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/2bd80df9-efdc-4770-a8af-890f7356ec9b","executionMode":"production"}}]},"versionId":"8eb32a49-ef28-45a6-b543-4da09196b57c","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:02:46.129Z","updatedAt":"2025-05-31T15:02:46.129Z","role":"workflow:owner","workflowId":"moeWv4KOxWFNmpnq","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}