[ramon][ti-total]-[compra-cancelada]-hotmart-para-clint-1cpCHKWTpyCNrT9O.json
{"createdAt":"2025-05-31T15:51:45.299Z","updatedAt":"2025-05-31T15:51:52.179Z","id":"1cpCHKWTpyCNrT9O","name":"[RAMON][TI TOTAL] [COMPRA CANCELADA] Hotmart Para Clint","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [{ \n  route: Math.random() <= 0.7 ? \"vendedor1\" : \"vendedor2\"\n}];\n"},"id":"ed480be2-36d4-4db5-93cc-dd2c01003aca","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d6304fd-4c80-4333-a96c-4fcaf6d4bb9e","leftValue":"={{ $json.route }}","rightValue":"vendedor1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3376ffec-635d-4c27-90d2-cc2fc8162376","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,200]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/ICnzUPTFWW8GcuAVLxIq","sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"apiKey\": \"71a8c03e-c238-4d2f-b305-233a9a96b2fc\",\n  \"phoneNumber\": \"{{ $('Webhook').item.json.body.Telefone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.Nome }}\",\n  \"email\": \"{{ $('Webhook').item.json.body['E-mail'] }}\"\n}\n","options":{}},"id":"ccd6130a-c9aa-461e-8b16-83c4ec92a36c","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,300]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/79fc3542-2834-47b2-8b81-48c89ba7c767","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Webhook').item.json.body.Telefone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.Nome }}\",\n  \"email\": \"{{ $('Webhook').item.json.body['E-mail'] }}\",\n\"dono\": \"comercial2@titotal.com\"\n}","options":{}},"id":"21e616c5-fe43-4e2d-a2fb-09a8e19bafcb","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,300]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/IiY77VMRsUS5uyl42YLY","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"549aac8f-1dd7-4244-a93f-33f84763c6e0\",\n  \"phoneNumber\": \"{{ $('Webhook').item.json.body.Telefone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.Nome }}\",\n  \"email\": \"{{ $('Webhook').item.json.body['E-mail'] }}\"\n}\n","options":{}},"id":"d09623a0-cf7b-41b8-9b77-2d51b440881d","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,120]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/79fc3542-2834-47b2-8b81-48c89ba7c767","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Webhook').item.json.body.Telefone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.Nome }}\",\n  \"email\": \"{{ $('Webhook').item.json.body['E-mail'] }}\",\n\"dono\": \"comercial@titotal.com\"\n}","options":{}},"id":"4c856187-8fb4-4b73-8250-7fbcd7dc7462","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,120]},{"parameters":{"amount":1,"unit":"minutes"},"id":"84938e9a-747b-404d-aede-edf4b4d3cc38","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-960,200],"webhookId":"9a65a08b-5f3f-44f0-92e5-d82961962bb5"},{"parameters":{"content":"Closer 1"},"id":"0e7ec480-add5-4e4a-ad97-dee18ae0c322","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,-60]},{"parameters":{"content":"Closer 2"},"id":"6b266c09-4e1b-430d-b6c6-26b77da44165","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,460]},{"parameters":{"email":"={{ $json.body['E-mail'] }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"8","value":"={{ $json.body.utm_source }}"},{"field":"7","value":"={{ $json.body.utm_campaign }}"},{"field":"12","value":"={{ $json.body.utm_term }}"},{"field":"10","value":"={{ $json.body.utm_content }}"},{"field":"9","value":"={{ $json.body.utm_medium }}"}]},"firstName":"={{ $json.body.Nome }}","phone":"={{ $json.body.Telefone }}"}},"id":"212c8cc2-f199-4813-8768-4978412f61f4","name":"ActiveCampaign1","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1460,500]},{"parameters":{"resource":"contactTag","tagId":"19","contactId":"={{ $json.id }}"},"id":"707bb9e7-b544-4368-9572-a75cbe2d9832","name":"ActiveCampaign2","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1200,500]},{"parameters":{"httpMethod":"POST","path":"7527a96d-57f0-4f19-914a-1af13c907978","options":{}},"id":"daea234b-07fe-4c33-8f5f-b306f346c0be","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1180,200],"webhookId":"7527a96d-57f0-4f19-914a-1af13c907978"}],"connections":{"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0}]]},"ActiveCampaign1":{"main":[[{"node":"ActiveCampaign2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"HTTP Request":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"WordPress/6.7.2; https://titotal.com","content-length":"227","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"177.154.191.253","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8a0e23f91b43","x-real-ip":"177.154.191.253"},"params":{},"query":{},"body":{"Nome":"totalduinfra","E-mail":"totalduinfra@gmail.com","Telefone":"(11) 93245-6347","utm_campaign":"pagina-zaf","utm_source":"pagina-zaf","utm_term":"pagina-zaf","utm_content":"pagina-zaf","utm_medium":"pagina-zaf","form_id":"ab744c4","form_name":"PreCheckout"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/6d46a3d3-29d4-475c-9fe2-75f92786e320","executionMode":"production"}}],"ActiveCampaign1":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"WordPress/6.7.2; https://titotal.com","content-length":"225","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"177.154.191.253","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8a0e23f91b43","x-real-ip":"177.154.191.253"},"params":{},"query":{},"body":{"Nome":"totalduinfra","E-mail":"totalduinfra@gmail.com","Telefone":"(11) 93245-6347","utm_campaign":"pagina-zaf","utm_source":"pagina-zaf","utm_term":"pagina-zaf","utm_content":"pagina-zaf","utm_medium":"organico","form_id":"ab744c4","form_name":"PreCheckout"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/6d46a3d3-29d4-475c-9fe2-75f92786e320","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"WordPress/6.7.2; https://titotal.com","content-length":"227","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"177.154.191.253","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8a0e23f91b43","x-real-ip":"177.154.191.253"},"params":{},"query":{},"body":{"Nome":"totalduinfra","E-mail":"totalduinfra@gmail.com","Telefone":"(11) 93245-6347","utm_campaign":"pagina-zaf","utm_source":"pagina-zaf","utm_term":"pagina-zaf","utm_content":"pagina-zaf","utm_medium":"pagina-zaf","form_id":"ab744c4","form_name":"PreCheckout"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/6d46a3d3-29d4-475c-9fe2-75f92786e320","executionMode":"production"}}]},"versionId":"7230b8a9-f8bb-4c98-b7c4-6092a9f9b606","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:51:45.299Z","updatedAt":"2025-05-31T15:51:45.299Z","role":"workflow:owner","workflowId":"1cpCHKWTpyCNrT9O","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}