[ramon][sql-total]-compra-aprovada-para-clint-MpD9pVdHjIxXUAUy.json
{"createdAt":"2025-05-31T15:07:08.941Z","updatedAt":"2025-05-31T15:43:08.259Z","id":"MpD9pVdHjIxXUAUy","name":"[RAMON][SQL TOTAL] Compra aprovada para Clint","active":false,"isArchived":true,"nodes":[{"parameters":{"method":"POST","url":"https://sendflow.pro/a/EQGQ8ziEcxqZHPAYyJLt","sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"apiKey\": \"a2009a9b-17f0-4cc8-adbb-0cbb58ab79cd\",\n  \"phoneNumber\": \"{{ $('Webhook').item.json.body.Telefone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.Nome }}\",\n  \"email\": \"{{ $('Webhook').item.json.body['E-mail'] }}\"\n}\n","options":{}},"id":"b6b28814-1f59-4305-8273-258df918adf6","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,360]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/f6865e28-eca4-4b9e-ad98-f563d7321e75","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Webhook').item.json.body.data.buyer.checkout_phone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.data.buyer.name }}\",\n  \"email\": \"{{ $('Webhook').item.json.body.data.buyer.email }}\",\n\"dono\": \"comercial2@titotal.com\"\n}","options":{}},"id":"36782ef0-c8e4-4a54-9769-832810c7f347","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,360]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/QvTBRFPhlol3HllDrqOj","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"50909584-20d1-4e00-8c8b-fc8df1cf217c\",\n  \"phoneNumber\": \"{{ $('Webhook').item.json.body.Telefone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.Nome }}\",\n  \"email\": \"{{ $('Webhook').item.json.body['E-mail'] }}\"\n}\n","options":{}},"id":"685904c2-3df7-4bad-a724-fc299dce6ff2","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,180]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/f6865e28-eca4-4b9e-ad98-f563d7321e75","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Webhook').item.json.body.data.buyer.checkout_phone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.data.buyer.name }}\",\n  \"email\": \"{{ $('Webhook').item.json.body.data.buyer.email }}\",\n\"dono\": \"comercial@titotal.com\"\n}","options":{}},"id":"837e7c0f-6141-4caf-9349-17c2b6cd3935","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,180]},{"parameters":{"amount":24,"unit":"hours"},"id":"a1dbe555-789a-463d-a6e9-de7965c9a496","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-780,260],"webhookId":"832dd7b3-92f7-4305-bdcb-71c0c044929e"},{"parameters":{"content":"Closer 1"},"id":"c474b6a0-b5ad-4094-8b64-243751e83328","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"Closer 2"},"id":"b0b2fc40-5837-4e24-817a-cce0b9b98ed5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,520]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign4\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"a920f06e-b68d-4009-b786-a60d03c736c7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c690c9bf-0f47-4711-852d-509a2947f04d","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,260]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"9bbfefff-1237-46b0-8078-4c47ca7f83d7","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,260]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/EiDggC7e5nDxKkSliLRT","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"5d77b7db2-a05c-4ab1-8a59-9f789f411220\",\n  \"phoneNumber\": \"{{ $json.body.Telefone }}\",\n  \"name\": \"{{ $json.body.Nome }}\",\n  \"email\": \"{{ $json.body['E-mail'] }}\"\n}\n","options":{}},"id":"41002ae4-111e-47d3-93f8-9fd4a1dba0e9","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,240]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign5\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"68cb117d-dbd0-46a8-be97-a997010b8bf3","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,540]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"78f1faff-0c6e-4394-aa10-0082ceab3427","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,540]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/3YMCNglMXDN0lHQh7PtW","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"a3927198-38f9-4c67-a6a8-9624dcc4f05e\",\n   \"phoneNumber\": \"{{ $json.body.Telefone }}\",\n  \"name\": \"{{ $json.body.Nome }}\",\n  \"email\": \"{{ $json.body['E-mail'] }}\"\n}\n","options":{}},"id":"6a0c319a-afaa-45a5-9688-ea3d307cbc96","name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,520]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"9d304df1-ab3f-44a2-b67d-95f0720bc272","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,540]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"2bad7489-a3ec-4c69-9f5c-84bfafe56fc9","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"100e3f4c-7bcc-4e38-8cf5-f1714b459ff3","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2120,540]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d6304fd-4c80-4333-a96c-4fcaf6d4bb9e","leftValue":"={{ $json.route }}","rightValue":"vendedor1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4d72d12b-a8e4-40db-aaec-24ce52a0c474","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-380,260]},{"parameters":{"jsCode":"return [{ \n  route: Math.random() <= 0.8 ? \"vendedor1\" : \"vendedor2\"\n}];\n"},"id":"f4b3b0a8-249c-4b4d-89ed-e9ccb338b9c3","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,260]},{"parameters":{"httpMethod":"POST","path":"0195322e-f245-451b-9e9e-e1ccd7d9ae55","options":{}},"id":"cf9c15c8-01cb-401b-8c7f-ce9d1b8bc99c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1000,260],"webhookId":"0195322e-f245-451b-9e9e-e1ccd7d9ae55"}],"connections":{"HTTP Request3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If4","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"Jodd HTTP","content-length":"2080","content-type":"application/json","x-forwarded-for":"52.207.149.129","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8a0e23f91b43","x-hotmart-hottok":"zAiElUDfCdEhULxkWuevQqS1UzCOUm3de0efcb-6fe2-4326-89e9-d65447ef8f64","x-real-ip":"52.207.149.129","accept-encoding":"gzip"},"params":{},"query":{},"body":{"data":{"product":{"support_email":"suporte@titotal.com","has_co_production":true,"name":"SQL TOTAL para concursos","warranty_date":"2025-04-21T00:00:00Z","id":5350741,"ucode":"041d499c-2106-4ba5-bc99-4d91bec8f8d7"},"commissions":[{"currency_value":"BRL","source":"MARKETPLACE","value":4.53},{"currency_value":"BRL","source":"PRODUCER","value":34.38}],"purchase":{"original_offer_price":{"currency_value":"BRL","value":47},"subscription_anticipation_purchase":false,"checkout_country":{"iso":"BR","name":"Brasil"},"origin":{"sck":"HOTMART_PRODUCT_PAGE"},"order_bump":{"is_order_bump":false},"approved_date":1744633904000,"offer":{"code":"e0nq9qba"},"is_funnel":false,"order_date":1744633730000,"price":{"currency_value":"BRL","value":47},"payment":{"pix_qrcode":"https://live-us.adyen.com/hpp/generateQRCodeImage.shtml?url=00020101021226900014br.gov.bcb.pix2568pix.adyen.com%2Fpixqrcodelocation%2Fpixloc%2Fv1%2Floc%2FO0wtU_PpRQWRhv0OcGaiAg5204000053039865802BR5902HT6009SAO+PAULO62070503***63042C6B","pix_expiration_date":1744806530000,"installments_number":1,"type":"PIX","pix_code":"00020101021226900014br.gov.bcb.pix2568pix.adyen.com/pixqrcodelocation/pixloc/v1/loc/O0wtU_PpRQWRhv0OcGaiAg5204000053039865802BR5902HT6009SAO PAULO62070503***63042C6B"},"full_price":{"currency_value":"BRL","value":47},"business_model":"I","invoice_by":"HOTMART","transaction":"HP3993515873","status":"APPROVED"},"affiliates":[{"affiliate_code":"","name":""}],"producer":{"legal_nature":"Pessoa Jurídica","document":"32842434000125","name":"Everest Treinamento em Desenvolvimento"},"buyer":{"checkout_phone_code":"41","address":{"zipcode":"81560360","country":"Brasil","address":"Augusto zib","city":"Curitiba ","state":"PR","neighborhood":"Ube","complement":"","country_iso":"BR"},"document":"00732100992","name":"Eleandro Jony de Freitas ","last_name":"Freitas","checkout_phone":"41988460070","first_name":"Eleandro","email":"satierf1981@gmail.com","document_type":"CPF"}},"id":"867151e3-1cf8-450f-b519-0780ff1a2b9f","creation_date":1744633907598,"event":"PURCHASE_APPROVED","version":"2.0.0"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/0195322e-f245-451b-9e9e-e1ccd7d9ae55","executionMode":"production"}}]},"versionId":"0547c19b-e40d-4a28-9847-71e912fca28a","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:07:08.941Z","updatedAt":"2025-05-31T15:07:08.941Z","role":"workflow:owner","workflowId":"MpD9pVdHjIxXUAUy","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}