[ramon][ti-total]-pré-checkout-para-clint-kLvT60UMDQpCN7Ck.json
{"createdAt":"2025-05-31T15:06:05.373Z","updatedAt":"2025-05-31T15:43:08.259Z","id":"kLvT60UMDQpCN7Ck","name":"[RAMON][TI-TOTAL] Pré Checkout para Clint","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"return [{ \n  route: Math.random() <= 0.8 ? \"vendedor1\" : \"vendedor2\"\n}];\n"},"id":"a5d31a18-20f8-469e-b433-a1770ba96c23","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2120,180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d6304fd-4c80-4333-a96c-4fcaf6d4bb9e","leftValue":"={{ $json.route }}","rightValue":"vendedor1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"56e1ff17-487d-4d45-b61f-2695fcb72ab4","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2360,180]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/31iqVoSHI06gOddkhsib","sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"apiKey\": \"6246965e-bfc4-4c8c-8ba7-102924136e40\",\n  \"phoneNumber\":  \"{{ $('Edit Fields2').item.json.Telefone }}\",\n  \"name\":         \"{{ $('Edit Fields2').item.json.Nome }}\",\n  \"email\":        \"{{ $('Edit Fields2').item.json.Email }}\"\n}\n","options":{}},"id":"434a502c-07b8-467f-b169-958f41caff74","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,280]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/c841bfad-399c-492d-b1a3-cd5f224eae37","sendBody":true,"specifyBody":"json","jsonBody":"={\n \"phone\":  \"{{ $('Edit Fields2').item.json.Telefone }}\",\n  \"name\":         \"{{ $('Edit Fields2').item.json.Nome }}\",\n  \"email\":        \"{{ $('Edit Fields2').item.json.Email }}\",\n\"dono\": \"comercial2@titotal.com\"\n}","options":{}},"id":"9697c53b-c45a-4b27-95a6-4b62d743393d","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,280]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/kJUAS9fahhkruIuPTBAD","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"e8e4161a-73fa-4bcc-99a2-36bfba3300d4\",\n  \"phoneNumber\":  \"{{ $('Edit Fields2').item.json.Telefone }}\",\n  \"name\":         \"{{ $('Edit Fields2').item.json.Nome }}\",\n  \"email\":        \"{{ $('Edit Fields2').item.json.Email }}\"\n}","options":{}},"id":"107bef89-c880-44c5-93ad-822e45a626eb","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,100]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/c841bfad-399c-492d-b1a3-cd5f224eae37","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\":  \"{{ $('Edit Fields2').item.json.Telefone }}\",\n  \"name\":         \"{{ $('Edit Fields2').item.json.Nome }}\",\n  \"email\":        \"{{ $('Edit Fields2').item.json.Email }}\",\n\"dono\": \"comercial@titotal.com\"\n}","options":{}},"id":"dc7bff26-04fd-4a8e-9d89-698f81418295","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,100]},{"parameters":{"unit":"minutes"},"id":"60ee6a9f-4a12-4208-912b-5584feca387c","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1500,60],"webhookId":"53c889db-2066-4e69-a911-df8eec679a8e"},{"parameters":{"content":"Closer 1"},"id":"e499d6f3-f8c2-439c-bbb6-36dd469519bf","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2660,-80]},{"parameters":{"content":"Closer 2"},"id":"3592d2ed-2bc1-4eeb-af37-2f49bd5d9152","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2660,440]},{"parameters":{"email":"={{ $json.Email }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"8","value":"={{ $json.utm_source }}"},{"field":"7","value":"={{ $json.utm_campaign }}"},{"field":"12","value":"={{ $json.utm_term }}"},{"field":"10","value":"={{ $json.utm_content }}"},{"field":"9","value":"={{ $json.utm_medium }}"}]},"firstName":"={{ $json.Nome }}","phone":"={{ $json.Telefone }}"}},"id":"87209ca8-ebf5-41ec-b7d2-527f5999e9d2","name":"ActiveCampaign1","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[380,-80]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{ $('ActiveCampaign1').item.json.id }}/contactTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"1bfafff4-3f3f-425c-afb9-34252468b9a4","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,60]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"817f3cf4-da90-4f78-ad71-fa178522d87c","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"4\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}},{"id":"ecb33e40-51ca-4f3d-908f-e77ca786fcda","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"18\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}},{"id":"23f7a5e3-4c73-4a6a-8058-98decf14e048","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"63\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"or"},"options":{}},"id":"cbced7d5-eef2-4a23-9521-8c5b65d6d178","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1900,60]},{"parameters":{"operation":"getAll","additionalFields":{"email":"={{ $('Edit Fields2').item.json.Email }}"}},"id":"ceecf12e-23d8-420a-826b-ba4b6808c5d4","name":"ActiveCampaign4","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[3020,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4c7d622b-0a47-45ae-9698-93f4ce67cf84","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3800,100]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"4b3f8d24-827e-4167-976a-fa86017b1ae2","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[3400,100]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign4\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"df2c8a25-88b4-4a91-ba03-927c8978416b","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3220,100]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"3d57bb7a-c2e8-4a4f-bd36-12a2c05244f4","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3600,100]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/EiDggC7e5nDxKkSliLRT","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"5d77b7db2-a05c-4ab1-8a59-9f789f411220\",\n  \"phoneNumber\":  \"{{ $('Edit Fields2').item.json.Telefone }}\",\n  \"name\":         \"{{ $('Edit Fields2').item.json.Nome }}\",\n  \"email\":        \"{{ $('Edit Fields2').item.json.Email }}\"\n}","options":{}},"id":"94bdd325-0012-48c8-8fdf-4baeef61826a","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4040,80]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"6222767c-006c-4230-8712-08c125d98543","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[3400,280]},{"parameters":{"operation":"getAll","additionalFields":{"email":"={{ $('Edit Fields2').item.json.Email }}"}},"id":"a47725c4-8b79-4a40-8579-20c1d223fa55","name":"ActiveCampaign5","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[3020,280]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"769b6efa-f268-4a33-9caa-eb87d42e0c1a","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3600,280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c464ec5d-3a69-40ee-b5ef-8c36a3a43731","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3800,280]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign5\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"b4361f5a-ebe5-4058-8e2c-83cdff6e66f0","name":"HTTP Request8","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3220,280]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/3YMCNglMXDN0lHQh7PtW","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"a3927198-38f9-4c67-a6a8-9624dcc4f05e\",\n  \"phoneNumber\":  \"{{ $('Edit Fields2').item.json.Telefone }}\",\n  \"name\":         \"{{ $('Edit Fields2').item.json.Nome }}\",\n  \"email\":        \"{{ $('Edit Fields2').item.json.Email }}\"\n}","options":{}},"id":"6ad3992c-5a5a-4b18-b56e-8a1b0204d8bf","name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4040,260]},{"parameters":{"resource":"contactTag","tagId":"86","contactId":"={{ $('ActiveCampaign1').item.json.id }}"},"id":"3d954769-a740-4262-a933-3f8f78cec027","name":"ActiveCampaign","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[1200,60]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{ $json.id }}/contactTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"4f80b977-a93a-4534-859d-dea6c1bb2eab","name":"HTTP Request9","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6361f14b-a226-48fd-95ca-25662e3c5749","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"86\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"id":"5d7682dd-7fe6-440d-a13c-05f69bf49430","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,-80]},{"parameters":{"assignments":{"assignments":[{"id":"32a578ff-13d9-4efe-97b8-1eba865233de","name":"Nome","value":"={{ $json.body['contact[first_name]'] }}","type":"string"},{"id":"e5f01776-f9b2-4126-bf74-2993d66835f8","name":"Telefone","value":"={{ $json.body['contact[phone]'] }}","type":"string"},{"id":"b5f89378-19d0-4ce1-ae4b-7728e464652a","name":"utm_source","value":"={{ $json.body['contact[fields][utm_source]'] }}","type":"string"},{"id":"48ef6b04-f157-4615-be5b-24b08c8f0c98","name":"utm_campaign","value":"={{ $json.body['contact[fields][utm_campaign]'] }}","type":"string"},{"id":"a635641f-37e6-48e8-a3f8-01a544861396","name":"utm_term","value":"={{ $json.body['contact[fields][utm_term]'] }}","type":"string"},{"id":"eb5c9438-5587-4928-a2d3-1c4361029591","name":"utm_content","value":"={{ $json.body['contact[fields][utm_content]'] }}","type":"string"},{"id":"8fd4a87c-a87e-4f27-8ecf-5d6efac03c5a","name":"utm_medium","value":"={{ $json.body['contact[fields][utm_medium]'] }}","type":"string"},{"id":"862d4346-8518-4ff5-968c-2615a1a4fae5","name":"Email","value":"={{ $json.body['contact[email]'] }}","type":"string"}]},"options":{}},"id":"7b5082ca-ab30-4e38-8d28-dd17fe1bc047","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-80]},{"parameters":{"httpMethod":"POST","path":"6d46a3d3-29d4-475c-9fe2-75f92786e320","options":{}},"id":"da3e4579-64b9-4874-9986-703b24673294","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,-80],"webhookId":"6d46a3d3-29d4-475c-9fe2-75f92786e320"}],"connections":{"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"ActiveCampaign5","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"ActiveCampaign4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"ActiveCampaign1":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"ActiveCampaign4":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ActiveCampaign5":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Code3","type":"main","index":0}]]},"ActiveCampaign":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"ActiveCampaign","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"ActiveCampaign1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"HTTP Request":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"WordPress/6.7.2; https://titotal.com","content-length":"227","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"177.154.191.253","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8a0e23f91b43","x-real-ip":"177.154.191.253"},"params":{},"query":{},"body":{"Nome":"totalduinfra","E-mail":"totalduinfra@gmail.com","Telefone":"(11) 93245-6347","utm_campaign":"pagina-zaf","utm_source":"pagina-zaf","utm_term":"pagina-zaf","utm_content":"pagina-zaf","utm_medium":"pagina-zaf","form_id":"ab744c4","form_name":"PreCheckout"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/6d46a3d3-29d4-475c-9fe2-75f92786e320","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"GuzzleHttp/6.5.5 curl/8.3.0 PHP/8.1.31","content-length":"512","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"23.22.14.42","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8a0e23f91b43","x-real-ip":"23.22.14.42","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"51003","contact[email]":"teste2222total@gmail.com","contact[first_name]":"teste2222total","contact[last_name]":"","contact[phone]":"(11) 94444-4444","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"Pre-checkout-ti-total","contact[ip4]":"0.0.0.0","contact[fields][utm_campaign]":"teste","contact[fields][utm_term]":"teste","contact[fields][utm_content]":"teste","contact[fields][utm_medium]":"teste","contact[fields][utm_source]":"teste","seriesid":"72"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/6d46a3d3-29d4-475c-9fe2-75f92786e320","executionMode":"production"}}]},"versionId":"81cbe42e-f808-4b47-8f15-a3375d8a48f6","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:06:05.373Z","updatedAt":"2025-05-31T15:06:05.373Z","role":"workflow:owner","workflowId":"kLvT60UMDQpCN7Ck","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}