[ramon][upgrade-vip]-hotmart-para-clint-(consome-fila)-bDtW2W1iYQL97Ynq.json
{"createdAt":"2025-05-31T15:56:12.872Z","updatedAt":"2025-05-31T15:56:19.632Z","id":"bDtW2W1iYQL97Ynq","name":"[RAMON][Upgrade VIP] Hotmart Para Clint (consome fila)","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"upgrade-vip-hotmart-clint","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"onlyContent":true,"parallelMessages":1}},"id":"37d973d7-b3d3-4924-9dd2-80ec5e371235","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-820,260]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ed62d509-87f6-4206-9055-625025700431","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"},{"name":"telefone","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"checkout_phone\"] }}"}]},"options":{}},"id":"86c60c13-5279-42d2-8491-2f857b901ee6","name":"Clint","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-180,0]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/1be6bfa4-920d-4a48-ab9d-b3f92cf74091","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"},{"name":"telefone","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"checkout_phone\"] }}"}]},"options":{}},"id":"6dd0de69-e7c6-442a-8fb2-fd0c121c54b5","name":"Clint - Pedido Reembolso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-180,220]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/576c796e-58d7-4f12-825c-21c767594c95","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"name\"] }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"] }}"},{"name":"telefone","value":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"data\"][\"buyer\"][\"checkout_phone\"] }}"}]},"options":{}},"id":"2f3018d2-693c-4585-bd14-55546f26707c","name":"Clint - Chargeback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-180,440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"event\"] }}","rightValue":"PURCHASE_APPROVED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53c99f01-d91b-4c85-b1d2-e562d5508bcd","leftValue":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"event\"] }}","rightValue":"PURCHASE_PROTEST","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd065e6c-64ce-4adf-a588-0884a4da9726","leftValue":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"event\"] }}","rightValue":"PURCHASE_CHARGEBACK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39077ad9-9470-41ff-97fa-6a344ebaab99","leftValue":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"event\"] }}","rightValue":"PURCHASE_REFUNDED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"id":"ef7d645d-86f1-481d-b4ac-144eb5bb78ce","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-580,260]}],"connections":{"RabbitMQ Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Clint","type":"main","index":0}],[{"node":"Clint - Pedido Reembolso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"RabbitMQ Trigger":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"Jodd HTTP","content-length":"1360","content-type":"application/json","x-forwarded-for":"204.236.252.146","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"93eadc27cfdd","x-hotmart-hottok":"zAiElUDfCdEhULxkWuevQqS1UzCOUm3de0efcb-6fe2-4326-89e9-d65447ef8f64","x-real-ip":"204.236.252.146","accept-encoding":"gzip"},"params":{},"query":{},"body":{"data":{"product":{"has_co_production":true,"name":"Acesso estendido TI TOTAL - Mais 1 ano de acesso","id":3512254,"ucode":"fbe5d2bb-9167-44b0-a34d-a8f7732479ab"},"commissions":[{"currency_value":"BRL","source":"MARKETPLACE","value":30.78},{"currency_value":"BRL","source":"PRODUCER","value":347.91}],"purchase":{"original_offer_price":{"currency_value":"BRL","value":397},"subscription_anticipation_purchase":false,"checkout_country":{"iso":"BR","name":"Brasil"},"order_bump":{"is_order_bump":false},"approved_date":1729031370000,"offer":{"code":"kn2ghcas"},"order_date":1729031369000,"price":{"currency_value":"BRL","value":397},"payment":{"installments_number":2,"type":"CREDIT_CARD"},"full_price":{"currency_value":"BRL","value":414.3},"invoice_by":"HOTMART","transaction":"HP3390427838","status":"APPROVED"},"affiliates":[{"affiliate_code":"","name":""}],"producer":{"name":"Everest Treinamento em Desenvolvimento"},"buyer":{"address":{"zipcode":"64011565","country":"Brasil","number":"07","address":"Residencial Inglaterra","city":"Teresina","state":"PI","neighborhood":"Aroeiras","country_iso":"BR"},"document":"05534721359","name":"Bruno Leonardo Alves Ribeiro","checkout_phone":"86999271374","email":"brunoleonardorb@gmail.com"}},"id":"b3e2bd16-2e63-4bdf-b264-b69f9f89429b","creation_date":1729031374941,"event":"PURCHASE_APPROVED","version":"2.0.0"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/5a1b3de1-69f3-443d-9b4c-67aed6f823b8","executionMode":"production"}}]},"versionId":"b251a284-a8c9-4363-b488-b863f58073e0","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:56:12.872Z","updatedAt":"2025-05-31T15:56:12.872Z","role":"workflow:owner","workflowId":"bDtW2W1iYQL97Ynq","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}