[ramon][zaf]-baixou-isca-para-clint-3uNpB8AM4Q78HZad.json
{"createdAt":"2025-05-31T15:04:13.669Z","updatedAt":"2025-05-31T15:43:08.259Z","id":"3uNpB8AM4Q78HZad","name":"[RAMON][ZAF] Baixou isca para Clint","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"return [{ \n  route: Math.random() <= 0.8 ? \"vendedor1\" : \"vendedor2\"\n}];\n"},"id":"1d573fa3-ceb0-4cb3-9bf2-e84537e3ff31","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d6304fd-4c80-4333-a96c-4fcaf6d4bb9e","leftValue":"={{ $json.route }}","rightValue":"vendedor1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"49c888f9-2db4-4233-8efe-cba538d63929","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,260]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/rMN8XFkebLKrintC2ZbQ","sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"apiKey\": \"1fdde08d-4fd9-4f61-8230-da1ccb801878\",\n  \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}\n","options":{}},"id":"40885416-2b33-47bd-8ad5-fd161b5f4b2c","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,360]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/94012093-d42d-49d6-bb44-4f0cf8bb78e8","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n\"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n\"email\": \"{{ $('Edit Fields2').item.json.email}}\",\n\"dono\": \"comercial2@titotal.com\"\n}","options":{}},"id":"ad9d193d-1596-44b2-976a-2f9062f05714","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,360]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/WK0KdDUoXHEAoF2RITa8","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"f89aecb4-2d3b-4668-93dd-2ce755d891f4\",\n  \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}\n","options":{}},"id":"22f489e5-dddf-49c7-8ff7-81c2e3879b52","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,180]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/94012093-d42d-49d6-bb44-4f0cf8bb78e8","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n\"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n\"email\": \"{{ $('Edit Fields2').item.json.email}}\",\n\"dono\": \"comercial@titotal.com\"\n}","options":{}},"id":"9398c9fb-2fd4-4f6c-9edf-35afe0f4913e","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,180]},{"parameters":{"content":"Closer 1"},"id":"75a9cec3-95f7-4854-bc04-5a360ee6c185","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"Closer 2"},"id":"0cf73f33-c082-4c94-9e62-3675ebbfdb66","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,520]},{"parameters":{"email":"={{ $json.body['fields[email][value]'] }}","updateIfExists":true,"additionalFields":{"fieldValues":{"property":[{"field":"8","value":"={{ $json.body['fields[utm_source][value]'] }}"},{"field":"7","value":"={{ $json.body['fields[utm_campaign][value]'] }}"},{"field":"12","value":"={{ $json.body['fields[utm_term][value]'] }}"},{"field":"10","value":"={{ $json.body['fields[utm_content][value]'] }}"},{"field":"9","value":"={{ $json.body['fields[utm_medium][value]'] }}"}]},"firstName":"={{ $json.body['fields[name][value]'] }}","phone":"={{ $json.body['fields[phonenumber][value]'] }}"}},"id":"b25c23b4-9545-4ac1-93be-5b0f489de3fc","name":"ActiveCampaign1","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-3180,380]},{"parameters":{"resource":"contactTag","tagId":"25","contactId":"={{ $('ActiveCampaign1').item.json.id }}"},"id":"ba3cf19d-db4a-4f8a-865b-807aea840e9f","name":"ActiveCampaign2","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2440,680]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{ $('ActiveCampaign1').item.json.id }}/contactTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"3cdf0eb3-db69-4b74-992e-fa2a85514b22","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2160,700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"817f3cf4-da90-4f78-ad71-fa178522d87c","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"4\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}},{"id":"ecb33e40-51ca-4f3d-908f-e77ca786fcda","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"18\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}},{"id":"23f7a5e3-4c73-4a6a-8058-98decf14e048","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"63\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"or"},"options":{}},"id":"bbb3a053-838f-4b87-8fce-1cafb22ba0be","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1960,720]},{"parameters":{"resource":"contactTag","tagId":"87","contactId":"={{ $('ActiveCampaign1').item.json.id }}"},"id":"439270ef-8885-4802-9a17-d01102f40607","name":"ActiveCampaign","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-2640,680]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{ $json.id }}/contactTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"8f9a7e84-7793-4b1f-8ea1-4a12bacb6b74","name":"HTTP Request9","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3100,580]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6361f14b-a226-48fd-95ca-25662e3c5749","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"87\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"id":"8db7fa8a-62ff-4189-8984-cefe15f09de0","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2880,580]},{"parameters":{"operation":"getAll","additionalFields":{"email":"={{$node[\"Webhook\"].json[\"email\"]}}"}},"id":"41a43d9b-caf7-4be7-8e02-e02e481bd013","name":"ActiveCampaign4","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[480,140]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"825feac8-9d14-4147-9b29-79d85078098c","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,140]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"1998e133-159f-443c-a6be-e5a2227d3d33","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,140]},{"parameters":{"jsCode":"const tag = $json.tag;\n\nconst temTagCompra = tag === \"Compra Aprovada\" || tag === \"[TI TOTAL] Compra Aprovada\";\n\nreturn [\n  {\n    json: {\n      temTagCompra\n    }\n  }\n];\n"},"id":"8a5bd8d3-df0a-4409-8662-11e165aa4db1","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,420]},{"parameters":{"operation":"getAll","additionalFields":{"email":"={{$node[\"Webhook\"].json[\"email\"]}}"}},"id":"25aea2de-4453-4e9e-8bad-4a3bc32891da","name":"ActiveCampaign5","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[480,420]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"af1fd801-c592-42c5-b1d9-110f042b2946","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,420]},{"parameters":{"assignments":{"assignments":[{"id":"6ff9dbe7-5ac2-4ecc-8855-c84dcf3d6b1e","name":"temTagCompraTratado","value":"={{ $json.temTagCompra === true || $json.temTagCompra === 'true' }}","type":"boolean"}]},"options":{}},"id":"d8e76735-4ffb-4ba9-865d-76f46173794d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,140]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e298880a-1054-4d24-bd63-ebda2adb934f","leftValue":"={{$json.temTagCompraTratado}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"509b8f27-968e-4b58-b6a4-4019921b8d31","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,420]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign4\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"6bc9d5e0-2a32-4883-93fe-0432b7c75955","name":"HTTP Request8","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,140]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{$node[\"ActiveCampaign5\"].json[0].id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"ce4dd46affc47c42af7f6ab55ff5ec3fb811174cf4220d8778ad1cb40a5accb73b0a0d9f"}]},"options":{}},"id":"055aa964-c894-42b8-9e80-003e012610e5","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,420]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/EiDggC7e5nDxKkSliLRT","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"5d77b7db2-a05c-4ab1-8a59-9f789f411220\",\n  \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}","options":{}},"id":"482115c6-3fb2-4107-978f-174369260f6b","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,120]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/3YMCNglMXDN0lHQh7PtW","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"a3927198-38f9-4c67-a6a8-9624dcc4f05e\",\n  \"phoneNumber\": \"{{ $('Edit Fields2').item.json.telefone }}\",\n  \"name\": \"{{ $('Edit Fields2').item.json.nome }}\",\n  \"email\": \"{{ $('Edit Fields2').item.json.email }}\"\n}\n","options":{}},"id":"5a687423-69ed-4306-aa76-a59602635f78","name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,400]},{"parameters":{"assignments":{"assignments":[{"id":"cd3d77a7-0dc2-44dd-acb9-3eb6897395ef","name":"=nome","value":"={{ $json.body['contact[first_name]'] }}","type":"string"},{"id":"46d0edcd-15cc-4162-b102-94fa689b2edc","name":"email","value":"={{ $json.body['contact[email]'] }}","type":"string"},{"id":"48a1321a-5b8e-42ec-9995-e64e6e84fabb","name":"telefone","value":"={{ $json.body['contact[phone]'] }}","type":"string"}]},"options":{}},"id":"c83cb318-ab42-4471-8a1b-301fcf5638c0","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-780,260]},{"parameters":{"httpMethod":"POST","path":"2050db7a-e82d-40c1-ab30-27c29cb4bb11","options":{}},"id":"e2b1ebda-4e13-4022-8341-dd4130e61e5d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1020,260],"webhookId":"2050db7a-e82d-40c1-ab30-27c29cb4bb11"}],"connections":{"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"ActiveCampaign5","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"ActiveCampaign4","type":"main","index":0}]]},"ActiveCampaign1":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"ActiveCampaign2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0}]]},"ActiveCampaign":{"main":[[{"node":"ActiveCampaign2","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"ActiveCampaign","type":"main","index":0}]]},"ActiveCampaign4":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ActiveCampaign5":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If4","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"aut.proframonsouza.com.br","user-agent":"WordPress/6.7.2; https://titotal.com","content-length":"2003","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"177.154.191.253","x-forwarded-host":"aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"93eadc27cfdd","x-real-ip":"177.154.191.253"},"params":{},"query":{},"body":{"form[id]":"b9f58e9","form[name]":"Novo formulário","fields[name][id]":"name","fields[name][type]":"text","fields[name][title]":"Nome","fields[name][value]":"Alissa Noda","fields[name][raw_value]":"Alissa Noda","fields[name][required]":"0","fields[email][id]":"email","fields[email][type]":"email","fields[email][title]":"E-mail","fields[email][value]":"alissabnoda@gmail.com","fields[email][raw_value]":"alissabnoda@gmail.com","fields[email][required]":"1","fields[phonenumber][id]":"phonenumber","fields[phonenumber][type]":"text","fields[phonenumber][title]":"Telefone","fields[phonenumber][value]":"(12) 98868-6417","fields[phonenumber][raw_value]":"(12) 98868-6417","fields[phonenumber][required]":"1","fields[utm_campaign][id]":"utm_campaign","fields[utm_campaign][type]":"hidden","fields[utm_campaign][title]":"utm_campaign","fields[utm_campaign][value]":"","fields[utm_campaign][raw_value]":"","fields[utm_campaign][required]":"0","fields[utm_source][id]":"utm_source","fields[utm_source][type]":"hidden","fields[utm_source][title]":"utm_source","fields[utm_source][value]":"","fields[utm_source][raw_value]":"","fields[utm_source][required]":"0","fields[utm_term][id]":"utm_term","fields[utm_term][type]":"hidden","fields[utm_term][title]":"utm_term","fields[utm_term][value]":"","fields[utm_term][raw_value]":"","fields[utm_term][required]":"0","fields[utm_content][id]":"utm_content","fields[utm_content][type]":"hidden","fields[utm_content][title]":"utm_content","fields[utm_content][value]":"","fields[utm_content][raw_value]":"","fields[utm_content][required]":"0","fields[utm_medium][id]":"utm_medium","fields[utm_medium][type]":"hidden","fields[utm_medium][title]":"utm_medium","fields[utm_medium][value]":"","fields[utm_medium][raw_value]":"","fields[utm_medium][required]":"0"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook-test/2050db7a-e82d-40c1-ab30-27c29cb4bb11","executionMode":"test"}}]},"versionId":"dc60a903-76ea-4334-a6d8-fefdd6bbaa40","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:04:13.669Z","updatedAt":"2025-05-31T15:04:13.669Z","role":"workflow:owner","workflowId":"3uNpB8AM4Q78HZad","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}