[ramon][folha-sql]-baixou-isca-para-clint-(consome-fila)-antigo-com-rabbit-68pjFNaY0xi9Pde0.json
{"createdAt":"2025-05-31T15:10:07.171Z","updatedAt":"2025-05-31T15:43:08.259Z","id":"68pjFNaY0xi9Pde0","name":"[RAMON][FOLHA SQL] Baixou isca Para Clint (consome fila) ANTIGO COM RABBIT","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"return [{\n  messageType: Math.floor(Math.random() *2) + 1\n}];"},"id":"d32d2595-b257-4afc-beef-712f954559a9","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d6304fd-4c80-4333-a96c-4fcaf6d4bb9e","leftValue":"={{ $json.messageType }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4d48b9d3-86e8-43a0-b2d0-e1c8f90f9efc","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,80]},{"parameters":{"queue":"baixou-isca-folha-de-codigos-sql","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"onlyContent":true}},"id":"0f314739-ebbf-4bae-b315-51681eaa3ab6","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1560,220]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/EQGQ8ziEcxqZHPAYyJLt","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"a2009a9b-17f0-4cc8-adbb-0cbb58ab79cd\",\n  \"phoneNumber\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[phonenumber][value]'] }}\",\n  \"name\": \" {{ $('RabbitMQ Trigger').item.json.body['fields[name][value]'] }}\",\n  \"email\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[email][value]'] }}\"\n} ","options":{}},"id":"7d6e6f63-48f1-40bc-9013-8f81aff3cf98","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,180]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/29d7b74f-fabd-4f71-af3c-16c297af6611","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[name][value]'] }}\",\n\"email\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[email][value]'] }}\",\n\"phone\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[phonenumber][value]'] }}\",\n\"dono\": \"comercial@titotal.com\"\n}","options":{}},"id":"cfa94aa1-333e-47cd-b5dd-63821bb54158","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,180]},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/QvTBRFPhlol3HllDrqOj","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"50909584-20d1-4e00-8c8b-fc8df1cf217c\",\n  \"phoneNumber\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[phonenumber][value]'] }}\",\n  \"name\": \" {{ $('RabbitMQ Trigger').item.json.body['fields[name][value]'] }}\",\n  \"email\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[email][value]'] }}\"\n} ","options":{}},"id":"2247e658-0bcf-486f-aeb8-a9dc9df9c442","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/29d7b74f-fabd-4f71-af3c-16c297af6611","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[name][value]'] }}\",\n\"email\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[email][value]'] }}\",\n\"phone\": \"{{ $('RabbitMQ Trigger').item.json.body['fields[phonenumber][value]'] }}\",\n\"dono\": \"comercial@titotal.com\"\n}","options":{}},"id":"c0fa7b4c-c170-4e28-b1a2-029099e1ec20","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,0]},{"parameters":{},"id":"c7df435a-3ab8-4b1f-8969-3db5bd632e50","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1360,220],"webhookId":"ba6ee3b9-3fa7-4092-b166-e5c80b601bf6"},{"parameters":{"operation":"getAll","returnAll":true,"additionalFields":{"email":"={{ $('RabbitMQ Trigger').item.json.body['fields[email][value]'] }}"}},"id":"8892566e-291c-4bf7-b85b-c7c33630a92f","name":"ActiveCampaign","type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-1140,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b973621f-fd87-4806-97cb-acfafd790572","leftValue":"={{ $json.contactTags.filter(item => item.tag === \"83\") }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"or"},"options":{}},"id":"f870d174-b12b-4b27-ba57-d84a7ec1e794","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-700,220]},{"parameters":{"url":"=https://everestconcursos11.api-us1.com/api/3/contacts/{{ $json.id }}/contactTags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"4f9e69f98bfbf97d56f6ed76c77c67b9a45e48657c89c66855dc6c63fe265eb680882cd5"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":30000}},"id":"6f842bf4-3417-4e07-820d-472d88ca3f30","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-920,220]}],"connections":{"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"ActiveCampaign","type":"main","index":0}]]},"ActiveCampaign":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"RabbitMQ Trigger":[{"json":{"headers":{"host":"webhook.aut.proframonsouza.com.br","user-agent":"WordPress/6.7.2; https://titotal.com","content-length":"3002","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"177.154.191.253","x-forwarded-host":"webhook.aut.proframonsouza.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"93eadc27cfdd","x-real-ip":"177.154.191.253"},"params":{},"query":{},"body":{"form[id]":"7f8500d","form[name]":"New Form","fields[nome][id]":"nome","fields[nome][type]":"text","fields[nome][title]":"","fields[nome][value]":"Helio","fields[nome][raw_value]":"Helio ","fields[nome][required]":"1","fields[email][id]":"email","fields[email][type]":"email","fields[email][title]":"","fields[email][value]":"tenheliodf@gmail.com","fields[email][raw_value]":"tenheliodf@gmail.com","fields[email][required]":"1","fields[phonenumber][id]":"phonenumber","fields[phonenumber][type]":"text","fields[phonenumber][title]":"","fields[phonenumber][value]":"(61) 99333-2454","fields[phonenumber][raw_value]":"(61) 99333-2454","fields[phonenumber][required]":"1","fields[utm_campaign][id]":"utm_campaign","fields[utm_campaign][type]":"hidden","fields[utm_campaign][title]":"utm_campaign","fields[utm_campaign][value]":"120217901737370256","fields[utm_campaign][raw_value]":"120217901737370256","fields[utm_campaign][required]":"0","fields[utm_source][id]":"utm_source","fields[utm_source][type]":"hidden","fields[utm_source][title]":"utm_source","fields[utm_source][value]":"ig","fields[utm_source][raw_value]":"ig","fields[utm_source][required]":"0","fields[utm_medium][id]":"utm_medium","fields[utm_medium][type]":"hidden","fields[utm_medium][title]":"utm_medium","fields[utm_medium][value]":"paid","fields[utm_medium][raw_value]":"paid","fields[utm_medium][required]":"0","fields[utm_content][id]":"utm_content","fields[utm_content][type]":"hidden","fields[utm_content][title]":"utm_content","fields[utm_content][value]":"120217901737410256","fields[utm_content][raw_value]":"120217901737410256","fields[utm_content][required]":"0","meta[date][title]":"Data","meta[date][value]":"março 30, 2025","meta[time][title]":"Horário","meta[time][value]":"3:09 pm","meta[page_url][title]":"URL da página","meta[page_url][value]":"https://titotal.com/folha-de-codigos-sql/?utm_medium=paid&utm_source=ig&utm_id=120217901737370256&utm_content=120217901737410256&utm_term=120217901737360256&utm_campaign=120217901737370256&fbclid=PAZXh0bgNhZW0BMABhZGlkAasZi3Z5KBABpqeg3jEtLVzeNE018DmxyhCAEkFeXt7bzVPMTxRza7-14WAhcCfltpm4lw_aem_Ff31nD_L7dJROb6Yk_s-lA#top","meta[user_agent][title]":"Agente de usuário","meta[user_agent][value]":"Mozilla/5.0 (Linux; Android 14; moto g53 5G Build/U1TPS34.29-83-7-3-4; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/134.0.6998.105 Mobile Safari/537.36 Instagram 373.0.0.46.67 Android (34/14; 280dpi; 720x1439; motorola; moto g53 5G; penang; qcom; pt_BR; 714264326)","meta[remote_ip][title]":"IP remoto","meta[remote_ip][value]":"201.77.145.106","meta[credit][title]":"Desenvolvido por","meta[credit][value]":"Elementor"},"webhookUrl":"https://webhook.aut.proframonsouza.com.br/webhook/310ad80a-5afc-45b0-864f-2352b69957ef","executionMode":"production"}}]},"versionId":"7cfa9c3d-95f5-45f3-ad64-6aa9da7807f9","triggerCount":0,"shared":[{"createdAt":"2025-05-31T15:10:07.171Z","updatedAt":"2025-05-31T15:10:07.171Z","role":"workflow:owner","workflowId":"68pjFNaY0xi9Pde0","projectId":"3EgOUJMqyPt17BGV"}],"tags":[]}