[tool]-listar-horários-espedito-JGYI4MwnM0Rs9tgS.json
{"createdAt":"2025-09-04T01:45:04.475Z","updatedAt":"2025-09-04T01:47:37.882Z","id":"JGYI4MwnM0Rs9tgS","name":"[Tool] Listar Horários Espedito","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9f0f914c-a596-415d-bffb-4e67cf596973","name":"response","value":"=Disponibilidade de Horários:\nSegunda a sexta, das 8h às 18h\n\nHorários Indisponíveis nesse Período:\n{{ $json.data\n  .filter(item => item?.start?.dateTime && item?.end?.dateTime)\n  .map(item => `Ocupado: ${item.start.dateTime.toDateTime().toLocal().setLocale('pt').format(\"EEEE\")} ${item.start.dateTime.toDateTime().format(\"dd/MM/yyyy HH:mm\")} às ${item.end.dateTime.toDateTime().format(\"HH:mm\")}`)\n  .sort()\n  .join('\\n') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,0],"id":"5b1fadd2-c617-4766-a93f-699b7353cea2","name":"Gera Resposta"},{"parameters":{"workflowInputs":{"values":[{"name":"date"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"fb68ba29-f366-4a69-a8d8-b4ec68ed3943","name":"Listar Horarios"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"espeditocarvalho.geriatra@gmail.com","mode":"list","cachedResultName":"espeditocarvalho.geriatra@gmail.com"},"returnAll":true,"timeMin":"={{ $json.date.toDateTime().set({hour: 8, minute: 00}) }}","timeMax":"={{ $json.date.toDateTime().plus(1, \"day\").set({hour: 18, minute: 00}) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[224,0],"id":"27b10f4b-9f0b-48ce-86bd-c408d06eff8c","name":"Listar Horarios Ocupados","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"4z4sZnQpMVuelxDc","name":"Espedito Carvalho"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,0],"id":"621dfd21-e045-4339-8907-735c773e2df8","name":"Junta"}],"connections":{"Listar Horarios":{"main":[[{"node":"Listar Horarios Ocupados","type":"main","index":0}]]},"Listar Horarios Ocupados":{"main":[[{"node":"Junta","type":"main","index":0}]]},"Junta":{"main":[[{"node":"Gera Resposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Listar Horarios":[{"json":{"date":"2025-04-15 17:19"}}]},"versionId":"922dc763-537a-4409-a75e-9b0e30e52bfa","triggerCount":0,"shared":[{"createdAt":"2025-09-04T01:45:04.475Z","updatedAt":"2025-09-04T01:45:04.475Z","role":"workflow:owner","workflowId":"JGYI4MwnM0Rs9tgS","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}