[vivian-amaral]-[tmap]-master-legacy-lbTyKX9K5Ck2pPSh.json
{"createdAt":"2025-11-29T18:28:08.332Z","updatedAt":"2025-11-29T21:04:11.397Z","id":"lbTyKX9K5Ck2pPSh","name":"[Vivian Amaral] [TMAP] Master Legacy","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"thunder-legacy-kiwify","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"c093a1dc-ab3b-4a49-99cb-8f194a2b897a","name":"Webhook","webhookId":"0c1b94ae-cb2b-45dc-823a-8976412a7f7e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.order_status }}","rightValue":"paid","operator":{"type":"string","operation":"equals"},"id":"b2eb29ff-c7d8-4beb-bd64-4c32d1baa69c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Compra Aprovada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb0e8c2a-049c-46f2-994c-be16a5db4b4a","leftValue":"={{ $json.body.order_status }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Carrinho Abandonado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56e06fff-8268-4b57-be7d-fb7c452b28e8","leftValue":"={{ $json.body.order_status }}","rightValue":"waiting_payment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PIX Gerado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e43010-5297-412f-8be7-8ebc034147f8","leftValue":"={{ $json.body.order_status }}","rightValue":"refused","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Compra Recusada"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[208,0],"id":"5a3913ae-696b-43d3-ae9b-4aa307fdaa97","name":"Switch"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Compra Aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body.Customer.full_name }}","Telefone":"={{ $('Webhook').item.json.body.Customer.mobile }}","Data":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Email":"={{ $('Webhook').item.json.body.Customer.email }}","UTM_Campaign":"={{ $('Webhook').item.json.body.TrackingParameters.utm_campaign }}","UTM_Source":"={{ $('Webhook').item.json.body.TrackingParameters.utm_source }}","UTM_term":"={{ $('Webhook').item.json.body.TrackingParameters.utm_term }}","UTM_Medium":"={{ $('Webhook').item.json.body.TrackingParameters.utm_medium }}","UTM_Content":"={{ $('Webhook').item.json.body.TrackingParameters.utm_content }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_Campaign","displayName":"UTM_Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Source","displayName":"UTM_Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_term","displayName":"UTM_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Medium","displayName":"UTM_Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Content","displayName":"UTM_Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,-208],"id":"aa1a12f5-a9b5-442b-96a5-e769ff4af4f0","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1115006686,"mode":"list","cachedResultName":"Carrinho Abandonado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit#gid=1115006686"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body.name }}","Telefone":"={{ $('Webhook').item.json.body.phone }}","Data":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Email":"={{ $('Webhook').item.json.body.email }}","UTM_Campaign":"=","UTM_Source":"=","UTM_Medium":"=","UTM_term":"=","UTM_Content":"="},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_Campaign","displayName":"UTM_Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Source","displayName":"UTM_Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_term","displayName":"UTM_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Medium","displayName":"UTM_Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Content","displayName":"UTM_Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,-64],"id":"015fd55e-8e58-4dd8-9887-3fee37599c20","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":896089784,"mode":"list","cachedResultName":"PIX Gerado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit#gid=896089784"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body.Customer.full_name }}","Telefone":"={{ $('Webhook').item.json.body.Customer.mobile }}","Data":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Email":"={{ $('Webhook').item.json.body.Customer.email }}","UTM_Source":"={{ $('Webhook').item.json.body.TrackingParameters.utm_source }}","UTM_Medium":"={{ $('Webhook').item.json.body.TrackingParameters.utm_medium }}","UTM_Content":"={{ $('Webhook').item.json.body.TrackingParameters.utm_content }}","UTM_term":"={{ $('Webhook').item.json.body.TrackingParameters.utm_term }}","UTM_Campaign":"={{ $('Webhook').item.json.body.TrackingParameters.utm_campaign }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_Campaign","displayName":"UTM_Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Source","displayName":"UTM_Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_term","displayName":"UTM_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Medium","displayName":"UTM_Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTM_Content","displayName":"UTM_Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,80],"id":"941a5cbe-a850-480f-8851-da818fc6b55f","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1673363789,"mode":"list","cachedResultName":"Cartão Recusado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184phSBhvaZ3WETOefbH9EFQwaATxNaX3wgUPZLZoZUI/edit#gid=1673363789"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Nome":"={{ $('Webhook').item.json.body.Customer.full_name }}","Email":"={{ $('Webhook').item.json.body.Customer.email }}","Telefone":"={{ $('Webhook').item.json.body.Customer.mobile }}","UTM_Source":"={{ $('Webhook').item.json.body.TrackingParameters.utm_source }}","UTM_Campaign":"={{ $('Webhook').item.json.body.TrackingParameters.utm_campaign }}","UTM_Content":"={{ $('Webhook').item.json.body.TrackingParameters.utm_content }}","UTM_term":"={{ $('Webhook').item.json.body.TrackingParameters.utm_term }}","UTM_Medium":"={{ $('Webhook').item.json.body.TrackingParameters.utm_medium }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_Campaign","displayName":"UTM_Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_Source","displayName":"UTM_Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_term","displayName":"UTM_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_Medium","displayName":"UTM_Medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_Content","displayName":"UTM_Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,224],"id":"da7a7e16-c3ec-4d49-aa5e-4d7e3353c337","name":"Append row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}],[{"node":"Append row in sheet2","type":"main","index":0}],[{"node":"Append row in sheet3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fe95169e-99ff-441b-aa64-e07cd90ecfff","triggerCount":1,"shared":[{"createdAt":"2025-11-29T18:28:08.332Z","updatedAt":"2025-11-29T18:28:08.332Z","role":"workflow:owner","workflowId":"lbTyKX9K5Ck2pPSh","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}