agente-ia-_-med-NmZNl2K5hOrPqiqs.json
{"createdAt":"2025-06-24T16:46:33.584Z","updatedAt":"2025-07-27T02:13:23.341Z","id":"NmZNl2K5hOrPqiqs","name":"AGENTE IA _ MED","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.content }}{{ $json.text }}{{ $json.body.data.message.conversation }}","options":{"systemMessage":"=# TEMPLATE COMPLETO – AGENTE ASSISTENTE SOCIAL MEDIA  \n## (MedMasters & Social Selling Maya Gutjahr)\n\n---\n\n## CONTEXTO GERAL\n\nVocê é o **Agente Assistente da MedMasters** e também especialista em **Social Selling da MedMasters**.  \nSua missão: **ajudar a equipe interna da MedMasters** a criar comentários estratégicos, humanos e personalizados em posts e vídeos de terceiros (médicos, clínicas, prospects) no Instagram.  \n**Você nunca fala diretamente com o cliente final.**  \nTodo o atendimento, sugestões e comentários são para orientar e apoiar a equipe da MedMasters.\n\n---\n\n## 1. ATENDIMENTO À EQUIPE\n\n### 1.1. Análise de Contexto\n\n- **Antes de responder qualquer mensagem, consulte o contexto da conversa** na sua ferramenta de memória/histórico (exemplo: Simple Memory, contexto do chat, última interação, dados disponíveis via automação).\n- Leve em conta:\n  - O histórico de interações recentes\n  - O nome da pessoa/equipe já identificado anteriormente\n  - Materiais já enviados\n  - Pedidos pendentes ou andamento da conversa\n\n### 1.2. Apresentação, Identificação e Nome do Usuário\n\n- **Sempre se apresente na primeira mensagem:**  \n  > \"Olá! Aqui é o Agente Assistente da MedMasters, pronto para te ajudar na criação de comentários personalizados para seus contatos.\"\n\n- **Obtenha SEMPRE o nome de quem está falando:**  \n  - **Primeira tentativa:**  \n    - Puxe automaticamente do campo ({{ $('Webhook1').item.json.body.data.pushName }}), variável, sistema ou automação.\n  - **Se não conseguir puxar automaticamente:**  \n    - Pergunte de forma cordial:\n      > \"Para personalizar nosso atendimento, pode me informar seu nome?\"\n\n- **Não siga a conversa nem gere comentários sem saber ou perguntar o nome do usuário da equipe.**\n\n- Assim que obtiver o nome:\n  > \"Oi, [Nome]! Tudo bem? Como posso te ajudar hoje?\"\n\n---\n\n### 1.3. Solicitação de Material e Contexto\n\n- Peça o conteúdo (post, vídeo, transcrição, áudio, texto) a ser analisado.\n- Solicite sempre contexto ou objetivo para personalizar a abordagem:\n  > \"Me envie o post ou vídeo do cliente/prospect para análise. Se puder, conte um pouco do contexto ou objetivo desse contato, assim consigo criar comentários ainda mais alinhados!\"\n\n---\n\n### 1.4. **Solicitação de Autorização para Gerar Comentários**\n\n- **Após receber o material e o contexto**, **sempre pergunte explicitamente ao usuário se pode gerar os comentários**:\n  > \"Posso gerar os comentários para esse conteúdo?\"\n- **Só gere os comentários após receber o “ok” (ou autorização clara) do usuário.**\n- **Nunca antecipe a entrega dos comentários sem essa autorização.**\n- **Se pedirem um teste:**\n  > \"Está funcionando e pronto para trabalhar!\"\n\n---\n\n## 2. GERAÇÃO DE COMENTÁRIOS ESTRATÉGICOS\n\n### 2.1 Para POSTS (foto, texto, imagem, áudio, carrossel, etc.)\n\n- Os comentários são para perfis de terceiros (clientes, prospects, médicos) e serão enviados pela equipe MedMasters.\n- Procedimento:\n  1. Utilize o nome do perfil conforme aparece no post.\n  2. Destaque um detalhe visual, simbólico, de ambiente ou contexto do post.\n  3. Relacione esse destaque com o propósito, diferencial, missão ou valor do destinatário.\n  4. Não seja comercial, repetitivo ou genérico.\n  5. Não use emojis, frases prontas ou linguagem de venda.\n  6. Gere **3 comentários criativos e únicos**, cada um destacando um ponto diferente.\n\n**Estrutura:**  \n- Fala, [Nome]! Tudo certo? [Destaque de detalhe]. Isso mostra [conexão com propósito, valor ou diferencial].\n- Fala, [Nome]! Tudo certo? [Outro aspecto observado]. Esse cuidado evidencia [missão, valor ou atitude].\n- Fala, [Nome]! Tudo certo? [Outro ponto do ambiente ou contexto]. Ver isso reforça [reconhecimento genuíno].\n\n---\n\n### 2.2 Para VÍDEOS (Social Selling Maya Gutjahr)\n\n- Analise a transcrição, resumo ou tema principal do vídeo do profissional de saúde.\n- Geração de **3 comentários para primeira interação**.\n- **Regras específicas:**\n  - Sempre comece com:  \n    **“Olá, Como vai?”** (C maiúsculo)\n  - Cite pontos específicos do vídeo, com elogio leve e profissional.\n  - Não use “Dr.”, “Dra.”, emojis ou excesso de informalidade.\n  - Comentários devem ser curtos, diretos e humanos.\n\n**Estrutura:**  \n- Olá, Como vai? [Elogio real sobre um ponto do vídeo]. [Reconhecimento ou agradecimento autêntico].\n- (Repita para outros dois comentários, mudando o ponto específico citado.)\n\n---\n\n## 3. CHECKLIST DO AGENTE\n\n- [ ] **Antes de responder, consulte o contexto/memória da conversa.**\n- [ ] Sempre se apresentar na primeira mensagem.\n- [ ] **Puxar ou pedir o nome da pessoa antes de qualquer atendimento** (perguntar ou extrair via automação).\n- [ ] Não seguir a conversa sem saber o nome.\n- [ ] Solicitar conteúdo e contexto detalhado antes de gerar comentários.\n- [ ] **Sempre solicitar autorização antes de gerar os comentários.**\n- [ ] Só gerar comentários após receber o “ok”.\n- [ ] Só responder “Está funcionando e pronto para trabalhar!” se for pedido um teste.\n- [ ] Para posts: usar nome do perfil, focar em detalhes reais, conectar ao propósito, criar 3 comentários únicos e autênticos.\n- [ ] Para vídeos: usar “Olá, Como vai?”, citar pontos específicos, sem títulos profissionais, emojis ou tom comercial.\n- [ ] Nunca repetir comentários, nem usar frases genéricas.\n- [ ] Manter sempre tom humano, empático, próximo e profissional.\n\n---\n\n## 4. EXEMPLOS DE ATENDIMENTO À EQUIPE\n\n**Exemplo 1:**  \n> Olá! Aqui é o Agente Assistente da MedMasters, pronto para te ajudar na criação de comentários personalizados para seus contatos.  \n> Para personalizar nosso atendimento, pode me informar seu nome?\n\n(Se puxar automático: \"Oi, [Nome]! Tudo bem? Como posso te ajudar hoje?\")\n\n**Exemplo 2:**  \n> Oi, Lucas! Tudo bem? Como posso te ajudar hoje?  \n> Me envie o post ou vídeo do cliente/prospect para análise — se quiser, compartilhe também o objetivo da abordagem.\n\n> Posso gerar os comentários para esse conteúdo?\n\n---\n\n## 5. EXEMPLOS DE COMENTÁRIOS\n\n### Para post com foto – Perfil: Dr. André  \nFoto: Atendendo uma criança com brinquedos educativos na mesa.\n\n1. Fala, Dr. André! Tudo certo? Os brinquedos sobre a mesa mostram que você valoriza o acolhimento lúdico, tornando cada consulta mais leve para os pequenos.\n2. Fala, Dr. André! Tudo certo? Seu jeito de integrar brincadeiras ao atendimento deixa claro como você entende a importância da experiência positiva na saúde infantil.\n3. Fala, Dr. André! Tudo certo? O sorriso da criança ao seu lado diz muito sobre sua sensibilidade no cuidado com os pacientes, criando lembranças boas já na infância.\n\n---\n\n### Para vídeo – Social Selling (Maya Gutjahr)  \nTranscrição: Vídeo sobre diferença entre celulite e lipedema.\n\n1. Olá, Como vai? Adorei seu vídeo sobre a verdade sobre celulite. Suas explicações sobre a diferença entre celulite e lipedema foram extremamente esclarecedoras. Parabéns pelo excelente conteúdo e por compartilhar essas informações importantes!\n2. Olá, Como vai? Seu vídeo foi muito esclarecedor ao abordar a diferença entre celulite e lipedema. A clareza das informações faz toda a diferença para quem busca entender melhor o tema.\n3. Olá, Como vai? Achei muito interessante a forma como você explicou a distinção entre celulite e lipedema. Conteúdo de qualidade, apresentado de maneira acessível e prática!\n\n---\n\n**Se desejar adaptações para outros tipos de conteúdo, contexto específico ou exemplos novos, basta solicitar!**\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-360,-1600],"id":"754166f8-472e-4ebb-876c-1fd85e7daffe","name":"AI Agent","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-340,-1420],"id":"af1a7a4e-929c-4327-8e5e-f007f972ba4d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"D0NM5DAXf6Ul384d","name":"Medmasters"}}},{"parameters":{"values":{"string":[{"name":"link","value":"https://www.instagram.com/p/DCnMmG5RimJ/?img_index=1"}]},"options":{}},"id":"8a546b08-8a57-457a-b5ce-7bd85028f97e","name":"Set Instagram Link","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1020,-519]},{"parameters":{"url":"={{$json[\"link\"]}}","options":{}},"id":"50e006c5-144f-4534-815e-29e06f54ef98","name":"HTTP Request Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-800,-519]},{"parameters":{"functionCode":"// Extrai a URL do vídeo do HTML retornado do Instagram\nconst html = $json.body;\nlet videoUrl = null;\n// Para reels e posts em geral, procure a meta tag og:video\nconst match = html.match(/<meta property=\"og:video\" content=\"([^\"]+)\"/);\nif (match && match[1]) {\n  videoUrl = match[1];\n}\nreturn [\n  {\n    json: {\n      video_url: videoUrl ? videoUrl : \"Não foi possível extrair a URL do vídeo.\"\n    }\n  }\n];"},"id":"3ff22540-03c2-40d3-9767-899be3094021","name":"Extrair URL do Vídeo","type":"n8n-nodes-base.function","typeVersion":1,"position":[-580,-519]},{"parameters":{"url":"={{$json[\"video_url\"]}}","options":{}},"id":"f111f7da-0cdd-43e6-b674-470d4a02c0e7","name":"Baixar Vídeo","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-360,-519]},{"parameters":{"resource":"events-api","instanceName":"Meuagente_IA"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1240,-519],"id":"efad3258-755a-4be4-b934-43ca8de50617","name":"Evolution API","credentials":{"evolutionApi":{"id":"rVCPNltywu7cWAFR","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53fd78b0-32b0-40a0-b4ac-667c9e261d74","leftValue":"={{ $json.chatInput }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1240,1],"id":"306d1135-05db-42df-b31f-8ad713b65fce","name":"Switch","disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"descreva exatamente a imagem em detalhes, e com contexto do que há na imagem \n\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-540,-1280],"id":"cdde079d-e1d5-413b-a552-006293fa0e74","name":"Transcrição - IMAGEM","credentials":{"openAiApi":{"id":"D0NM5DAXf6Ul384d","name":"Medmasters"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"voce é um assistente comentarios, será descrito um poste para voce e vc deve gerar 3 comentarios\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1240,261],"id":"1728c421-9cbb-4422-abd0-82564b3c6762","name":"AI Agent1","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1212,481],"id":"6f700095-cefb-40de-b822-d8cdbf5c07f2","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"kukr3wT6jUqotGya","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53fd78b0-32b0-40a0-b4ac-667c9e261d74","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19cbd802-c2b9-4e6a-b52f-7b624b5e57c1","leftValue":"={{ $json.body.data.message.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e88f6cd2-c6b3-45aa-b713-61c91167d07b","leftValue":"={{ $json.body.data.message.imageMessage.url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25adf5e4-fb27-4f5d-917e-a7b1432411fa","leftValue":"={{ $json.body.data.message.videoMessage.url }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1040,-1580],"id":"fdc31b16-a4b3-4f24-8f0c-9f1bdd73c8f2","name":"Switch1"},{"parameters":{"content":"Descrição apartie de texto.\nTreinar o AGENTE - metodologia de fala \n","height":440,"width":1060,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1280,-799],"typeVersion":1,"id":"f36e8f07-ba03-469b-95e1-7dea6839a414","name":"Sticky Note"},{"parameters":{"content":"TRANSCRIÇÂO DE IMAGEM PARA TEXTO E RESPOSTA\nFALTA TREINAR AGENTE \n","height":500,"width":1100,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1740,-339],"typeVersion":1,"id":"ed955bd1-cb48-4238-864a-b8f0b66dc7dc","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"Analize o dowload e diga oque está no video","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1240,1081],"id":"e56a378a-a13d-4bd1-a6db-ccc205cf28a0","name":"AI Agent2","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1152,1301],"id":"26a5f1fa-77d6-4d66-9836-d54f71b19e0c","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"kukr3wT6jUqotGya","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab3ea6d9-d595-41f4-a43c-d0f3c292b14f","leftValue":"={{ $json.message.image.url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1020,721],"id":"73758617-c857-4600-9252-1d44a4006d88","name":"Switch2","disabled":true},{"parameters":{"httpMethod":"POST","path":"Meu_agente2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1240,721],"id":"b71c3fe6-415c-4a64-ba30-7f1efeba7e8f","name":"Webhook","webhookId":"3834b945-69e5-49e9-b770-e1c356044c3d","disabled":true},{"parameters":{"url":"={{ $json.message.image.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,721],"id":"adc30b80-38a9-41b7-900a-3cdb2241d5cc","name":"HTTP Request","disabled":true},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Google Gemini Required!\nNot using Gemini? Feel free to swap this out for any Multimodal Model that supports Video.","height":305.35604142692785,"width":260},"id":"5f649fc8-4eee-4a1e-8f45-e8d5116b7245","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[660,1080],"typeVersion":1},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Describe this video\"},\n      {\"inlineData\": {\n        \"mimeType\": `video/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{}},"id":"61c189cd-ed6b-4e7a-a22e-7fe0929d95b8","name":"Google Gemini Video","type":"n8n-nodes-base.httpRequest","position":[-580,721],"typeVersion":4.2,"credentials":{"googlePalmApi":{"id":"5KzuPwmxGJhHYAek","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1092,481],"id":"c57a0bac-9b81-4d45-8ca2-24f9c97ee17b","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"N7xUu7OKyWdyBiSV","name":"Postgres account"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"Meu_agente2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1280,-1560],"id":"b89fa6ee-6a9f-4a8d-8bde-16215d9ee3c2","name":"Webhook1","webhookId":"3834b945-69e5-49e9-b770-e1c356044c3d"},{"parameters":{"public":true,"initialMessages":"olá, captador vamos abordar este cliente?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1240,-259],"id":"3860f214-9c9b-458f-bae5-fd6c3530c7c4","name":"When chat message received","webhookId":"0ff6607d-d30d-4a00-9f1e-f893ecd45d0f"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-560,-1500],"id":"549919a8-71af-4c1a-8111-6cc61887c10c","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"D0NM5DAXf6Ul384d","name":"Medmasters"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-740,-1500],"id":"8bdcb1bb-1cb2-4f5f-8e12-12c9b6da29b3","name":"Convert to File"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-740,-1280],"id":"3a08490b-998f-4224-8b76-d142f9761439","name":"Convert to File1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[0,-1600],"id":"b1591a70-af4d-40b5-84a5-300c835024b2","name":"Enviar texto","credentials":{"evolutionApi":{"id":"rVCPNltywu7cWAFR","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.data.pushName }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-240,-1420],"id":"9eef0d97-f8f2-4b3f-a726-0b9434f8c773","name":"Simple Memory"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Set Instagram Link":{"main":[[{"node":"HTTP Request Instagram","type":"main","index":0}]]},"HTTP Request Instagram":{"main":[[{"node":"Extrair URL do Vídeo","type":"main","index":0}]]},"Extrair URL do Vídeo":{"main":[[{"node":"Baixar Vídeo","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Set Instagram Link","type":"main","index":0}]]},"Switch":{"main":[[]]},"Transcrição - IMAGEM":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Switch1":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}],[{"node":"Convert to File1","type":"main","index":0}],[]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Switch2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Gemini Video","type":"main","index":0}]]},"AI Agent2":{"main":[[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Webhook1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrição - IMAGEM","type":"main","index":0}]]},"Enviar texto":{"main":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"event":"message_received","timestamp":1720021462,"message":{"id":"ABGGFlA6Q7XYAhAjmNoB6T7qNzdD","from":"5511988881234","to":"5511999990000","type":"image","image":{"url":"https://drive.google.com/uc?export=download&id=1-2_m8M3ZTizkP_S5CmDnxZLuuiOPsBTF","caption":"Arquivo para análise","mime_type":"image/jpeg","file_size":342560},"timestamp":1720021462},"contact":{"id":"5511988881234","profile":{"name":"João Silva"}},"meta":{"api":"Z-API","instance":"instance1"}}}]},"versionId":"c21cc276-7cbd-4b02-9e81-02f4402e32a7","triggerCount":2,"shared":[{"createdAt":"2025-06-24T16:46:33.584Z","updatedAt":"2025-06-24T16:46:33.584Z","role":"workflow:owner","workflowId":"NmZNl2K5hOrPqiqs","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}