bf-2-|-ctc-|-cb-|-full-funnels-+-sendflow---recuperação-de-vendas-uuvdolORvrYVLqjE.json
{"createdAt":"2025-11-18T21:47:15.377Z","updatedAt":"2025-11-19T13:04:04.300Z","id":"uuvdolORvrYVLqjE","name":"BF 2 | CTC | CB | Full Funnels + SendFlow - Recuperação de Vendas","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"recuperacao-venda-ctc-bf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,272],"id":"d0bed929-41ad-4bed-bc92-a093e752585f","name":"Webhook","webhookId":"1251718b-241a-4bfa-861d-9c8df8cf614b"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/kkhzTcgARnpm7qVZtV5o","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"fdd54c5d-5eea-432a-a582-3cd882e66097\",\n  \"phoneNumber\": \"{{ $json.body.phone.replace(/[\\s\\-\\+\\(\\)\\.]/g, '') }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,272],"id":"3d29b417-ad8a-4743-a94b-0b78cd34adb2","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"recuperacao-venda-ctc-bf-msg2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,448],"id":"583212be-6c32-4e85-a795-9bee4bed3dd4","name":"Webhook1","webhookId":"1251718b-241a-4bfa-861d-9c8df8cf614b"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/F0I0cPm8htLdCXlSqmqb","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"fdd54c5d-5eea-432a-a582-3cd882e66097\",\n  \"phoneNumber\": \"{{ $json.body.phone.replace(/[\\s\\-\\+\\(\\)\\.]/g, '') }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,448],"id":"c15847a2-6894-462a-ba51-4bfc128f10e1","name":"HTTP Request1"},{"parameters":{"httpMethod":"POST","path":"recuperacao-venda-ctc-bf-msg3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,624],"id":"7a8c9e5b-ab4e-4fa2-9fef-2f924bff758c","name":"Webhook2","webhookId":"1251718b-241a-4bfa-861d-9c8df8cf614b"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/5Mmw0n7qMIjHoYAUHlA2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"fdd54c5d-5eea-432a-a582-3cd882e66097\",\n  \"phoneNumber\": \"{{ $json.body.phone.replace(/[\\s\\-\\+\\(\\)\\.]/g, '') }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,624],"id":"adc71ef3-cf36-45c9-8d27-14c18abce90a","name":"HTTP Request2"},{"parameters":{"httpMethod":"POST","path":"recuperacao-venda-ctc-bf-msg4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[480,800],"id":"b8368057-3a5e-4aba-ae85-93a31675226e","name":"Webhook3","webhookId":"1251718b-241a-4bfa-861d-9c8df8cf614b"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/0tlC2c8iWmDxD92BLJuW","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"fdd54c5d-5eea-432a-a582-3cd882e66097\",\n  \"phoneNumber\": \"{{ $json.body.phone.replace(/[\\s\\-\\+\\(\\)\\.]/g, '') }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,800],"id":"700fff51-26ba-4bbe-b342-694483b812af","name":"HTTP Request3"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Webhook1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d555f555-e11e-4c7c-8baf-e338b8cc7919","triggerCount":4,"shared":[{"createdAt":"2025-11-18T21:47:15.377Z","updatedAt":"2025-11-18T21:47:15.377Z","role":"workflow:owner","workflowId":"uuvdolORvrYVLqjE","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}