bf-2-|-ctc-|-cb-|-hubla-+-full-funnels---compra-aprovada-XbAT5CRu5gBA4Ao5.json
{"createdAt":"2025-11-18T00:34:34.516Z","updatedAt":"2025-11-18T02:35:13.039Z","id":"XbAT5CRu5gBA4Ao5","name":"BF 2 | CTC | CB | Hubla + Full Funnels - Compra Aprovada","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"compra-aprovada-ctc-bf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[352,272],"id":"d6fae0db-0ab6-4d4a-bdbe-25e4346e6d4b","name":"Webhook","webhookId":"d13f75f1-df59-419e-b5a8-f09e4250e68b"},{"parameters":{"email":"={{ $json.body.event.userEmail }}","phone":"=55{{ $json.body.event.userPhone }}","additionalFields":{"name":"={{ $json.body.event.userName }}","tags":"BF 2 | CTC | Compra Aprovada"},"requestOptions":{}},"id":"26564561-7390-45e6-bfae-2b9db8372faf","name":"Create or update a contact","type":"n8n-nodes-base.highLevel","typeVersion":1,"position":[576,272],"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"highLevelApi":{"id":"T078q9O2V2PJTo3K","name":"Jorge Rodrigues"}}},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/KbULywgxgPtfI1kILgxb","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"13fd0933-8029-4980-9944-489bf52d6d91\",\n  \"phoneNumber\": \"{{ $('Webhook').item.json.body.event.userPhone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.event.userName }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,272],"id":"4654ea9f-aaa1-48b1-9ec6-0153ebcfa6f6","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/A5pJdR4enSLxmLY3Kujt","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"13fd0933-8029-4980-9944-489bf52d6d91\",\n  \"phoneNumber\": \"{{ $('Webhook').item.json.body.event.userPhone }}\",\n  \"name\": \"{{ $('Webhook').item.json.body.event.userName }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,272],"id":"7cc083ec-0931-4263-8bea-ea4cfed175a3","name":"HTTP Request1"}],"connections":{"Webhook":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]},"Create or update a contact":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db410386-7956-4e74-a5ee-ca82f3eb4c7f","triggerCount":1,"shared":[{"createdAt":"2025-11-18T00:34:34.516Z","updatedAt":"2025-11-18T00:34:34.516Z","role":"workflow:owner","workflowId":"XbAT5CRu5gBA4Ao5","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}