brand---destravando-seu-funil-milionário-196Je1uT9jDA1FPt.json
{"createdAt":"2025-06-10T15:11:11.733Z","updatedAt":"2025-06-18T20:09:58.509Z","id":"196Je1uT9jDA1FPt","name":"Brand - Destravando seu Funil Milionário","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"brand","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1220,60],"id":"3a95597c-fd82-4e9c-95b1-41db2dfb998d","name":"Webhook","webhookId":"f595c85e-e627-4830-aba4-95e570cc65b0"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1iEYmRkIa-EcavtsGLgdty9FQv8UepbIKbN37pfF2Y7o","mode":"list","cachedResultName":"[Funil] Destravando seu Funil Milionário","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iEYmRkIa-EcavtsGLgdty9FQv8UepbIKbN37pfF2Y7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":23318233,"mode":"list","cachedResultName":"Popup","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iEYmRkIa-EcavtsGLgdty9FQv8UepbIKbN37pfF2Y7o/edit#gid=23318233"},"columns":{"mappingMode":"defineBelow","value":{"E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[message][value]'] }}","Nome":"={{ $json.body['fields[name][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","Data":"={{ new Date($now).toLocaleDateString('pt-BR') }}"},"matchingColumns":["Nome"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1020,60],"id":"23e09a02-33e3-48ae-ab88-72df8f83a1a5","name":"add planilha","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-800,60],"id":"5d546dfa-4407-4824-881a-e62230d4aee6","name":"Wait","webhookId":"3f92d3b0-4d8a-4f02-91af-42181638f5dc"},{"parameters":{"documentId":{"__rl":true,"value":"1iEYmRkIa-EcavtsGLgdty9FQv8UepbIKbN37pfF2Y7o","mode":"list","cachedResultName":"[Funil] Destravando seu Funil Milionário","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iEYmRkIa-EcavtsGLgdty9FQv8UepbIKbN37pfF2Y7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Compra aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iEYmRkIa-EcavtsGLgdty9FQv8UepbIKbN37pfF2Y7o/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"E-mail","lookupValue":"={{ $('Webhook').item.json.body['fields[email][value]'] }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-620,60],"id":"34f7c7c7-e11c-4c75-8216-366b9fa496c4","name":"procura email","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"090d8f12-ad87-48de-9de4-3f744915fdfc","leftValue":"={{ $json['E-mail'] }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,60],"id":"6a80a0ec-72cf-4864-b267-49349af006e0","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-180,-40],"id":"4408fee4-053a-4cd2-ad69-7f858a6ec2b2","name":"No Operation, do nothing"},{"parameters":{"resource":"messages-api","instanceName":"Brand","remoteJid":"={{\n  (\n    $('Webhook').item.json.body['fields[message][value]'].replace(/\\D/g, '').startsWith('55')\n      ? $('Webhook').item.json.body['fields[message][value]'].replace(/\\D/g, '')\n      : '55' + $('Webhook').item.json.body['fields[message][value]'].replace(/\\D/g, '')\n  )\n}}","messageText":"=Ei, {{ $('Webhook').item.json.body['fields[name][value]'].split(' ')[0] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-180,160],"id":"214a0022-5982-4f2b-b5d8-939874ca371f","name":"Evolution API","credentials":{"evolutionApi":{"id":"rVCPNltywu7cWAFR","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"Brand","remoteJid":"={{\n  (\n    $('Webhook').item.json.body['fields[message][value]'].replace(/\\D/g, '').startsWith('55')\n      ? $('Webhook').item.json.body['fields[message][value]'].replace(/\\D/g, '')\n      : '55' + $('Webhook').item.json.body['fields[message][value]'].replace(/\\D/g, '')\n  )\n}}","media":"=https://brandsocialmedia.com.br/wp-content/uploads/2025/06/Audio-DFM.mp3","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[180,160],"id":"c4730d3d-f4f6-4eda-8d20-528d18f45a53","name":"Evolution API1","credentials":{"evolutionApi":{"id":"rVCPNltywu7cWAFR","name":"Evolution account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,160],"id":"fea3c639-b469-478c-a29c-d6f420c7d997","name":"Wait1","webhookId":"767c11fb-7fd1-451e-be7b-59f8e8c4e797"}],"connections":{"Webhook":{"main":[[{"node":"add planilha","type":"main","index":0}]]},"add planilha":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"procura email","type":"main","index":0}]]},"procura email":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4232e4cc-540f-46da-9998-31a804bc8866","triggerCount":1,"shared":[{"createdAt":"2025-06-10T15:11:11.733Z","updatedAt":"2025-06-10T15:11:11.733Z","role":"workflow:owner","workflowId":"196Je1uT9jDA1FPt","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}