c5-|-fc-|-captação-QEETvuxLZs4jmyLd.json
{"createdAt":"2025-06-17T15:19:53.061Z","updatedAt":"2025-06-18T03:29:52.158Z","id":"QEETvuxLZs4jmyLd","name":"C5 | FC | CAPTAÇÃO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"drjorgelancamento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,380],"id":"31c49562-4f96-4511-b24e-3cadfe1ed40d","name":"Webhook","webhookId":"ee3da28d-719f-4285-99aa-111cc26c792b"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json.body['contact[first_name]'] }}"},{"name":"whatsapp_phone","value":"={{\n  (\n    $json.body['contact[phone]'].replace(/\\D/g, '').startsWith('55')\n      ? $json.body['contact[phone]'].replace(/\\D/g, '')\n      : '55' + $json.body['contact[phone]'].replace(/\\D/g, '')\n  )\n}}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"}]},"options":{}},"id":"07332ed5-e3a6-4fe8-a98c-2af2b4ac4615","name":"createSubscriber1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,380],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber1').item.json.data.id }}"},{"name":"tag_name","value":"=C5 | CAPTAÇÃO | API OFICIAL"}]},"options":{}},"id":"e7f47c6b-cb02-4496-9e67-f56736f738b3","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,380],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,380],"id":"ad33fcb8-ad3c-4add-a18d-cebaa3f3b320","name":"No Operation, do nothing1"},{"parameters":{"content":"FC | C5 | CAPTAÇÃO","height":400,"width":1160,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-220,240],"typeVersion":1,"id":"b69b540f-e4fd-47f4-84de-bd1fe250f31b","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"createSubscriber1","type":"main","index":0}]]},"createSubscriber1":{"main":[[{"node":"addTagByName","type":"main","index":0}]]},"addTagByName":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0bf12aa0-d70e-43b3-bc48-bbcc28b51bda","triggerCount":1,"shared":[{"createdAt":"2025-06-17T15:19:53.061Z","updatedAt":"2025-06-17T15:19:53.061Z","role":"workflow:owner","workflowId":"QEETvuxLZs4jmyLd","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"},{"createdAt":"2025-06-18T03:29:48.435Z","updatedAt":"2025-06-18T03:29:48.435Z","id":"23h8eynuQaQ0c82w","name":"Exemplo manychat"}]}