captação-manychat-1lEO6SO1haQrdJAC.json
{"createdAt":"2025-06-27T17:19:47.930Z","updatedAt":"2025-08-28T17:35:31.591Z","id":"1lEO6SO1haQrdJAC","name":"Captação Manychat","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"desafio-definicao-30-manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1184,112],"id":"b1aff111-9037-4ce6-ac45-f1c8abc2430c","name":"Webhook","webhookId":"f12a0c56-a6e8-4e56-bbd5-db07f42a311e"},{"parameters":{"email":"={{ $json.body.email }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $json.body.first_name }}","phone":"={{\n  (() => {\n    let celular = $json.body.custom_fields.CELULAR.replace(/\\D/g, ''); // Remove tudo que não for número\n    if (celular.startsWith('55')) {\n      celular = '+' + celular;\n    } else {\n      celular = '+55' + celular;\n    }\n    // Formata para +5511 99446-3473\n    return celular.replace(/^(\\+55)(\\d{2})(\\d{5})(\\d{4})$/, '$1 $2 $3-$4');\n  })()\n}}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-960,112],"id":"60628a1f-31a7-41dc-98ac-7a19cf9e6ca7","name":"Create a contact","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}},{"parameters":{"resource":"contactList","listId":4,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-752,112],"id":"e74de46c-3d47-4070-91f2-8e11daffc26e","name":"Add a contact to a list","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}},{"parameters":{"resource":"contactTag","tagId":"882","contactId":"={{ $('Create a contact').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-544,112],"id":"90102b4b-773a-4f8e-b445-c99860c4d50b","name":"Add a contact tag","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}},{"parameters":{"assignments":{"assignments":[{"id":"d14fd95d-47ac-4534-aa57-c0e31263a4ef","name":"telefone","value":"={{\n  (() => {\n    let celular = $('Webhook').item.json.body.custom_fields.CELULAR || '';\n    celular = celular.replace(/\\D/g, ''); // Remove tudo que não é número\n    if (!celular.startsWith('55')) {\n      celular = '55' + celular;\n    }\n    return celular;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,112],"id":"f86af6ef-14f6-4c0a-a4d8-216bdf178b18","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU","mode":"list","cachedResultName":"[Will Couto] Dona Aranha","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":432352554,"mode":"list","cachedResultName":"L16","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit#gid=432352554"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[272,112],"id":"47b756e8-5e34-4eb5-8229-436e1b7118a8","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,112],"id":"0d5f06a0-f649-4f42-9c6f-84f594a9ad80","name":"Wait","webhookId":"45d0923d-9052-4d3b-bc33-dbd3322cf98b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0eb97632-1f66-46c0-b612-71d18fedf4f5","leftValue":"={{ $json.telefone }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,112],"id":"aeb948a2-2fae-4542-8c3f-ed75823d8c06","name":"If"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber').item.json.data.id }}"},{"name":"tag_name","value":"=Entrou grupo"}]},"options":{}},"id":"9f598cd7-ef89-4ba3-8ab2-f5903b4ad8b2","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,352],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp_phone","value":"={{ $('Edit Fields').item.json.telefone }}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"},{"name":"first_name","value":"={{ $('Webhook').item.json.body.first_name }}"}]},"options":{}},"id":"3a9adb64-32fa-4a40-ba25-7765fe1981ab","name":"createSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,352],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"content":"Não entrou no grupo","height":300,"width":600},"type":"n8n-nodes-base.stickyNote","position":[672,272],"typeVersion":1,"id":"8d093c83-e016-45d9-9e0e-e198ab6b58ab","name":"Sticky Note"},{"parameters":{"resource":"contactList","listId":16,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-352,112],"id":"45db205f-3f30-4ce3-b656-351732bf1403","name":"Lista Manychat","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}}],"connections":{"Webhook":{"main":[[{"node":"Create a contact","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Add a contact to a list","type":"main","index":0}]]},"Add a contact to a list":{"main":[[{"node":"Add a contact tag","type":"main","index":0}]]},"Add a contact tag":{"main":[[{"node":"Lista Manychat","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[],[{"node":"createSubscriber","type":"main","index":0}]]},"createSubscriber":{"main":[[{"node":"addTagByName","type":"main","index":0}]]},"Lista Manychat":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15f01e3b-f7c5-4450-bb0f-9148322ac30f","triggerCount":1,"shared":[{"createdAt":"2025-06-27T17:19:47.930Z","updatedAt":"2025-06-27T17:19:47.930Z","role":"workflow:owner","workflowId":"1lEO6SO1haQrdJAC","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}