captação-e-book-mobilidade-kWW7X5YiPr89TPsG.json
{"createdAt":"2025-09-01T20:55:38.305Z","updatedAt":"2025-09-01T21:54:32.410Z","id":"kWW7X5YiPr89TPsG","name":"Captação E-book Mobilidade","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"desafio-definicao-30-ebook-mobilidade","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1184,112],"id":"a4f399b4-77b4-4995-a262-27dfc7320873","name":"Webhook","webhookId":"1894fe53-5cb6-4ec7-9c1c-05f2aa4ce70f"},{"parameters":{"email":"={{ $json.body.email }}","updateIfExists":true,"additionalFields":{"firstName":"={{ $json.body.first_name }}","phone":"={{\n  (() => {\n    let celular = $json.body.phone.replace(/\\D/g, ''); // Remove tudo que não for número\n    if (celular.startsWith('55')) {\n      celular = '+' + celular;\n    } else {\n      celular = '+55' + celular;\n    }\n    // Formata para +5511 99446-3473\n    return celular.replace(/^(\\+55)(\\d{2})(\\d{5})(\\d{4})$/, '$1 $2 $3-$4');\n  })()\n}}"}},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-960,112],"id":"e17ae64b-423f-495a-bc10-f97d556c878f","name":"Create a contact","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}},{"parameters":{"resource":"contactList","listId":4,"contactId":"={{ $json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-752,112],"id":"bed6a9b1-85ee-4cb5-b52c-acfda07254fd","name":"Add a contact to a list","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}},{"parameters":{"resource":"contactTag","tagId":"882","contactId":"={{ $('Create a contact').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-544,112],"id":"47298e35-4ca4-4eec-a574-215798f179f5","name":"Add a contact tag","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}},{"parameters":{"assignments":{"assignments":[{"id":"d14fd95d-47ac-4534-aa57-c0e31263a4ef","name":"telefone","value":"={{\n  (() => {\n    let celular = $('Webhook').item.json.body.whatsapp_phone || '';\n    celular = celular.replace(/\\D/g, ''); // Remove tudo que não é número\n    if (!celular.startsWith('55')) {\n      celular = '55' + celular;\n    }\n    return celular;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,112],"id":"39c7cecc-895d-4afa-a73c-ea1b8640bdcd","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU","mode":"list","cachedResultName":"[Will Couto] Dona Aranha","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":432352554,"mode":"list","cachedResultName":"L16","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit#gid=432352554"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[272,112],"id":"6eb8dbeb-6e3d-4765-be8c-1d3f4f8596fe","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,112],"id":"3e3544a7-d482-4a1c-b646-2c479253c2c7","name":"Wait","webhookId":"93761a30-4dbf-4925-becf-c9ac1b529904"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0eb97632-1f66-46c0-b612-71d18fedf4f5","leftValue":"={{ $json.telefone }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,112],"id":"f04c6dc7-83a7-4b14-b75c-922dfac89bde","name":"If"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber').item.json.data.id }}"},{"name":"tag_name","value":"=Entrou grupo"}]},"options":{}},"id":"e62e788d-7742-4bf0-80af-c1f2d17174af","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,352],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp_phone","value":"={{ $('Edit Fields').item.json.telefone }}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"},{"name":"first_name","value":"={{ $('Webhook').item.json.body.first_name }}"}]},"options":{}},"id":"104bd7a8-e737-49d4-a7e9-0eb053d1a0b6","name":"createSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,352],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"content":"Não entrou no grupo","height":300,"width":600},"type":"n8n-nodes-base.stickyNote","position":[672,272],"typeVersion":1,"id":"decb0007-481a-4749-8669-c402481b9ad5","name":"Sticky Note"},{"parameters":{"resource":"contactList","listId":17,"contactId":"={{ $('Create a contact').item.json.id }}"},"type":"n8n-nodes-base.activeCampaign","typeVersion":1,"position":[-352,112],"id":"65c01376-f2d2-4b9e-af84-f79a75a7944f","name":"Lista E-book Mobilidades","credentials":{"activeCampaignApi":{"id":"f5QYF0UtpbOVF3GS","name":"William Couto"}}}],"connections":{"Webhook":{"main":[[{"node":"Create a contact","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Add a contact to a list","type":"main","index":0}]]},"Add a contact to a list":{"main":[[{"node":"Add a contact tag","type":"main","index":0}]]},"Add a contact tag":{"main":[[{"node":"Lista E-book Mobilidades","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[],[{"node":"createSubscriber","type":"main","index":0}]]},"createSubscriber":{"main":[[{"node":"addTagByName","type":"main","index":0}]]},"Lista E-book Mobilidades":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0028c42a-d0b4-444d-8c3a-805f27240c06","triggerCount":1,"shared":[{"createdAt":"2025-09-01T20:55:38.305Z","updatedAt":"2025-09-01T20:55:38.305Z","role":"workflow:owner","workflowId":"kWW7X5YiPr89TPsG","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}