cb1-|-ctc-|-out25-|-compra-aprovada-CZ5EflngeMwkVyUw.json
{"createdAt":"2025-10-03T18:48:57.095Z","updatedAt":"2025-10-03T19:19:01.534Z","id":"CZ5EflngeMwkVyUw","name":"CB1 | CTC | OUT25 | COMPRA APROVADA","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 111748821605702:7b438118fa9710f0ca926678ff8961c9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json.body.event.userName }}"},{"name":"whatsapp_phone","value":"={{ \n  (() => {\n    // Extraí o número de telefone sem caracteres não numéricos\n    const userPhone = $json.body.event.userPhone.replace(/\\D/g, '');\n    \n    // Verifica se o número já começa com '55'. Se não, adiciona\n    const formattedPhone = userPhone.startsWith('55') ? userPhone : '55' + userPhone;\n    \n    // Retorna o número no formato desejado\n    return formattedPhone;\n  })()\n}}\n"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"}]},"options":{}},"id":"a33f7224-cd1d-4c72-8ab2-2290775f989f","name":"createSubscriber1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-64],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"ctc-entrega-manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,-64],"id":"37fef168-8ad9-447f-b4b2-fdc52e5dce7c","name":"Webhook1","webhookId":"b5a24ba3-b63f-4899-a1b8-d68fc8c9539b"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 111748821605702:7b438118fa9710f0ca926678ff8961c9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber1').item.json.data.id }}"},{"name":"tag_name","value":"=[Compra Aprovada] [CTC]"}]},"options":{}},"id":"7f6edc93-f715-415e-a2f4-4a4a58e36980","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-64],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[352,-64],"id":"6d295642-fe87-4721-b01e-acad52aceb08","name":"No Operation, do nothing1"}],"connections":{"createSubscriber1":{"main":[[{"node":"addTagByName","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"createSubscriber1","type":"main","index":0}]]},"addTagByName":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"axios/1.12.2","content-length":"684","accept":"application/json","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","newrelic":"eyJ2IjpbMCwxXSwiZCI6eyJ0eSI6IkFwcCIsImFjIjoiMzE5ODg5NyIsImFwIjoiNTM3NDU4OTYxIiwidHgiOiJlNzZiNDdlMDUxZjUwODFkIiwidHIiOiIxMDIxOTU0YjBmMmUwYmUzNzJhMDBlOTE1OWZmM2FkZiIsInByIjowLjcwOTE2OCwic2EiOmZhbHNlLCJ0aSI6MTc1OTUxODUyNTA3OX19","traceparent":"00-1021954b0f2e0be372a00e9159ff3adf-cdc76f55ddc8a97f-00","tracestate":"3198897@nr=0-0-3198897-537458961-cdc76f55ddc8a97f-e76b47e051f5081d-0-0.709168-1759518525079","x-forwarded-for":"34.121.74.64","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9b272bc18a34","x-hubla-idempotency":"d5b5b129-5eb3-45e1-93dd-039a28c84e6b","x-hubla-sandbox":"true","x-hubla-token":"NWdARCPGdEDSST7AKOkLK47LA61KkeSLqR5H4p5S04Xkk75T5us3MUZvgGp6GKfM","x-real-ip":"34.121.74.64"},"params":{},"query":{},"body":{"type":"NewSale","event":{"userId":"123321","userName":"Gabriel Zeni","userEmail":"gabrielzzeni@gmail.com","userPhone":"11995743863","userDocument":"12.345.678/0001-90","groupId":"pQKVFv80rOq35ztDBfzD","groupName":"Certificação em Terapia de Casais","sellerId":"1rrfDo3oyfcktJ1pTZT4iCQhxlF2","recurring":"one_time_purchased","paymentMethod":"pix","transactionId":"53a0a7ba-d2f8-4285-addd-6cdf0a937568-tester","createdAt":"2025-10-03T19:08:45.078Z","expiresAt":"2025-11-02T19:08:45.078Z","paidAt":"2025-10-03T19:08:45.078Z","url":"https://example.com/53a0a7ba-d2f8-4285-addd-6cdf0a937568-tester","isRenewing":false,"totalAmount":1490,"discount":0,"affiliates":[]},"version":"1.0.0"},"webhookUrl":"https://api.infradevcloud.com/webhook/ctc-entrega-manychat","executionMode":"production"}}]},"versionId":"6f75e181-3660-41d1-a403-71a91b0c0929","triggerCount":1,"shared":[{"createdAt":"2025-10-03T18:48:57.095Z","updatedAt":"2025-10-03T18:48:57.095Z","role":"workflow:owner","workflowId":"CZ5EflngeMwkVyUw","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}