create-->-tag)-gA8jUAkRq6J8rj4j.json
{"createdAt":"2025-12-12T14:57:38.542Z","updatedAt":"2025-12-12T14:57:38.542Z","id":"gA8jUAkRq6J8rj4j","name":"ManyChat - Upsert Subscriber + Tag (Find -> Update/Create -> Tag)","active":false,"isArchived":false,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"raw_name","value":"={{ $json.body?.Nome || $json.body?.name || $json.body?.first_name || '' }}"},{"name":"email","value":"={{ ($json.body?.Email || $json.body?.email || '').toString().trim() }}"},{"name":"raw_phone","value":"={{ ($json.body?.Seu_Telefone || $json.body?.phone || $json.body?.Telefone || $json.body?.['fields[message][value]'] || '').toString() }}"},{"name":"first_name","value":"={{ (($json.body?.Nome || $json.body?.name || '').toString().trim().split(/\\s+/)[0]) || 'Contato' }}"},{"name":"tag_name","value":"SUA_TAG_AQUI"}],"number":[],"boolean":[]},"options":{}},"id":"d573aafa-6713-4f98-8b41-2fb10bd26be8","name":"Prepare Fields","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1024,608]},{"parameters":{"values":{"string":[{"name":"wa_id","value":"={{ (function () { let tel = String($json.raw_phone || '').replace(/\\D/g,''); while (tel.startsWith('0')) tel = tel.slice(1); if (tel.startsWith('55')) return tel; if (tel.length === 11) return '55' + tel; return '55' + tel; })() }}"},{"name":"e164_phone","value":"={{ '+' + $json.wa_id }}"}]},"options":{}},"id":"266d53ef-7097-48b3-bcb5-0e12ccf3385a","name":"Normalize Phone","type":"n8n-nodes-base.set","typeVersion":2,"position":[-816,608]},{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findBySystemField","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.e164_phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_MANYCHAT_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"id":"c12ae523-5a4d-4e95-948e-87e99fdc44af","name":"Find Subscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-576,608]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ Array.isArray($json.data) && $json.data.length > 0 }}","value2":true}]},"options":{}},"id":"77286948-ee17-45b6-9bcf-8db0b04ae4e5","name":"IF Exists","type":"n8n-nodes-base.if","typeVersion":2,"position":[-352,608]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/updateSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_MANYCHAT_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"id":"6db901af-646c-41a5-86fb-dc6ba39fbd53","name":"Update Subscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-128,496]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_MANYCHAT_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"id":"cbf8bc9f-9eb1-4672-8f7d-262668162fac","name":"Add Tag (Existing)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[96,496]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_MANYCHAT_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"id":"11056535-69c2-4853-9f41-5142da298a63","name":"Create Subscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-128,704]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_MANYCHAT_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"id":"7801d214-8581-434d-bf0a-8e925c5e07cc","name":"Add Tag (New)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[96,704]},{"parameters":{"httpMethod":"POST","path":"manychat-upsert","options":{}},"id":"5345e18b-ff0a-4e53-b4ce-8366f3a0f3f0","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1248,608],"webhookId":"2ff13263-25a5-469f-bf04-9da50b921b5d"}],"connections":{"Prepare Fields":{"main":[[{"node":"Normalize Phone","type":"main","index":0}]]},"Normalize Phone":{"main":[[{"node":"Find Subscriber","type":"main","index":0}]]},"Find Subscriber":{"main":[[{"node":"IF Exists","type":"main","index":0}]]},"IF Exists":{"main":[[{"node":"Update Subscriber","type":"main","index":0}],[{"node":"Create Subscriber","type":"main","index":0}]]},"Update Subscriber":{"main":[[{"node":"Add Tag (Existing)","type":"main","index":0}]]},"Create Subscriber":{"main":[[{"node":"Add Tag (New)","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Prepare Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"WordPress/6.8.3; https://drjorgeluiz.com.br","content-length":"2001","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"177.154.191.26","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cac4f4f44af1","x-real-ip":"177.154.191.26"},"params":{},"query":{},"body":{"form[id]":"c1456f1","form[name]":"New Form","fields[name][id]":"name","fields[name][type]":"text","fields[name][title]":"","fields[name][value]":"asdadsad","fields[name][raw_value]":"asdadsad","fields[name][required]":"0","fields[email][id]":"email","fields[email][type]":"email","fields[email][title]":"","fields[email][value]":"dsadsa@asds.c","fields[email][raw_value]":"dsadsa@asds.c","fields[email][required]":"1","fields[message][id]":"message","fields[message][type]":"text","fields[message][title]":"","fields[message][value]":"12321312324321","fields[message][raw_value]":"12321312324321","fields[message][required]":"0","fields[utm_campaign][id]":"utm_campaign","fields[utm_campaign][type]":"hidden","fields[utm_campaign][title]":"utm_campaign","fields[utm_campaign][value]":"c1-def-dez25","fields[utm_campaign][raw_value]":"c1-def-dez25","fields[utm_campaign][required]":"0","fields[utm_source][id]":"utm_source","fields[utm_source][type]":"hidden","fields[utm_source][title]":"utm_source","fields[utm_source][value]":"Manychat","fields[utm_source][raw_value]":"Manychat","fields[utm_source][required]":"0","fields[utm_medium][id]":"utm_medium","fields[utm_medium][type]":"hidden","fields[utm_medium][title]":"utm_medium","fields[utm_medium][value]":"Manychat","fields[utm_medium][raw_value]":"Manychat","fields[utm_medium][required]":"0","fields[utm_content][id]":"utm_content","fields[utm_content][type]":"hidden","fields[utm_content][title]":"utm_content","fields[utm_content][value]":"Manychat","fields[utm_content][raw_value]":"Manychat","fields[utm_content][required]":"0","fields[utm_term][id]":"utm_term","fields[utm_term][type]":"hidden","fields[utm_term][title]":"utm_term","fields[utm_term][value]":"Manychat","fields[utm_term][raw_value]":"Manychat","fields[utm_term][required]":"0"},"webhookUrl":"https://api.infradevcloud.com/webhook/c1-def-dez25-cadastro","executionMode":"production"}}]},"versionId":"2460a190-9949-4d00-a04d-cdb2dcd4e7a2","triggerCount":0,"shared":[{"createdAt":"2025-12-12T14:57:38.542Z","updatedAt":"2025-12-12T14:57:38.542Z","role":"workflow:owner","workflowId":"gA8jUAkRq6J8rj4j","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}