dona-aranha---não-entrou-grupo-L8pcthAAkuVRaKI1.json
{"createdAt":"2025-06-26T23:14:41.624Z","updatedAt":"2025-08-25T15:23:06.197Z","id":"L8pcthAAkuVRaKI1","name":"Dona Aranha - Não entrou grupo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"desafio-definicao-30-parte-1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-816,128],"id":"1db2a3ca-74be-4304-9525-f7d548cf0be6","name":"Webhook","webhookId":"0fa7cdc9-9b1a-4ad8-9cb1-4fb2f3b359bd"},{"parameters":{"assignments":{"assignments":[{"id":"d14fd95d-47ac-4534-aa57-c0e31263a4ef","name":"telefone","value":"={{ $json.body.telefone.replace(/[\\s\\-\\+]/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,128],"id":"8b01dfa7-35f5-4eb7-8f3b-b7c4f5413311","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU","mode":"list","cachedResultName":"[Will Couto] Dona Aranha","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":432352554,"mode":"list","cachedResultName":"L16","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit#gid=432352554"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,128],"id":"8dfd1ee0-0707-4413-8fbd-6aa774299806","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-384,128],"id":"25c69d25-5758-462e-ab30-80902f089f6a","name":"Wait","webhookId":"45d0923d-9052-4d3b-bc33-dbd3322cf98b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0eb97632-1f66-46c0-b612-71d18fedf4f5","leftValue":"={{ $json.telefone }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,128],"id":"f764cf99-de09-42d7-b0e5-86d572bc28d6","name":"If"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber').item.json.data.id }}"},{"name":"tag_name","value":"=Não entrou grupo"}]},"options":{}},"id":"85f115f0-f804-4805-b700-bfbe67f096a3","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,368],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp_phone","value":"={{ $('Edit Fields').item.json.telefone }}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"},{"name":"first_name","value":"={{ $('Webhook').item.json.body.nome }}"}]},"options":{}},"id":"fd795e5f-1b62-4350-83a6-56e141a66252","name":"createSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,368],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"createSubscriber":{"main":[[{"node":"addTagByName","type":"main","index":0}]]},"If":{"main":[[],[{"node":"createSubscriber","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3cb155f6-ce70-4b41-ad12-a84ce04cd545","triggerCount":1,"shared":[{"createdAt":"2025-06-26T23:14:41.624Z","updatedAt":"2025-06-26T23:14:41.624Z","role":"workflow:owner","workflowId":"L8pcthAAkuVRaKI1","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}