dona-aranha---entrou-grupo-4P6b6WDzQeN4o05d.json
{"createdAt":"2025-06-26T21:28:50.696Z","updatedAt":"2025-08-25T15:16:25.029Z","id":"4P6b6WDzQeN4o05d","name":"Dona Aranha - Entrou grupo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"desafio-definicao-30-parte-2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-816,128],"id":"98b954c7-c5e4-4660-99e9-3382356fe089","name":"Webhook","webhookId":"11aa47cc-7d38-45cc-b53d-82cc9c3ad9f7"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber').item.json.data.id }}"},{"name":"tag_name","value":"=Entrou grupo"}]},"options":{}},"id":"52f9a340-965e-4b39-a2a4-b4543b23b958","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,128],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp_phone","value":"={{ $json.body.data.number }}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"}]},"options":{}},"id":"09ad0f7d-f284-4fd2-b97e-fb924d6e7b97","name":"createSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,128],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU","mode":"list","cachedResultName":"[Will Couto] Dona Aranha","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":432352554,"mode":"list","cachedResultName":"L16","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzfCj3XLX0Q7lYXQtUVrkCgmqSfA5St0EwKWFio6GxU/edit#gid=432352554"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Webhook').item.json.body.data.number }}"},"matchingColumns":["telefone"],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-224,128],"id":"0b873ac3-2f7f-4743-b3ec-93867ccda20b","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"createSubscriber","type":"main","index":0}]]},"createSubscriber":{"main":[[{"node":"addTagByName","type":"main","index":0}]]},"addTagByName":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c0850cd8-df13-43f8-8796-28bdf2d04ddf","triggerCount":1,"shared":[{"createdAt":"2025-06-26T21:28:50.696Z","updatedAt":"2025-06-26T21:28:50.696Z","role":"workflow:owner","workflowId":"4P6b6WDzQeN4o05d","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}