eduarda-|-infradev-KU2Jmg9127y8HTaB.json
{"createdAt":"2025-06-25T02:55:27.867Z","updatedAt":"2025-10-14T23:39:48.961Z","id":"KU2Jmg9127y8HTaB","name":"EDUARDA | INFRADEV","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.chatInput }}","options":{"systemMessage":"=Funções da IA\n\n* Dar boas-vindas e apresentar a clínica.\n* Identificar o motivo do contato e os objetivos do paciente (estético, dor, diagnóstico etc.).\n* Informar sobre a consulta presencial e, se perguntado, também sobre a consulta online.\n* Conduzir o paciente até o agendamento da consulta (sem agendar automaticamente).\n* Responder dúvidas sobre procedimentos, exames e plano de tratamento, sem entrar em condutas médicas.\n* **NÃO** divulgar valores de procedimentos, exceto em caso de forte insistência.\n* **SOMENTE** mencionar o valor da consulta presencial por padrão. A consulta online só se o paciente perguntar.\n\n---\n\n## 📍 Fluxos de Resposta Padrão\n\n### Quando a conversa começa sem contexto (“Oi”, “Boa tarde”, etc.)\n\nOlá! Que bom receber seu contato!\nSou da clínica da Dra. Eduarda Costa, médica cirurgiã vascular e angiologista especializada no tratamento moderno de varizes e lipedema, com foco em saúde, estética e qualidade de vida feminina.\n\nPor aqui, oferecemos um atendimento completo e personalizado — desde o diagnóstico até os tratamentos realizados no próprio consultório.\n\nPara te ajudar da melhor forma, me conta: qual é sua principal dúvida ou queixa no momento?\n\n---\n\n### Quando perguntam sobre os atendimentos/consultas\n\nOs atendimentos com a Dra. Eduarda têm duração média de 1h a 1h30, com uma abordagem completa e individualizada.\nDurante a consulta, é feita uma avaliação clínica minuciosa, exame físico detalhado, duplex scan das pernas, bioimpedância e, se necessário, ultrassonografia.\n\nAo final, a Dra. Eduarda monta um plano de tratamento sob medida, alinhado aos seus objetivos de saúde e estética.\n\n---\n\n### Quando perguntam sobre onde a Dra. atende\n\nA Dra. Eduarda atende presencialmente em Divinópolis-MG, na Clínica Capillare – Rua Coronel João Notini, 665.\n\nPara pacientes de outras cidades ou com foco em lipedema, ela também realiza consultas online por videochamada.\n\n---\n\n### Quando perguntam sobre lipedema\n\nO tratamento do lipedema começa com uma consulta especializada, onde a Dra. Eduarda realiza uma avaliação detalhada.\nA partir disso, é montado um plano que pode incluir:\n\n• Terapias injetáveis para inflamação e dor\n• Protocolos anti-inflamatórios e para emagrecimento\n• Fotobiomodulação (laser de baixa intensidade)\n• Terapias compressivas\n• Reposição hormonal (quando indicada)\n• Acompanhamento nutricional\n• Tratamento de varizes (caso haja associação)\n\nTudo é adaptado ao seu caso, com foco na melhora da dor, estética e qualidade de vida.\n\n---\n\n### Quando perguntam sobre tratamento de varizes\n\nOs tratamentos de varizes começam com uma consulta completa, com exames como o duplex scan para entender a causa do problema.\n\nA Dra. Eduarda realiza todos os procedimentos no próprio consultório, com segurança, conforto e foco em resultados estéticos e funcionais.\n\nEntre os tratamentos disponíveis estão:\n• Escleroterapia com espuma\n• CLaCS (laser + escleroterapia)\n• Endolaser\n• Cuidados com meias de compressão e hábitos de vida\n\nNos casos mais avançados, pode ser indicada a cirurgia.\n\nGostaria de saber mais sobre algum tratamento específico?\n\n---\n\n### Quando o paciente pergunta sobre CLaCS\n\nO CLaCS é uma técnica que combina laser transdérmico com escleroterapia, promovendo o fechamento mais rápido e eficaz das veias doentes.\nÉ indicado para vasinhos, microvarizes e veias nutridoras, sendo minimamente invasivo e realizado no consultório.\n\n---\n\n### Quando perguntam sobre endolaser\n\nSim! A Dra. Eduarda realiza o endolaser no consultório, com segurança e ótimos resultados estéticos.\nMas antes, é necessário fazer uma consulta com duplex scan para confirmar a indicação e montar o plano de tratamento adequado.\n\n---\n\n### Quando perguntam se dói / se precisa de repouso\n\nOs tratamentos são bem tolerados e, na maioria dos casos, não exigem repouso.\nVocê pode seguir sua rotina normalmente, com alguns cuidados simples que são explicados durante a consulta.\n\n---\n\n### Quando perguntam quantas sessões são necessárias\n\nIsso depende do grau das varizes ou do lipedema.\nApós a avaliação médica, a Dra. Eduarda indica o número de sessões ideal para o seu caso e seus objetivos.\n\n---\n\n### Quando perguntam o valor da consulta\n\nA consulta médica com a Dra. Eduarda inclui os exames necessários (como duplex scan, bioimpedância e ultrassom) e o plano de tratamento individualizado.\nO *valor da consulta* médica com a Dra Eduarda é de R$ 750,00 ( dinheiro ou pix) ou 2x R$390,00 no cartão com direito a um *retorno* em até 30 dias.\n\n🟨 Somente informar sobre a consulta online (R\\$ 550,00) se o paciente perguntar diretamente.\n\n---\n\n### Quando perguntam o valor dos procedimentos\n\nO valor exato só pode ser definido após a avaliação médica, pois cada caso é único.\nMas, se você quiser uma estimativa média com base no tipo de procedimento, posso te passar.\n\n📍 Estimativas médias por procedimento (caso o paciente insista):\n\n* Escleroterapia com Espuma: entre R\\$ 950,00 e R\\$ 1.000,00\n* CLaCS: entre R\\$ 1.400,00 e R\\$ 1.550,00 por sessão. Pacotes progressivos de até 5 sessões.\n* Endolaser (consultório): R\\$ 7.000,00 a R\\$ 9.300,00\n* Endolaser (hospitalar): R\\$ 6.800,00 a R\\$ 9.500,00 + R\\$ 1.950,00 a R\\$ 2.600,00 hospital\n* Endolifting: R\\$ 3.300,00 a R\\$ 3.800,00 (área pequena), R\\$ 5.000,00 a R\\$ 5.500,00 (área grande)\n* Fisioterapia pós-Endolifting: R\\$ 1.500,00 a R\\$ 1.800,00\n* Tratamento com medicações injetáveis (8 semanas): R\\$ 2.200,00 a R\\$ 2.400,00\n* Velaryan (8 sessões): R\\$ 4.100,00 a R\\$ 4.500,00\n* Mounjaro: R\\$ 4.250,00 (4 semanas) até R\\$ 18.000,00 (16 semanas)\n* Cirurgia de Varizes: R\\$ 4.900,00 a R\\$ 7.300,00 + hospital\n* Subcisão com Bioestímulo: R\\$ 4.000,00 a R\\$ 5.500,00\n* Subcisão de Cicatriz: R\\$ 1.800,00 a R\\$ 2.000,00\n\n---\n\n## 📅 Agendamento – Coleta de Dados (Novo Fluxo)\n\nQuando o paciente demonstrar interesse em agendar a consulta, a IA deve enviar a seguinte mensagem:\n\n**Mensagem inicial:**\nPerfeito! Para seguirmos com seu agendamento preciso das seguintes informações:\n\n* Nome completo do paciente\n* Período de preferência (manhã ou tarde)\n* Nível de urgência (baixo, médio ou alto)\n\n---\n\n⚠️ Caso o paciente responda apenas parte das informações, o agente deve solicitar **apenas o que estiver faltando**, até que todos os três dados sejam fornecidos.\n\n---\n\n**Mensagem final após todas as informações recebidas:**\nMaravilha! Estamos verificando a disponibilidade na agenda e logo te retornamos, \\[nome]! 💙\n\nQuando tiver todos dados nescessarios ative a tool \"Notifica secretaria\" e envie esses dados para secretaria.\n\n---\n\n## Observação Final\n\n* Não responda com ( O valor informado refere-se à consulta inicial, que inclui avaliação completa e exames necessários.)\n* Não responda com (Os retornos para acompanhamento da evolução são agendados conforme a necessidade e também são consultas individuais.)\n* Não sugerir horários disponiveis, datas passadas ou opções de agenda.\n* Não falar sobre dias disponiveis.\n* Encerrar o fluxo após coletar as informações.\n* Formatar todo o texto em formato de WhatsApp, com quebra de linha dupla `\\n\\n`.\n* Em caso de links, deixar todos por extenso, sem decoradores de Markdown.\n\n📌 Caso precise do Instagram da Dra., o link é:\n[https://www.instagram.com/draeduardacosta.vascular](https://www.instagram.com/draeduardacosta.vascular)\n\n📌 Telefone para contato:\n(37) 3216-1279"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1120,-144],"id":"b7dcc4e0-9f8c-476c-b471-9d199d016379","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.3,"topP":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[944,112],"id":"060ae910-1139-4414-8c8b-4fdd192aaffd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ScqsAD8O3SwQfUGc","name":"INFRADEV"}}},{"parameters":{"assignments":{"assignments":[{"id":"67d168e4-57e1-4191-b5bf-056c3b8ce9b8","name":"Mensagem","value":"={{ $json.body.chatInput }}","type":"string"},{"id":"5ba736be-4e0f-496d-bdd8-ce4efd0336ab","name":"Whatsapp","value":"={{ $json.body.data.key.remoteJid }}{{ $json.body.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-176],"id":"408a319f-3a83-49e5-8980-b614ac4765e7","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=Você é um FORMATADOR DE TEXTO.\nSua única função é receber um texto e devolver o mesmo texto formatado para ser enviado no WhatsApp.\n\n⚠️ REGRAS IMPORTANTES:\n\nNUNCA responda perguntas.\n\nNUNCA adicione informações.\n\nNUNCA diga que não pode ajudar.\n\nNUNCA altere o conteúdo ou o sentido da mensagem.\n\nSeu trabalho é apenas formatar o texto recebido.\n\n🔹 Como formatar:\n\nQuebre as sentenças com duas quebras de linha (\\n\\n) para facilitar a leitura.\n\nSe houver links, mostre-os completos (sem Markdown, encurtadores ou formatações extras).\n\nSe houver listas, coloque todos os itens em um único bloco, com quebra de linha apenas entre os itens.\n\nExemplo:\nEntrada: Qual seu CPF\nSaída: Qual seu CPF\n\n\nEntrada: Aqui estão os dados: Nome: João, Email: joao@email.com, CPF: 123.456.789-00\nSaída: \n\nAqui estão os dados:\n\nNome: João  \nEmail: joao@email.com  \nCPF: 123.456.789-00\n\n\n⚠️ Lembre-se: Você NUNCA interage com o conteúdo. Apenas formata."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1824,-144],"id":"ddd008bc-e8b9-442b-bffe-af3a88a27452","name":"Formata para WhatsApp"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1856,128],"id":"430d91de-25a6-4ac3-875f-9e4e3ea72291","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ScqsAD8O3SwQfUGc","name":"INFRADEV"}}},{"parameters":{"name":"listarHorarios","description":"Util para listar os horarios disponiveis/indisponiveis da agenda","workflowId":{"__rl":true,"value":"y6vVF7ajZN7jzM8s","mode":"list","cachedResultName":"[Tool] - Listar Horários"},"workflowInputs":{"mappingMode":"defineBelow","value":{"date":"={{ $fromAI(\"data\", \"data para consulta dos horarios, formatada em yyyy-MM-dd HH:mm\", \"string\", $now.format(\"yyyy-MM-dd HH:mm\")) }}"},"matchingColumns":["date"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1344,256],"id":"cdd60e0d-77de-441d-b745-b47a8ac33c61","name":"listarHorarios"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1232,112],"id":"09a33371-9a40-47f5-aaa3-cb65ca19b00c","name":"Think"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"eduardamcosta91@gmail.com","mode":"list","cachedResultName":"eduardamcosta91@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Delete o evento solicitado`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1648,256],"id":"828a0da2-f7bd-48d6-8787-b62c7783a12f","name":"Delete Consulta","credentials":{"googleCalendarOAuth2Api":{"id":"Kr8spbbytmmMjvDV","name":"Agenda EDUARDA"}}},{"parameters":{"httpMethod":"POST","path":"f6434833-b619-40f9-a409-8012e615c0ed","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-592,-176],"id":"eee076b8-ab3e-48c2-835c-d283dbfb6c9c","name":"Webhook","webhookId":"f6434833-b619-40f9-a409-8012e615c0ed","disabled":true},{"parameters":{"name":"MarcarAgendamento","description":"Util para realizar agendamentos","workflowId":{"__rl":true,"value":"pt9Qtikj3sCTCogB","mode":"list","cachedResultName":"[Tool] - Agendamento2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"date":"={{ $fromAI(\"data\", \"data para consulta dos horarios, formatada em yyyy-MM-dd HH:mm\", \"string\") }}","email":"={{ $fromAI(\"email\", \"email do cliente, obrigatório*\") }}","name":"={{ $fromAI(\"nome\", \"nome do cliente, obrigatório*\") }}","cpf":"={{ $fromAI(\"cpf\", \"Número do CPF do cliente\", 'string') }}","numero":"={{ $('Webhook').item.json.body.remoteJid.split(\"@\")[0] }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1488,256],"id":"c5098650-59e3-4b9e-b857-c5fdec9b1b86","name":"MarcarAgendamento"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2304,-144],"id":"cb4355fd-3ab1-4cb4-a891-efdbf1d7070c","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.body.sender.split(\"@\")[0] }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1104,112],"id":"a7feb0c7-45d7-462e-b11b-4ffa06afdcb6","name":"Redis Chat Memory","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1oR9xMsQT18iLMURskeE-XFA6UxCJJcnOMKaFmhipaug","mode":"list","cachedResultName":"Dra. Eduarda - Pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oR9xMsQT18iLMURskeE-XFA6UxCJJcnOMKaFmhipaug/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oR9xMsQT18iLMURskeE-XFA6UxCJJcnOMKaFmhipaug/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Celular","lookupValue":"={{ $json.Whatsapp.split(\"@\")[0] }}"},{"lookupColumn":"Celular","lookupValue":"={{ $json.Whatsapp.split(\"@\")[0].replace(/^(\\d{4})9(\\d{8})$/, '$1$2') }}"},{"lookupColumn":"Celular","lookupValue":"={{ $json.Whatsapp.split(\"@\")[0].replace(/^(\\d{4})/, '$19') }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[16,-176],"id":"a1f2b71d-eda8-4b22-b1a2-568de727ee8b","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d359a965-5cae-4cc2-a4cf-afade2f86526","leftValue":"={{ $json.row_number }}","rightValue":"=","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,-176],"id":"435b0dbf-6c1f-4981-804d-af33435d131e","name":"If","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[880,-368],"id":"a299d87c-9ff6-4036-96e4-d3ddfad10a40","name":"No Operation, do nothing"},{"parameters":{"toolDescription":"avisa que um paciente está aguardando horarios","method":"POST","url":"https://evolution-api.infradevcloud.com/message/sendText/eduardaqr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"EB7E23E43D0D-47FB-BA32-066287998CB9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363403488155588@g.us"},{"name":"text","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Avisar que um paciente entrou em contato\n\nOlá, tivemos uma nova ativação no agente!\n- Nome: (nome do paciente)\n- Periodo: (Periodo que o paciente escolheu)\n- Urgencia: (nivel de urgencia)`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1440,64],"id":"13bd9ff6-66ba-400b-b5dc-6243ac345261","name":"Notifica secretaria"},{"parameters":{"method":"POST","url":"https://evolution-api.infradevcloud.com/message/sendText/robson","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"A48DBF50D4C8-4711-852B-1EDAC9951E17"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511997774880"},{"name":"text","value":"oi"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,464],"id":"19a1cad5-94d0-4efc-b125-bfde1e186197","name":"HTTP Request"}],"connections":{"AI Agent":{"main":[[{"node":"Formata para WhatsApp","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Formata para WhatsApp":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Formata para WhatsApp","type":"ai_languageModel","index":0}]]},"listarHorarios":{"ai_tool":[[]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Delete Consulta":{"ai_tool":[[]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"MarcarAgendamento":{"ai_tool":[[]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Notifica secretaria":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"axios/1.8.3","content-length":"1296","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"144.126.157.25","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9b272bc18a34","x-real-ip":"144.126.157.25"},"params":{},"query":{},"body":{"chatInput":"Meu nome é Larissa Martins Machado Neves \nPeríodo da tarde \nNível baixo de urgência","sessionId":"Session.5522981329190@s.whatsapp.net.a347434c-d086-4b52-8da1-f9bee9b6b935","remoteJid":"5522981329190@s.whatsapp.net","pushName":"Larissa Machado","body":{"event":"messages.upsert","instance":"eduardaqr","data":{"key":{"remoteJid":"5522981329190@s.whatsapp.net","fromMe":false,"id":"2A4FC64FB8303E492A3D"},"pushName":"Larissa Machado","status":"DELIVERY_ACK","message":{"conversation":"Meu nome é Larissa Martins Machado Neves \nPeríodo da tarde \nNível baixo de urgência","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"QiOXGx8ORM1IKA==","senderTimestamp":"1758029640","recipientKeyHash":"FZ6xfBhDV2bYow==","recipientTimestamp":"1758109188"},"deviceListMetadataVersion":2,"messageSecret":"hE99tQzBuTv6kNv6gFOap9VlK+7NduAFh4BcYUDRqpM="}},"messageType":"conversation","messageTimestamp":1758138050,"instanceId":"71d2c117-e2fb-488f-9d06-f020aecf1d7b","source":"unknown"},"destination":"https://api.automatiza-ai.com/webhook/receive-message/?id=a347434c-d086-4b52-8da1-f9bee9b6b935","date_time":"2025-09-17T16:40:50.799Z","sender":"553798426680@s.whatsapp.net","server_url":"https://evolution-api.infradevcloud.com","apikey":"EB7E23E43D0D-47FB-BA32-066287998CB9"}},"webhookUrl":"https://api.infradevcloud.com/webhook/f6434833-b619-40f9-a409-8012e615c0ed","executionMode":"production"}}]},"versionId":"08ee6b6b-1a8a-4cb3-802b-55c8ab38674c","triggerCount":1,"shared":[{"createdAt":"2025-06-25T02:55:27.867Z","updatedAt":"2025-06-25T02:55:27.867Z","role":"workflow:owner","workflowId":"KU2Jmg9127y8HTaB","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}