entrou---grupo-fRx0ZFxjLukMUmcR.json
{"createdAt":"2025-10-20T19:19:23.748Z","updatedAt":"2025-10-20T20:08:26.916Z","id":"fRx0ZFxjLukMUmcR","name":"Entrou - grupo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"grupo-will","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1184,-128],"id":"4bc18296-09db-45e3-b264-1cb52e5b748f","name":"Webhook","webhookId":"30f7a70d-55e1-4e25-bcca-bb32cdb03e0e"},{"parameters":{"assignments":{"assignments":[{"id":"230030f9-d53c-4a14-8a88-a6bec7d54f39","name":"Grupo","value":"={{ $json.body.data.groupName }}","type":"string"},{"id":"3a1cf062-a059-4cd6-82e6-702c2201b3fe","name":"Telefone","value":"={{ $json.body.data.number }}","type":"string"},{"id":"fb62052a-8f1c-4041-b61d-83a0a2323c3f","name":"Data","value":"={{ $now.toFormat(\"dd/LL/yy\") }}","type":"string"},{"id":"60d4e4cf-2ad3-4b03-b595-d81838c955e2","name":"Evento","value":"={{ $json.body.event }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,-128],"id":"930c0b97-10c8-43f6-bb35-988c70bba7e5","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54b1d00f-a7e3-4f9d-b9dd-1b409cb08fd0","leftValue":"={{ $json.Evento }}","rightValue":"group.updated.members.added","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,-128],"id":"5ad00d53-2bf3-47e9-86e0-3fc605cf3549","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Y_HKrvb6P_o8LPIOOcvwrmrdVWgRfkk0LUrf2gS6n-8","mode":"list","cachedResultName":"Controle de KPIS L171025 | Black__NOV_2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_HKrvb6P_o8LPIOOcvwrmrdVWgRfkk0LUrf2gS6n-8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":332036661,"mode":"list","cachedResultName":"ACOMP_SIMPLIFICADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_HKrvb6P_o8LPIOOcvwrmrdVWgRfkk0LUrf2gS6n-8/edit#gid=332036661"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json.Data }}","Grupo ":"={{ $json.Grupo }}","Numero ":"={{ $json.Telefone }}"},"matchingColumns":[],"schema":[{"id":"Grupo ","displayName":"Grupo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Numero ","displayName":"Numero ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-384,-208],"id":"cab1666b-9ea4-43a4-bb22-ec85ca1a07ed","name":"Add entrou grupo","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Y_HKrvb6P_o8LPIOOcvwrmrdVWgRfkk0LUrf2gS6n-8","mode":"list","cachedResultName":"Controle de KPIS L171025 | Black__NOV_2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_HKrvb6P_o8LPIOOcvwrmrdVWgRfkk0LUrf2gS6n-8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":188575804,"mode":"list","cachedResultName":"Saiu","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y_HKrvb6P_o8LPIOOcvwrmrdVWgRfkk0LUrf2gS6n-8/edit#gid=188575804"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json.Data }}","Grupo ":"={{ $json.Grupo }}","Numero ":"={{ $json.Telefone }}"},"matchingColumns":[],"schema":[{"id":"Grupo ","displayName":"Grupo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Numero ","displayName":"Numero ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-400,-32],"id":"e833e6a4-144e-4413-bb70-593e42e770a2","name":"Add entrou grupo1","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Add entrou grupo","type":"main","index":0}],[{"node":"Add entrou grupo1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"df1adc91-0edc-447d-8064-307bda4ffed7","triggerCount":1,"shared":[{"createdAt":"2025-10-20T19:19:23.748Z","updatedAt":"2025-10-20T19:19:23.748Z","role":"workflow:owner","workflowId":"fRx0ZFxjLukMUmcR","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}