formulários-->-clint-|-[cc][mjr][c3]-formulário-de-aplicação-imersão---counter-9-e-10-N4xkjaV6RuwDS5aP.json
{"createdAt":"2025-08-30T15:59:20.802Z","updatedAt":"2025-09-04T18:42:19.821Z","id":"N4xkjaV6RuwDS5aP","name":"Formulários -> Clint | [CC][MJR][C3] Formulário de aplicação Imersão - Counter 9 e 10","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"48fde167-102e-4601-a1fa-b1dcf1d707ca","leftValue":"={{ $json['Sobre o investimento para fazer parte da mentoria em grupo.'] }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-224],"id":"dede1fe1-cfc2-4859-b79b-02cb79511444","name":"If"},{"parameters":{"formId":"FjQw1eDH"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-736,-224],"id":"4cc3f266-4b84-4386-b75a-ec4157a04bc8","name":"Typeform","webhookId":"24a6ffb0-8ca2-4415-9535-6e15596d36ec","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"11125e2e-bc16-4c52-85e2-efc418368fa1","name":"Switch"},{"parameters":{"operation":"incr","key":"counter9"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-400],"id":"0299152e-8899-42fc-9e1d-84df3e47f328","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter9 = Number($json.counter9); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter9 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter9,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"dc16cdfd-74b2-4bdf-988e-df3c6109c5ab","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/dfc14e58-5da3-437c-82dc-884d2a6bc63d","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"desafio","value":"={{ $('Typeform').item.json['*Agora, descreva suas dificuldades.* '] }}"},{"name":"por que deveria abrir vaga","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. '] }}"},{"name":"comprometimento","value":"={{ $('Typeform').item.json['De 0 a 10, qual seu nível de comprometimento em aplicar os aprendizados adquiridos nessa mentoria, caso seja aceito (a)?'] }}"},{"name":"investimento","value":"Sim"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Gostaria de conhecer outras formas de pagamento? '] }}"},{"name":"=opcoes de pagamento","value":"={{ $('Typeform').item.json['Quais dessas opções te atenderia? '] }}"},{"name":"consegue fazer o investimento","value":"={{ $('Typeform').item.json['Se essa opção fosse disponibilizada, você conseguiria fazer o investimento? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"a9a0eb38-fcb5-49f1-871c-8f2657c01d0b","name":"Davi"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"99b47ad1-f36e-46b1-8c95-cc0874d2e307","name":"Switch1"},{"parameters":{"operation":"incr","key":"counter10"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-32],"id":"3b0cba38-124f-4766-93e3-95403381b876","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter10 = Number($json.counter10); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter10 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter10,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"0156d070-7cb0-4851-816c-863d206adece","name":"Code1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/dfc14e58-5da3-437c-82dc-884d2a6bc63d","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"desafio","value":"={{ $('Typeform').item.json['*Agora, descreva suas dificuldades.* '] }}"},{"name":"por que deveria abrir vaga","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. '] }}"},{"name":"comprometimento","value":"={{ $('Typeform').item.json['De 0 a 10, qual seu nível de comprometimento em aplicar os aprendizados adquiridos nessa mentoria, caso seja aceito (a)?'] }}"},{"name":"investimento","value":"Sim"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Gostaria de conhecer outras formas de pagamento? '] }}"},{"name":"=opcoes de pagamento","value":"={{ $('Typeform').item.json['Quais dessas opções te atenderia? '] }}"},{"name":"consegue fazer o investimento","value":"={{ $('Typeform').item.json['Se essa opção fosse disponibilizada, você conseguiria fazer o investimento? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-304],"id":"e0d74ba4-eabe-4a75-8865-f31c5261af81","name":"Renata"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/dfc14e58-5da3-437c-82dc-884d2a6bc63d","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"desafio","value":"={{ $('Typeform').item.json['*Agora, descreva suas dificuldades.* '] }}"},{"name":"por que deveria abrir vaga","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. '] }}"},{"name":"comprometimento","value":"={{ $('Typeform').item.json['De 0 a 10, qual seu nível de comprometimento em aplicar os aprendizados adquiridos nessa mentoria, caso seja aceito (a)?'] }}"},{"name":"investimento","value":"Não"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Gostaria de conhecer outras formas de pagamento? '] }}"},{"name":"=opcoes de pagamento","value":"={{ $('Typeform').item.json['Quais dessas opções te atenderia? '] }}"},{"name":"consegue fazer o investimento","value":"={{ $('Typeform').item.json['Se essa opção fosse disponibilizada, você conseguiria fazer o investimento? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"80ee2f7b-3f80-4055-be13-a11a3889bd24","name":"Davi1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/dfc14e58-5da3-437c-82dc-884d2a6bc63d","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"objetivo","value":"={{ $('Typeform').item.json['*Chegou o momento da sinceridade:*'] }}"},{"name":"desafio","value":"={{ $('Typeform').item.json['*Agora, descreva suas dificuldades.* '] }}"},{"name":"por que deveria abrir vaga","value":"={{ $('Typeform').item.json['Várias pessoas estão aplicando para a mentoria. '] }}"},{"name":"comprometimento","value":"={{ $('Typeform').item.json['De 0 a 10, qual seu nível de comprometimento em aplicar os aprendizados adquiridos nessa mentoria, caso seja aceito (a)?'] }}"},{"name":"investimento","value":"Não"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Gostaria de conhecer outras formas de pagamento? '] }}"},{"name":"=opcoes de pagamento","value":"={{ $('Typeform').item.json['Quais dessas opções te atenderia? '] }}"},{"name":"consegue fazer o investimento","value":"={{ $('Typeform').item.json['Se essa opção fosse disponibilizada, você conseguiria fazer o investimento? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,64],"id":"e935435a-c156-40b1-a183-34ded09a4470","name":"Renata1"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber').item.json.data.id }}"},{"name":"tag_name","value":"=Aplicação aprovada MJR"}]},"options":{}},"id":"f144a52d-c5c3-41c4-ab43-410a58d61ca3","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,-640],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp_phone","value":"={{ $('Typeform').item.json['Phone number'].replace(/\\D/g, '') }}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"},{"name":"13570164","value":"Davi"}]},"options":{}},"id":"66505cec-6f8a-4cbd-8199-118dcb11adb3","name":"createSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-480],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber1').item.json.data.id }}"},{"name":"tag_name","value":"=Aplicação aprovada MJR"}]},"options":{}},"id":"aec25379-0479-430b-8172-8ecdd05d1024","name":"addTagByName1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-304],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"whatsapp_phone","value":"={{ $('Typeform').item.json['Phone number'].replace(/\\D/g, '') }}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"},{"name":"13570164","value":"Renata"}]},"options":{}},"id":"c678199a-5106-4dc6-ba78-9466a01f9ff7","name":"createSubscriber1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"88115b5f-a961-486c-8f2a-aab58786d880","leftValue":"={{ $json.error.status }}","rightValue":200,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"fc3402d4-1a67-4eb3-a2e3-f466ea8860d0","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[624,-480]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/updateSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'].replace(/\\D/g, '') }}"},{"name":"whatsapp_phone","value":"={{ $('Typeform').item.json['Phone number'].replace(/\\D/g, '') }}"},{"value":"="},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"},{"name":"subscriber_id","value":"={{ $json.data[0].id }}"},{"name":"13570164","value":"Davi"}]},"options":{}},"id":"a6e34b6b-ad0e-4510-a465-fa5b99842893","name":"updateSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,-496],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber').item.json.data.id }}"},{"name":"tag_name","value":"=Aplicação aprovada MJR"}]},"options":{}},"id":"a167b1d1-b562-40b4-bd4d-ad426dd6932f","name":"addTagByName2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,-336],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.manychat.com/fb/subscriber/findBySystemField?whatsapp_number={{ $('Typeform').item.json['Phone number'].replace(/\\D/g, '') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 743353:7cdcf2497d988b10d2f992211e095b71"}]},"options":{}},"id":"dfb57be8-3f56-4ffc-83a2-33e4e9bce5d4","name":"searchSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,-480],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"If":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Typeform":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi1","type":"main","index":0}],[{"node":"Renata1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"createSubscriber":{"main":[[{"node":"If1","type":"main","index":0}]]},"Davi1":{"main":[[]]},"Davi":{"main":[[{"node":"createSubscriber","type":"main","index":0}]]},"createSubscriber1":{"main":[[{"node":"addTagByName1","type":"main","index":0}]]},"Renata":{"main":[[{"node":"createSubscriber1","type":"main","index":0}]]},"If1":{"main":[[{"node":"addTagByName","type":"main","index":0}],[{"node":"searchSubscriber","type":"main","index":0}]]},"updateSubscriber":{"main":[[{"node":"addTagByName2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-ev1sigcvyn"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Typeform":[{"json":{"First name":"DAIANE","Last name":"DE PAIVA","Phone number":"+5582981732110","Email":"dedelmiguel2015@gmail.com","Qual é a sua profissão hoje em dia?":"Do lar","*Chegou o momento da sinceridade:*":"Iluminar vida das famílias","*Agora, descreva suas dificuldades.* ":"Desenvolver habilidades necessarias","Várias pessoas estão aplicando para a mentoria. ":"Minha vocação","De 0 a 10, qual seu nível de comprometimento em aplicar os aprendizados adquiridos nessa mentoria, caso seja aceito (a)?":10,"Sobre o investimento para fazer parte da mentoria em grupo.":true}}]},"versionId":"cbb9fe67-0404-45ea-8132-f039560693c3","triggerCount":1,"shared":[{"createdAt":"2025-08-30T15:59:20.802Z","updatedAt":"2025-08-30T15:59:20.802Z","role":"workflow:owner","workflowId":"N4xkjaV6RuwDS5aP","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}