formulários-->-clint-|-[cc][r4-|-fc][set25]---interessados-renovação---counter-19-e-20-gQKkqjYbe9j29xUQ.json
{"createdAt":"2025-09-18T15:28:11.924Z","updatedAt":"2025-09-18T15:35:58.368Z","id":"gQKkqjYbe9j29xUQ","name":"Formulários -> Clint | [CC][R4 | FC][SET25] - Interessados renovação - Counter 19 e 20","active":true,"isArchived":false,"nodes":[{"parameters":{"formId":"dJOQdsoU"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-448,-400],"id":"3dbf6bfe-baae-4c1a-81b1-28bc4242540f","name":"Typeform","webhookId":"3421d50e-2ae2-4614-9dea-078f42cf1b89","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"d1e9722f-6569-44d6-bf92-dad0c9a28758","name":"Switch"},{"parameters":{"operation":"incr","key":"counter19"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-400],"id":"788d0914-f0ee-43fe-9c92-f8b1ad5caae2","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter19 = Number($json.counter19); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter19 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter19,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"4058185f-388f-45cf-9767-06ba1458d9ce","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/f2dc8199-70a9-4d03-9091-24a928290545","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=","value":"="},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"43ee1dec-b5da-4a36-b8cb-4a77f87f9155","name":"Davi"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/f2dc8199-70a9-4d03-9091-24a928290545","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=","value":"="},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-304],"id":"85dcd108-6f73-4b03-aaf5-0c98b12f9a8c","name":"Renata"}],"connections":{"Typeform":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Davi":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-p0dmlwvk4i"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Typeform":[{"json":{"First name":"Bruno","Phone number":"+5511994463473","Email":"bruno@infradevdigital.com.br"}}]},"versionId":"577ddace-370b-4b8c-9335-350eb482cf68","triggerCount":1,"shared":[{"createdAt":"2025-09-18T15:28:11.924Z","updatedAt":"2025-09-18T15:28:11.924Z","role":"workflow:owner","workflowId":"gQKkqjYbe9j29xUQ","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}