formulários-->-clint-|-[[cc][alunos-mjr]---vendas-presencial-|-ficha-de-interesse---counter-7-e-8-MuMocMxUiz3Gt0Jq.json
{"createdAt":"2025-08-27T20:50:35.527Z","updatedAt":"2025-08-30T16:14:56.881Z","id":"MuMocMxUiz3Gt0Jq","name":"Formulﾃ｡rios -> Clint | [[CC][ALUNOS MJR] - Vendas Presencial | Ficha de interesse - Counter 7 e 8","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"48fde167-102e-4601-a1fa-b1dcf1d707ca","leftValue":"={{ $json['*腸 Investimento para participar deste evento exclusivo*'] }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-224],"id":"6e8ae6ba-8eff-4722-96be-12d6d747c6bf","name":"If"},{"parameters":{"formId":"C5jpnOZQ"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-736,-224],"id":"bf78f55b-460f-4cab-a366-1169a81a6734","name":"Typeform","webhookId":"88169745-7324-4a3f-bfc3-002a20654edb","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"0dc258be-8cb6-469d-b6fb-67cfeeb30bfd","name":"Switch"},{"parameters":{"operation":"incr","key":"counter7"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-400],"id":"dece0084-8e9c-4c9f-9ccc-2c175f60ee2d","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter7 = Number($json.counter7); // pega a string \"counter\" e converte pra nﾃｺmero\n\nconst isEven = counter7 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter7,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"c809f10b-e331-4c79-a8bc-8628f79cfd16","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/794e89d9-fe99-4880-835c-dec1b9eaf296","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=por que vocﾃｪ deveria ser selecionado","value":"={{ $('Typeform').item.json['*Vﾃ｡rias pessoas estarﾃ｣o se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Sim"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"fa60294a-9f8b-4f07-9faa-107044352659","name":"Davi"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"3fbd0926-6fee-486d-8300-977aa5673c84","name":"Switch1"},{"parameters":{"operation":"incr","key":"counter8"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-32],"id":"75a1e791-edb4-435c-b43f-9243d3fa6eca","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter8 = Number($json.counter8); // pega a string \"counter\" e converte pra nﾃｺmero\n\nconst isEven = counter8 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter8,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"47142eae-955a-4707-bb0c-1e5c42b93cab","name":"Code1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/794e89d9-fe99-4880-835c-dec1b9eaf296","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=por que vocﾃｪ deveria ser selecionado","value":"={{ $('Typeform').item.json['*Vﾃ｡rias pessoas estarﾃ｣o se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Sim"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-336],"id":"510af5db-0d1a-48ea-9016-220f4793cc60","name":"Renata"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/794e89d9-fe99-4880-835c-dec1b9eaf296","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=por que vocﾃｪ deveria ser selecionado","value":"={{ $('Typeform').item.json['*Vﾃ｡rias pessoas estarﾃ｣o se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Nﾃ｣o"},{"name":"conhecer outras opcoes","value":"={{ $('Typeform').item.json['Vocﾃｪ disse Nﾃグ para o investimento.'] }}"},{"name":"qual opcao melhor te atenderia","value":"={{ $('Typeform').item.json['Quais dessas opﾃｧﾃｵes abaixo melhor te atenderia? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-96],"id":"08a86c39-75f8-495f-8dfb-0f5bf574051f","name":"Davi1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/794e89d9-fe99-4880-835c-dec1b9eaf296","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=por que vocﾃｪ deveria ser selecionado","value":"={{ $('Typeform').item.json['*Vﾃ｡rias pessoas estarﾃ｣o se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Nﾃ｣o"},{"name":"conhecer outras opcoes","value":"={{ $('Typeform').item.json['Vocﾃｪ disse Nﾃグ para o investimento.'] }}"},{"name":"qual opcao melhor te atenderia","value":"={{ $('Typeform').item.json['Quais dessas opﾃｧﾃｵes abaixo melhor te atenderia? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,64],"id":"b45a3006-f44f-4c2d-8824-b8a1c3c6e6c7","name":"Davi2"}],"connections":{"If":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Typeform":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi1","type":"main","index":0}],[{"node":"Davi2","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulﾃ｡rio de aplicaﾃｧﾃ｣o 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONﾃヽIO DE Nﾃグ INSCRIﾃﾃグ | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-wpvjkzkrix"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9797f6b-073f-46cb-a542-6d53fc031095","triggerCount":1,"shared":[{"createdAt":"2025-08-27T20:50:35.527Z","updatedAt":"2025-08-27T20:50:35.527Z","role":"workflow:owner","workflowId":"MuMocMxUiz3Gt0Jq","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}