formulários-->-clint-|-fc-|-questionário-de-não-inscrição-|-ficha-de-interesse---counter-5-e-6-9z6sBqPKsTmUdDLn.json
{"createdAt":"2025-08-26T03:20:30.215Z","updatedAt":"2025-08-27T20:48:41.116Z","id":"9z6sBqPKsTmUdDLn","name":"Formulários -> Clint | FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse - Counter 5 e 6","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"48fde167-102e-4601-a1fa-b1dcf1d707ca","leftValue":"={{ $json['Se eu liberar sua vaga, você tem condições de fazer o investimento necessário e aproveitar todos os bônus da última turma? '] }}","rightValue":"Sim, quero fazer minha inscrição.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-224],"id":"d1360310-7764-445c-8834-f7973d28b68b","name":"If"},{"parameters":{"formId":"Eq4GmTss"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-704,-224],"id":"42eaa38e-7b57-4538-bb15-72416339532b","name":"Typeform","webhookId":"84bf659a-5266-4eeb-a14a-3020bdb7d66d","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"e9c27cd0-9481-4525-aae2-cd8d2be5d6e0","name":"Switch"},{"parameters":{"operation":"incr","key":"counter5"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-400],"id":"335aeff4-8b38-4632-b084-bceeaef20c4a","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter5 = Number($json.counter5); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter5 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter5,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"3fefd038-34e4-4e3d-9a6a-d42aed9b7ca0","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2bdeee88-c974-45f0-a483-ef6ec7b78b3c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"por que nao entrou","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"segunda chance","value":"={{ $('Typeform').item.json['Se eu te desse uma segunda chance,'] }}"},{"name":"por que eu deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"=historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"e734220f-3c9d-43ee-b985-790977f5c35e","name":"Davi"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"62f6a328-8860-4961-a1ac-42a26a6a2be8","name":"Switch1"},{"parameters":{"operation":"incr","key":"counter6"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-32],"id":"a0c46152-2328-446a-85ea-87318325ddb6","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter6 = Number($json.counter6); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter2 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter6,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"926d0dc5-9516-4b22-94c5-9a5640d3cb47","name":"Code1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2bdeee88-c974-45f0-a483-ef6ec7b78b3c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"por que nao entrou","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"segunda chance","value":"={{ $('Typeform').item.json['Se eu te desse uma segunda chance,'] }}"},{"name":"por que eu deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"=historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-336],"id":"590edf4b-f749-4dd7-ac46-c307fe30eeee","name":"Renata"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2bdeee88-c974-45f0-a483-ef6ec7b78b3c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"por que nao entrou","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"segunda chance","value":"={{ $('Typeform').item.json['Se eu te desse uma segunda chance,'] }}"},{"name":"por que eu deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"=historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"67769176-e82e-4771-9542-0ff7b767b273","name":"Davi1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2bdeee88-c974-45f0-a483-ef6ec7b78b3c","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"por que nao entrou","value":"={{ $('Typeform').item.json['Por que você não entrou na turma passada do FC?'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"segunda chance","value":"={{ $('Typeform').item.json['Se eu te desse uma segunda chance,'] }}"},{"name":"por que eu deveria liberar uma vaga","value":"={{ $('Typeform').item.json['Por que eu deveria liberar uma vaga exclusivamente para você?'] }}"},{"name":"=historia","value":"={{ $('Typeform').item.json['Sinta-se a vontade para descrever um pouco da sua história.'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,32],"id":"d4a37f89-521e-4980-bc76-b88f05d3c38d","name":"Renata1"}],"connections":{"If":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Typeform":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi1","type":"main","index":0}],[{"node":"Renata1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-rqtwlvubmy"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c58dad52-eaec-48e6-8ec4-78ccbf23d0d0","triggerCount":1,"shared":[{"createdAt":"2025-08-26T03:20:30.215Z","updatedAt":"2025-08-26T03:20:30.215Z","role":"workflow:owner","workflowId":"9z6sBqPKsTmUdDLn","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}