formulários-->-clint-|-[cc][presencial-fc][out25][fc-e-audiência]---vendas-presencial-|-ficha-de-interesse-(co---counter-11-e-12-jdnxsWp59rbR4JQZ.json
{"createdAt":"2025-09-10T14:35:42.962Z","updatedAt":"2025-09-10T22:15:43.701Z","id":"jdnxsWp59rbR4JQZ","name":"Formulários -> Clint | [CC][PRESENCIAL FC][OUT25][FC E AUDIÊNCIA] - Vendas Presencial | Ficha de interesse (co - Counter 11 e 12","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"48fde167-102e-4601-a1fa-b1dcf1d707ca","leftValue":"={{ $json['*💰 Investimento para participar deste evento exclusivo*'] }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-224],"id":"2a8f908d-dce5-4ae6-80d1-dc74f0c80e10","name":"If"},{"parameters":{"formId":"MBHejCnN"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-736,-224],"id":"e64b4ff3-0250-4ad3-b141-7664a310f3be","name":"Typeform","webhookId":"7585e0fa-b79b-4b1a-9d79-954bd1e3be7e","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"7cf5aeea-c807-45a1-b75a-4f7b0408ab3a","name":"Switch"},{"parameters":{"operation":"incr","key":"counter11"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-400],"id":"06bd6421-f025-48a0-a751-e086cafb70a3","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter11 = Number($json.counter11); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter11 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter11,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"6076e5d8-9216-4915-a15e-5003cb2289f8","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ba92b884-6215-4dab-a543-439ff9d3cfe5","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=por que deveria ser selecionado","value":"={{ $('Typeform').item.json['*Várias pessoas estarão se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Sim"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"35f33020-ddde-4786-87d6-90da7acfea3a","name":"Davi"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"877f2d41-3c5b-41b4-b6e7-f46e8cc15bd2","name":"Switch1"},{"parameters":{"operation":"incr","key":"counter12"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-32],"id":"18ed6c8e-1b20-46e9-ad99-a024125f34db","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter12 = Number($json.counter12); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter12 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter12,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"4f6ead7f-dbe4-447c-a27c-ed4338735dc1","name":"Code1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ba92b884-6215-4dab-a543-439ff9d3cfe5","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=por que deveria ser selecionado","value":"={{ $('Typeform').item.json['*Várias pessoas estarão se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Sim"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-304],"id":"5d1894d0-c5ca-4f79-a3d3-6c9267043a5d","name":"Renata"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ba92b884-6215-4dab-a543-439ff9d3cfe5","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=por que deveria ser selecionado","value":"={{ $('Typeform').item.json['*Várias pessoas estarão se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Sim"},{"name":"conhecer formas de pagamento","value":"={{ $('Typeform').item.json['Você disse NÃO para o investimento.'] }}"},{"name":"opcoes","value":"={{ $('Typeform').item.json['Quais dessas opções abaixo melhor te atenderia? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"91da912a-e4de-4843-987c-20e9f2704a65","name":"Davi1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ba92b884-6215-4dab-a543-439ff9d3cfe5","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=por que deveria ser selecionado","value":"={{ $('Typeform').item.json['*Várias pessoas estarão se candidatando para este evento. *'] }}"},{"name":"investimento","value":"Sim"},{"name":"conhecer formas de pagamento","value":"={{ $('Typeform').item.json['Você disse NÃO para o investimento.'] }}"},{"name":"opcoes","value":"={{ $('Typeform').item.json['Quais dessas opções abaixo melhor te atenderia? '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,64],"id":"2a1df330-0900-4799-89df-ca0a514cad13","name":"Renata1"}],"connections":{"If":{"main":[[{"node":"Redis","type":"main","index":0}],[]]},"Typeform":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi1","type":"main","index":0}],[{"node":"Renata1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Davi":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-jcc4ru7xck"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2cbe30b9-6b5d-47af-bbd9-bf9abb8f9d4b","triggerCount":1,"shared":[{"createdAt":"2025-09-10T14:35:42.962Z","updatedAt":"2025-09-10T14:35:42.962Z","role":"workflow:owner","workflowId":"jdnxsWp59rbR4JQZ","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}