giovana-pusch---imersão-em-crio-harmonização-|-compra-aprovada-gMZHqxvL51k5OmCE.json
{"createdAt":"2025-07-16T19:36:37.181Z","updatedAt":"2025-07-23T17:53:21.821Z","id":"gMZHqxvL51k5OmCE","name":"Giovana Pusch - Imersão em Crio Harmonização | Compra aprovada","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"Planilha: https://docs.google.com/spreadsheets/d/1-8LbDpw6fSuL6N6_SCpHB3NG5SiL9jwp9Z9nHY4lHpA/edit?gid=1053907731#gid=1053907731","height":400,"width":1420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-340,-560],"typeVersion":1,"id":"83b2860d-6231-4275-bef1-cea4fa7f2113","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"imersao-crio-compra-aprovada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-300,-400],"id":"c31f71e1-2ad2-418f-b02b-6f751d50658e","name":"Popup","webhookId":"76e22348-6fc5-4035-bdda-175a543a2a97"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1-8LbDpw6fSuL6N6_SCpHB3NG5SiL9jwp9Z9nHY4lHpA/edit?gid=1053907731#gid=1053907731","mode":"url"},"sheetName":{"__rl":true,"value":1154673454,"mode":"list","cachedResultName":"Comprou Evento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-8LbDpw6fSuL6N6_SCpHB3NG5SiL9jwp9Z9nHY4lHpA/edit#gid=1154673454"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body.Customer.full_name }}","E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","utm_source":"={{ $json.body.TrackingParameters.utm_source }}","utm_medium":"={{ $json.body.TrackingParameters.utm_medium }}","utm_campaign":"={{ $json.body.TrackingParameters.utm_campaign }}","utm_content":"={{ $json.body.TrackingParameters.utm_content }}","utm_term":"={{ $json.body.TrackingParameters.utm_term }}","Data da venda":"={{ new Date().toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da venda","displayName":"Data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,-400],"id":"ee8c996d-5d80-4d24-81a4-fdb0d6d8967d","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/oPkOr5BYTjCwMplpqHv2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"62b9508d-f7bd-4900-94cd-b6926ba994e8\",\n  \"phoneNumber\": \"{{ $json['Telefone SendFlow'] }}\",\n  \"name\": \"{{ $('Popup').item.json.body.Customer.first_name }}\",\n  \"email\": \"{{ $('Popup').item.json.body.Customer.email }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-400],"id":"2c2630e7-6dac-41a2-b6bd-6245beea2140","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"208357eb-0796-4c89-8912-c2767675b1d4","name":"Telefone SendFlow","value":"={{ \n  (() => {\n    let phone = $json.Telefone.replace(/\\D/g, ''); // remove tudo que não é número\n    if (!phone.startsWith('55')) {\n      phone = '55' + phone;\n    }\n    return phone;\n  })() \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-400],"id":"0eabdde5-f861-4e88-bb86-a3f4dc394035","name":"Edit Fields"},{"parameters":{"amount":15,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,-400],"id":"b27e5a28-64c1-4688-bdb6-74ae23809873","name":"Wait","webhookId":"9f552ddf-5943-4b5d-a824-046fb5902e79"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/V2jvPh23d3rwtxFwZQRL","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"62b9508d-f7bd-4900-94cd-b6926ba994e8\",\n  \"phoneNumber\": \"{{ $('Edit Fields').item.json['Telefone SendFlow'] }}\",\n  \"name\": \"{{ $('Popup').item.json.body.Customer.first_name }}\",\n  \"email\": \"{{ $('Popup').item.json.body.Customer.email }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,-400],"id":"2199fea6-3448-48c7-bf87-f94461443733","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/5db5b91e-d016-410c-95ef-41969204c212","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Popup').item.json.body.Customer.full_name }}"},{"name":"email","value":"={{ $('Popup').item.json.body.Customer.email }}"},{"name":"phone","value":"={{ $('Popup').item.json.body.Customer.mobile }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,-400],"id":"7941eeec-9edc-44f4-af23-c13f5a69d51d","name":"HTTP Request2"}],"connections":{"Popup":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"40141c64-95b5-4237-85fe-fd183fb9f561","triggerCount":1,"shared":[{"createdAt":"2025-07-16T19:36:37.181Z","updatedAt":"2025-07-16T19:36:37.181Z","role":"workflow:owner","workflowId":"gMZHqxvL51k5OmCE","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}