l150725---dona-aranha---parte-3-kP0OLYxL6zmPdrEu.json
{"createdAt":"2025-06-26T23:26:35.272Z","updatedAt":"2025-08-25T15:16:44.778Z","id":"kP0OLYxL6zmPdrEu","name":"L150725 - Dona Aranha - Parte 3","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"desafio-definicao-30-parte-3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1040,100],"id":"453353e8-eea1-4a67-9404-25e817851b61","name":"Webhook","webhookId":"f91575d3-7d61-4375-9c55-d438702e802e"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTagByName","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"subscriber_id","value":"={{ $('createSubscriber').item.json.data.id }}"},{"name":"tag_name","value":"=L150725 - Não entrou grupo"}]},"options":{}},"id":"0a3b6160-4605-4297-aff6-4fb13fa01402","name":"addTagByName","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,100],"alwaysOutputData":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer 190752417453284:9bb614863aa353980d18efe7a8339e6a"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json.body['contact[first_name]'] }}"},{"name":"whatsapp_phone","value":"={{ $json.body['contact[phone]'].replace(/[\\s\\+\\-]/g, '') }}"},{"name":"has_opt_in_email","value":true},{"name":"consent_phrase","value":"Ao clicar neste botão AUTORIZO o recebimento de comunicações"},{"name":"has_opt_in_sms","value":"true"}]},"options":{}},"id":"164dbf20-fdc3-4179-9269-2115813d53a6","name":"createSubscriber","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-820,100],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"createSubscriber","type":"main","index":0}]]},"createSubscriber":{"main":[[{"node":"addTagByName","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70d49017-b618-42f3-b451-8e76861f4706","triggerCount":1,"shared":[{"createdAt":"2025-06-26T23:26:35.272Z","updatedAt":"2025-06-26T23:26:35.272Z","role":"workflow:owner","workflowId":"kP0OLYxL6zmPdrEu","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}