listboss---bora-na-obra-HLfLbz6wvhSfOc99.json
{"createdAt":"2025-08-27T23:43:37.823Z","updatedAt":"2025-10-10T17:23:13.100Z","id":"HLfLbz6wvhSfOc99","name":"LISTBOSS - BORA NA OBRA","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cmb-boleto-gerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[704,-464],"id":"89cb5291-b245-4b48-b8d8-056810d8cb63","name":"Boleto gerado","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"httpMethod":"POST","path":"cmb-compra-aprovada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,-464],"id":"d89286d0-00dc-43e8-aa3a-f073fd5796c1","name":"Compra aprovada","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"httpMethod":"POST","path":"cmb-pediu-reembolso","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[816,64],"id":"4aad5ce1-2b95-4019-8d15-328a8b440522","name":"Pediu reembolso","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"httpMethod":"POST","path":"cmb-abandono-carrinho","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,-288],"id":"c79bf1db-bd38-47ab-9671-b6402596dc0f","name":"Abandono carrinho","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"httpMethod":"POST","path":"cmb-pix-gerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[704,-208],"id":"6e726105-ee78-458f-bb33-6aec783391bf","name":"PIX gerado","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"httpMethod":"POST","path":"cmb-reembolso-realizado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[816,240],"id":"3d011930-28d1-40d4-8cf9-2d79e090bc68","name":"Reembolso realizado","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"httpMethod":"POST","path":"cmb-chargeback","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,256],"id":"24b2d603-de78-48b7-b7a3-eca9d011d611","name":"Chargeback","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,96],"id":"952e37ef-dcf7-415d-80f4-6f2db31bc76c","name":"Criar contato"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-pix-boleto-expirado\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,96],"id":"f932f20e-9f50-4f9c-992b-b5954287a299","name":"Atribuir tag"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-464],"id":"9bce89b7-2ff8-4cd0-86ab-cda861f69c80","name":"Criar contato1"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-compra-aprovada\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,-464],"id":"1c68ba82-03ea-477e-ba67-46737936bf51","name":"Atribuir tag1"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,64],"id":"9b7c618e-9805-492d-b03a-594c6808b663","name":"Criar contato2"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-pediu-reembolso\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,64],"id":"7de2eb28-bca5-46de-bc54-26e637d63d6a","name":"Atribuir tag2"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,256],"id":"364c5ee3-ac4b-4868-859c-2b5d8f858fd5","name":"Criar contato3"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-chargeback\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,256],"id":"0abd7ec7-d850-4f49-adbb-dea52cafc24e","name":"Atribuir tag3"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,240],"id":"3f654174-e75a-4288-890e-867db2067361","name":"Criar contato4"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-reembolso-realizado\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,240],"id":"a0f2408a-7c8b-4d5f-9ecc-a9af291ccfc9","name":"Atribuir tag4"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-288],"id":"608dcbaa-7f06-4d03-b666-87571914e06f","name":"Criar contato5"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-abandono-carrinho\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,-288],"id":"47d0e2b5-d207-494f-b67b-ed62e69e443f","name":"Atribuir tag5"},{"parameters":{"httpMethod":"POST","path":"cmb-pix-boleto-expirado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,96],"id":"55fffa0d-a30e-44d4-bbd1-6f23b7250a07","name":"Pix e boleto expirado","webhookId":"f25694ba-d847-4032-9ef6-0e354997da0d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74070225-038c-4252-8561-4793942f8f24","leftValue":"={{ $json.body.data.purchase.payment.type }}","rightValue":"BILLET","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,-560],"id":"ec6d20ec-ad98-46c3-8511-6fc0a47defc6","name":"If"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,-464],"id":"349e5af6-ad5e-4647-959b-36ba0a85ad45","name":"Criar contato6"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-boleto-gerado\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-464],"id":"0e927c3f-ad55-48da-9064-7f4038dc968c","name":"Atribuir tag6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74070225-038c-4252-8561-4793942f8f24","leftValue":"={{ $json.body.data.purchase.payment.type }}","rightValue":"PIX","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,-304],"id":"0b4b0ebe-b0b1-4828-bfa1-17007fefc003","name":"If1"},{"parameters":{"method":"POST","url":"https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.email }}\",\n  \"reactivate_existing\": true,\n  \"send_welcome_email\": false,\n  \"custom_fields\": [\n    { \"name\": \"primeiro-nome\", \"value\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.name }}\" },\n    { \"name\": \"celular\", \"value\": \"{{ $('Pix e boleto expirado').item.json.body.data.buyer.checkout_phone }}\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,-208],"id":"793f8dfb-24fe-4d6d-ac70-4a96cc082266","name":"Criar contato7"},{"parameters":{"method":"POST","url":"=https://api.beehiiv.com/v2/publications/pub_9d7946c5-f5d1-4cca-bca7-6af76c4faa81/subscriptions/{{ $json.data.id }}/tags ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer Crqq8oCxVPLdSPl0Si9BkGfd0SdOfGbwHJbQNDbFfqt8I7PIMjHW7d2lGO5Ngzuu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\"cmb-pix-gerado\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-208],"id":"aca22541-1a2d-46ac-a242-4f80361fae05","name":"Atribuir tag7"}],"connections":{"Compra aprovada":{"main":[[{"node":"Criar contato1","type":"main","index":0}]]},"Criar contato":{"main":[[{"node":"Atribuir tag","type":"main","index":0}]]},"Criar contato1":{"main":[[{"node":"Atribuir tag1","type":"main","index":0}]]},"Criar contato2":{"main":[[{"node":"Atribuir tag2","type":"main","index":0}]]},"Pediu reembolso":{"main":[[{"node":"Criar contato2","type":"main","index":0}]]},"Criar contato3":{"main":[[{"node":"Atribuir tag3","type":"main","index":0}]]},"Criar contato4":{"main":[[{"node":"Atribuir tag4","type":"main","index":0}]]},"Chargeback":{"main":[[{"node":"Criar contato3","type":"main","index":0}]]},"Reembolso realizado":{"main":[[{"node":"Criar contato4","type":"main","index":0}]]},"Criar contato5":{"main":[[{"node":"Atribuir tag5","type":"main","index":0}]]},"Abandono carrinho":{"main":[[{"node":"Criar contato5","type":"main","index":0}]]},"Pix e boleto expirado":{"main":[[{"node":"Criar contato","type":"main","index":0}]]},"Boleto gerado":{"main":[[{"node":"If","type":"main","index":0}]]},"Criar contato6":{"main":[[{"node":"Atribuir tag6","type":"main","index":0}]]},"If":{"main":[[{"node":"Criar contato6","type":"main","index":0}]]},"If1":{"main":[[{"node":"Criar contato7","type":"main","index":0}]]},"Criar contato7":{"main":[[{"node":"Atribuir tag7","type":"main","index":0}]]},"PIX gerado":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d1213514-6a96-4d61-a979-277e175ce1c5","triggerCount":8,"shared":[{"createdAt":"2025-08-27T23:43:37.823Z","updatedAt":"2025-08-27T23:43:37.823Z","role":"workflow:owner","workflowId":"HLfLbz6wvhSfOc99","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}