mentoria---popup-c8S8y5RI4fW2gJiB.json
{"createdAt":"2025-06-11T16:45:03.339Z","updatedAt":"2025-08-20T17:44:52.101Z","id":"c8S8y5RI4fW2gJiB","name":"Mentoria - Popup","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intima-pro-popup1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,-880],"id":"e02bb1d0-13c1-4c45-aa08-f5b5befc87ed","name":"Popup","webhookId":"c47f62bd-e800-4d21-9d7c-c21f8603c3d6"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/775e50bf-ebd5-4e99-86dd-2c9d003a38eb","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('Popup').item.json.body['fields[nome][value]'] }}"},{"name":"email","value":"={{ $('Popup').item.json.body['fields[email][value]'] }}"},{"name":"telefone","value":"={{ $('Popup').item.json.body['fields[telefone][value]'] }}"},{"name":"utm_campaign","value":"={{ $('Popup').item.json.body['fields[utm_campaign][value]'] }}"},{"name":"utm_content","value":"={{ $('Popup').item.json.body['fields[utm_content][value]'] }}"},{"name":"utm_term","value":"={{ $('Popup').item.json.body['fields[utm_term][value]'] }}"},{"name":"utm_medium","value":"={{ $('Popup').item.json.body['fields[utm_medium][value]'] }}"},{"name":"utm_source","value":"={{ $('Popup').item.json.body['fields[utm_source][value]'] }}"},{"name":"dono","value":"taiberkenbrock@gmail.com"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,-880],"id":"4d6b9085-6680-4dae-a5da-d1246cff34ae","name":"HTTP Request"},{"parameters":{"content":"Planilha: https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit?usp=sharing","height":480,"width":880},"type":"n8n-nodes-base.stickyNote","position":[-208,-1056],"typeVersion":1,"id":"a5e9de81-6270-43c1-bf09-22cb86e53211","name":"Sticky Note"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys","mode":"url"},"sheetName":{"__rl":true,"value":957534147,"mode":"list","cachedResultName":"Popup","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit#gid=957534147"},"columns":{"mappingMode":"defineBelow","value":{"E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","Nome":"={{ $json.body['fields[nome][value]'] }}","Data de cadastro":"={{ new Date($now).toLocaleDateString('pt-BR') }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de cadastro","displayName":"Data de cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,-880],"id":"f96eb562-f034-4a26-bcc4-00a17d31ece0","name":"add planilha - popup","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Popup":{"main":[[{"node":"add planilha - popup","type":"main","index":0}]]},"add planilha - popup":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1eda9f2-383d-42aa-8ea8-b81d4cf921e0","triggerCount":1,"shared":[{"createdAt":"2025-06-11T16:45:03.339Z","updatedAt":"2025-06-11T16:45:03.339Z","role":"workflow:owner","workflowId":"c8S8y5RI4fW2gJiB","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}