mentoria---compra-aprovada-e-reembolso-LT3tVf4O8RBNhvkp.json
{"createdAt":"2025-05-31T15:23:45.558Z","updatedAt":"2025-06-11T16:44:51.440Z","id":"LT3tVf4O8RBNhvkp","name":"Mentoria - Compra aprovada e Reembolso","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intima-pro-popup","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,-480],"id":"d3aba022-bccc-478f-b7db-8106d4f3a19f","name":"Popup","webhookId":"e7d429d9-b873-448f-9aaa-7c34c6848de7"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1XFWmVaoZAGeKUBOiZc7PbCdwKN2163foV-2gMLzT4Z0/edit?pli=1&gid=841117861#gid=841117861","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Popup -> Checkout","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XFWmVaoZAGeKUBOiZc7PbCdwKN2163foV-2gMLzT4Z0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body['fields[nome][value]'] }}","E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","Data de cadastro":"={{ new Date().toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de cadastro","displayName":"Data de cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,-480],"id":"c901d1d8-fb3c-4887-ae31-129f6c3e95d9","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/fbaacd79-575e-4726-92ef-c131b66d154c","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.Nome }}"},{"name":"email","value":"={{ $json['E-mail'] }}"},{"name":"telefone","value":"={{ $json.Telefone }}"},{"name":"utm_campaign","value":"={{ $json.utm_campaign }}"},{"name":"utm_content","value":"={{ $json.utm_content }}"},{"name":"utm_term","value":"={{ $json.utm_term }}"},{"name":"utm_medium","value":"={{ $json.utm_medium }}"},{"name":"utm_source","value":"={{ $json.utm_source }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,-480],"id":"fd86af03-6fc4-4b88-b526-47fefd989039","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"intima-pro-kiwify","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,-880],"id":"6fa87d51-34dc-4bbe-8472-d2848caadea0","name":"Compra aprovada","webhookId":"1b2234fc-875a-41e7-99d4-5a89b734f0be"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1XFWmVaoZAGeKUBOiZc7PbCdwKN2163foV-2gMLzT4Z0/edit?pli=1&gid=841117861#gid=841117861","mode":"url"},"sheetName":{"__rl":true,"value":841117861,"mode":"list","cachedResultName":"Carrinho Abandonado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XFWmVaoZAGeKUBOiZc7PbCdwKN2163foV-2gMLzT4Z0/edit#gid=841117861"},"columns":{"mappingMode":"defineBelow","value":{"E-mail":"={{ $json.body.email }}","Telefone":"={{ $json.body.phone }}","Nome":"={{ $json.body.name }}","Data do abandono":"={{ new Date($json.body.created_at).toLocaleString(\"pt-BR\", {\n  day: \"2-digit\",\n  month: \"2-digit\",\n  year: \"numeric\"\n}) }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do abandono","displayName":"Data do abandono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,40],"id":"0ea6aadd-a9b6-4098-bbdb-f2141f53e0b9","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/545f90a0-1cfd-4ed6-8369-de62475daf35","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json.Nome }}"},{"name":"email","value":"={{ $json['E-mail'] }}"},{"name":"telefone","value":"={{ $json.Telefone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,40],"id":"e7029ab4-e55e-4fbd-8bff-f69a15b25345","name":"HTTP Request2"},{"parameters":{"httpMethod":"POST","path":"3deaad4d-6149-4395-803d-3b13cebf1d29","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,40],"id":"3f30f646-76fe-4197-a322-28b86e40f155","name":"Carrinho abandonado","webhookId":"3deaad4d-6149-4395-803d-3b13cebf1d29"},{"parameters":{"content":"Kiwify\nPlanilha: https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit?usp=sharing","height":600,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[-280,-1160],"typeVersion":1,"id":"f237831c-a9ff-4cd9-9fe1-1d30ff367687","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cad8e37-ef84-488c-94cf-f60ae0865d2f","leftValue":"={{ $json.body.order_status }}","rightValue":"paid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,-880],"id":"697968dd-fde1-4f46-a706-ceb1348a4f96","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys","mode":"url"},"sheetName":{"__rl":true,"value":1053907731,"mode":"list","cachedResultName":"Compra aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit#gid=1053907731"},"columns":{"mappingMode":"defineBelow","value":{"E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","Nome":"={{ $json.body.Customer.full_name }}","Data da venda":"={{ new Date($json.body.created_at).toLocaleString(\"pt-BR\", {\n  day: \"2-digit\",\n  month: \"2-digit\",\n  year: \"numeric\"\n}) }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da venda","displayName":"Data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[420,-1020],"id":"b46f1654-59aa-46c7-b308-6449b89afba5","name":"compra aprovada","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys","mode":"url"},"sheetName":{"__rl":true,"value":878040492,"mode":"list","cachedResultName":"Reembolsado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit#gid=878040492"},"columns":{"mappingMode":"defineBelow","value":{"E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","Nome":"={{ $json.body.Customer.full_name }}","Data do reembolso":"={{ new Date($json.body.created_at).toLocaleString(\"pt-BR\", {\n  day: \"2-digit\",\n  month: \"2-digit\",\n  year: \"numeric\"\n}) }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do reembolso","displayName":"Data do reembolso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[420,-780],"id":"d22b3270-b1e7-4db9-842e-58b13db49c72","name":"compra aprovada1","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Popup":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Compra aprovada":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Carrinho abandonado":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"If":{"main":[[{"node":"compra aprovada","type":"main","index":0}],[{"node":"compra aprovada1","type":"main","index":0}]]},"compra aprovada":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8cf7118d-22e9-4bf3-93d9-681c56842d39","triggerCount":3,"shared":[{"createdAt":"2025-05-31T15:23:45.558Z","updatedAt":"2025-05-31T15:23:45.558Z","role":"workflow:owner","workflowId":"LT3tVf4O8RBNhvkp","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}