mentoria---aplicação-(respondiapp)-xb7K26jTnLfjSQ15.json
{"createdAt":"2025-06-11T21:01:16.821Z","updatedAt":"2025-09-23T19:11:54.675Z","id":"xb7K26jTnLfjSQ15","name":"Mentoria - Aplicação (RespondiApp)","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"FLUXO VIVI AMARAL - RESPONDIAPP \n RECEBE WEBHOOK - ADICIONA NA TABELA ( PAGINA RESPONDIAPP )\n\n\nPlanilha: https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit?usp=sharing","height":440,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-224,-1088],"typeVersion":1,"id":"b473954e-f920-4ead-8f60-bf169129c81d","name":"Sticky Note"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys","mode":"url"},"sheetName":{"__rl":true,"value":751522540,"mode":"list","cachedResultName":"Aplicação (RespondiApp)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit#gid=751522540"},"columns":{"mappingMode":"defineBelow","value":{"Nome Completo":"={{ $json.body.respondent.answers['Qual seu nome completo:'] }}","E-mail":"={{ $json.body.respondent.answers['Qual é o seu melhor e-mail?'] }}","WhatsApp":"={{ $json.body.respondent.answers['Qual é o seu WhatsApp?'] }}","Há quanto tempo você conhece a Dra. Vivian Amaral?":"={{ $json.body.respondent.answers['Há quanto tempo você conhece a Dra. Vivian Amaral?'] }}","Qual é a sua especialização?":"={{ $json.body.respondent.answers['Qual é a sua especialização?'] }}","Como você considera o seu nível de conhecimento em Rejuvenescimento Íntimo?":"={{ $json.body.respondent.answers['Como você considera o seu nível de conhecimento em Rejuvenescimento Íntimo?'] }}","Qual é o seu principal objetivo/motivação para entrar na Mentoria Tecnologia ÍntimaPro?":"={{ $json.body.respondent.answers['Qual é o seu principal objetivo/motivação para entrar na Mentoria Tecnologia ÍntimaPro?'] }}","Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? (à vista ou parcelado em até 12x no cartão)":"={{ $json.body.respondent.answers['Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? (à vista ou parcelado em até 12x no cartão)'] }}","Data do Cadastro":"={{ new Date($json.body.respondent.date).toLocaleDateString('pt-BR') }}"},"matchingColumns":[],"schema":[{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Há quanto tempo você conhece a Dra. Vivian Amaral?","displayName":"Há quanto tempo você conhece a Dra. Vivian Amaral?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua especialização?","displayName":"Qual é a sua especialização?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Como você considera o seu nível de conhecimento em Rejuvenescimento Íntimo?","displayName":"Como você considera o seu nível de conhecimento em Rejuvenescimento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu principal objetivo/motivação para entrar na Mentoria Tecnologia ÍntimaPro?","displayName":"Qual é o seu principal objetivo/motivação para entrar na Mentoria Tecnologia ÍntimaPro?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? (à vista ou parcelado em até 12x no cartão)","displayName":"Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? (à vista ou parcelado em até 12x no cartão)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[64,-896],"id":"35b4fb38-51da-4e70-bf3c-89c4b54528af","name":"add planilha - lp","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/0baf95eb-0595-4775-bcad-27b97ecc35c1","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json['Nome Completo'] }}"},{"name":"email","value":"={{ $json['E-mail'] }}"},{"name":"especializacao","value":"={{ $json['Qual é a sua especialização?'] }}"},{"name":"quanto_tempo","value":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Há quanto tempo você conhece a Dra. Vivian Amaral?'] }}"},{"name":"nivel_conhecimento","value":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Como você considera o seu nível de conhecimento em Rejuvenescimento Íntimo?'] }}"},{"name":"objetivo_motivacao","value":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual é o seu principal objetivo/motivação para entrar na Mentoria ÍntimaPro?'] }}"},{"name":"cond_pgto","value":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? (à vista ou parcelado em até 12x no cartão)'] }}"},{"name":"dono","value":"thaiscamila.fisio@gmail.com"},{"name":"telefone","value":"={{ $json.WhatsApp }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-896],"id":"e6985d54-d85b-4666-8517-97aeba5c784b","name":"clint"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/webhook/custom/lead/efef6eea7f015af27defbfa7922d04a2?name=name&email=email&phone=telefone","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual seu nome completo:'] }}"},{"name":"email","value":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual é o seu melhor e-mail?'] }}"},{"name":"telefone","value":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual é o seu WhatsApp?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-896],"id":"40f659cb-1715-452f-b315-df599749ccb7","name":"sellflux"},{"parameters":{"httpMethod":"POST","path":"intima-pro-aplicacao-respondi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,-896],"id":"b06a762f-83cd-43e9-a402-cc521749310a","name":"Aplicação RespondiApp","webhookId":"803470bf-8b8d-420e-a076-23948d833322"},{"parameters":{"content":"FLUXO VIVI AMARAL - RESPONDIAPP \n FAZ CADASTRO NA CLINT - E MANDA E-MAIL PARA \n\n(thais_camila@hotmail.com,\njhonatateixeira.adm@gmail.com) ","height":440,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[208,-1088],"typeVersion":1,"id":"1e5a78f3-48a4-4130-8e54-4b5212e50b40","name":"Sticky Note1"},{"parameters":{"sendTo":"thais_camila@hotmail.com,jhonatateixeira.adm@gmail.com,taiberkenbrock@gmail.com","subject":"={{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual seu nome completo:'] }} - Novo Cadastro na Página ","message":"=<div style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px;\">   <h2 style=\"color: #4CAF50;\">📥 Novo Lead – IntimaPro</h2>   <p>Um novo lead acaba de preencher o formulário do site:</p>    <table cellpadding=\"6\" cellspacing=\"0\" border=\"0\" style=\"background: #f9f9f9; border-radius: 6px; width: 100%; margin-top: 10px;\">     <tr>       <td><strong>👤 Nome:</strong></td>       <td> {{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual seu nome completo:'] }}</td>     </tr>     <tr>       <td><strong>📧 E-mail:</strong></td>       <td> {{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual é o seu melhor e-mail?'] }}</td>     </tr>     <tr>       <td><strong>📱 Telefone:</strong></td>       <td> {{ $('Aplicação RespondiApp').item.json.body.respondent.answers['Qual é o seu WhatsApp?'] }}</td>     </tr>     <tr>       <td><strong>🕒 Data/hora:</strong></td>       <td>{{ $('add planilha - lp').item.json['Data do Cadastro'] }}</td>     </tr>   </table>    <p style=\"margin-top: 20px;\">✅ <strong>Lead salvo na planilha e aguardando contato.</strong></p> </div>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,-896],"id":"30a54133-690b-4d26-8173-ec099592c55f","name":"gmail","webhookId":"a5aad884-f0f1-4afe-b909-7f4e9a1fee87","credentials":{"gmailOAuth2":{"id":"2NkPLi4Kad5suu1h","name":"Gmail account"}}},{"parameters":{"content":"FLUXO VIVI AMARAL - RESPONDIAPP \n\n FAZ CADASTRO NA SELLFLUX.","height":440,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","position":[640,-1088],"typeVersion":1,"id":"ad963a3c-9385-49c6-8fec-c68ce5930547","name":"Sticky Note2"}],"connections":{"add planilha - lp":{"main":[[{"node":"clint","type":"main","index":0}]]},"clint":{"main":[[{"node":"gmail","type":"main","index":0}]]},"Aplicação RespondiApp":{"main":[[{"node":"add planilha - lp","type":"main","index":0}]]},"gmail":{"main":[[{"node":"sellflux","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Popup":[{"json":{"nome":"João Silva","email":"joao.silva@email.com","telefone":"+5511999998888","especializacao":"Ginecologia","anos_formacao":"10","nivel_conhecimento":"Intermediário","gostaria_aprender":"Protocolos avançados, técnicas inovadoras e marketing para rejuvenescimento íntimo","maior_dificuldade":"Conversão de interesse em fechamento de pacotes","faturamento_convenios":"7000","faturamento_particular":"3500","objetivo_motivacao":"Aumentar o faturamento e se tornar referência na área","barreiras":"Tempo limitado e dificuldade em captar pacientes do particular","sonho":"Ter uma clínica reconhecida nacionalmente","cond_pgto":"Cartão de crédito em 12x","data_cadastro":"11/06/2025","utm_campaign":"campanha-lancamento","utm_source":"instagram","utm_medium":"stories","utm_term":"rejuvenescimento-intimo","utm_content":"banner-01"}}]},"versionId":"3d3ce800-3436-4f79-abb6-c020456ca63a","triggerCount":1,"shared":[{"createdAt":"2025-06-11T21:01:16.821Z","updatedAt":"2025-06-11T21:01:16.821Z","role":"workflow:owner","workflowId":"xb7K26jTnLfjSQ15","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}