mentoria---aplicação-(página)-NHBroyEo6kdJ3CBb.json
{"createdAt":"2025-06-11T16:56:51.632Z","updatedAt":"2025-09-04T17:33:23.316Z","id":"NHBroyEo6kdJ3CBb","name":"Mentoria - Aplicação (Página)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intima-pro-aplicacao-pagina","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,-896],"id":"f10bf2df-9dc8-4a3a-9c16-1e9f2d7fa820","name":"Aplicação LP","webhookId":"a2dbe9dc-3402-45ac-9fd8-0b2f72ad1178"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys","mode":"url"},"sheetName":{"__rl":true,"value":1327204189,"mode":"list","cachedResultName":"Aplicação (LP)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit#gid=1327204189"},"columns":{"mappingMode":"defineBelow","value":{"Nome Completo":"={{ $json.body.pergunta_1 }}","E-mail":"={{ $json.body.pergunta_2 }}","WhatsApp":"={{ $json.body.pergunta_3 }}","Qual é a sua especialização?":"={{ $json.body.pergunta_4 }}","Quantos anos de formação e atuação?":"={{ $json.body.pergunta_6 }}","Como você considera o seu nível de conhecimento em rejuvenescimento íntimo feminino?":"={{ $json.body.pergunta_7 }}","O que você gostaria de aprender sobre rejuvenescimento íntimo?":"={{ $json.body.pergunta_8 }}","Qual é a sua principal dificuldade em vender para o seu paciente hoje? ":"={{ $json.body.pergunta_9 }}","Qual é o seu faturamento mensal atual com consultas por convênios?":"={{ $json.body.pergunta_10 }}","E com consultas particulares?":"={{ $json.body.pergunta_11 }}","Qual é o seu principal objetivo/motivação para entrar na Mentoria ÍntimaPro?":"={{ $json.body.pergunta_12 }}","Quais são as principais barreiras que te impedem de alcançar esse objetivo?":"={{ $json.body.pergunta_13 }}","Qual o maior sonho (pessoal ou profissional) que você deseja alcançar com a medicina?":"={{ $json.body.pergunta_14 }}","Data do Cadastro":"={{ new Date($now).toLocaleDateString('pt-BR') }}","Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? ":"={{ $json.body.pergunta_15 }}","Qual é o seu número de CRM?":"={{ $json.body.pergunta_5 }}"},"matchingColumns":[],"schema":[{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua especialização?","displayName":"Qual é a sua especialização?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu número de CRM?","displayName":"Qual é o seu número de CRM?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quantos anos de formação e atuação?","displayName":"Quantos anos de formação e atuação?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Como você considera o seu nível de conhecimento em rejuvenescimento íntimo feminino?","displayName":"Como você considera o seu nível de conhecimento em rejuvenescimento íntimo feminino?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"O que você gostaria de aprender sobre rejuvenescimento íntimo?","displayName":"O que você gostaria de aprender sobre rejuvenescimento íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua principal dificuldade em vender para o seu paciente hoje? ","displayName":"Qual é a sua principal dificuldade em vender para o seu paciente hoje? ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu faturamento mensal atual com consultas por convênios?","displayName":"Qual é o seu faturamento mensal atual com consultas por convênios?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E com consultas particulares?","displayName":"E com consultas particulares?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu principal objetivo/motivação para entrar na Mentoria ÍntimaPro?","displayName":"Qual é o seu principal objetivo/motivação para entrar na Mentoria ÍntimaPro?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quais são as principais barreiras que te impedem de alcançar esse objetivo?","displayName":"Quais são as principais barreiras que te impedem de alcançar esse objetivo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual o maior sonho (pessoal ou profissional) que você deseja alcançar com a medicina?","displayName":"Qual o maior sonho (pessoal ou profissional) que você deseja alcançar com a medicina?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? ","displayName":"Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[64,-896],"id":"437b3a6a-245d-4728-963c-e031eab14649","name":"add planilha - lp","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/30364e87-39fc-43f3-91c2-53a0fbc7ba09","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json['Nome Completo'] }}"},{"name":"email","value":"={{ $json['E-mail'] }}"},{"name":"especializacao","value":"={{ $json['Qual é a sua especialização?'] }}"},{"name":"anos_formacao","value":"={{ $json['Quantos anos de formação e atuação?'] }}"},{"name":"nivel_conhecimento","value":"={{ $json['Como você considera o seu nível de conhecimento em rejuvenescimento íntimo feminino?'] }}"},{"name":"gostaria_aprender","value":"={{ $json['O que você gostaria de aprender sobre rejuvenescimento íntimo?'] }}"},{"name":"maior_dificuldade","value":"={{ $json['Qual é a sua principal dificuldade em vender para o seu paciente hoje? '] }}"},{"name":"faturamento_convenios","value":"={{ $json['Qual é o seu faturamento mensal atual com consultas por convênios?'] }}"},{"name":"faturamento_particular","value":"={{ $json['E com consultas particulares?'] }}"},{"name":"objetivo_motivacao","value":"={{ $json['Qual é o seu principal objetivo/motivação para entrar na Mentoria ÍntimaPro?'] }}"},{"name":"barreiras","value":"={{ $json['Quais são as principais barreiras que te impedem de alcançar esse objetivo?'] }}"},{"name":"sonho","value":"={{ $json['Qual o maior sonho (pessoal ou profissional) que você deseja alcançar com a medicina?'] }}"},{"name":"cond_pgto","value":"={{ $json['Caso a sua aplicação seja aprovada, como você pretende fazer o investimento? '] }}"},{"name":"dono","value":"taiberkenbrock@gmail.com"},{"name":"Qual número CRM","value":"={{ $('Aplicação LP').item.json.body.pergunta_5 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-896],"id":"924008e8-3326-44bb-8915-903c07918bbd","name":"clint"},{"parameters":{"sendTo":"thais_camila@hotmail.com,jhonatateixeira.adm@gmail.com,taiberkenbrock@gmail.com","subject":"={{ $('Aplicação LP').item.json.body.pergunta_1 }} - Novo Cadastro na Página ","message":"=<div style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px;\">   <h2 style=\"color: #4CAF50;\">📥 Novo Lead – IntimaPro</h2>   <p>Um novo lead acaba de preencher o formulário do site:</p>    <table cellpadding=\"6\" cellspacing=\"0\" border=\"0\" style=\"background: #f9f9f9; border-radius: 6px; width: 100%; margin-top: 10px;\">     <tr>       <td><strong>👤 Nome:</strong></td>       <td>{{ $('Aplicação LP').item.json.body.pergunta_1 }}</td>     </tr>     <tr>       <td><strong>📧 E-mail:</strong></td>       <td>{{ $('Aplicação LP').item.json.body.pergunta_2 }}</td>     </tr>     <tr>       <td><strong>📱 Telefone:</strong></td>       <td>{{ $('Aplicação LP').item.json.body.pergunta_3 }}</td>     </tr>     <tr>       <td><strong>🕒 Data/hora:</strong></td>       <td>{{ $('add planilha - lp').item.json['Data do Cadastro'] }}</td>     </tr>   </table>    <p style=\"margin-top: 20px;\">✅ <strong>Lead salvo na planilha e aguardando contato.</strong></p> </div>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,-896],"id":"70a59c11-00cc-4b21-843f-be5706aebeb0","name":"gmail","webhookId":"62a2266c-255c-4710-8f6e-836b9ea9b093","credentials":{"gmailOAuth2":{"id":"2NkPLi4Kad5suu1h","name":"Gmail account"}}},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/webhook/custom/lead/efef6eea7f015af27defbfa7922d04a2?name=name&email=email&phone=telefone","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Aplicação LP').item.json.body.pergunta_1 }}"},{"name":"email","value":"={{ $('Aplicação LP').item.json.body.pergunta_2 }}"},{"name":"telefone","value":"={{ $('Aplicação LP').item.json.body.pergunta_3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-896],"id":"5c21d9ad-9d14-4c17-bd39-374a9d6da7c4","name":"sellflux"},{"parameters":{"content":"FLUXO VIVI AMARAL - RESPONDIAPP \n RECEBE WEBHOOK - ADICIONA NA TABELA ( PAGINA APLICAÇÃO )\n\n\nPlanilha: https://docs.google.com/spreadsheets/d/1XlKF2XBH-ed1EqCVanZ3TytmprikPmlukCYktD8g-Ys/edit?usp=sharing","height":440,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-176,-1104],"typeVersion":1,"id":"f8592012-f6c9-4b8c-b107-d9b650e1a46e","name":"Sticky Note1"},{"parameters":{"content":"FLUXO VIVI AMARAL - RESPONDIAPP \n FAZ CADASTRO NA CLINT - E MANDA E-MAIL PARA \n\n(thais_camila@hotmail.com,\njhonatateixeira.adm@gmail.com) ","height":440,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[240,-1104],"typeVersion":1,"id":"d56efaed-2ce9-4d6a-b4e5-6b901b6a27b6","name":"Sticky Note2"},{"parameters":{"content":"FLUXO VIVI AMARAL - RESPONDIAPP \n\n FAZ CADASTRO NA SELLFLUX.","height":440,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","position":[688,-1104],"typeVersion":1,"id":"c442a590-58d4-411a-b9cc-096e9049fe63","name":"Sticky Note"}],"connections":{"Aplicação LP":{"main":[[{"node":"add planilha - lp","type":"main","index":0}]]},"add planilha - lp":{"main":[[{"node":"clint","type":"main","index":0}]]},"clint":{"main":[[{"node":"gmail","type":"main","index":0}]]},"gmail":{"main":[[{"node":"sellflux","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Popup":[{"json":{"nome":"João Silva","email":"joao.silva@email.com","telefone":"+5511999998888","especializacao":"Ginecologia","anos_formacao":"10","nivel_conhecimento":"Intermediário","gostaria_aprender":"Protocolos avançados, técnicas inovadoras e marketing para rejuvenescimento íntimo","maior_dificuldade":"Conversão de interesse em fechamento de pacotes","faturamento_convenios":"7000","faturamento_particular":"3500","objetivo_motivacao":"Aumentar o faturamento e se tornar referência na área","barreiras":"Tempo limitado e dificuldade em captar pacientes do particular","sonho":"Ter uma clínica reconhecida nacionalmente","cond_pgto":"Cartão de crédito em 12x","data_cadastro":"11/06/2025","utm_campaign":"campanha-lancamento","utm_source":"instagram","utm_medium":"stories","utm_term":"rejuvenescimento-intimo","utm_content":"banner-01"}}]},"versionId":"3c72e614-bfe5-40e8-bbe2-329078eaeba8","triggerCount":1,"shared":[{"createdAt":"2025-06-11T16:56:51.632Z","updatedAt":"2025-06-11T16:56:51.632Z","role":"workflow:owner","workflowId":"NHBroyEo6kdJ3CBb","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}