my-workflow-7-EfG58cAOVL76AFVR.json
{"createdAt":"2025-08-06T02:39:23.031Z","updatedAt":"2025-08-06T02:39:23.031Z","id":"EfG58cAOVL76AFVR","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[144,192],"id":"a53f8771-8d39-4268-bd7b-e043f63fb28c","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0974d88-e36d-4b73-9c0e-615f28853d65","leftValue":"={{ $json.body.remoteJid }}","rightValue":"5511997774880@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"83403398-f8cf-46b1-88ce-fcf79b7f88e5","leftValue":"={{ JSON.stringify($json.body) }}","rightValue":"/call","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,-80],"id":"5ddd0617-e59d-4865-b86e-f0db0b1fa405","name":"If"},{"parameters":{"httpMethod":"POST","path":"1a361660-b0f8-401c-924b-5b2fde52a618","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-304,-80],"id":"790c9013-4116-4572-a91a-76233e2ad0bf","name":"Webhook","webhookId":"1a361660-b0f8-401c-924b-5b2fde52a618"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.remoteJid }}","rightValue":"5511997774880@s.whatsapp.net","operator":{"type":"string","operation":"equals"},"id":"f5f84f3b-042e-4fe4-95c1-d5143d384951"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0f13e27-525e-4aa5-a509-be6c6fc39af3","leftValue":"={{ JSON.stringify($json.body) }}","rightValue":"/call","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Meet"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,-272],"id":"e210779b-427b-4ff4-8110-0b3d7259d12a","name":"Switch"},{"parameters":{"calendar":{"__rl":true,"value":"robsonnunes.infra@gmail.com","mode":"list","cachedResultName":"robsonnunes.infra@gmail.com"},"end":"={{ $now.plus(30, 'minute') }}","additionalFields":{"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}}}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[400,-112],"id":"b5797331-43ff-4add-9b27-04f03acca70e","name":"Cria evento"},{"parameters":{"method":"POST","url":"https://evolution-api.robsondcn.com.br/message/sendText/Modu","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"161F3F365B36-48AF-9AB7-6459E358D6A2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $item(0).$node['Webhook'].json['body']['data']['key']['remoteJid'] }}"},{"name":"text","value":"={{ $json.hangoutLink }}"}]},"options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,48],"id":"7973d640-794a-4d68-909d-f0b77261aa34","name":"Enviar no Grupo"}],"connections":{"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Cria evento","type":"main","index":0}]]},"Cria evento":{"main":[[{"node":"Enviar no Grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc83d928-4e10-4a04-8dac-d378fb0cea55","triggerCount":0,"shared":[{"createdAt":"2025-08-06T02:39:23.031Z","updatedAt":"2025-08-06T02:39:23.031Z","role":"workflow:owner","workflowId":"EfG58cAOVL76AFVR","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}