my-workflow-8-kI1Yd5nCzmEUEXQq.json
{"createdAt":"2025-08-06T20:25:33.189Z","updatedAt":"2025-08-06T20:25:33.189Z","id":"kI1Yd5nCzmEUEXQq","name":"My workflow 8","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"10e150e0-90b4-4877-87f2-ebab854c4326","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1152,0],"id":"fd218968-6b49-479e-886d-a62b48aa9507","name":"Webhook","webhookId":"10e150e0-90b4-4877-87f2-ebab854c4326"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17004b8e-d79d-4d68-beeb-d89ae7b8b014","leftValue":"investimento","rightValue":"sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,0],"id":"310dabd1-8dc4-4934-8d79-ce0abe0784c6","name":"If"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-96],"id":"719221c2-f5fe-46c7-8dfd-b6bb041684dd","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,64],"id":"44baf647-b460-4dba-87b3-b545ca8782ef","name":"Code1"},{"parameters":{"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"dono"},{"name":"tag"},{},{},{},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-96],"id":"e778b146-0e90-4e4f-8271-c4b4ffff674d","name":"HTTP Request"},{"parameters":{"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"dono"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-80],"id":"55fe2412-2731-4b71-bfc9-0a2115cd9053","name":"HTTP Request1"},{"parameters":{"height":672,"width":1136},"type":"n8n-nodes-base.stickyNote","position":[-752,-304],"typeVersion":1,"id":"54cfebe3-3e3c-44eb-b780-62f1655d1c92","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8ba4dedc-f9fc-424c-b001-3a2283e011bd","triggerCount":0,"shared":[{"createdAt":"2025-08-06T20:25:33.189Z","updatedAt":"2025-08-06T20:25:33.189Z","role":"workflow:owner","workflowId":"kI1Yd5nCzmEUEXQq","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}