my-workflow-6-MMqxgHWTshGbTD2h.json
{"createdAt":"2025-07-18T20:43:22.410Z","updatedAt":"2025-07-18T20:53:23.982Z","id":"MMqxgHWTshGbTD2h","name":"My workflow 6","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"castelo-interior-recuperacao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-100],"id":"9a2c7606-97f5-481e-89e3-7962fd8f56c1","name":"Webhook","webhookId":"4060c705-e9dc-4db1-8fcb-8eba6f2a35d0"},{"parameters":{"assignments":{"assignments":[{"id":"116be585-2a59-4ca1-a5fb-148e6d98887a","name":"Status","value":"Carrinho abandonado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-200],"id":"e1f9d739-aeab-4cae-8cc9-4e57e6d7b53e","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b207e0e0-537b-4c71-bc38-8e5fefb9745c","leftValue":"={{ $json.body.status }}","rightValue":"abandoned","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,-100],"id":"d69845cc-3b79-4878-a5b0-97508823df56","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"116be585-2a59-4ca1-a5fb-148e6d98887a","name":"Status","value":"Compra cancelada","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,0],"id":"1c37121e-97b4-42bd-bce9-aefd0f69b9af","name":"Edit Fields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Jm9NcmrZdiuRSBngnhJoRJygApY97llEltrk7IHmWZU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Recuperação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jm9NcmrZdiuRSBngnhJoRJygApY97llEltrk7IHmWZU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body.Customer.full_name }}","Status":"={{ $json.Status }}","E-mail":"={{ $('Webhook').item.json.body.Customer.email }}","Telefone":"=https://wa.me/{{ $('Webhook').item.json.body.Customer.mobile.replace(/[^0-9]/g, '') }}","Data":"={{ new Date().toLocaleString('pt-BR', { hour12: false }) }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[360,0],"id":"6d23a771-a1d5-49ec-90cb-c55b4ea0ca90","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Jm9NcmrZdiuRSBngnhJoRJygApY97llEltrk7IHmWZU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Recuperação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jm9NcmrZdiuRSBngnhJoRJygApY97llEltrk7IHmWZU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body.name }}","Status":"={{ $json.Status }}","E-mail":"={{ $('Webhook').item.json.body.email }}","Telefone":"=https://wa.me/{{ $('Webhook').item.json.body.phone.replace(/[^0-9]/g, '') }}","Data":"={{ new Date().toLocaleString('pt-BR', { hour12: false }) }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[360,-200],"id":"768e0888-5dcb-4bce-9cb5-5cc4fe9a6c8a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae41b5aa-b28e-4795-8d16-0b5c6e8de482","triggerCount":1,"shared":[{"createdAt":"2025-07-18T20:43:22.410Z","updatedAt":"2025-07-18T20:43:22.410Z","role":"workflow:owner","workflowId":"MMqxgHWTshGbTD2h","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}