r5-|-fc-|-popup-+-compra-aprovada-|-wodpress-+-homio-+-hubla-stTo2QRdyugTosJR.json
{"createdAt":"2025-12-02T21:48:44.203Z","updatedAt":"2025-12-04T01:36:48.954Z","id":"stTo2QRdyugTosJR","name":"R5 | FC | POPUP + Compra Aprovada | Wodpress + Homio + Hubla","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"fc-popup","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[352,272],"id":"55452b53-dd2b-4965-b2b2-f5db8ee7007d","name":"Webhook","webhookId":"168eddf1-a315-4a40-9fef-462b577486a1"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/hooks/bWUO1BvKlvjPZUNHq9tc/webhook-trigger/dF2hqoXPsaHGIkJotfFX","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body['fields[name][value]'] }}"},{"name":"=email","value":"={{ $json.body['fields[email][value]'] }}"},{"name":"phone","value":"={{ $json.body['fields[phone][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,272],"id":"b8337315-e5e8-4e81-9737-6cf18ab89da5","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"compra-aprovada-hubla","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[352,448],"id":"881e5ce7-9fda-4cb1-ba4a-7969bc24d820","name":"Webhook1","webhookId":"55011459-7ade-4a93-b757-8c1d94cdc6af"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/hooks/bWUO1BvKlvjPZUNHq9tc/webhook-trigger/3YBZqonwTAVFucEHK0y3","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.event.userName }}"},{"name":"=email","value":"={{ $json.body.event.userEmail }}"},{"name":"phone","value":"={{ $json.body.event.userPhone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,448],"id":"82b64056-652b-403a-880c-9e45ca39ac14","name":"HTTP Request1"},{"parameters":{"content":"POPUP","height":192,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,224],"id":"ee000349-6dc2-49cd-a56b-6a7a69f75162","name":"Sticky Note"},{"parameters":{"content":"Compra Aprovada","height":176,"width":480,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,416],"id":"8c8953fe-368e-4b52-ac3c-857b76ba4aa1","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"disparo-recuperacao-fc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[352,640],"id":"278c751b-deb7-42a4-bafe-96e09174efa4","name":"Webhook2","webhookId":"085fa822-8fa0-42e9-a73a-ef885d71197e"},{"parameters":{"content":"Disparo WPP SendFlow - Recuperação de Venda","height":208,"width":1248,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,592],"id":"df8a2744-2c07-454f-a517-75d29d5290f5","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/H94nxG4KVHAnMLwtKMkh","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"867590c6-6cec-48d4-ac5e-d07acb974cd1\",\n  \"phoneNumber\": \"{{ $json.body.phone }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,640],"id":"012dc925-1f4a-4642-ad3a-5e378b413220","name":"HTTP Request2"},{"parameters":{"httpMethod":"POST","path":"mensagem-onboarding","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[352,832],"id":"65802ca6-cede-410f-ac0d-51fac52a6665","name":"Webhook3","webhookId":"ea23b5b9-800a-4b75-85ce-dffe2bc2f3fa"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/TiTsDKpgYtq4xeFoHfyn","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"18b0c449-e8fb-491f-a0b8-0df6f0b1bfb4\",\n  \"phoneNumber\": \"{{ $json.body.phone }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,832],"id":"430c57fc-f9ab-4f5f-b359-3787f8a0a765","name":"HTTP Request3"},{"parameters":{"amount":20,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[752,832],"id":"ff73e6d7-cf54-4355-bca5-e6827929bb63","name":"Wait","webhookId":"926708c7-7672-42a2-a645-d9d1f2b17be5"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/F0vr3wusPSQs4IX4zHBO","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"18b0c449-e8fb-491f-a0b8-0df6f0b1bfb4\",\n  \"phoneNumber\": \"{{ $json.body.phone }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,832],"id":"320ea139-728d-49c9-9587-4c9a177a0218","name":"HTTP Request4"},{"parameters":{"resume":"specificTime","dateTime":"2025-12-04T12:30:00"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[752,640],"id":"556cb84a-8916-4e24-9b84-8022c310b33c","name":"Wait1","webhookId":"a427058c-f3a4-4cd4-ab0f-1ff325d8348e"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/4AIMVwwOPs8ZnmeMestU","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"867590c6-6cec-48d4-ac5e-d07acb974cd1\",\n  \"phoneNumber\": \"{{ $json.body.phone }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,640],"id":"6315213e-b453-49cb-9e24-95b44dc851b2","name":"HTTP Request5"},{"parameters":{"resume":"specificTime","dateTime":"2025-12-05T12:00:00"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1168,640],"id":"6b536513-f3e5-4101-a3a2-2866e8951b2c","name":"Wait2","webhookId":"65e3011e-d4cb-4ffb-b073-1336dea3f68f"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/5Wo6FKWDLBo1dVl1ShaG","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"867590c6-6cec-48d4-ac5e-d07acb974cd1\",\n  \"phoneNumber\": \"{{ $json.body.phone }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,640],"id":"50858f52-0b3f-4e31-b501-e4348909525f","name":"HTTP Request6"},{"parameters":{"content":"Disparo WPP SendFlow - Onboarding","height":208,"width":1248,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,800],"id":"b1b95b7f-3d69-4253-a8fb-992656f24369","name":"Sticky Note3"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ef2c092-38ae-4639-a7ff-30090a7b8c1f","triggerCount":4,"shared":[{"createdAt":"2025-12-02T21:48:44.203Z","updatedAt":"2025-12-02T21:48:44.203Z","role":"workflow:owner","workflowId":"stTo2QRdyugTosJR","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}