teste-_will-kPwX4vvgvzmDMZNo.json
{"createdAt":"2025-09-26T17:09:56.357Z","updatedAt":"2025-09-26T18:02:05.477Z","id":"kPwX4vvgvzmDMZNo","name":"TESTE _WILL","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"80ba3b33-235b-42e0-9172-fe36a0a72ce6","leftValue":"={{ $('Typeform').item.json['Sobre o investimento para fazer parte da *Certificação em Terapia de Casais:*'] }}","rightValue":"=true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-784,-224],"id":"3247f314-d813-4b0e-9a01-b6f9347d0b4e","name":"If"},{"parameters":{"formId":"a4jpwmVv"},"type":"n8n-nodes-base.typeformTrigger","typeVersion":1.1,"position":[-1104,-224],"id":"f3bef125-7172-4576-a560-155596a4190a","name":"Typeform","webhookId":"bdd65b3b-91f7-4835-a215-3389bdeee562","credentials":{"typeformApi":{"id":"mmpDC2vDXuEWNI5f","name":"Jorge Rodrigues"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-400],"id":"a2dceeb9-b915-40ea-a101-6ea01cac1ebe","name":"Switch"},{"parameters":{"operation":"incr","key":"counter21"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-400],"id":"bdd2012f-42dd-432b-b0f6-eaa49b1bbe8e","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter21 = Number($json.counter21); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter21 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter21,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-400],"id":"c042d3cc-f7bc-4ab2-a4b8-041c168692c9","name":"Code"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ede0ae7d-0573-4f41-b42a-f8e3bac52868","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"investimento","value":"Sim"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-480],"id":"6ab2265f-a53f-42ad-a800-7a00f9a4e682","name":"Davi"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.path }}","rightValue":"par","operator":{"type":"string","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.path }}","rightValue":"impar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,-32],"id":"c5ab1b49-94ce-4c54-b2aa-f6ee225d13c8","name":"Switch1"},{"parameters":{"operation":"incr","key":"counter22"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,-32],"id":"33de1026-3c4c-4312-9284-a47067f456a8","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const counter22 = Number($json.counter22); // pega a string \"counter\" e converte pra número\n\nconst isEven = counter22 % 2 === 0; // true se for par\nconst path = isEven ? 'par' : 'impar';\n\nreturn [\n  {\n    json: {\n      counter22,\n      isEven,\n      path\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"5133e709-4d47-4bfd-b508-43cd1cb6d539","name":"Code1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ede0ae7d-0573-4f41-b42a-f8e3bac52868","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"investimento","value":"Sim"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-320],"id":"ac7295cc-ff85-49a7-9f8f-5922e692947a","name":"Renata"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ede0ae7d-0573-4f41-b42a-f8e3bac52868","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"contato.odavilopes@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"investimento","value":"Não"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Você respondeu que NÃO tem o investimento necessário no momento… '] }}"},{"name":"opcoes","value":"={{ $('Typeform').item.json['Qual dessas opções abaixo faria mais sentido pra você?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-112],"id":"6b713f23-57fb-48ee-9408-a5e5f8df2df7","name":"Davi1"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/ede0ae7d-0573-4f41-b42a-f8e3bac52868","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Typeform').item.json['First name'] }}"},{"name":"email","value":"={{ $('Typeform').item.json.Email }}"},{"name":"phone","value":"={{ $('Typeform').item.json['Phone number'] }}"},{"name":"dono","value":"renatadrjorgerodrigues@gmail.com"},{"name":"=profissao","value":"={{ $('Typeform').item.json['Qual é a sua profissão hoje em dia?'] }}"},{"name":"investimento","value":"Não"},{"name":"objetivo","value":"={{ $('Typeform').item.json['Qual *objetivo você deseja alcançar*, ao final da *Certificação em Terapia de Casais*, que te fará se sentir realizado(a)?'] }}"},{"name":"dificuldade","value":"={{ $('Typeform').item.json['Agora descreva qual sua maior dificuldade para atingir esse objetivo '] }}"},{"name":"=motivo","value":"={{ $('Typeform').item.json['*Descreva com sinceridade: *por qual motivo você deseja uma vaga na Certificação em Terapia de Casais?'] }}"},{"name":"formas de pagamento","value":"={{ $('Typeform').item.json['Você respondeu que NÃO tem o investimento necessário no momento… '] }}"},{"name":"opcoes","value":"={{ $('Typeform').item.json['Qual dessas opções abaixo faria mais sentido pra você?'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,48],"id":"1df514d5-0997-4284-9d18-9bb2f4ce495a","name":"Renata2"},{"parameters":{"jsCode":"// Captura a resposta da pergunta diretamente\nconst resposta = $json[\"Qual dessas opções abaixo faria mais sentido pra você?\"];\n\n// Garante que sempre trabalhamos com array, mesmo que só tenha uma resposta\nconst respostas = Array.isArray(resposta) ? resposta : [resposta];\n\n// Mapeia as respostas com tipo booleano (true ou false)\nreturn respostas.map((resposta, index) => {\n  return {\n    json: {\n      id: index + 1,\n      resposta,\n      tipo: resposta !== \"Outro\" // true se for diferente de \"Outro\", false se for \"Outro\"\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-224],"id":"efa8c67c-83e8-4eb1-a579-91ac285fc6dc","name":"Code2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6693bbe-050a-4722-afd5-7b084722aeb2","leftValue":"={{ $json.tipo }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"verdade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7644c008-d4b1-4193-8fa5-77f2ca041b4f","leftValue":"={{ $json.tipo }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"mentira"}]},"looseTypeValidation":"","options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-624,-128],"id":"b44f2957-d64d-48dd-a80a-18ca1843a249","name":"Switch2"}],"connections":{"If":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"Typeform":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Davi","type":"main","index":0}],[{"node":"Renata","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Davi1","type":"main","index":0}],[{"node":"Renata2","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Typeform Trigger":{},"node:[CC][MJR] Formulário de aplicação 3.0 | Perpetuo | 2025":{},"node:FC | QUESTIONÁRIO DE NÃO INSCRIÇÃO | Ficha de interesse":{"webhookId":"n8n-tmv3clod0m"},"node:Typeform":{"webhookId":"n8n-encwyl77fi"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87b34fbd-53e7-4598-9f07-461c2369dee3","triggerCount":1,"shared":[{"createdAt":"2025-09-26T17:09:56.357Z","updatedAt":"2025-09-26T17:09:56.357Z","role":"workflow:owner","workflowId":"kPwX4vvgvzmDMZNo","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}