upviral-mapear-direito-eYcjgZpTKK1oVLfj.json
{"createdAt":"2025-09-08T13:53:20.289Z","updatedAt":"2025-10-24T15:43:35.011Z","id":"eYcjgZpTKK1oVLfj","name":"UpViral Mapear Direito","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/7cb5eaeb0e3ce6b6201cbefe229c7228","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,416],"id":"e8b07cb9-b710-4f2e-b300-eb4f1ef37ad7","name":"1"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/f66c1a87a8db2cb584b4e06e93a84ce3","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,304],"id":"7c7ff305-be5a-4f9b-8675-44305fd128c7","name":"2"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/0f3ea14f34785e6b5d1178487002b2ee","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,464],"id":"ae6889a0-c6f9-48a0-86b5-7223a12ed52b","name":"3"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/493acf066f6edd6c0402e60e62631ca6","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,624],"id":"2c7a8a0e-b092-4efb-b5e5-14b0904f629c","name":"4"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/c04b00bd4121a2e25a7099f9090bb654","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,784],"id":"ad23e808-4165-4d1f-9c18-149966adf055","name":"5"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/5bc707a696918ba05daf7b25b968cb29","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,944],"id":"25af0758-8e7d-41ee-8f91-e9868686e7c8","name":"6"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/c0d6540c37ad4b0a5934d3978048fb2a","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,1104],"id":"5767070c-1de4-4d9e-96cb-83bfb1db80fd","name":"7"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/b2c288891b7bc9ee7afbf971cf9b393d","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,1264],"id":"2809e8ab-044d-477e-ae8b-f413c6873845","name":"8"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/ef3cd4e707ec0268a020cc4f214daaa8","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,1424],"id":"dcaa97dd-6692-421d-ac17-10991d1c05e7","name":"9"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/91361006ec562bf77ad8816e2be30b37","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $('Code2').item.json.nome }}\",\n\"email\": \"{{ $('Code2').item.json.email_normalized }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $('Code2').item.json.referral }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,1584],"id":"ebe4a168-4fed-4779-ba80-1d74f18e3402","name":"10"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1040,416],"id":"a6deaba6-e388-4e53-99e7-8a0888ae47e6","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://app.upviral.com/api/v1/","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"uvapikey","value":"Y9KEC7oJ/uDWA0/3owGXzdx49t/v4HS82Sf4gMR2vqw="},{"name":"uvmethod","value":"get_leads"},{"name":"campaign_id","value":"166491"},{"name":"page_start","value":"0"},{"name":"page_size","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,416],"id":"81e67774-5083-437f-8c63-926d74b5003f","name":"HTTP Request"},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\n\n// ⚙️ Troque por variáveis/credenciais do n8n se preferir\nconst apiKey = 'Y9KEC7oJ/uDWA0/3owGXzdx49t/v4HS82Sf4gMR2vqw=';\nconst campaignId = '166491';\n\n// Tamanho do lote por requisição (máx. razoável)\nconst pageSize = 200;\n\n// Monta application/x-www-form-urlencoded sem URLSearchParams\nconst encodeForm = (obj) =>\n  Object.entries(obj)\n    .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v))}`)\n    .join('&');\n\nlet allLeads = [];\nlet start = 0;\nlet total = Infinity;\n\nwhile (start < total) {\n  const body = encodeForm({\n    uvapikey: apiKey,\n    uvmethod: 'get_leads',\n    campaign_id: campaignId,\n    start: String(start), // ✅ UpViral espera 'start'\n    size: String(pageSize), // ✅ ...e 'size'\n  });\n\n  const res = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://app.upviral.com/api/v1/',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body, // string urlencoded\n    // returnFullResponse: true, // descomente se quiser statusCode/headers/body\n  });\n\n  // Normaliza a resposta (pode vir como string, objeto ou { body })\n  let payload = res;\n  if (payload && typeof payload === 'object' && 'body' in payload) {\n    payload = payload.body;\n  }\n  if (typeof payload === 'string') {\n    try {\n      payload = JSON.parse(payload);\n    } catch {\n      throw new Error('UpViral retornou algo que não é JSON: ' + payload.slice(0, 400));\n    }\n  }\n\n  // Trata erros explícitos da API\n  if (payload?.result && payload.result !== 'success') {\n    const msg = payload.message || JSON.stringify(payload).slice(0, 400);\n    throw new Error('Erro da API UpViral: ' + msg);\n  }\n\n  const data = payload?.data ?? payload;\n  if (!data || !data.leads) {\n    const preview = JSON.stringify(payload).slice(0, 400);\n    throw new Error('Resposta inesperada da API do UpViral: ' + preview);\n  }\n\n  // Paginação\n  total = Number(data.total_size) || (start + data.leads.length);\n  allLeads.push(...data.leads);\n  if (data.next_page_start != null) {\n    start = Number(data.next_page_start);\n  } else {\n    start += Number(data.page_size ?? pageSize);\n  }\n}\n\n// Mapeia os campos úteis; exponha custom_fields inteiro pra evitar chave errada\nreturn allLeads.map((l) => ({\n  json: {\n    id: l.id,\n    nome: l.name ?? null,\n    email: l.email ?? null,\n    status: l.status ?? null,\n    criado_em: l.created_date ?? null,\n    referral: l.referral_link ?? null,\n    custom_fields: l.custom_fields ?? {},\n  },\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,416],"id":"bd6e0c3b-edf8-4e67-924e-e94f481827f2","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-512,416],"id":"21514bf7-ff55-45ba-b37d-6b1a90abaad6","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37dc2f58-a605-43c1-81ed-d9a6cbb282dd","leftValue":"={{ $json.incr }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,608],"id":"5bd0387a-2750-498d-a9cc-7c58f14ac6c2","name":"If"},{"parameters":{"jsCode":"// Code node (JavaScript)\n// Entrada: $('Code2').first().json.custom_fields.WhatsApp\n\nlet telefone = $('Code2').first().json.custom_fields?.WhatsApp || \"\";\n\n// 1) Remove tudo que não for dígito\ntelefone = telefone.replace(/\\D/g, \"\");\n\n// 2) Se não começa com 55 → adiciona\nif (!telefone.startsWith(\"55\")) {\n  telefone = \"55\" + telefone;\n}\n\n// 3) Valida tamanho mínimo (>= 12 dígitos após normalização)\nif (telefone.length < 12) {\n  return [{\n    json: {\n      TelefoneOriginal: $('Code2').first().json.custom_fields?.WhatsApp || null,\n      TelefoneFormatado: null,\n      Erro: \"Telefone inválido (menos de 12 dígitos após formatação)\"\n    }\n  }];\n}\n\n// Retorno válido\nreturn [{\n  json: {\n    TelefoneOriginal: $('Code2').first().json.custom_fields?.WhatsApp || null,\n    TelefoneFormatado: telefone,\n    Valido: true\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,416],"id":"b4a37de1-6c6e-46e5-8167-747ebede8f44","name":"Code1"},{"parameters":{"operation":"incr","key":"=sorteio-2710-{{ $json.email_normalized }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-96,416],"id":"e226602a-0559-4615-8ac2-808a2ddd3cc4","name":"Redis","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"const emailRaw = ($json.email || \"\").toString();\nconst email_normalized = emailRaw.trim().toLowerCase().replace(/\\s+/g, \"\");\nreturn [{ json: { ...$json, email_normalized } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,416],"id":"20798c11-5e40-4f43-ac37-748248c8d693","name":"Code2"},{"parameters":{"jsCode":"// Code: \"Normalize Redis INCR output\"\nconst obj = $json;\nconst [[key, val]] = Object.entries(obj); // pega a única chave dinâmica\nreturn [{ json: { redis_key: key, incr: Number(val) } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,416],"id":"26ffde67-3f14-4066-9dda-5cba4ab271f1","name":"Code3"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2064,-512],"id":"cede9215-cf24-405d-9be6-9a182bdc257f","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1520,-512],"id":"342db570-9b4d-45db-8b21-93f29f61092a","name":"Loop Over Items1"},{"parameters":{"url":"https://sheets.googleapis.com/v4/spreadsheets/1qLn4hFjY-JCELXtb18Ag9jFlIqNm-Jhkbh4I3bu_rQE/values/24-09/?key=AIzaSyB3V7S-YvgNEpGxRd3y_Zmp1D1U_zHI3IQ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1888,-512],"id":"e673ffe9-fd59-40b2-acc0-1f42aa8c4eec","name":"HTTP Request2"},{"parameters":{"jsCode":"const headers = $json.values[0];\nconst rows = $json.values.slice(1);\n\nreturn rows.map(row => {\n  const item = {};\n  headers.forEach((header, i) => {\n    item[header] = row[i] || \"\";\n  });\n  return { json: item };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,-512],"id":"24e5ac24-e09a-4412-a2d3-5e509141d5a9","name":"Code4"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/v2/webhook/custom/bdfe779449adfc3f794942342f5f710e","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $json.Name }}\",\n\"email\": \"{{ $json.Email }}\",\n\"phone\": \"{{ $json.TelefoneFormatado }}\",\n\"referral_link\": \"{{ $json['Referral URL'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,-512],"id":"5f6d96d3-a6de-4dd6-95ba-aed1a6db167f","name":"HTTP Request3"},{"parameters":{"jsCode":"// Code node (JavaScript)\n// Entrada: $json.WhatsApp\n\nlet telefone = $json.WhatsApp || \"\";\n\n// 1) Remove tudo que não for dígito\ntelefone = telefone.replace(/\\D/g, \"\");\n\n// 2) Se não começa com 55 → adiciona\nif (!telefone.startsWith(\"55\")) {\n  telefone = \"55\" + telefone;\n}\n\n// 3) Valida tamanho mínimo (>= 12 dígitos após normalização)\nif (telefone.length < 12) {\n  return [{\n    json: {\n      TelefoneOriginal: $json.WhatsApp || null,\n      TelefoneFormatado: null,\n      Erro: \"Telefone inválido (menos de 12 dígitos após formatação)\"\n    }\n  }];\n}\n\n// Retorno válido\nreturn [{\n  json: {\n    TelefoneOriginal: $json.WhatsApp || null,\n    TelefoneFormatado: telefone,\n    Valido: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,-512],"id":"3cf761b6-9498-455a-9a47-4057aa9864d7","name":"Code5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.slot }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"f925ce3b-0b0e-41d4-93b1-c0e292207fc2"}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d7dd4b-efb7-4458-a1eb-01b90d0b6760","leftValue":"={{ $json.slot }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17c87a0e-16b1-4c40-9433-cc5e1ffef220","leftValue":"={{ $json.slot }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb3c8600-6661-4027-991d-7f3688236e4a","leftValue":"={{ $json.slot }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"483abd01-8b85-45df-9a2d-bef0ea849061","leftValue":"={{ $json.slot }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68f3e681-1af0-4883-aa20-745c36279eda","leftValue":"={{ $json.slot }}","rightValue":6,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"6"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"055276d3-b5e2-4545-8471-ee47ab4534f1","leftValue":"={{ $json.slot }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cac916b4-b7f5-41c3-a23a-7366f0cc2438","leftValue":"={{ $json.slot }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"8"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8753ba75-32d9-45fc-8450-bdde251a69df","leftValue":"={{ $json.slot }}","rightValue":9,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"9"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"295fa98d-dd9b-4462-94a5-24b5253f8de5","leftValue":"={{ $json.slot }}","rightValue":10,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1872,672],"id":"698e5a84-ea09-4399-9dc1-b8b3cf9af7da","name":"Switch"},{"parameters":{"operation":"incr","key":"counter"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1472,800],"id":"2b216424-ecc9-4078-9295-880ab010e40b","name":"Redis1","credentials":{"redis":{"id":"7HCG3WpFnYjB2DIT","name":"Redis account"}}},{"parameters":{"jsCode":"// Node: Function\nconst counter = $json.counter; // <- pega o campo correto retornado pelo Redis\nconst slot = ((counter - 1) % 10) + 1; // gira entre 1 e 10\nreturn [{ slot }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,800],"id":"fad2d5a4-9304-4d98-8c9d-cbdb1b192264","name":"Code6"}],"connections":{"1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"2":{"main":[[]]},"3":{"main":[[]]},"4":{"main":[[]]},"5":{"main":[[]]},"6":{"main":[[]]},"7":{"main":[[]]},"8":{"main":[[]]},"9":{"main":[[]]},"10":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"If","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Code5","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"2","type":"main","index":0}],[{"node":"3","type":"main","index":0}],[{"node":"4","type":"main","index":0}],[{"node":"5","type":"main","index":0}],[{"node":"6","type":"main","index":0}],[{"node":"7","type":"main","index":0}],[{"node":"8","type":"main","index":0}],[{"node":"9","type":"main","index":0}],[{"node":"10","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6abc8796-8112-4a0d-95e3-15744c5a4f23","triggerCount":1,"shared":[{"createdAt":"2025-09-08T13:53:20.289Z","updatedAt":"2025-09-08T13:53:20.289Z","role":"workflow:owner","workflowId":"eYcjgZpTKK1oVLfj","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}