validador-9QsmUxu9Sl8SM6yr.json
{"createdAt":"2025-10-24T17:31:50.993Z","updatedAt":"2025-10-24T18:48:51.297Z","id":"9QsmUxu9Sl8SM6yr","name":"Validador","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"validador","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,0],"id":"00e43e95-36d6-4405-9e68-a3d53f3f6099","name":"Webhook","webhookId":"4fcc5ce3-a455-4b49-8085-fce7fa5bfd05"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/17Qmz6AhTJ0lPUWDxmvt-gQrpMOL_z8o4hu-WF1VEiv0/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ALUNAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17Qmz6AhTJ0lPUWDxmvt-gQrpMOL_z8o4hu-WF1VEiv0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.body['fields[email][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-32,0],"id":"e136b330-eee3-42cc-842c-cbda4a7eb275","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37af29fe-c79b-4af6-bb60-a95886c586d7","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,0],"id":"fd2be65e-4160-41e9-9c1e-724c24beed56","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"valido\",\n  \"redirect\": \"https://definicaoextrema.com.br/validador-resultado/?status=valido\"\n}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-512,-112],"id":"22286d70-6442-4759-908d-f273e2041540","name":"Válido"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"invalido\",\n  \"redirect\": \"https://definicaoextrema.com.br/validador-resultado/?status=invalido\"\n}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-512,80],"id":"75a2bfd3-805a-45c2-b0a4-fe246533b9dd","name":"Inválido"},{"parameters":{"jsCode":"return [\n  {\n    json: {},\n    headers: {\n      Location: \"https://definicaoextrema.com.br/validador-resultado/?status=valido\"\n    },\n    statusCode: 302\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-160],"id":"d776c767-dbbc-496c-92f4-1e8f0104d84c","name":"Code in JavaScript"},{"parameters":{"jsCode":"return [\n  {\n    json: {},\n    headers: {\n      Location: \"https://definicaoextrema.com.br/validador-resultado/?status=invalido\"\n    },\n    statusCode: 302\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,48],"id":"99ba13f0-7a77-491f-a9c0-c745f776a34c","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-208,-336],"id":"dd73e22a-4416-4d4b-b7c1-a3b5ebff1c6b","name":"HTML"}],"connections":{"Webhook":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2fbc803-1102-48d1-9021-a721cac6de27","triggerCount":1,"shared":[{"createdAt":"2025-10-24T17:31:50.993Z","updatedAt":"2025-10-24T17:31:50.993Z","role":"workflow:owner","workflowId":"9QsmUxu9Sl8SM6yr","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}