vivi-amaral---imersão-clareamento-íntimo-&-vendas-(jun-13-at-16:36:13)-E7N1gJypFgqshgi5.json
{"createdAt":"2025-06-14T00:58:17.623Z","updatedAt":"2025-10-10T17:22:50.573Z","id":"E7N1gJypFgqshgi5","name":"Vivi Amaral - Imersão Clareamento Íntimo & Vendas (Jun 13 at 16:36:13)","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Popup -> Checkout","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body['fields[nome][value]'] }}","E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","Data do cadastro":"={{ new Date($today).toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do cadastro","displayName":"Data do cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,-360],"id":"a0ac366e-7961-4f67-a456-cd6db3aa1ef5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/01b55b2a-abfb-45f5-a2cf-0896bbc0a504","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Popup').item.json.body['fields[nome][value]'] }}"},{"name":"email","value":"={{ $('Popup').item.json.body['fields[email][value]'] }}"},{"name":"phone","value":"={{ $('Popup').item.json.body['fields[telefone][value]'] }}"},{"name":"utm_campaign","value":"={{ $('Popup').item.json.body['fields[utm_campaign][value]'] }}"},{"name":"utm_content","value":"={{ $('Popup').item.json.body['fields[utm_content][value]'] }}"},{"name":"utm_term","value":"={{ $('Popup').item.json.body['fields[utm_term][value]'] }}"},{"name":"utm_medium","value":"={{ $('Popup').item.json.body['fields[utm_medium][value]'] }}"},{"name":"utm_source","value":"={{ $('Popup').item.json.body['fields[utm_source][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,-360],"id":"bf3231fa-eccb-4354-9f62-91eac8aa70ae","name":"HTTP Request"},{"parameters":{"content":"Mastermind - Mentalidade & Vendas\n\nPlanilha: https://docs.google.com/spreadsheets/d/1kRDKjFzVgDF9SyyImOBCbnIxGDY0GX-MofsmEAXIcoI/edit?gid=0#gid=0","height":320,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-80,-480],"typeVersion":1,"id":"041b81f3-10d6-46e6-9c07-d75296464db6","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"Imersao-Clareamento-Íntimo-e-Vendas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,-360],"id":"151f078d-2718-49e3-8b55-37e07fb4903a","name":"Popup","webhookId":"0148ce9d-7045-4ba3-96c3-d9fcc2138dba"}],"connections":{"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Popup":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"16bcea44-122b-4131-9d29-87ce478ccedf","triggerCount":0,"shared":[{"createdAt":"2025-06-14T00:58:17.623Z","updatedAt":"2025-06-14T00:58:17.623Z","role":"workflow:owner","workflowId":"E7N1gJypFgqshgi5","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}