vivi-amaral---regenera-2026-E7N1gJypFgqshgi5.json
{"createdAt":"2025-06-14T00:58:17.623Z","updatedAt":"2025-12-15T21:07:22.133Z","id":"E7N1gJypFgqshgi5","name":"Vivi Amaral - Regenera 2026","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Popup -> Checkout","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body['fields[nome][value]'] }}","E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","Data do cadastro":"={{ new Date($today).toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do cadastro","displayName":"Data do cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,-368],"id":"a0ac366e-7961-4f67-a456-cd6db3aa1ef5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/01b55b2a-abfb-45f5-a2cf-0896bbc0a504","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Popup').item.json.body['fields[nome][value]'] }}"},{"name":"email","value":"={{ $('Popup').item.json.body['fields[email][value]'] }}"},{"name":"phone","value":"={{ $('Popup').item.json.body['fields[telefone][value]'] }}"},{"name":"utm_campaign","value":"={{ $('Popup').item.json.body['fields[utm_campaign][value]'] }}"},{"name":"utm_content","value":"={{ $('Popup').item.json.body['fields[utm_content][value]'] }}"},{"name":"utm_term","value":"={{ $('Popup').item.json.body['fields[utm_term][value]'] }}"},{"name":"utm_medium","value":"={{ $('Popup').item.json.body['fields[utm_medium][value]'] }}"},{"name":"utm_source","value":"={{ $('Popup').item.json.body['fields[utm_source][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-368],"id":"bf3231fa-eccb-4354-9f62-91eac8aa70ae","name":"HTTP Request"},{"parameters":{"content":"Regenera 2026\n\nPlanilha: https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit?gid=0#gid=0","height":272,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-80,-480],"typeVersion":1,"id":"041b81f3-10d6-46e6-9c07-d75296464db6","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"regenera2026","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,-368],"id":"151f078d-2718-49e3-8b55-37e07fb4903a","name":"Popup","webhookId":"0148ce9d-7045-4ba3-96c3-d9fcc2138dba"},{"parameters":{"httpMethod":"POST","path":"compra-aprovada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,-176],"id":"42127594-6ec2-43c9-a878-71013b973fb4","name":"compra aprovada","webhookId":"a3044f3b-a811-41e9-837a-e4058a1cdb1d"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":726296807,"mode":"list","cachedResultName":"Compra Aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit#gid=726296807"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body.Customer.full_name }}","E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","utm_source":"={{ $json.body.TrackingParameters.utm_source }}","utm_medium":"={{ $json.body.TrackingParameters.utm_medium }}","utm_campaign":"={{ $json.body.TrackingParameters.utm_campaign }}","utm_content":"={{ $json.body.TrackingParameters.utm_content }}","utm_term":"={{ $json.body.TrackingParameters.utm_term }}","Data da venda":"={{ new Date($today).toLocaleDateString('pt-BR') }}","Produto":"={{ $json.body.Product.product_name }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da venda","displayName":"Data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,-176],"id":"cf77f127-e639-487c-a5e1-f30fb252a08f","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"recuperacao-carrinh0-msg1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,16],"id":"c4117e9f-9c97-4e9d-8d98-4c8ef20a7d05","name":"Webhook","webhookId":"2f7103e1-ed74-4acf-95b3-63e26b099fde"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/7TgjygFHun7w2Vxjgcjo","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"d7df04eb-6ad8-40a6-8db0-a9c4ae91edc9\",\n  \"phoneNumber\": \"{{ $json.body.phone }}\",\n  \"name\": \"{{ $json.body.first_name }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-176],"id":"86a809ee-4d70-4fdc-ba5f-f77a05f8bc48","name":"Disparo de onboarding"},{"parameters":{"method":"POST","url":"https://sendflow.pro/a/SWE77Qm18hDxWrRvcPjt","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"d7df04eb-6ad8-40a6-8db0-a9c4ae91edc9\",\n  \"phoneNumber\": \"{{ (() => {\n  const raw = $json.body['contact[phone]'] ?? '';\n  const digits = String(raw).replace(/\\D/g, '');\n  if (!digits) return '';\n\n  // Já veio com 55\n  if (digits.startsWith('55')) {\n    // Se estiver com tamanho “normal” (fixo ou celular), mantém\n    if (digits.length === 12 || digits.length === 13) return digits;\n\n    // Caso venha com lixo a mais, normaliza pegando os últimos 10/11 após o 55\n    return '55' + digits.slice(2).slice(-11);\n  }\n\n  // Veio sem DDI: se tiver DDD+numero (10/11), só prefixa\n  if (digits.length === 10 || digits.length === 11) return '55' + digits;\n\n  // Se vier maior/menor do esperado, tenta normalizar pegando os últimos 11\n  return '55' + digits.slice(-11);\n})() }}\",\n  \"name\": \"{{ $json.body['contact[first_name]'] }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,16],"id":"eefdfedf-4c3e-4152-ba59-b3329a21514b","name":"Disparo de recuperação"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":419951938,"mode":"list","cachedResultName":"Pesquisa [Página]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit#gid=419951938"},"columns":{"mappingMode":"defineBelow","value":{"Data da resposta":"={{ new Date($today).toLocaleDateString('pt-BR') }}","Qual seu nome completo?":"={{ $json.body.nome_completo }}","Qual é o seu melhor e-mail?":"={{ $json.body.email }}","Qual é o seu WhatsApp?":"={{ $json.body.whatsapp }}","Qual é a sua especialidade médica?":"={{ $json.body.especialidade }}","Quanto tempo você acompanha a Dra. Vivian?":"={{ $json.body.tempo_acompanha }}","Qual é a sua idade?":"={{ $json.body.idade }}","Qual é o principal resultado que você deseja alcançar após o evento?":"={{ $json.body.resultado_desejado }}","Qual é o seu maior desafio relacionado a Medicina Regenerativa?":"={{ $json.body.pergunta_9 }}","Você já trabalha com Medicina Regenerativa?":"={{ $json.body.pergunta_8 }}","O que te motivou a participar do Regenera 2026?":"={{ $json.body.pergunta_7 }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Data da resposta","displayName":"Data da resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual seu nome completo?","displayName":"Qual seu nome completo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu melhor e-mail?","displayName":"Qual é o seu melhor e-mail?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu WhatsApp?","displayName":"Qual é o seu WhatsApp?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é a sua especialidade médica?","displayName":"Qual é a sua especialidade médica?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quanto tempo você acompanha a Dra. Vivian?","displayName":"Quanto tempo você acompanha a Dra. Vivian?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é a sua idade?","displayName":"Qual é a sua idade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que te motivou a participar do Regenera 2026?","displayName":"O que te motivou a participar do Regenera 2026?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você já trabalha com Medicina Regenerativa?","displayName":"Você já trabalha com Medicina Regenerativa?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu maior desafio relacionado a Medicina Regenerativa?","displayName":"Qual é o seu maior desafio relacionado a Medicina Regenerativa?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o principal resultado que você deseja alcançar após o evento?","displayName":"Qual é o principal resultado que você deseja alcançar após o evento?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,192],"id":"b5470c8a-fc06-48b5-bb95-417ffd82bf04","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/6a1cb53b-f3b5-417e-9984-5c2a837d04c7","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('pesquisa obg').item.json.body.pergunta_1 }}"},{"name":"email","value":"={{ $('pesquisa obg').item.json.body.pergunta_2 }}"},{"name":"phone","value":"={{ $('pesquisa obg').item.json.body.pergunta_3 }}"},{"name":"especialidade","value":"={{ $('pesquisa obg').item.json.body.pergunta_4 }}"},{"name":"quantotempo","value":"={{ $('pesquisa obg').item.json.body.pergunta_5 }}"},{"name":"idade","value":"={{ $('pesquisa obg').item.json.body.pergunta_6 }}"},{"name":"motivou","value":"={{ $('pesquisa obg').item.json.body.pergunta_7 }}"},{"name":"trabalha","value":"={{ $('pesquisa obg').item.json.body.pergunta_8 }}"},{"name":"desafio","value":"={{ $('pesquisa obg').item.json.body.pergunta_9 }}"},{"name":"resultado","value":"={{ $('pesquisa obg').item.json.body.pergunta_10 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,192],"id":"65519ad2-dc2a-40ed-94b3-76ae680ecdf0","name":"HTTP Request1"},{"parameters":{"httpMethod":"POST","path":"regenera2026-pesquisaobg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,192],"id":"ad80f836-1b89-44bb-8b86-f8f9a852f6cc","name":"pesquisa obg","webhookId":"0148ce9d-7045-4ba3-96c3-d9fcc2138dba"}],"connections":{"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Popup":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"compra aprovada":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Disparo de onboarding","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Disparo de recuperação","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"pesquisa obg":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{"pesquisa obg":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36","content-length":"572","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","origin":"https://dravivianamaral.com.br","priority":"u=1, i","referer":"https://dravivianamaral.com.br/","sec-ch-ua":"\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"189.124.252.84","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cac4f4f44af1","x-real-ip":"189.124.252.84"},"params":{},"query":{},"body":{"nome_completo":"Samara Vieira","email":"teste@hotmail.com","whatsapp":"84986031724","especialidade":"Samara Vieira","tempo_acompanha":"Menos de 6 meses","idade":"20","motivacao":"Samara Vieira","trabalha_regenerativa":"Não","maior_desafio":"Samara Vieira","resultado_desejado":"Samara Vieira","pergunta_1":"Samara Vieira","pergunta_2":"teste@hotmail.com","pergunta_3":"84986031724","pergunta_4":"Samara Vieira","pergunta_5":"Menos de 6 meses","pergunta_6":"20","pergunta_7":"Samara Vieira","pergunta_8":"Não","pergunta_9":"Samara Vieira","pergunta_10":"Samara Vieira"},"webhookUrl":"https://api.infradevcloud.com/webhook/regenera2026-pesquisaobg","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"GuzzleHttp/7","content-length":"356","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"23.22.14.42","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cac4f4f44af1","x-real-ip":"23.22.14.42","accept-encoding":"gzip"},"params":{},"query":{},"body":{"contact[id]":"3533","contact[email]":"teste.@gmail.com","contact[first_name]":"Teste","contact[last_name]":"","contact[phone]":"519999999899","contact[orgname]":"","contact[customer_acct_name]":"","contact[tags]":"Popup_Regenera2026","contact[ip4]":"0.0.0.0","contact[fields][data_do_ltimo_engajamento]":"2025-12-15T17:01:45-03:00","seriesid":"20"},"webhookUrl":"https://api.infradevcloud.com/webhook/recuperacao-carrinh0-msg1","executionMode":"production"}}]},"versionId":"4ea1803f-b39e-4098-a7fd-e2ecadc76555","triggerCount":4,"shared":[{"createdAt":"2025-06-14T00:58:17.623Z","updatedAt":"2025-06-14T00:58:17.623Z","role":"workflow:owner","workflowId":"E7N1gJypFgqshgi5","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}