vivi-amaral---bulário-|-compra-aprovada-0JvyYstImfbFYPzD.json
{"createdAt":"2025-09-02T18:29:08.149Z","updatedAt":"2025-12-05T19:44:53.441Z","id":"0JvyYstImfbFYPzD","name":"Vivi Amaral - Bulário | Compra Aprovada","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bulario-intimo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"31c290ff-a88e-41bf-8ef2-34ff7b124b7f","name":"Webhook","webhookId":"cba993f8-9509-4afd-98e6-864ce14919e9"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit?gid=1859823472#gid=1859823472","mode":"url"},"sheetName":{"__rl":true,"value":1859823472,"mode":"list","cachedResultName":"Compra Aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit#gid=1859823472"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body.Customer.full_name }}","E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","Data da venda":"={{  new Date($today).toLocaleDateString('pt-BR') }}","utm_source":"={{ $json.body.TrackingParameters.utm_source }}","utm_campaign":"={{ $json.body.TrackingParameters.utm_campaign }}","utm_content":"={{ $json.body.TrackingParameters.utm_content }}","utm_medium":"={{ $json.body.TrackingParameters.utm_medium }}","utm_term":"={{ $json.body.TrackingParameters.utm_term }}"},"matchingColumns":[],"schema":[{"id":"Data da venda","displayName":"Data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,0],"id":"53c58eb7-bb99-480a-b10f-ad4c4fc85807","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit?gid=1859823472#gid=1859823472","mode":"url"},"sheetName":{"__rl":true,"value":1428545268,"mode":"list","cachedResultName":"Compra Aprovada [O.B A Arte Médica da Conversão]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit#gid=1428545268"},"columns":{"mappingMode":"defineBelow","value":{"Data da venda":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Nome":"={{ $json.body.Customer.full_name }}","E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","utm_source":"={{ $json.body.TrackingParameters.utm_source }}","utm_medium":"={{ $json.body.TrackingParameters.utm_medium }}","utm_campaign":"={{ $json.body.TrackingParameters.utm_campaign }}","utm_content":"={{ $json.body.TrackingParameters.utm_content }}","utm_term":"={{ $json.body.TrackingParameters.utm_term }}"},"matchingColumns":[],"schema":[{"id":"Data da venda","displayName":"Data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,192],"id":"b4028b05-c65d-40f6-b94d-d59348817830","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"httpMethod":"POST","path":"compra-aprovada-secretaria-ob","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,192],"id":"007716ce-8313-479b-95ab-a7efe3cda701","name":"OrderBump","webhookId":"f4c044f2-69a7-45d2-9750-e145a7c6383d"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/8f55688c-83e8-4da1-83c3-d592e0c61bf6","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('OrderBump').item.json.body.Customer.full_name }}"},{"name":"email","value":"={{ $('OrderBump').item.json.body.Customer.email }}"},{"name":"telefone","value":"={{ $('OrderBump').item.json.body.Customer.mobile }}"},{"name":"utm_campaign","value":"={{ $('OrderBump').item.json.body.TrackingParameters.utm_campaign }}"},{"name":"utm_source","value":"={{ $('OrderBump').item.json.body.TrackingParameters.utm_source }}"},{"name":"utm_term","value":"={{ $('OrderBump').item.json.body.TrackingParameters.utm_term }}"},{"name":"utm_content","value":"={{ $('OrderBump').item.json.body.TrackingParameters.utm_content }}"},{"name":"utm_term","value":"={{ $('OrderBump').item.json.body.TrackingParameters.utm_term }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,192],"id":"b0521e44-4b43-412f-9c14-46a56ccc6aad","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"pesquisa-obrigado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,544],"id":"873215ff-6eef-411f-a94c-693d45b5ae7f","name":"Webhook1","webhookId":"cba993f8-9509-4afd-98e6-864ce14919e9"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit?gid=1859823472#gid=1859823472","mode":"url"},"sheetName":{"__rl":true,"value":1887391180,"mode":"list","cachedResultName":"Respondeu Pesquisa (Obrigado)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit#gid=1887391180"},"columns":{"mappingMode":"defineBelow","value":{"E-mail":"={{ $json.body.pergunta_2 }}","Qual é o seu nome?":"={{ $json.body.pergunta_1 }}","Telefone (Whatsapp)":"={{ $json.body.pergunta_3 }}","CRM ativo:":"={{ $json.body.pergunta_4 }}","Qual a sua especialidade?":"={{ $json.body.pergunta_5 }}","Há quanto tempo você conhece a Dra. Vivian?":"={{ $json.body.pergunta_6 }}","Você já trabalha com Clareamento Íntimo?":"={{ $json.body.pergunta_7 }}","Qual é o principal desafio que você enfrenta hoje?":"={{ $json.body.pergunta_8 }}","Você é aluna(o) da mentoria íntima?":"={{ $json.body.pergunta_9 }}","Data":"={{ new Date($today).toLocaleDateString('pt-BR') }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu nome?","displayName":"Qual é o seu nome?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone (Whatsapp)","displayName":"Telefone (Whatsapp)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CRM ativo:","displayName":"CRM ativo:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual a sua especialidade?","displayName":"Qual a sua especialidade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Há quanto tempo você conhece a Dra. Vivian?","displayName":"Há quanto tempo você conhece a Dra. Vivian?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você já trabalha com Clareamento Íntimo?","displayName":"Você já trabalha com Clareamento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o principal desafio que você enfrenta hoje?","displayName":"Qual é o principal desafio que você enfrenta hoje?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você é aluna(o) da mentoria íntima?","displayName":"Você é aluna(o) da mentoria íntima?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,544],"id":"721da3a4-0336-4c85-a8ed-6a2a7c568518","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/d56b06f3-4a33-4522-9e06-98b83f8519ac","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('Webhook1').item.json.body.pergunta_1 }}"},{"name":"email","value":"={{ $('Webhook1').item.json.body.pergunta_2 }}"},{"name":"telefone","value":"={{ \n  (() => {\n    let num = $('Webhook1').item.json.body.pergunta_3 + '';\n\n    // remove tudo que não for número\n    num = num.replace(/\\D/g, '');\n\n    // remove o 55 se a pessoa colocou manualmente (para evitar duplicar)\n    if (num.startsWith('55')) {\n      num = num.substring(2);\n    }\n\n    // remove zero extra antes do DDD (ex: 011 -> 11)\n    if (num.length >= 11 && num[0] === '0') {\n      num = num.substring(1);\n    }\n\n    return '55' + num;\n  })()\n}}"},{"name":"pergunta4","value":"={{ $('Webhook1').item.json.body.pergunta_4 }}"},{"name":"pergunta5","value":"={{ $('Webhook1').item.json.body.pergunta_5 }}"},{"name":"pergunta6","value":"={{ $('Webhook1').item.json.body.pergunta_6 }}"},{"name":"pergunta7","value":"={{ $('Webhook1').item.json.body.pergunta_7 }}"},{"name":"=pergunta8","value":"={{ $('Webhook1').item.json.body.pergunta_8 }}"},{"name":"pergunta9","value":"={{ $('Webhook1').item.json.body.pergunta_9 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,544],"id":"2501972d-42e3-4ccc-8c95-5fef2c54e4b0","name":"HTTP Request1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit?gid=1859823472#gid=1859823472","mode":"url"},"sheetName":{"__rl":true,"value":1428545268,"mode":"list","cachedResultName":"Compra Aprovada [O.B A Arte Médica da Conversão]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x_QnDf9Pz3SI4CKyNylJoWMItjOXtN5WnVcU2oPCDB0/edit#gid=1428545268"},"columns":{"mappingMode":"defineBelow","value":{"Data da venda":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Nome":"={{ $json.body.Customer.full_name }}","E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","utm_source":"={{ $json.body.TrackingParameters.utm_source }}","utm_medium":"={{ $json.body.TrackingParameters.utm_medium }}","utm_campaign":"={{ $json.body.TrackingParameters.utm_campaign }}","utm_content":"={{ $json.body.TrackingParameters.utm_content }}","utm_term":"={{ $json.body.TrackingParameters.utm_term }}"},"matchingColumns":[],"schema":[{"id":"Data da venda","displayName":"Data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,368],"id":"453abb3d-f611-4b71-8aab-c096c98fdebb","name":"Append row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"httpMethod":"POST","path":"compra-aprovada-artedaconversao-ob","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,368],"id":"1f99407f-a6c3-46d6-b074-2439a90315c0","name":"OrderBump1","webhookId":"f4c044f2-69a7-45d2-9750-e145a7c6383d"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/00416613-5939-43d9-9da9-5576509d5329","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('OrderBump1').item.json.body.Customer.full_name }}"},{"name":"email","value":"={{ $('OrderBump1').item.json.body.Customer.email }}"},{"name":"telefone","value":"={{ $('OrderBump1').item.json.body.Customer.mobile }}"},{"name":"utm_campaign","value":"={{ $('OrderBump1').item.json.body.TrackingParameters.utm_campaign }}"},{"name":"utm_source","value":"={{ $('OrderBump1').item.json.body.TrackingParameters.utm_source }}"},{"name":"utm_term","value":"={{ $('OrderBump1').item.json.body.TrackingParameters.utm_term }}"},{"name":"utm_content","value":"={{ $('OrderBump1').item.json.body.TrackingParameters.utm_content }}"},{"name":"utm_term","value":"={{ $('OrderBump1').item.json.body.TrackingParameters.utm_term }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,368],"id":"0515349e-e093-4d60-9f55-0d043ce4b34a","name":"HTTP Request2"}],"connections":{"Webhook":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]},"OrderBump":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Append row in sheet3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"OrderBump1":{"main":[[{"node":"Append row in sheet3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"OrderBump1":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"axios/0.23.0","content-length":"2692","accept":"application/json, text/plain, */*","content-type":"application/json","traceparent":"00-2427e432dabc6bda5fd32942dc0e6c0f-dfbc3c6d3777fbd9-01","x-forwarded-for":"34.95.163.104","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cac4f4f44af1","x-real-ip":"34.95.163.104","accept-encoding":"gzip"},"params":{},"query":{"signature":"2e4bd23017da6e18f304b66c2e71e4eed8d90b53"},"body":{"order_id":"1597471a-f27a-4bc7-ac32-c61b306769a7","order_ref":"uIcSTXz","order_status":"paid","product_type":"membership","payment_method":"credit_card","store_id":"rpEzXAz5ouX5zJ2","payment_merchant_id":29487852,"installments":1,"card_type":"mastercard","card_last4digits":"7500","card_rejection_reason":null,"boleto_URL":null,"boleto_barcode":null,"boleto_expiry_date":null,"pix_code":null,"pix_expiration":null,"sale_type":"producer","created_at":"2025-12-05 19:42","updated_at":"2025-12-05 19:42","approved_date":"2025-12-06 19:42","refunded_at":null,"webhook_event_type":"order_approved","Product":{"product_id":"fc4f0975-2a6b-4379-9e10-bd7b641e0e7a","product_name":"Example product"},"Customer":{"full_name":"John Doe","first_name":"John","email":"johndoe@example.com","mobile":"+47749178489","cnpj":"22819927644044","ip":"8517:1a0f:3ef1:dd78:742e:1017:b8e6:c9b1","instagram":"@kiwify","street":"Rua 1001","number":"315","complement":"SL 05","neighborhood":"Centro","city":"Balneário Camboriú","state":"SC","zipcode":"88330-756"},"Commissions":{"charge_amount":3402,"product_base_price":3402,"product_base_price_currency":"BRL","kiwify_fee":374,"kiwify_fee_currency":"BRL","settlement_amount":3402,"settlement_amount_currency":"BRL","sale_tax_rate":0,"sale_tax_amount":0,"commissioned_stores":[{"id":"aab5e969-d7bc-4921-896f-6a34daedba8f","type":"producer","custom_name":"Example store","email":"example@store.domain","value":"3028"},{"id":"446a992f-2137-4930-92cd-3ebfd0fe6c7e","type":"coproducer","custom_name":"Example coproducer","email":"example@coproducer.domain","value":"3028"},{"id":"a26a4652-09ae-4f1a-8c07-055d578c3427","type":"affiliate","affiliate_id":"ZWCPNMR","custom_name":"Example affiliate","email":"example@affiliate.domain","value":"3028"}],"currency":"BRL","my_commission":3028,"funds_status":null,"estimated_deposit_date":null,"deposit_date":null},"TrackingParameters":{"src":null,"sck":null,"utm_source":null,"utm_medium":null,"utm_campaign":null,"utm_content":null,"utm_term":null,"s1":null,"s2":null,"s3":null},"Subscription":{"id":"ec48d838-c5bb-4cd9-9c10-d6e43e0ad6ab","start_date":"2025-12-02T19:42:59.029Z","next_payment":"2025-12-09T19:42:59.029Z","status":"active","plan":{"id":"e9b62f6e-aeea-4e77-ba03-8662f965cf75","name":"Example plan","frequency":"weekly","qty_charges":0},"charges":{"completed":[{"order_id":"1597471a-f27a-4bc7-ac32-c61b306769a7","amount":3028,"status":"paid","installments":1,"card_type":"mastercard","card_last_digits":"5746","card_first_digits":"494858","created_at":"2025-12-02T19:42:59.029Z"}],"future":[{"charge_date":"2025-12-09T19:42:59.029Z"}]}},"subscription_id":"ec48d838-c5bb-4cd9-9c10-d6e43e0ad6ab","access_url":null},"webhookUrl":"https://api.infradevcloud.com/webhook/compra-aprovada-artedaconversao-ob","executionMode":"production"}}]},"versionId":"e36896cd-bfdf-4a75-b9aa-9fa915662e63","triggerCount":4,"shared":[{"createdAt":"2025-09-02T18:29:08.149Z","updatedAt":"2025-09-02T18:29:08.149Z","role":"workflow:owner","workflowId":"0JvyYstImfbFYPzD","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}