vivi-amaral---thunder-legacy-2026-MmO9gvFHlSwIV1k7.json
{"createdAt":"2025-11-30T15:25:52.009Z","updatedAt":"2025-12-01T12:32:03.369Z","id":"MmO9gvFHlSwIV1k7","name":"Vivi Amaral - Thunder Legacy 2026","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":278183896,"mode":"list","cachedResultName":"Compra Aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit#gid=278183896"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('THUNDER DIAMOND').item.json.body.Customer.full_name }}","E-mail":"={{ $('THUNDER DIAMOND').item.json.body.Customer.email }}","Telefone":"={{ $('THUNDER DIAMOND').item.json.body.Customer.mobile }}","utm_medium":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_medium }}","utm_source":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_source }}","utm_content":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_content }}","utm_campaign":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_campaign }}","utm_term":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_term }}","Data cadastro":"={{  new Date($today).toLocaleDateString('pt-BR') }}"},"matchingColumns":[],"schema":[{"id":"Data cadastro","displayName":"Data cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[272,80],"id":"cf4970b7-ab13-45c7-9916-b5b4fc037883","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"httpMethod":"POST","path":"thunder-diamond-2026","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-272,368],"id":"3c8c19e0-023a-42bd-bb9f-18cce74546b1","name":"THUNDER DIAMOND","webhookId":"2c1feea8-e08f-49e0-aeaf-c9f6d0c6b224"},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/63d2ad80-5f06-48d9-b1c4-934ce314bc61","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('THUNDER DIAMOND').item.json.body.Customer.full_name }}"},{"name":"email","value":"={{ $('THUNDER DIAMOND').item.json.body.Customer.email }}"},{"name":"telefone","value":"={{ $('THUNDER DIAMOND').item.json.body.Customer.mobile }}"},{"name":"utm_campaign","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_campaign }}"},{"name":"utm_content","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_content }}"},{"name":"utm_term","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_term }}"},{"name":"=utm_medium","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_medium }}"},{"name":"=utm_source","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_source }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,80],"id":"52cd26c7-548d-4041-8400-1fda49f841e3","name":"clint2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.order_status }}","rightValue":"paid","operator":{"type":"string","operation":"equals"},"id":"b2eb29ff-c7d8-4beb-bd64-4c32d1baa69c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Compra Aprovada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb0e8c2a-049c-46f2-994c-be16a5db4b4a","leftValue":"={{ $json.body.order_status }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Carrinho Abandonado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56e06fff-8268-4b57-be7d-fb7c452b28e8","leftValue":"={{ $json.body.order_status }}","rightValue":"waiting_payment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PIX Gerado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e43010-5297-412f-8be7-8ebc034147f8","leftValue":"={{ $json.body.order_status }}","rightValue":"refused","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Compra Recusada"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-64,336],"id":"f6e1e839-ab54-4ec0-a4f5-2af523a4ff31","name":"Switch"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":1560530556,"mode":"list","cachedResultName":"Abandono de Carrinho","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit#gid=1560530556"},"columns":{"mappingMode":"defineBelow","value":{"Data cadastro":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Nome":"={{ $('THUNDER DIAMOND').item.json.body.name }}","E-mail":"={{ $('THUNDER DIAMOND').item.json.body.email }}","Telefone":"={{ $('THUNDER DIAMOND').item.json.body.phone }}"},"matchingColumns":[],"schema":[{"id":"Data cadastro","displayName":"Data cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[272,240],"id":"401cec8d-7a13-4e8f-8e5a-71b84bf40804","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/2830fd32-bbb0-40bf-83ea-503ab4a4a4c1","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('THUNDER DIAMOND').item.json.body.name }}"},{"name":"email","value":"={{ $('THUNDER DIAMOND').item.json.body.email }}"},{"name":"telefone","value":"={{ $('THUNDER DIAMOND').item.json.body.phone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,240],"id":"7db8ae93-a883-46a5-8952-4fa1af11c4c1","name":"clint"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":1335164826,"mode":"list","cachedResultName":"PIX Gerado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit#gid=1335164826"},"columns":{"mappingMode":"defineBelow","value":{"Data cadastro":"={{  new Date($today).toLocaleDateString('pt-BR') }}","Nome":"={{ $json.body.event_tickets[0].name }}","E-mail":"={{ $json.body.event_tickets[0].email }}","Telefone":"={{ $json.body.event_tickets[0].phone }}","utm_source":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_source }}","utm_content":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_content }}","utm_campaign":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_campaign }}","utm_medium":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_medium }}","utm_term":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_term }}"},"matchingColumns":[],"schema":[{"id":"Data cadastro","displayName":"Data cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[272,416],"id":"8b92cc76-96ad-445d-9711-9579d4e48fd4","name":"Append row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/881270bc-f54a-4352-9b1b-5cc728875e39","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('THUNDER DIAMOND').item.json.body.Customer.full_name }}"},{"name":"email","value":"={{ $('THUNDER DIAMOND').item.json.body.Customer.email }}"},{"name":"telefone","value":"={{ $('THUNDER DIAMOND').item.json.body.Customer.mobile }}"},{"name":"utm_campaign","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_campaign }}"},{"name":"utm_content","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_content }}"},{"name":"utm_term","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_term }}"},{"name":"=utm_medium","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_medium }}"},{"name":"=utm_source","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_source }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,416],"id":"03bb52df-fe73-4087-8515-755ba90c23e4","name":"clint3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":2068007254,"mode":"list","cachedResultName":"Cartão Recusado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BhG2xTua0FlTiUqAaq7YakmdqzA5l3RceYN5mSMA6k/edit#gid=2068007254"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body.event_tickets[0].name }}","Telefone":"={{ $json.body.event_tickets[0].phone }}","E-mail":"={{ $json.body.event_tickets[1].email }}","utm_campaign":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_campaign }}","utm_content":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_content }}","utm_medium":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_medium }}","utm_source":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_source }}","utm_term":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_term }}","Data cadastro":"={{  new Date($today).toLocaleDateString('pt-BR') }}"},"matchingColumns":[],"schema":[{"id":"Data cadastro","displayName":"Data cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[272,576],"id":"fa4d1a42-2afe-4d14-bcfa-d249b8391aaf","name":"Append row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"Pvem3NYhiWKcjVCy","name":"Google Sheets INFRADEV"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/b575d561-fa6b-47c0-8579-bd0d90f7f177","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('THUNDER DIAMOND').item.json.body.event_tickets[1].name }}"},{"name":"email","value":"={{ $('THUNDER DIAMOND').item.json.body.event_tickets[1].email }}"},{"name":"telefone","value":"={{ $('THUNDER DIAMOND').item.json.body.event_tickets[0].phone }}"},{"name":"utm_campaign","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_campaign }}"},{"name":"utm_content","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_content }}"},{"name":"utm_term","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_term }}"},{"name":"=utm_medium","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_medium }}"},{"name":"=utm_source","value":"={{ $('THUNDER DIAMOND').item.json.body.TrackingParameters.utm_source }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,576],"id":"323fc96c-f647-4d18-924d-496ac9c0f243","name":"clint4"}],"connections":{"THUNDER DIAMOND":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"clint2","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"clint","type":"main","index":0}]]},"Append row in sheet3":{"main":[[{"node":"clint3","type":"main","index":0}]]},"Append row in sheet4":{"main":[[{"node":"clint4","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Append row in sheet3","type":"main","index":0}],[{"node":"Append row in sheet4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"THUNDER DIAMOND":[{"json":{"headers":{"host":"api.infradevcloud.com","user-agent":"axios/0.23.0","content-length":"3104","accept":"application/json, text/plain, */*","content-type":"application/json","traceparent":"00-b922aa0f7e9538e2daac300b163e7d69-a1afec58896331cb-01","x-forwarded-for":"34.95.163.104","x-forwarded-host":"api.infradevcloud.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cac4f4f44af1","x-real-ip":"34.95.163.104","accept-encoding":"gzip"},"params":{},"query":{"signature":"004ac2976eb2b3ff2c8fce4a3878b59d58bd1421"},"body":{"order_id":"b4be96f7-4512-42be-a658-b3492f4dc3e6","order_ref":"BHFWwew","order_status":"paid","product_type":"event","event_batch":{"id":"173e5358-6805-4495-b897-a436478d3eb9","name":"Test batch"},"event_tickets":[{"id":"940322a3-9d6b-4afd-92bb-b909d1b9ad2e","name":"John Doe","email":"johndoe@example.com","external_id":"0ZTxGWcxBwuGWuW","cpf":"296.541.346-79","phone":"(53) 0885-0371"},{"id":"15dbc0b8-8c25-42ba-93d8-3e0d05151517","name":"Jane Doe","email":"janedoe@example.com","external_id":"B6pJNxTLXTRA41j","cpf":null,"phone":null}],"payment_method":"credit_card","store_id":"WkgixucrvtdhKOp","payment_merchant_id":41203758,"installments":1,"card_type":"mastercard","card_last4digits":"2762","card_rejection_reason":null,"boleto_URL":null,"boleto_barcode":null,"boleto_expiry_date":null,"pix_code":null,"pix_expiration":null,"sale_type":"producer","created_at":"2025-11-30 16:10","updated_at":"2025-11-30 16:10","approved_date":"2025-12-01 16:10","refunded_at":null,"webhook_event_type":"order_approved","Product":{"product_id":"3295aa22-b1af-4395-b799-6fb158e50c00","product_name":"Example product"},"Customer":{"full_name":"John Doe","first_name":"John","email":"johndoe@example.com","mobile":"+60437809195","CPF":"89026573980","ip":"de8:a1d0:8794:1c60:aec3:d0a2:f059:a416","instagram":"@kiwify","street":"Rua 1001","number":"315","complement":"SL 05","neighborhood":"Centro","city":"Balneário Camboriú","state":"SC","zipcode":"88330-756"},"Commissions":{"charge_amount":2511,"product_base_price":2511,"product_base_price_currency":"BRL","kiwify_fee":276,"kiwify_fee_currency":"BRL","settlement_amount":2511,"settlement_amount_currency":"BRL","sale_tax_rate":0,"sale_tax_amount":0,"commissioned_stores":[{"id":"3901f4fb-52fc-4248-b7b5-7319d7c42b20","type":"producer","custom_name":"Example store","email":"example@store.domain","value":"2235"},{"id":"d5475c9f-bf4e-47e3-8af1-14050e5445a3","type":"coproducer","custom_name":"Example coproducer","email":"example@coproducer.domain","value":"2235"},{"id":"1eab0155-4351-441c-9fec-7713fd2f32ab","type":"affiliate","affiliate_id":"zBGrEOO","custom_name":"Example affiliate","email":"example@affiliate.domain","value":"2235"}],"currency":"BRL","my_commission":2235,"funds_status":null,"estimated_deposit_date":null,"deposit_date":null},"TrackingParameters":{"src":null,"sck":null,"utm_source":null,"utm_medium":null,"utm_campaign":null,"utm_content":null,"utm_term":null,"s1":null,"s2":null,"s3":null},"Subscription":{"id":"563aff4b-e363-4483-84fc-283aa9a02478","start_date":"2025-11-27T16:10:17.658Z","next_payment":"2025-12-04T16:10:17.658Z","status":"active","plan":{"id":"58183770-8289-4753-9ab9-4640f038a7d9","name":"Example plan","frequency":"weekly","qty_charges":0},"charges":{"completed":[{"order_id":"b4be96f7-4512-42be-a658-b3492f4dc3e6","amount":2235,"status":"paid","installments":1,"card_type":"mastercard","card_last_digits":"1725","card_first_digits":"445430","created_at":"2025-11-27T16:10:17.658Z"}],"future":[{"charge_date":"2025-12-04T16:10:17.658Z"}]}},"subscription_id":"563aff4b-e363-4483-84fc-283aa9a02478","access_url":null},"webhookUrl":"https://api.infradevcloud.com/webhook/thunder-diamond-2026","executionMode":"production"}}]},"versionId":"61362b38-f750-47b9-846c-9c35ffdad8f0","triggerCount":1,"shared":[{"createdAt":"2025-11-30T15:25:52.009Z","updatedAt":"2025-11-30T15:25:52.009Z","role":"workflow:owner","workflowId":"MmO9gvFHlSwIV1k7","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}