vivi-amaral---imersão-clareamento-íntimo-&-vendas---v2-(-respondiapp)-2WGchnHSFM6uGJbo.json
{"createdAt":"2025-06-16T14:55:19.820Z","updatedAt":"2025-08-12T14:41:27.742Z","id":"2WGchnHSFM6uGJbo","name":"Vivi Amaral - Imersão Clareamento Íntimo & Vendas - v2 ( RespondiAPP)","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit?gid=1099688727#gid=1099688727","mode":"url"},"sheetName":{"__rl":true,"value":1099688727,"mode":"list","cachedResultName":"RespondiAPP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit#gid=1099688727"},"columns":{"mappingMode":"defineBelow","value":{"Qual seu nome completo?":"={{ $json.body.respondent.answers['Qual seu nome completo?'] }}","Qual é o seu melhor e-mail?":"={{ $json.body.respondent.answers['Qual é o seu melhor e-mail?'] }}","Qual é o seu WhatsApp?":"={{ $json.body.respondent.answers['Qual é o seu WhatsApp?'] }}","Qual é a sua especialidade médica?":"={{ $json.body.respondent.answers['Qual é a sua especialidade médica?'] }}","Quanto tempo você acompanha a Dra. Vivian":"={{ $json.body.respondent.answers['Quanto tempo você acompanha a Dra. Vivian?'] }}","Qual a sua idade?":"={{ $json.body.respondent.answers['Qual a sua idade?'] }}","O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?":"={{ $json.body.respondent.answers['O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?'] }}","Você já trabalha com Clareamento Íntimo?":"={{ $json.body.respondent.answers['Você já trabalha com Clareamento Íntimo?'] }}","Qual é o seu maior desafio relacionado ao clareamento íntimo?":"={{ $json.body.respondent.answers['Qual é o seu maior desafio relacionado ao clareamento íntimo?'] }}","Qual é o principal resultado que você deseja alcançar após o evento?":"={{ $json.body.respondent.answers['Qual é o principal resultado que você deseja alcançar após o evento?'] }}","Data da resposta":"={{ new Date($now).toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Data da resposta","displayName":"Data da resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual seu nome completo?","displayName":"Qual seu nome completo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu melhor e-mail?","displayName":"Qual é o seu melhor e-mail?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu WhatsApp?","displayName":"Qual é o seu WhatsApp?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é a sua especialidade médica?","displayName":"Qual é a sua especialidade médica?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quanto tempo você acompanha a Dra. Vivian","displayName":"Quanto tempo você acompanha a Dra. Vivian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual a sua idade?","displayName":"Qual a sua idade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","displayName":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você já trabalha com Clareamento Íntimo?","displayName":"Você já trabalha com Clareamento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","displayName":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o principal resultado que você deseja alcançar após o evento?","displayName":"Qual é o principal resultado que você deseja alcançar após o evento?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,-360],"id":"aeea0e13-0c5e-4002-b8e0-2631e9665cb6","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/8c67118a-791f-4cc0-8f06-8523e271cfa9","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json['Qual seu nome completo?'] }}"},{"name":"email","value":"={{ $('Popup').item.json.body.respondent.raw_answers[1].answer }}"},{"name":"whatsapp","value":"={{ $('Popup').item.json.body.respondent.raw_answers[2].answer.phone }}"},{"name":"Qual é a sua especialidade médica?","value":"={{ $('Popup').item.json.body.respondent.raw_answers[3].answer[0] }}"},{"name":"=Quanto tempo você acompanha a Dra. Vivian","value":"={{ $('Popup').item.json.body.respondent.raw_answers[4].answer[0] }}"},{"name":"Qual a sua idade?","value":"={{ $('Popup').item.json.body.respondent.raw_answers[5].answer[0] }}"},{"name":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","value":"={{ $('Popup').item.json.body.respondent.raw_answers[6].answer }}"},{"name":"Você já trabalha com Clareamento Íntimo?","value":"={{ $('Popup').item.json.body.respondent.raw_answers[7].answer[0] }}"},{"name":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","value":"={{ $('Popup').item.json.body.respondent.raw_answers[8].answer }}"},{"name":"Qual é o principal resultado que você deseja alcançar após o evento?","value":"={{ $('Popup').item.json.body.respondent.raw_answers[9].answer }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,-360],"id":"5e1026bf-bfc3-4678-b22c-7e2d818e41f8","name":"HTTP Request"},{"parameters":{"content":"Vivi Amaral - Imersão Clareamento Íntimo & Vendas - V2\n RECEBE WEBHOOK E POPULA PLANILHA\n\nPlanilha: https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit?gid=1099688727#gid=1099688727","height":400,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-140,-560],"typeVersion":1,"id":"c5a1b7d9-8524-4b9b-80e5-e71b1b400aff","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"clareamentointimoevendasv2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,-360],"id":"67c0c632-36ff-46f9-89df-fe98d945e5b8","name":"Popup","webhookId":"84885e37-5667-4972-9957-215111ee95cb"},{"parameters":{"content":"Vivi Amaral - Imersão Clareamento Íntimo & Vendas \nADICIONA O CONTATO NA CLINT\n","height":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[380,-560],"typeVersion":1,"id":"1fcbaa01-584a-4338-a10e-93375eef9952","name":"Sticky Note1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit?gid=1099688727#gid=1099688727","mode":"url"},"sheetName":{"__rl":true,"value":1848886366,"mode":"list","cachedResultName":"Pesquisa [Unificada]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit#gid=1848886366"},"columns":{"mappingMode":"defineBelow","value":{"Qual seu nome completo?":"={{ $('Popup').item.json.body.respondent.answers['Qual seu nome completo?'] }}","Qual é o seu melhor e-mail?":"={{ $('Popup').item.json.body.respondent.answers['Qual é o seu melhor e-mail?'] }}","Qual é o seu WhatsApp?":"={{ $('Popup').item.json.body.respondent.answers['Qual é o seu WhatsApp?'] }}","Qual é a sua especialidade médica?":"={{ $('Popup').item.json.body.respondent.answers['Qual é a sua especialidade médica?'] }}","Quanto tempo você acompanha a Dra. Vivian":"={{ $('Popup').item.json.body.respondent.answers['Quanto tempo você acompanha a Dra. Vivian?'] }}","Qual a sua idade?":"={{ $('Popup').item.json.body.respondent.answers['Qual a sua idade?'] }}","O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?":"={{ $('Popup').item.json.body.respondent.answers['O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?'] }}","Você já trabalha com Clareamento Íntimo?":"={{ $('Popup').item.json.body.respondent.answers['Você já trabalha com Clareamento Íntimo?'] }}","Qual é o seu maior desafio relacionado ao clareamento íntimo?":"={{ $('Popup').item.json.body.respondent.answers['Qual é o seu maior desafio relacionado ao clareamento íntimo?'] }}","Qual é o principal resultado que você deseja alcançar após o evento?":"={{ $('Popup').item.json.body.respondent.answers['Qual é o principal resultado que você deseja alcançar após o evento?'] }}","Data da resposta":"={{ new Date($now).toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Data da resposta","displayName":"Data da resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual seu nome completo?","displayName":"Qual seu nome completo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu melhor e-mail?","displayName":"Qual é o seu melhor e-mail?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu WhatsApp?","displayName":"Qual é o seu WhatsApp?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é a sua especialidade médica?","displayName":"Qual é a sua especialidade médica?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Quanto tempo você acompanha a Dra. Vivian","displayName":"Quanto tempo você acompanha a Dra. Vivian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual a sua idade?","displayName":"Qual a sua idade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","displayName":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Você já trabalha com Clareamento Íntimo?","displayName":"Você já trabalha com Clareamento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","displayName":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é o principal resultado que você deseja alcançar após o evento?","displayName":"Qual é o principal resultado que você deseja alcançar após o evento?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[700,-360],"id":"65578a86-190c-4baa-9f01-a95364ead84e","name":"unificada","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Popup":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"unificada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3863425a-0003-4a57-83a2-4547360f047a","triggerCount":1,"shared":[{"createdAt":"2025-06-16T14:55:19.820Z","updatedAt":"2025-06-16T14:55:19.820Z","role":"workflow:owner","workflowId":"2WGchnHSFM6uGJbo","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}