vivi-amaral---regenera-2026-E7N1gJypFgqshgi5.json
{"createdAt":"2025-06-14T00:58:17.623Z","updatedAt":"2025-12-12T21:23:09.922Z","id":"E7N1gJypFgqshgi5","name":"Vivi Amaral - Regenera 2026","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Popup -> Checkout","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body['fields[nome][value]'] }}","E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","Data do cadastro":"={{ new Date($today).toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do cadastro","displayName":"Data do cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,-368],"id":"a0ac366e-7961-4f67-a456-cd6db3aa1ef5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/01b55b2a-abfb-45f5-a2cf-0896bbc0a504","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Popup').item.json.body['fields[nome][value]'] }}"},{"name":"email","value":"={{ $('Popup').item.json.body['fields[email][value]'] }}"},{"name":"phone","value":"={{ $('Popup').item.json.body['fields[telefone][value]'] }}"},{"name":"utm_campaign","value":"={{ $('Popup').item.json.body['fields[utm_campaign][value]'] }}"},{"name":"utm_content","value":"={{ $('Popup').item.json.body['fields[utm_content][value]'] }}"},{"name":"utm_term","value":"={{ $('Popup').item.json.body['fields[utm_term][value]'] }}"},{"name":"utm_medium","value":"={{ $('Popup').item.json.body['fields[utm_medium][value]'] }}"},{"name":"utm_source","value":"={{ $('Popup').item.json.body['fields[utm_source][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-368],"id":"bf3231fa-eccb-4354-9f62-91eac8aa70ae","name":"HTTP Request"},{"parameters":{"content":"Regenera 2026\n\nPlanilha: ","height":208,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-96,-416],"typeVersion":1,"id":"041b81f3-10d6-46e6-9c07-d75296464db6","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"regenera2026","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,-368],"id":"151f078d-2718-49e3-8b55-37e07fb4903a","name":"Popup","webhookId":"0148ce9d-7045-4ba3-96c3-d9fcc2138dba"},{"parameters":{"httpMethod":"POST","path":"compra-aprovada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,-176],"id":"42127594-6ec2-43c9-a878-71013b973fb4","name":"compra aprovada","webhookId":"a3044f3b-a811-41e9-837a-e4058a1cdb1d"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":726296807,"mode":"list","cachedResultName":"Compra Aprovada","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1M5KT7gD98RlIbAgJ3fsw5j9W8cYKcpLXdkfR2Bh5JBA/edit#gid=726296807"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body.Customer.full_name }}","E-mail":"={{ $json.body.Customer.email }}","Telefone":"={{ $json.body.Customer.mobile }}","utm_source":"={{ $json.body.TrackingParameters.utm_source }}","utm_medium":"={{ $json.body.TrackingParameters.utm_medium }}","utm_campaign":"={{ $json.body.TrackingParameters.utm_campaign }}","utm_content":"={{ $json.body.TrackingParameters.utm_content }}","utm_term":"={{ $json.body.TrackingParameters.utm_term }}","Data da venda":"={{ new Date($today).toLocaleDateString('pt-BR') }}","Produto":"={{ $json.body.Product.product_name }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da venda","displayName":"Data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,-176],"id":"cf77f127-e639-487c-a5e1-f30fb252a08f","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Popup":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"compra aprovada":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"f045042b-7655-41ee-bb0c-ffdf1584d315","triggerCount":2,"shared":[{"createdAt":"2025-06-14T00:58:17.623Z","updatedAt":"2025-06-14T00:58:17.623Z","role":"workflow:owner","workflowId":"E7N1gJypFgqshgi5","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}