vivi-amaral---imersão-em-clareamento-íntimo-e-vendas-|-pesquisa-|-página-ltUq47lM05KjcYFs.json
{"createdAt":"2025-06-14T01:58:29.970Z","updatedAt":"2025-08-12T17:21:38.143Z","id":"ltUq47lM05KjcYFs","name":"Vivi Amaral - Imersão em Clareamento Íntimo e Vendas | Pesquisa | Página","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"imersao-clareamento-intimo-pesquisa","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"4a17516d-c356-4e8d-b91b-f6d179046144","name":"Webhook","webhookId":"bf3d5d41-04bb-456e-bffc-297f7ddf809e"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit?gid=441498873#gid=441498873","mode":"url"},"sheetName":{"__rl":true,"value":441498873,"mode":"list","cachedResultName":"Pesquisa [Página]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit#gid=441498873"},"columns":{"mappingMode":"defineBelow","value":{"Data da resposta":"={{ new Date($now).toLocaleDateString('pt-BR') }}","Qual seu nome completo?":"={{ $json.body.pergunta_1 }}","Qual é o seu melhor e-mail?":"={{ $json.body.pergunta_2 }}","Qual é o seu WhatsApp?":"={{ $json.body.pergunta_3 }}","Qual é a sua especialidade médica?":"={{ $json.body.pergunta_4 }}","Quanto tempo você acompanha a Dra. Vivian?":"={{ $json.body.pergunta_5 }}","Qual é a sua idade?":"={{ $json.body.pergunta_6 }}","O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?":"={{ $json.body.pergunta_7 }}","Você já trabalha com Clareamento Íntimo?":"={{ $json.body.pergunta_8 }}","Qual é o seu maior desafio relacionado ao clareamento íntimo?":"={{ $json.body.pergunta_9 }}","Qual é o principal resultado que você deseja alcançar após o evento?":"={{ $json.body.pergunta_10 }}"},"matchingColumns":[],"schema":[{"id":"Data da resposta","displayName":"Data da resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual seu nome completo?","displayName":"Qual seu nome completo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu melhor e-mail?","displayName":"Qual é o seu melhor e-mail?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu WhatsApp?","displayName":"Qual é o seu WhatsApp?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua especialidade médica?","displayName":"Qual é a sua especialidade médica?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quanto tempo você acompanha a Dra. Vivian?","displayName":"Quanto tempo você acompanha a Dra. Vivian?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua idade?","displayName":"Qual é a sua idade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","displayName":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você já trabalha com Clareamento Íntimo?","displayName":"Você já trabalha com Clareamento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","displayName":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o principal resultado que você deseja alcançar após o evento?","displayName":"Qual é o principal resultado que você deseja alcançar após o evento?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,0],"id":"fede530d-4e9f-42f8-b35e-451b41e0dc43","name":"Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/77144ae0-988d-4db4-8f86-190669be006b","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $('Webhook').item.json.body.pergunta_1 }}"},{"name":"email","value":"={{ $('Webhook').item.json.body.pergunta_2 }}"},{"name":"whatsapp","value":"={{ $('Webhook').item.json.body.pergunta_3 }}"},{"name":"Qual é a sua especialidade médica?","value":"={{ $('Webhook').item.json.body.pergunta_4 }}"},{"name":"Quanto tempo você acompanha a Dra. Vivian","value":"={{ $('Webhook').item.json.body.pergunta_5 }}"},{"name":"Qual a sua idade?","value":"={{ $('Webhook').item.json.body.pergunta_6 }}"},{"name":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","value":"={{ $('Webhook').item.json.body.pergunta_7 }}"},{"name":"Você já trabalha com Clareamento Íntimo?","value":"={{ $('Webhook').item.json.body.pergunta_8 }}"},{"name":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","value":"={{ $('Webhook').item.json.body.pergunta_9 }}"},{"name":"Qual é o principal resultado que você deseja alcançar após o evento?","value":"={{ $('Webhook').item.json.body.pergunta_10 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"edbe473e-f6b6-4ba2-bce5-d33eebcc1dea","name":"Clint"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit?gid=441498873#gid=441498873","mode":"url"},"sheetName":{"__rl":true,"value":1144408761,"mode":"list","cachedResultName":"Pesquisa [Unificada]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit#gid=1144408761"},"columns":{"mappingMode":"defineBelow","value":{"Data da resposta":"={{ new Date($now).toLocaleDateString('pt-BR') }}","Qual seu nome completo?":"={{ $('Webhook').item.json.body.pergunta_1 }}","Qual é o seu melhor e-mail?":"={{ $('Webhook').item.json.body.pergunta_2 }}","Qual é o seu WhatsApp?":"={{ $('Webhook').item.json.body.pergunta_3 }}","Qual é a sua especialidade médica?":"={{ $('Webhook').item.json.body.pergunta_4 }}","Quanto tempo você acompanha a Dra. Vivian?":"={{ $('Webhook').item.json.body.pergunta_5 }}","O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?":"={{ $('Webhook').item.json.body.pergunta_7 }}","Você já trabalha com Clareamento Íntimo?":"={{ $('Webhook').item.json.body.pergunta_8 }}","Qual é o seu maior desafio relacionado ao clareamento íntimo?":"={{ $('Webhook').item.json.body.pergunta_9 }}","Qual é o principal resultado que você deseja alcançar após o evento?":"={{ $('Webhook').item.json.body.pergunta_10 }}","Qual a sua idade?":"={{ $('Webhook').item.json.body.pergunta_6 }}"},"matchingColumns":[],"schema":[{"id":"Data da resposta","displayName":"Data da resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual seu nome completo?","displayName":"Qual seu nome completo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu melhor e-mail?","displayName":"Qual é o seu melhor e-mail?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu WhatsApp?","displayName":"Qual é o seu WhatsApp?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua especialidade médica?","displayName":"Qual é a sua especialidade médica?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quanto tempo você acompanha a Dra. Vivian?","displayName":"Quanto tempo você acompanha a Dra. Vivian?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual a sua idade?","displayName":"Qual a sua idade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","displayName":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você já trabalha com Clareamento Íntimo?","displayName":"Você já trabalha com Clareamento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","displayName":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o principal resultado que você deseja alcançar após o evento?","displayName":"Qual é o principal resultado que você deseja alcançar após o evento?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[656,0],"id":"e5504a71-8c52-4e38-a504-03a044d51911","name":"Unificada","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Planilha","type":"main","index":0}]]},"Planilha":{"main":[[{"node":"Clint","type":"main","index":0}]]},"Clint":{"main":[[{"node":"Unificada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"76128f7b-4e15-4381-b774-de1beb713b22","triggerCount":1,"shared":[{"createdAt":"2025-06-14T01:58:29.970Z","updatedAt":"2025-06-14T01:58:29.970Z","role":"workflow:owner","workflowId":"ltUq47lM05KjcYFs","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}