vivi-amaral---imersão-clareamento-íntimo-&-vendas-|-popup-->-whatsapp-nCSTwLopJbY55gPE.json
{"createdAt":"2025-06-14T01:18:29.549Z","updatedAt":"2025-08-12T14:40:40.304Z","id":"nCSTwLopJbY55gPE","name":"Vivi Amaral - Imersão Clareamento Íntimo & Vendas | Popup -> WhatsApp","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"imersao-clareamento-intimo-wpp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"3c7e3d93-7a90-4827-9fc5-4875ee8d0ea1","name":"Webhook","webhookId":"67dae2be-70c7-48c3-be8d-ed8163a84eaa"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit?gid=954290476#gid=954290476","mode":"url"},"sheetName":{"__rl":true,"value":954290476,"mode":"list","cachedResultName":"Popup -> WhatsApp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_W-EIhBs3WMZPw2VcfakoSnBRJESeXzVQA6pdvXdjQ/edit#gid=954290476"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body['fields[nome][value]'] }}","E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","Data do cadastro":"={{ new Date($now).toLocaleDateString('pt-BR') }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do cadastro","displayName":"Data do cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"feaaa26d-b474-4e6c-9dff-9bc03b5f64d7","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/d2540205-4c27-4278-9d5e-909d9135cf8b","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Webhook').item.json.body['fields[nome][value]'] }}"},{"name":"email","value":"={{ $('Webhook').item.json.body['fields[email][value]'] }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body['fields[telefone][value]'] }}"},{"name":"utm_campaign","value":"={{ $('Webhook').item.json.body['fields[utm_campaign][value]'] }}"},{"name":"utm_content","value":"={{ $('Webhook').item.json.body['fields[utm_content][value]'] }}"},{"name":"utm_term","value":"={{ $('Webhook').item.json.body['fields[utm_term][value]'] }}"},{"name":"utm_medium","value":"={{ $('Webhook').item.json.body['fields[utm_medium][value]'] }}"},{"name":"utm_source","value":"={{ $('Webhook').item.json.body['fields[utm_source][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,0],"id":"86df38e8-48bb-4f62-812f-d8cf71305ad4","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4de0c91b-723a-45c2-a398-7b3c7243d354","triggerCount":1,"shared":[{"createdAt":"2025-06-14T01:18:29.549Z","updatedAt":"2025-06-14T01:18:29.549Z","role":"workflow:owner","workflowId":"nCSTwLopJbY55gPE","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}