vivi-amaral---abandono-de-carrinho---imersão-jul25-C02qVbbsLmLmT4Xq.json
{"createdAt":"2025-06-19T10:11:42.434Z","updatedAt":"2025-08-12T14:40:56.143Z","id":"C02qVbbsLmLmT4Xq","name":"Vivi Amaral - Abandono de carrinho - Imersão Jul25","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"imersao-abandono-de-carrinho","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-360,0],"id":"50ab323e-669a-4250-a4e7-bc71f27f5566","name":"Webhook","webhookId":"2e26e461-638f-4625-adbd-74a121f8d2b2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95e14726-3c94-4991-9c30-1a522c8818ee","leftValue":"={{ $json.body.deal_user }}","rightValue":"polyannacoutinho13@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-140,0],"id":"97c37330-99c8-4366-9669-06573c657ddb","name":"If"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/webhook/custom/lead/a701a6427b74d5366bf964596ee8f8e9?name=name&email=email&phone=phone","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.contact_name }}"},{"name":"email","value":"={{ $json.body.contact_email }}"},{"name":"phone","value":"={{ $json.body.contact_phone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-100],"id":"11a84c39-a2cf-4f4d-b84a-d3d8e1046e7e","name":"Pollyana"},{"parameters":{"method":"POST","url":"https://webhook.sellflux.app/webhook/custom/lead/0275809f407ed58f724ae249d630bc2c?name=name&email=email&phone=phone","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.contact_name }}"},{"name":"email","value":"={{ $json.body.contact_email }}"},{"name":"phone","value":"={{ $json.body.contact_phone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,100],"id":"f8c7a3da-39c3-4faf-a808-b9bbd04e982e","name":"Tainara"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Pollyana","type":"main","index":0}],[{"node":"Tainara","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e5fda126-94eb-45e9-9264-461bfccb2262","triggerCount":1,"shared":[{"createdAt":"2025-06-19T10:11:42.434Z","updatedAt":"2025-06-19T10:11:42.434Z","role":"workflow:owner","workflowId":"C02qVbbsLmLmT4Xq","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[]}