vivi-amaral---mentalidade-e-vendas-adNZuV5ieKcFpvYo.json
{"createdAt":"2025-06-05T14:49:30.036Z","updatedAt":"2025-09-26T00:52:19.985Z","id":"adNZuV5ieKcFpvYo","name":"Vivi Amaral - Mentalidade e Vendas","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/8c588b2f-201d-4f05-b789-2835af0faa1d","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Popup').item.json.body['fields[nome][value]'] }}"},{"name":"email","value":"={{ $('Popup').item.json.body['fields[email][value]'] }}"},{"name":"phone","value":"={{ $('Popup').item.json.body['fields[telefone][value]'] }}"},{"name":"utm_campaign","value":"={{ $('Popup').item.json.body['fields[utm_campaign][value]'] }}"},{"name":"utm_content","value":"={{ $('Popup').item.json.body['fields[utm_content][value]'] }}"},{"name":"utm_term","value":"={{ $('Popup').item.json.body['fields[utm_term][value]'] }}"},{"name":"utm_medium","value":"={{ $('Popup').item.json.body['fields[utm_medium][value]'] }}"},{"name":"utm_source","value":"={{ $('Popup').item.json.body['fields[utm_source][value]'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-368],"id":"db6562c0-16af-4c7e-b005-d55009c423eb","name":"HTTP Request"},{"parameters":{"content":"Mastermind - Mentalidade & Vendas\n\nPlanilha: https://docs.google.com/spreadsheets/d/1kRDKjFzVgDF9SyyImOBCbnIxGDY0GX-MofsmEAXIcoI/edit?gid=0#gid=0","height":320,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-80,-480],"typeVersion":1,"id":"bf21813d-f1d7-4e46-b674-7bbd2cd0c59f","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"masterclass-mentalidade-vendas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,-368],"id":"f7460656-47d1-4f91-b54e-273cfa5c287d","name":"Popup","webhookId":"5c40f870-15b2-41ff-a656-661cf430d5a2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/156iFQBmJky2-wpuXa5pAUsgDxyNgZzxvOofUzKcb3bk/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Popup","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kRDKjFzVgDF9SyyImOBCbnIxGDY0GX-MofsmEAXIcoI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.body['fields[nome][value]'] }}","E-mail":"={{ $json.body['fields[email][value]'] }}","Telefone":"={{ $json.body['fields[telefone][value]'] }}","utm_source":"={{ $json.body['fields[utm_source][value]'] }}","utm_medium":"={{ $json.body['fields[utm_medium][value]'] }}","utm_campaign":"={{ $json.body['fields[utm_campaign][value]'] }}","utm_content":"={{ $json.body['fields[utm_content][value]'] }}","utm_term":"={{ $json.body['fields[utm_term][value]'] }}","Data do cadastro":"={{ new Date($today).toLocaleDateString('pt-BR') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do cadastro","displayName":"Data do cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,-368],"id":"71b944a9-7f91-405f-b045-3649f7593327","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Popup":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c2f9ac70-8b3f-4c8b-a5c3-5ae059ebb6bc","triggerCount":1,"shared":[{"createdAt":"2025-06-05T14:49:30.036Z","updatedAt":"2025-06-05T14:49:30.036Z","role":"workflow:owner","workflowId":"adNZuV5ieKcFpvYo","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}