vivi-amaral---imersão-em-clareamento-íntimo-e-vendas-|-pesquisa-|-respondiapp-ksG7OsReCt5KDR6e.json
{"createdAt":"2025-08-12T14:41:49.477Z","updatedAt":"2025-08-12T17:23:21.724Z","id":"ksG7OsReCt5KDR6e","name":"Vivi Amaral - Imersão em Clareamento Íntimo e Vendas | Pesquisa | RespondiApp","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"[TMAP] [Vivian Amaral] Imersão em Clareamento íntimo e vendas 3a Edição\n\nPlanilha: https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit?gid=1368515345#gid=1368515345","height":320,"width":952,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-192,-480],"typeVersion":1,"id":"01303261-5ffe-4bbd-8cab-02ad32defd35","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"pesquisa-respondiapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,-352],"id":"742e53d8-cc30-4cbf-8af9-05199ff04e6e","name":"Webhook","webhookId":"17338ff2-6f13-4d68-aefc-263a7c27bbcf"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit?gid=1368515345#gid=1368515345","mode":"url"},"sheetName":{"__rl":true,"value":1368515345,"mode":"list","cachedResultName":"Pesquisa [RespondiApp]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit#gid=1368515345"},"columns":{"mappingMode":"defineBelow","value":{"Qual seu nome completo?":"={{ $json.body.respondent.answers['Qual seu nome completo?'] }}","Qual é o seu melhor e-mail?":"={{ $json.body.respondent.answers['Qual é o seu melhor e-mail?'] }}","Qual é o seu WhatsApp?":"={{ $json.body.respondent.answers['Qual é o seu WhatsApp?'] }}","Qual é a sua especialidade médica?":"={{ $json.body.respondent.answers['Qual é a sua especialidade médica?'] }}","Quanto tempo você acompanha a Dra. Vivian?":"={{ $json.body.respondent.answers['Quanto tempo você acompanha a Dra. Vivian?'] }}","Qual a sua idade?":"={{ $json.body.respondent.answers['Qual a sua idade?'] }}","O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?":"={{ $json.body.respondent.answers['O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?'] }}","Você já trabalha com Clareamento Íntimo?":"={{ $json.body.respondent.answers['Você já trabalha com Clareamento Íntimo?'] }}","Qual é o seu maior desafio relacionado ao clareamento íntimo?":"={{ $json.body.respondent.answers['Qual é o seu maior desafio relacionado ao clareamento íntimo?'] }}","Qual é o principal resultado que você deseja alcançar após o evento?":"={{ $json.body.respondent.answers['Qual é o principal resultado que você deseja alcançar após o evento?'] }}","Data da resposta":"={{ new Date($now).toLocaleDateString('pt-BR') }}"},"matchingColumns":[],"schema":[{"id":"Data da resposta","displayName":"Data da resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual seu nome completo?","displayName":"Qual seu nome completo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu melhor e-mail?","displayName":"Qual é o seu melhor e-mail?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu WhatsApp?","displayName":"Qual é o seu WhatsApp?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua especialidade médica?","displayName":"Qual é a sua especialidade médica?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quanto tempo você acompanha a Dra. Vivian?","displayName":"Quanto tempo você acompanha a Dra. Vivian?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual a sua idade?","displayName":"Qual a sua idade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","displayName":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você já trabalha com Clareamento Íntimo?","displayName":"Você já trabalha com Clareamento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","displayName":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o principal resultado que você deseja alcançar após o evento?","displayName":"Qual é o principal resultado que você deseja alcançar após o evento?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[128,-352],"id":"ad936c83-5e22-4268-8d74-1112e5bbff4a","name":"Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://functions-api.clint.digital/endpoints/integration/webhook/77144ae0-988d-4db4-8f86-190669be006b","sendBody":true,"bodyParameters":{"parameters":[{"name":"nome","value":"={{ $json['Qual seu nome completo?'] }}"},{"name":"email","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[1].answer }}"},{"name":"whatsapp","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[2].answer.phone }}"},{"name":"Qual é a sua especialidade médica?","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[3].answer[0] }}"},{"name":"Qual a sua idade?","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[5].answer[0] }}"},{"name":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[6].answer }}"},{"name":"Você já trabalha com Clareamento Íntimo?","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[7].answer[0] }}"},{"name":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[8].answer }}"},{"name":"Qual é o principal resultado que você deseja alcançar após o evento?","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[9].answer }}"},{"name":"Quanto tempo você acompanha a Dra. Vivian","value":"={{ $('Webhook').item.json.body.respondent.raw_answers[4].answer[0] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-352],"id":"b0744c47-078d-4275-aad0-fac386a54e1c","name":"Clint"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit?gid=1368515345#gid=1368515345","mode":"url"},"sheetName":{"__rl":true,"value":1144408761,"mode":"list","cachedResultName":"Pesquisa [Unificada]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mB098JU4iOlwlSIoTc_JAiuudhG3ryrADi1SRNZUkws/edit#gid=1144408761"},"columns":{"mappingMode":"defineBelow","value":{"Qual seu nome completo?":"={{ $('Webhook').item.json.body.respondent.answers['Qual seu nome completo?'] }}","Qual é o seu melhor e-mail?":"={{ $('Webhook').item.json.body.respondent.answers['Qual é o seu melhor e-mail?'] }}","Qual é o seu WhatsApp?":"={{ $('Webhook').item.json.body.respondent.answers['Qual é o seu WhatsApp?'] }}","Qual é a sua especialidade médica?":"={{ $('Webhook').item.json.body.respondent.answers['Qual é a sua especialidade médica?'] }}","Quanto tempo você acompanha a Dra. Vivian?":"={{ $('Webhook').item.json.body.respondent.answers['Quanto tempo você acompanha a Dra. Vivian?'] }}","Qual a sua idade?":"={{ $('Webhook').item.json.body.respondent.answers['Qual a sua idade?'] }}","O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?":"={{ $('Webhook').item.json.body.respondent.answers['O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?'] }}","Você já trabalha com Clareamento Íntimo?":"={{ $('Webhook').item.json.body.respondent.answers['Você já trabalha com Clareamento Íntimo?'] }}","Qual é o seu maior desafio relacionado ao clareamento íntimo?":"={{ $('Webhook').item.json.body.respondent.answers['Qual é o seu maior desafio relacionado ao clareamento íntimo?'] }}","Qual é o principal resultado que você deseja alcançar após o evento?":"={{ $('Webhook').item.json.body.respondent.answers['Qual é o principal resultado que você deseja alcançar após o evento?'] }}","Data da resposta":"={{ new Date($now).toLocaleDateString('pt-BR') }}"},"matchingColumns":[],"schema":[{"id":"Data da resposta","displayName":"Data da resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual seu nome completo?","displayName":"Qual seu nome completo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu melhor e-mail?","displayName":"Qual é o seu melhor e-mail?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu WhatsApp?","displayName":"Qual é o seu WhatsApp?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é a sua especialidade médica?","displayName":"Qual é a sua especialidade médica?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quanto tempo você acompanha a Dra. Vivian?","displayName":"Quanto tempo você acompanha a Dra. Vivian?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual a sua idade?","displayName":"Qual a sua idade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","displayName":"O que te motivou a participar da Imersão em Clareamento Íntimo e Vendas?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você já trabalha com Clareamento Íntimo?","displayName":"Você já trabalha com Clareamento Íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","displayName":"Qual é o seu maior desafio relacionado ao clareamento íntimo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual é o principal resultado que você deseja alcançar após o evento?","displayName":"Qual é o principal resultado que você deseja alcançar após o evento?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[528,-352],"id":"36985cbf-adeb-4e71-bca6-ca7892a9ae30","name":"Planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"8aCAYMQfflkdThAC","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Planilha","type":"main","index":0}]]},"Planilha":{"main":[[{"node":"Clint","type":"main","index":0}]]},"Clint":{"main":[[{"node":"Planilha1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ed03158-e21b-4e09-aca4-3b9cf13e2cf5","triggerCount":1,"shared":[{"createdAt":"2025-08-12T14:41:49.477Z","updatedAt":"2025-08-12T14:41:49.477Z","role":"workflow:owner","workflowId":"ksG7OsReCt5KDR6e","projectId":"E1RXJ9dhy40aA4CQ"}],"tags":[{"createdAt":"2025-05-31T15:24:04.343Z","updatedAt":"2025-05-31T15:24:04.343Z","id":"iuKZyZvQZmMZccxa","name":"CLIENTE"}]}